[2016-04-10 12:14] StefH opened #1 "SymbolTable.DoesMethodHaveParameterArray throws exception when accessing a dynamic created property"
Issue with framework; see https://github.com/dotnet/corefx/issues/7596

[2016-04-10 12:16] StefH opened #2 "UnitTest : GroupByAndSelect_TestDynamicSelectMember fails"
[code]

[2016-04-10 18:52] StefH opened #3 "Add "SelectMany""
I'm trying to implement the SelectMany statement inside of the dynamic linq expresion parser, such that I could run a query like so:
`Customers.Select("Orders.SelectMany(OrderItems)")`

Such that it would be equivilent to the linq query:
`Customers.Select(cust => cust.Orders.SelectMany(ord => ord.OrderItems))`

See http://stackoverflow.com/questions/20269475/how-to-implement-selectmany-in-system-l

[2016-04-19 16:17] StefH opened #4 "Illegal one-byte branch at position: 9. Requested branch was: 143"

[2016-04-19 17:31] #4 closed

[2016-04-19 17:31] #2 closed

[2016-04-19 17:32] #1 closed

[2016-04-19 21:34] StefH opened #5 "Only parameterless constructors and initializers are supported in LINQ to Entities"

[2016-04-21 12:51] Sjark opened #6 "Add support for dotnet5.4 framework"
Dotnet5.4 support should be added, to be compatible with the new class library templates in VS2015 Update 2

[2016-04-21 15:44] StefH commented on #5
Fixed with IsLinqToObjects

[2016-04-21 15:44] #5 closed

[2016-04-21 15:50] StefH commented on #6
I will add this, however, in some time this will also be obsolete...

[2016-04-21 16:01] #6 closed

[2016-04-26 16:42] StefH opened #7 "Add SelectMany with resultSelector"
See https://github.com/NArnott/System.Linq.Dynamic/pull/57

[2016-04-26 17:06] #7 closed

[2016-05-01 08:46] StefH opened #9 "Add Null-coalescing operator support"
For details see https://github.com/NArnott/System.Linq.Dynamic/pull/58

[2016-05-01 09:20] #9 closed

[2016-05-01 09:20] StefH opened #10 "Support explicit integer qualifiers"
See https://github.com/NArnott/System.Linq.Dynamic/pull/57

[2016-05-01 18:39] StefH opened #11 "IN does not support negative and parse of negative integers with qualifiers."
https://github.com/NArnott/System.Linq.Dynamic/pull/57/commits/407fcd81915c20858c426533330aaffe939dde8d

[2016-05-01 19:06] StefH opened #12 "parsing negative float or double with qualifier"

[2016-05-02 08:07] StefH opened #13 "Add isnull sql function "isnull(a, b)""
see https://github.com/NArnott/System.Linq.Dynamic/pull/34

[2016-05-02 08:42] StefH opened #14 "Ampersand can be used both as logical And or as vb-like concatenation operator"
https://github.com/NArnott/System.Linq.Dynamic/pull/34

[2016-05-02 10:13] StefH opened #15 "Add Skip, Take to ExpressionParser"
https://github.com/NArnott/System.Linq.Dynamic/pull/38

[2016-05-02 10:40] StefH opened #16 "Add Paging support"

[2016-05-02 10:52] #15 closed

[2016-05-02 10:52] #14 closed

[2016-05-02 10:52] #13 closed

[2016-05-02 10:52] #3 closed

[2016-05-02 10:52] #10 closed

[2016-05-02 10:53] #12 closed

[2016-05-02 10:53] #11 closed

[2016-05-09 13:59] fgoulet opened #17 "Windows 10 uwp support"
I would like to use this nice library in a Windows 10 uwp app. I was not able to compile the class DynamicClassFactory. It seems that the framework uap10.0  lacks support for the classes in System.Reflection.Emit like ModuleBuilder, TypeBuilder to create types at run-time. Any thought on this ? Thank you.

[2016-05-09 18:37] StefH commented on #17
project.json should contain this:

[code]

However, one thing which will not yet work is AppDomain to load assemblies. I need to refactor that completely to use IOC on that code.

See latest code from this project which contains an example UAP app.

If this version is fine, I can also create a NuGet version 1.0.1

[2016-05-09 18:37] #16 closed

[2016-05-09 23:42] fgoulet commented on #17
Yes, an updated NuGet package would be nice.
Thank you.

[2016-05-10 11:01] StefH opened #18 "SelectMany over an Array throws System.IndexOutOfRangeException"
See https://github.com/NArnott/System.Linq.Dynamic/issues/42

[2016-05-10 14:54] StefH commented on #18
Test added and Issue fixed, please retest.

[2016-05-10 15:32] rsmarginatus commented on #18
No longer throws exception... Thank You.
I liked the the fubar and snafu too.

[2016-05-10 15:38] #18 closed

[2016-05-15 08:31] StefH commented on #17
Version 1.0.1 has been pushed to NuGet, please test.

[2016-05-16 13:20] fgoulet commented on #17
I tested with EFCore and everythings seem to work great.
Thanks!

[2016-05-16 19:12] StefH commented on #17
OK, can you also test the new 1.0.2 NuGet ?
https://www.nuget.org/packages/System.Linq.Dynamic.Core/1.0.2

[2016-05-16 21:05] fgoulet commented on #17
1.0.2. works fine for me too.

[2016-05-17 06:33] StefH commented on #17
Thanks. I will close issue.

[2016-05-17 06:33] #17 closed

[2016-05-20 15:46] Muchiachio opened #19 "NotEqual filter not working with DateTime"
[code]

Throws `The binary operator NotEqual is not defined for the types 'System.DateTime' and 'System.String'`. This works in `System.Linq.Dynamic` and `System.Linq`.

[2016-05-20 19:08] StefH commented on #19
Issue is solved, some unit-tests are also added.

Can you please verify this library ? Or do you want a NuGet to test ?

[2016-05-21 05:08] Muchiachio commented on #19
I confirmed, it's working.

[2016-05-21 05:08] #19 closed

[2016-05-30 00:56] jesusmogollon opened #20 "Can't install using nuget in Asp.Net 4.0 Web Pages project"
Thanks for keeping this project alive.

I'm using visual studio 2010, my project is in Asp.Net Web Pages  .Net 4.0
When using Nuget 2.8.60318.667 to install the package, Iget the following error:

'System.Linq.Dynamic.Core' already has a dependency defined for 'System.Collections.Concurrent'.

I tried to install the package NetLegacySupport.ConcurrentDictionary 1.1.0 and did it again but got the s

[2016-05-30 06:40] Vlandmist commented on #20
I'm using VS2013 and solved updating nuget package manager to last version

[2016-05-30 08:26] StefH commented on #20
This issue looks at bit like :
https://github.com/NuGet/Home/issues/2825

[2016-05-30 19:46] jesusmogollon commented on #20
Looks like it is the issue, we just wait for the new nuget version?

[2016-05-30 19:55] StefH commented on #20
As a workaround you can just download the nuget package from nuget.org and extract the library (dll) which you need for your framework.

Or upgrade VS to the latest 2015 is thats possible.

[2016-05-30 20:06] Vlandmist opened #21 "Question: why is Distinct not supported?"
**Distinct()** method is not supported, not in the original @NArnott project (now disappeared.. why?) and not in this fork. what's the reason behind it? is it too difficult to implement?

[2016-05-30 21:24] StefH commented on #21
I'll copy the logic from https://github.com/kahanu/System.Linq.Dynamic/blob/master/Src/System.Linq.Dynamic/DynamicLinq.cs#L129

[2016-05-30 22:28] Vlandmist commented on #21
ok! that's great, I'll try it asap

[2016-05-30 22:53] jesusmogollon commented on #20
I have upgraded to visual studio 2013 and I can install it and build, but my project is not MVC and is 4.0 when I try to execute the page it raises a load exception when I look at it it is asking to load the System.Web.MVC 1.0.0, if I uninstall the dynamic library the project runs fine.

This library works only on MVC?

[2016-05-31 16:34] StefH commented on #21
Code + tests have been added to Github.

Please take a look.
If you want a new NuGet, I can create this if needed.

[2016-05-31 17:17] Vlandmist commented on #21
thank you, yes a new nuget would be great to test it

[2016-05-31 19:31] StefH commented on #21
https://www.nuget.org/packages/System.Linq.Dynamic.Core/1.0.3.1

[2016-06-04 02:53] rpaschoal opened #22 "DynamicExpression accessibility"
Hello,

First of all, thank you for all your effort porting this project to .NET Core.

Is there any chance you could make DynamicExpression class public? The reason for that is because I use "ParseLambda" method to generate dynamic filters in an application by using PredicateBuilders.

Many Thanks.

[2016-06-04 08:44] StefH commented on #22
- fixed
- updated online doc
- published new new nuget to https://www.nuget.org/packages/System.Linq.Dynamic.Core/1.0.3.2

please verify

[2016-06-04 21:46] rpaschoal commented on #22
Hello @StefH,

Thanks for the quick reply and change to the API.

I can see the signature is a little bit different. This is how I use on the original Linq.Dynamic:

System.Linq.Dynamic.DynamicExpression.ParseLambda<Entity, bool>(expression, null)

Where "Entity" is the type of the code-first entity and "expression" is a string with many linq expressions.

Following your API, would this produce th

[2016-06-05 04:35] PMExtra opened #23 "Cannot work with property which in base class."
`_dbContext.Users.AsNoTracking().OrderBy("Id").ToListAsync()`

throw exception:
`No property or field 'Id' exists in type 'ApplicationUser' (at index 0)`

But it's going well with System.Linq.Dynamic.Library (without netcore)

If I override the property ` Id` in ApplicationUser, It will be ok.

(Asp.Net Core RC2，ApplicationUser based on IdentityUser)
"System.Linq.Dynamic.Core": "1.0.3"

[2016-06-05 08:25] StefH commented on #22
Correct, I changed the interface and the internal business logic a bit.

When calling the new API, just use
`DynamicExpression.ParseLambda(false, typeof(Entity), null, expression)`

See https://system-linq-dynamic-core.azurewebsites.net/html/938537c7-8fa2-b300-1f27-5aadcd5440e5.htm for details:

[2016-06-05 09:05] StefH commented on #23
See new nuget :
https://www.nuget.org/packages/System.Linq.Dynamic.Core/1.0.3.3

[2016-06-05 09:43] PMExtra commented on #23
Very thanks. The problem is solved!!!

[2016-06-05 09:46] StefH commented on #23
OK. I close the issue.

[2016-06-05 09:46] #23 closed

[2016-06-05 09:46] StefH commented on #21
Are you able to verify ?

[2016-06-05 21:11] rpaschoal commented on #22
Thanks Mate,

I have simplified my call.

Cheers :+1:

[2016-06-06 04:06] #22 closed

[2016-06-06 07:18] Vlandmist commented on #21
I tried but I'm having problems, how can I retrieve a distinct list of Persons by name? (like the commented line). This is my code

[code]

gives a **ParseException**

[code]

[2016-06-06 08:16] StefH commented on #21
I think the method you are looking for is like:
`var qp = lp.AsQueryable().Distinct("Name");`

However that method does not exists (yet). I'll take a look if I can add this one.

[2016-06-06 11:14] Vlandmist commented on #21
Yes, your sample works, but I couldn't think of a dynamic use for it since Distinct is explicit. Also I can't seem to use Distinct inside a Where.("...") expression.

I'm working on a Linq to Entities (SQL Server) project using the original @NArnott library and some complex queries aren't easy to manage without support for **Distinct** and  **GroupBy** methods.

[2016-06-06 11:33] StefH commented on #21
Can you provide an example for the ***Where*** statement ?

Because ***Select*** is supported : `var result = queryable.Select("abc.Distinct()");`

[2016-06-06 11:47] Vlandmist commented on #21
I'll answer with a sample asap. what is "abc" in your code sample?

[2016-06-06 12:47] StefH commented on #21
A property from a user which is a list or iqueryable or ienumerable.

[2016-06-06 13:21] ehsaanwelcome opened #24 "FirstOrDefaultAsync method is missing"
Hi,
in following query, i can not use async version of FirstOrDefault method
_db.Orders.Where($"----").Select($"---").FirstOrDefaultAsync()

[2016-06-06 19:59] StefH commented on #24
There is no **Async** support yet, I'll take a look how to add this.

[2016-06-07 05:28] StefH commented on #24
Questions:

- Which .Net Framework do you use ? [.net 4.5.2 ?]
- Which version from EntityFramework do you use ? [ef 6.1.3 ?]

[2016-06-07 09:47] ehsaanwelcome commented on #24
6.1.3
4.6

[2016-06-08 13:31] StefH commented on #24
This new functionality has been added to a new NuGet package : https://www.nuget.org/packages/EntityFramework.DynamicLinq/1.0.0

Can you please use this NuGet and check if **FirstOrDefaultAsync** is working as expected ?

[2016-06-08 15:57] StefH commented on #22
Note that in the latest version, this class has been renamed to DynamicExpressionParser to avoid naming conflicts.

[2016-06-08 16:02] StefH commented on #20
This library does not have a dependency on MVC.

Can you please share your project or provide more details?

[2016-06-08 16:03] StefH commented on #21
Any luck?

[2016-06-08 16:12] Vlandmist commented on #21
Sorry mate, didn't have time to check it in these days. I'll write here when I have a couple more samples. keep on the good work

[2016-06-10 11:57] ehsaanwelcome commented on #24
It worked,
Thanks

[2016-06-10 12:58] StefH commented on #24
OK. Thank you for verifying, I'll close the issue now.

[2016-06-10 12:58] #24 closed

[2016-06-14 03:39] rpaschoal opened #25 "DynamicExpression gone in version 1.0.3.4"
Hello,

I can't find DynamicExpression class in version 1.0.3.4 anymore.

Was it renamed?

Thanks! Cheers.

[2016-06-14 04:16] StefH commented on #25
Renamed to DynamicExpressionParser.

[2016-06-14 05:23] rpaschoal commented on #25
Thank you =)

Quick question, I see you are returning "LambdaExpression" type. How can I cast it to "Expression<Func<Entity, bool>>" ?

The reason why I am asking this is because I am using it to build custom LINQs as well, based on expressions.

I tried like this but I get exception:

(Expression<Func<Entity, bool>>)Expression.Lambda(expression1, null);

[2016-06-14 06:21] StefH commented on #25
Maybe this one helps:
https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src-console/ConsoleApp1/Program.cs#L24

[2016-06-14 21:50] rpaschoal commented on #25
Hmmm, didn't work... I need to get that type of result without supplying the paremeters. I am getting an exception telling me I should supply the paremeters.

I am basically trying to use it as in "System.Linq.Dynamic" as it follows:

var expression1 = !String.IsNullOrEmpty(expression) ? System.Linq.Dynamic.DynamicExpression.ParseLambda< Entity, bool >(expression, null) : null;

[2016-06-14 22:58] rpaschoal commented on #25
Oh mate, sorry! That worked =)

Thank you very much. Nice piece of work done here in this repo.

Cheers!

[2016-06-15 10:41] lennyf opened #26 "Calling ToString on a nullable column throws error"
When writing an entity query you can convert a nullable column to a string

`myDbContext.Contact.Select(c => c.NullableIntColumn.ToString());`

However this code using the dyanamic linq will not work if the column is nullable  and throws a ParseException - "Methods on type 'Int32?' are not accessible"

`myDbContext.Contact.Select("NullableIntColumn.ToString()");`

**Update -** Seems you can replic

[2016-06-15 11:40] pellea opened #27 "UWP version"
Hello,

Is it possible to make this library compatible with UWP ?

Thanks,
Adrien.

[2016-06-15 12:29] #26 closed

[2016-06-15 13:17] StefH commented on #27
It's compatible with "UAP 10.0", isn't that enough for your application ?

[2016-06-15 14:36] StefH commented on #25
closed

[2016-06-15 14:36] #25 closed

[2016-06-16 06:30] pellea commented on #27
I was unable to reference the NuGet package.

[2016-06-18 08:13] StefH commented on #27
Can you provide a simple example project ?

[2016-06-22 04:57] pryankster opened #28 "Dynamic Queries seem to lose "Include()"s"
[code]

"search" is a string,  posted from a web page.

[code]

[code]

From the VS2015 debug window:
[code]

[2016-06-22 06:56] pryankster commented on #28
After a closer look, I'm closing this as "my bad" ... the problem I have encountered appears to be EF7 related.  The null was from a nullable field having a null value, but the query was not being translated into SQL, it was being processed post-query.. going over to the EF repo to bug them!

[2016-06-22 06:56] #28 closed

[2016-06-22 06:57] StefH commented on #28
Maybe this one?
https://github.com/aspnet/EntityFramework/issues/4968

[2016-06-22 21:05] pryankster commented on #28
No, Root cause is this one: https://github.com/aspnet/EntityFramework/issues/5838

[2016-06-23 06:19] branciat opened #29 "An another project ?"
Hi,

Why do an another project instead of pull the modification for the target netcore to the original repository ?

[2016-06-23 07:13] StefH commented on #29
The original project "https://github.com/NArnott/System.Linq.Dynamic" (on which this one is based) has been unlisted and the "https://github.com/kahanu/System.Linq.Dynamic" is behind in functionality and testability.

So this project has the most features, documentation and tests.

[2016-06-23 07:28] branciat commented on #29
Ok, thanks for the job.

I had started a few months ago the fork of kahanu for the netcore target before to come back to net451 because the 3rd libraries aren't compatible. Now i return to netcoreapp again, microsoft break the compatibility with net451 into the rc2 on linux :disappointed_relieved:

[2016-06-23 07:28] #29 closed

[2016-06-23 07:39] StefH commented on #29
This project should be fine for Linux rc2, if there are issues, please report these here.

[2016-06-27 15:40] StefH commented on #20
Any update?

[2016-06-27 15:40] StefH commented on #21
Can you provide feedback ?

[2016-06-27 15:41] StefH commented on #27
Any news?

[2016-06-27 22:26] qmfrederik opened #30 "Move to .NET Core RTM"
Hi!

.NET Core was released today, however, I notice the `netstandard1.3` and other .NET Core-related versions of `System.Linq.Dynamic.Core` 1.0.4 still depend on the prerelease versions of the .NET Core assemblies (e.g. `4.0.11-rc2-24027`).

Would it be possible for you to migrate to the final versions?

Thanks!

[2016-06-28 05:34] StefH commented on #30
Yes, I already started yesterday, but could not finish it. (I also need to update unit-test projects).

I keep you updated in this thread.

[2016-06-28 10:58] jotab123 opened #31 "Group by multiple columns?"
Hi!

I'm working on group by queries on sqlserver. I'm trying to create groups with multiple columns dynamically and I don't know how I can do it.

Example:

**Model**

[code]

**Queries**

I need this query result:
`db.Element.GroupBy(el => new { el.Attribute1, el.Attribute2 })`

Dynamically:
`db.Element.GroupBy("new(Attribute1, Attribute2)")...?`

Is it possible?

Thank you very much!

[2016-06-28 12:50] StefH commented on #31
Should be indeed something like:
`var groupResult2 = queryable.GroupBy("new (NumberPropertyAsKey, StringPropertyAsKey)");`

See unit-test https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/test/System.Linq.Dynamic.Core.Tests/QueryableTests.GroupBy.cs

[2016-06-28 14:19] jotab123 commented on #31
I think so...but, check the output.
![output](https://cloud.githubusercontent.com/assets/13152541/16418493/5cc9e49e-3d4a-11e6-9213-cee4d8f1d1e6.png)

[2016-06-28 15:46] jotab123 commented on #31
I was doing tests with Elements in memory and It works! I'm gonna report it to EntityFramework Core team.

Great job!

[2016-06-28 16:55] StefH commented on #31
Which version from EntityFramework Core do you use?

[2016-06-28 17:01] jotab123 commented on #31
1.0.0 Final version.
I uploaded the full project here: https://github.com/jotab123/GroupByError

[2016-06-28 18:23] StefH commented on #31
The tests in your example project looks valid? I'll check what's happening.

[2016-06-28 18:43] jotab123 commented on #31
There are no message error, but the query database result is wrong. It should be four groups instead of ten.

[code]

Thank you!

[2016-06-28 19:20] StefH commented on #31
The "resultDb2" is indeed wrong, but I wonder if this is a problem with 'EntityFramework Core', it looks more an issue for System.Linq.Dynamic.Core ?

[2016-06-29 10:50] StefH commented on #31
I'll take a look.

[2016-06-29 19:01] StefH commented on #30
NuGets created, please test.

[2016-06-29 19:07] Muchiachio commented on #30
It works, at least on my project. Thanks.

[2016-06-29 20:43] StefH opened #32 "When same dynamic class is first used in Linq2Entities, it's reused for Linq2Sql"

[2016-06-29 20:58] #32 closed

[2016-06-29 20:59] StefH commented on #31
For the old (6.1.3) EF, it works fine. (I did add a test project)

[2016-06-30 00:34] jesusmogollon commented on #20
Sorry for the late response.

I ended up not using this library, it keep asking for the MVC reference, I figured it must be something related to nuget and the framework 4.0

I was using visual studio 2013.

[2016-06-30 08:35] #20 closed

[2016-06-30 14:00] qmfrederik commented on #30
Excellent, thanks!

[2016-06-30 14:00] #30 closed

[2016-07-08 13:54] fgoulet opened #33 "Package 1.0.6.3 install fails for UWP App"
In a new blank UWP App with Microsoft.NETCore.UniversalWindowsPlatform 5.1.0, I got a lot of downgrade warnings and this error:
 System.Reflection.Emit.ILGeneration 4.0.1 provides a compile-time reference assembly for System.Reflection.Emit.ILGeneration on UAP,Version=v10.0, but there is no
run-time assembly compatible with win10-x86-aot.

When I bump the version to Microsoft.NETCore.UniversalWind

[2016-07-09 08:20] StefH commented on #33
If possible, create an example app. With and without references to system.linq.dynamic.core

And also checkout my example project https://github.com/StefH/System.Linq.Dynamic.Core/tree/master/test-uap/UniversalWindowsApp and see the differences.

[2016-07-09 12:40] fgoulet commented on #33
With Microsoft.NETCore.UniversalWindowsPlatform 5.1.0, my app works fine just like your example project. I tried to upgrade your example project to 5.2.0 and I got the same error. I need to upgrade my app to 5.2.0 in order to use EFCore 1.0 RTM. Could you try to upgrade your example app to Microsoft.NETCore.UniversalWindowsPlatform 5.2.0 ?

[2016-07-09 13:52] fgoulet commented on #33
I forgot to mention that I have added System.Linq.Dynamic.Core project to the solution of my app to make it works with 5.1.0, like your example project.

[2016-07-09 17:06] StefH commented on #33
Ok. Enough details I think. Thanks for this analysis. I'll take a look in some days.

[2016-07-13 13:04] stibay opened #34 "Support for netcoreapp1.0?"
Not getting any errors when adding the package but it doesn't seem like it finds the package.
Using this under "frameworks" in project.json

    "netcoreapp1.0": {
      "imports": [
        "dotnet5.6",
        "dnxcore50",
        "portable-net45+win8"
      ]
    }

[2016-07-13 13:14] jwperez1 opened #35 "Compatibility with System.Linq.Dynamic.Library"
Is this backwards compatible with System.Linq.Dynamic.Library  by Nathan Arnott?  That lib seems to have disappeared and I am looking for a way to migrate my code.  I think I see you started with a fork from there.

[2016-07-13 16:34] StefH commented on #35
This library is indeed a fork from the deleted library from Nathan.

It should be compatible, except for some namespaces.

[2016-07-13 17:49] jwperez1 commented on #35
Awesome.  I pulled it using nugit and the only thing I had to do was change the using to have the correct namespace and it builds perfectly.  I get the error below when I run the app immediately after building:

+		[1]	{"Could not load file or assembly 'Remotion.Data.Linq, Version=1.13.52.2, Culture=neutral, PublicKeyToken=0669cf0452175907' or one of its dependencies. The located assembly's manife

[2016-07-13 18:07] StefH commented on #35
Which dotnet framework do you use ?

And regarding this CustomTypeProvider error, it could be that some small business logic is different when loading external libraries.

[2016-07-13 18:19] jwperez1 commented on #35
I use 4.5.1

[2016-07-13 19:55] steamrolla opened #36 "CreateClass Equivalent?"
I'm porting some code over from big boy .NET to Core and came across a reference to the following:
https://github.com/kahanu/System.Linq.Dynamic/wiki/Dynamic-Expressions#dynamic-data-classes

I don't see an equivalent in this library, but the readme makes it seem like it should be here. Any help? Am I blind?

[2016-07-14 19:29] StefH commented on #36
That's a nice WIKI page, I will copy that WIKI also into this project but I'll have to modify some text.

The code you are looking for is:
`DynamicClassFactory.CreateType(properties, _createParameterCtor);`

However, at this moment this class is **internal** so you cannot use it yet, I'll try to fix this.

[2016-07-14 19:31] StefH commented on #34
If you take a look at https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/test/System.Linq.Dynamic.Core.Tests/project.json#L22 you see that my test project is also netcoreapp1.0

Does this answer your question?

[2016-07-15 10:54] stibay commented on #34
Hmm ok. I might be missing something but on my MVC 5.2 app I could do OrderBy, GroupBy, Where, Select etc on a List<T> and now I am only getting errors such as:
`List<T>' does not contain a definition for 'GroupBy' and the best extension method overload 'DynamicQueryableExtensions.GroupBy(IQueryable, string, string)' requires a receiver of type 'IQueryable'`

I see that if i go to the definition o

[2016-07-15 11:26] StefH commented on #36
See https://www.nuget.org/packages/System.Linq.Dynamic.Core/1.0.5.1

[2016-07-15 11:44] StefH commented on #34
All extension methods are defined in the DynamicQueryableExtensions class :
http://system-linq-dynamic-core.azurewebsites.net/html/a5ecbe15-aade-af7f-4860-6c5c412a34b4.htm

Note that these are all based on a `IQueryable`, so you need to convert your `List<T>` first to an `IQueryable`.

[code]

[2016-07-15 12:14] StefH commented on #33
Strange error, maybe no related to this library but see also

https://github.com/NuGet/Home/issues/3034
https://github.com/aspnet/EntityFramework/issues/4802

[2016-07-15 13:20] fgoulet commented on #33
AutoMapper seems to had the same problem and apparently were able to fix it
[Can't install Automapper 5.0 into Windows 10 UWP #1448](https://github.com/AutoMapper/AutoMapper/issues/1472)

[2016-07-15 13:53] Vlandmist commented on #21
Ok let's forget about Distinct() support in Where. My situation was an extreme case and it's not worth replicating.

About **Distinct in select** I can't seem to make it work for simple lists (not nested object like your code sample)

This is my code:

            var integerList = new List<int>();
            integerList.AddRange(new []{1,1,2,3,4,4,5});

            //This works
            var x

[2016-07-15 18:03] StefH commented on #21
Distinct does not solve your problem I think:

In your original question:
[code]

The value from **qp** will be a _List of Strings_ with the values : "John", "Paul" and "Ringo".

What you are trying do does not make sense I think, I have a feeling you want to use a groupby logic.
<br>
Note that real linq code like
[code]
does also not compile.

[2016-07-15 21:43] Vlandmist commented on #21
Ok, thanks, that makes perfect sense, I'll close the issue.

[2016-07-15 21:43] #21 closed

[2016-07-18 08:13] stibay commented on #34
Aha ok. Thank you.

[2016-07-18 08:13] #34 closed

[2016-07-20 05:10] jogibear9988 commented on #33
In Automapper I think this was the fixing commit:https://github.com/AutoMapper/AutoMapper/commit/f3e345d958bb999a54c53e73660b51bf6e8c69ee

[2016-07-20 05:45] StefH commented on #33
By replacing some dependencies for .NetStandard by the "NETStandard.Library": "1.6.0" dependency ?

[2016-07-24 17:42] StefH commented on #36
@steamrolla ; can you check if this fix is ok ?

[2016-07-24 22:00] jogibear9988 commented on #33
Don't know. I only found this commit. I don't use UWP

[2016-07-24 22:08] jogibear9988 commented on #35
When we look in the code from Nathan: (he deleted his branch) https://github.com/jogibear9988/System.Linq.Dynamic/blob/master/Src/System.Linq.Dynamic/DynamicLinqTypeProvider.cs
we use AppDomain.CurrentDomain.GetAssemblies(); the same in https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/DefaultAssemblyHelper.cs

The difference is this line: assemblies = asse

[2016-07-24 22:29] jogibear9988 commented on #35
Maybe also we could make the default "CustomTypeProvider" exception friendly.
See: https://github.com/StefH/System.Linq.Dynamic.Core/pull/39

[2016-07-25 15:29] jogibear9988 commented on #35
i think this could now be closed?

[2016-07-26 08:39] StefH commented on #35
@jwperez1 ; can you please verify ?

[2016-07-26 15:20] fgoulet commented on #33
I think the commit mostly remove the code for .Net Core that depends on ILGeneration. I have removed the aot runtimes (ahead of time) from my project.json of my UWP app and I can now successfully install package 1.0.5.  I won't be able to build my app for .Net Native but at least I can pursue the development  until a compatible version of system.Reflection.Emit.ILGeneration (hopefully!) comes up.

[2016-08-02 09:36] aline-almeida commented on #33
Hi!
Same thing here. Blank UWP App (either with .NETCore 5.1.0 or 5.2.2).
Can't install nuget package.
A lot of downgrade warnings and incompability errors with win10-arm-aot, win10-x64-aot and win10-x86-aot from System.Reflection.Emit.ILGeneration 4.0.1

[2016-08-03 07:40] StefH commented on #33
Can somebody point me in some direction how to solve this?

[2016-08-03 07:41] StefH opened #40 "Add strong naming from library"
see also https://github.com/kahanu/System.Linq.Dynamic/issues/59

[2016-08-04 17:19] #40 closed

[2016-08-05 00:54] fgoulet commented on #33
Until there is a version of System.Reflection.Emit.ILGeneration compatible with the aot runtimes (.Net Native), I don't see what can be done.

[2016-08-22 06:22] alvinatbtp opened #42 "Microsoft.EntityFrameworkCore.DynamicLinq - ToListAsync()?"
EF core 1.0.0 has ToListAsync(). I can see that EntityFrameworkDynamicQueryableExtensions class doesn't have this. Will there be a support on this in the future?

`
 using (var context = new TestContext(_optionsBuilder.Options))
            {
                var queryFirstNameContainsTest = context.Persons.Where(x => x.FirstName.Contains("test"));
                var test = await queryFirstNameCon

[2016-08-22 07:20] alvinatbtp commented on #42
the code below works. this is not an issue.

`queryFirstNameContainsTest.Select<Person>("new (FirstName,LastName)").ToListAsync();`

[2016-08-22 07:20] #42 closed

[2016-08-22 10:58] StefH commented on #36
Closing issue.

[2016-08-22 10:58] #36 closed

[2016-08-22 10:58] StefH commented on #35
Closing issue.

[2016-08-22 10:58] #35 closed

[2016-09-05 14:49] AndrewZenith opened #43 "Join with dependent subquery?"
Question:
Is it possible to do a dynamic join with a dependent sub-query?  I'm trying to do the equivalent of this MySQL SQL statement (would be outer cross apply on SQL Server) where I want to join only to a single value on another table where there may be multiple rows that match by certain filter and order criteria:

[code]

I thought something like this might work (different tables to above):

[2016-09-05 16:54] StefH commented on #43
If possible, rebuild your question into a unit-test which can be included in the tests.

[2016-09-05 17:58] AndrewZenith commented on #43
That would be difficult as I don't know how to do it.  I'll try again though, this is perhaps a simpler example linq query (that works) that I want to do, but can it be done using the join extension using the string parameters?

IQueryable a = from zz in dyn2
join yy in dyn on dyn.Where(xx => xx.JobID == zz.JobID && xx.EventID == "EVENT2").Max(xy => xy.SQL_RFA) equals yy.SQL_RFA
select new { zz, y

[2016-09-06 15:44] AndrewZenith commented on #43
I've downloaded you source and managed to write an example in the code similar to your join test.  Here it is:

using System.Collections.Generic;
using System.Linq.Dynamic.Core.ConsoleTestApp.net452.Entities;

namespace System.Linq.Dynamic.Core.ConsoleTestApp.net452
{
    class Program
    {
        static void Main(string[] args)
        {
            Person magnus = new Person() { id=1, name = "

[2016-09-14 16:24] lennyf opened #44 "Casting a int to a nullable int will throw an error when using linq to entities"Only parameterless constructors and initializers are supported in LINQ to Entities""
Using an expression in the following format - `MyDbSet.Select("new (int?(Id))")` will throw an error if the Id property is of type int. This seems to be a bug in the original System.Linq.Dynamic project too.

One work around I have found is you can cast it to int64 first and then a nullable int like so `MyDbSet.Select("new (int?(int64(Id)))")`

The error only gets thrown once you try to evaluate t

[2016-09-15 05:42] StefH commented on #43
It's not possible to use external sub-query in a dynamic query.

[2016-09-15 05:42] #43 closed

[2016-09-20 11:45] jotab123 opened #45 "Take() and Skip() lose ElementType"
I'm trying to build a query in different steps like:

[code]

I'm using the ElementType property to get all properties and create a table but, while result returns DBEntity as ElementType, result2 returns Object as ElementType.

Would be possible to implement Skip and Take methods that returns IQueryable of TElement?

Thank you!

Configuration:
EntityFramework Core 1.0.1
Linq Dynamic Core 1.0.5.4

[2016-09-20 12:14] StefH commented on #45
I did create a unit-test which tests your scenario, but it seems to work fine.
Can you check the linked commit on this issue ?

[2016-09-20 13:31] jotab123 commented on #45
Your test works fine because you are getting the type from first element in the IQueryable results.

This test should fail:

[code]

[2016-09-20 15:12] jotab123 commented on #45
Checking another projects I found they are using IQueryable.Provider to create a query and seems to works fine. Maybe is a good aproach to solve this.

[code]

Class link: [System.Linq.Dynamic](https://github.com/kahanu/System.Linq.Dynamic/blob/master/Src/System.Linq.Dynamic/DynamicLinq.cs)

[2016-09-20 17:21] StefH commented on #45
Thanks.

Issue is solved, new NuGet 1.0.6.0 is uploaded.

[2016-09-21 07:55] jotab123 commented on #45
Great! I was checking it and works fine.

It would be interesting that Take method could take 0 value also, an return the IQueryable instead of an error. In my case, I'm using a variable as take index and sometimes is 0, and It's valid. Actually I have to check if take = 0 and set it as 1.

Good job!

[2016-09-21 08:39] StefH commented on #45
New version added to NuGet

[2016-09-21 11:43] jotab123 opened #46 "Methods on type are not accessible error"
Trying to call a method in Where clause returns an error: "Methods on type 'SampleModel' are not accessible"

If you add a method to your SampleModel test class:

[code]

This test should fail:
[code]

EntityFramework 1.0.1
Linq Dynamic Core 1.0.6.1

[2016-09-21 11:44] jotab123 commented on #45
Works fine! thanks

[2016-09-21 11:44] #45 closed

[2016-09-24 12:28] StefH commented on #46
Fixed with your PR #47 ?

[2016-09-24 12:50] jotab123 commented on #46
Yes!

[2016-09-24 12:50] #46 closed

[2016-09-26 12:52] ravensorb commented on #33
Anyone have any idea on this one?

[2016-09-27 07:18] StefH commented on #33
Maybe it's related to https://github.com/scottksmith95/LINQKit/issues/47

I'll apply same fix and publish new NuGet.

[2016-09-27 11:48] StefH commented on #33
NuGet created (System.Linq.Dynamic.Core 1.0.6.3) which maybe solves this, please retest.

[2016-09-27 12:00] fgoulet commented on #33
1.0.6.3, same error for me.

From the blog post [Introducing .NET Standard](https://blogs.msdn.microsoft.com/dotnet/2016/09/26/introducing-net-standard/), the following is stated:

That problably means it is not possible to generate type with TypeBuilder in .Net Native.

[2016-09-27 15:01] ravensorb commented on #33
So if that is the case then shouldn't it target a different profile so that it cannot be installed in profiles that do not support it?

[2016-09-27 18:39] StefH commented on #31
@jotab123 I tested with EF Core 1.0.1 and it still does not work, even introduced other issue, see
https://github.com/aspnet/EntityFramework/issues/6620

[2016-09-27 18:49] StefH commented on #33
@MattWhilden Maybe you can shed some light here ?

Can you take a look at the supported frameworks and advice maybe to change / remove some ? Like is adding **netstandard 2.0** as described in the blog post above already supported ?

[2016-09-28 01:20] MattWhilden commented on #33
Unfortunately, building against netstandard will only get you slightly further. The core problem is that Reflection.Emit is completely unsupported for platforms that only support ahead of time compilation (read: UWP). These platforms currently have no way to generate native code for any IL that you generate... that's what the warning is attempting to say (poorly). It looks like core functionality

[2016-09-28 05:35] StefH commented on #27
@pellea Any update?

[2016-09-28 08:14] pellea commented on #27
I built the project myself and use the dll directly. It's still not compatible with .NET Native though (due to a Emit dll, it's a known problem)

[2016-09-28 13:27] StefH commented on #44
I did add some more unit-tests, but I'm not able to reproduce?

[2016-09-29 20:08] fgoulet commented on #33
@MattWhilden The restore failure started with Microsoft.NETCore.UniversalWindowsPlatform  5.2

Really looking forward for a way to emit types in UWP, hopefully in a near future :). Thank you for the clarification anyway.

[2016-09-29 20:36] MattWhilden commented on #33
Thanks. That'll help me track down what happened... As I said, I'd expect that this would just cause runtime exceptions and not package restore problems.

Adding runtime dynamism (JIT compiler? Interpreter??) is something we're interested in attempting for a bunch of reasons. As you could imagine, attaching that kind of component into a compiler/runtime pipeline after the fact has lots of gnarly t

[2016-09-29 21:18] fgoulet commented on #33
It's certainly right on topic for System.Linq.Dynamic.Core :) My only scenario for now is to use this library  in a UWP app. The library make use of RefEmit TypeBuilder to create anonymous type to be use in select clause of linq query build at run time. I'm not sure but I think performance is not critical. Maybe @StefH can step in and add more insight.

[2016-09-29 22:08] StefH commented on #33
Correct, the https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/DynamicClassFactory.cs is used to generate a fields, getters, setters, constructors based on the properties and types you want on a DynamicClass class.

If there is another way to do this in UWP, please provide some details.

[2016-09-30 05:48] jogibear9988 commented on #33
I solved this problem for winrt here: https://github.com/jogibear9988/System.Linq.Dynamic/commit/c746fd14ba985132e8cf9fca576211c8ba577493

[2016-09-30 10:47] StefH commented on #33
@jogibear9988 : Thanks for your example.

@fgoulet : Please test if the new version 1.0.6.4 can be installed on UAP 5.2.2 and also works as expected.

[2016-09-30 11:36] jogibear9988 commented on #33
As you may have seen, I did one more commit for this after the one I showed you: https://github.com/jogibear9988/System.Linq.Dynamic/commit/e2dbfc75d5a139f17f965b9b9952cfa59ce77fbd

[2016-09-30 13:40] fgoulet commented on #33
Yes, with the dependency on System.Refection.Emit removed, it install fine on 5.5.2.
It is very interesting but this new way to generate anonymous type seems to work only with up to 9 properties. I suppose this is because there is 9 constructors on DynamicClass ? If there is a way to make it work with an unspecified number of properties, it could actually fit my needs.

[2016-09-30 14:49] StefH commented on #33
I tried to make it generic, but I could not get ot working.

How many do you need ? 64 max , or 256max ?

[2016-09-30 15:04] fgoulet commented on #33
It is for adhoc query, so the user choose the fields that he needs. It would be nice not to have a limit on the number of fields but I guest the UI would become impracticable with more than, say 128.

I try replacing all the constructors of DynamicClass with this one:
public DynamicClass(params KeyValuePair<string, object>[] propertylist)
 {
            foreach (var kvp in propertylist)

[2016-09-30 15:07] StefH commented on #33
I also tried
[code]

But I run into problems here:
[code]

[2016-09-30 15:21] fgoulet commented on #33
Yes, same as me. Since the number of constructors is down to one, it it possible to get it with
[code]

[2016-09-30 16:13] jogibear9988 commented on #33
I don't know exactly why i did how its implemented, but i think i also tried in other ways. Maybe I've time to look over ?

But we could also generate this class via tt

Von meinem iPhone gesendet

[2016-09-30 16:16] StefH commented on #33
tt/t4 is not supported in .net core

However I can just generate a class myself with 128 constructors.

[2016-10-01 07:49] StefH commented on #33
Trying to follow this example https://rogeralsing.com/2008/02/28/linq-expressions-creating-objects/, but no luck still...

[2016-10-01 10:28] jogibear9988 commented on #33
@steffh
have you also seen the changes in my 2nd commit? there is a converter to translate this to a anonymous type in normal .net

[2016-10-02 09:23] StefH commented on #33
@fgoulet I fixed the issue the constructor. Can you please review the code ? If all is fine, I'll create a new NuGet/

[2016-10-02 14:43] fgoulet commented on #33
@StefH  Nice work! I tested it and works fine.

[2016-10-03 18:26] StefH commented on #33
Closing

[2016-10-03 18:26] StefH commented on #27
@pellea Should be fixed.
See https://github.com/StefH/System.Linq.Dynamic.Core/issues/33

Get the latest NuGet.

[2016-10-04 00:20] MattWhilden commented on #33
Just catching up after being away for a few days and y'all seem to have crushed this issue. Let me know if there are other things you find lingering. I'll +1 all of the concerns that have been expressed in this thread into our internal issues tracking this stuff.

[2016-10-17 09:05] rpaschoal opened #48 "Add an overload to the "ToDynamicList" method which accepts a Type"
Hello @StefH,

Is it possible to add a new overload to the existing "ToDynamicList" extension method which accepts an instance of a Type class in order to return a typed list?

This may also come as an enhancement to the library itself since most people use it for dynamic operations which they may only know the type of their data at runtime.

As a workaround for now I did the following which is a

[2016-10-17 12:34] StefH commented on #48
You mean the a new extension method should be added like:
[code]

Which will generate a typed result list from Type type?

[2016-10-17 21:14] rpaschoal commented on #48
Yes @StefH! That is it?

What do you think about it? Possible, good idea?

For me that would be very useful!

Thanks :)

[2016-10-19 17:50] StefH commented on #48
Good idea, yes.
Possible, probably. However I'm not yet sure how to build this. Maybe reuse code from the Select() method?

[2016-10-19 20:13] rpaschoal commented on #48
You could also reuse the code I just posted above and make a call to the existing ones you have through reflection.

I could fork it and do it if you would like me to.

Cheers!

[2016-10-19 20:56] joevchs opened #49 ".Contains("") operation Exception"
I have an error when I use in my query Where(**Name.Contains("value")**) but only when I use MySql, with SqlServer works fine.

Error:
You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near **'+ '%''** at line 3

I think the problem is how the sql query is sent to the database:
select \* from entity where Name like '%'

[2016-10-22 10:40] StefH commented on #48
Should be fixed. See new nuget.

[2016-10-22 21:32] rpaschoal commented on #48
@StefH,

Thanks for that! I will have a look as soon as possible.

Cheers!

[2016-10-30 19:32] StefH opened #50 "Add functionality to optimize your queries using Linq.Expression.Optimizer"
Add functionality to add functionality to optimize your queries using Linq.Expression.Optimizer

[2016-11-01 03:30] winsonet opened #51 "[Question] How can I format a datetime (nullable) field value in select?"
I want to format a nullable datetime value, how can I do that?

For example in Linq:

[code]

and I tried in dynamic Linq:

[code]

but I got the below error:

any ideas?

thanks!!

[2016-11-01 04:13] winsonet opened #52 "Can I convert int to string type?"
I want to do a dynamic field search, so I need to convert all the fields to string for global search, like below:

`var expectedResult = _context.Blogs.Select(b => ((string)((int)(b.BlogId))).Contains("key"));`
`var result = _context.Blogs.AsQueryable().Select("(string((int)BlogId)).Contains(@p)");`

but I know that doesn't work, so is there another way I can do ?

Thanks!

[2016-11-01 04:39] winsonet commented on #52
Oh, sorry, I have solved this issue, it just can use ToString() for convert to string as below:

[code]

but I don't know why the ToString() can't use to format a DateTime value ( My another [issue](https://github.com/StefH/System.Linq.Dynamic.Core/issues/51))

[2016-11-06 06:32] jogibear9988 commented on #31
it's fixed in ef now so can be closed?

[2016-11-06 06:35] jogibear9988 commented on #49
i think it's a mysql ef core problem?

[2016-11-06 06:37] jogibear9988 commented on #27
close?

[2016-11-06 09:02] StefH commented on #31
It's fixed in the 1.1 preview version. I made a new branch in this project to test it.

However, best to keep this issue open until the final EF Core 1.1 is published.

[2016-11-06 09:04] StefH commented on #27
Yes closing this issue is fine because there is no feedback anymore from @pellea

[2016-11-06 09:04] #27 closed

[2016-11-08 15:35] jotab123 opened #53 "External Methods call"
Hi StefH!
Are there any way to call an external method like:

[code]

I also tried with a delegate as parameter and doesn't work.

[2016-11-08 16:30] StefH commented on #53
I think you can only call methods which are defined on the object you are querying.

See https://github.com/StefH/System.Linq.Dynamic.Core/blob/0588b82452f36190194dec2ae209038e8d60aa31/test/System.Linq.Dynamic.Core.Tests/ExpressionTests.cs#L563

[2016-11-08 16:30] StefH commented on #52
closing this one...

[2016-11-08 16:30] #52 closed

[2016-11-08 16:31] StefH commented on #48
@rpaschoal Did you have time to take a look ?

[2016-11-08 16:31] StefH commented on #31
Tested successfully for 1.1 preview.

[2016-11-08 16:59] jotab123 commented on #53
Ok! Could you review this code? I'm trying to do something like this:

[code]

[2016-11-08 17:23] jotab123 commented on #31
Great!

[2016-11-09 10:01] StefH commented on #53
I think you are losing the User type along the way when you convert it to dynamic.

[2016-11-09 12:55] jotab123 commented on #53
I think so but, if I do this instead of create an IQueryable with AsQueryable() it works.
`result = dynamicList.Select(d => d.UserName);`

The type is also User if I ask to first IQueryable object.
[code]

[2016-11-10 12:42] jotab123 commented on #51
I don't know if it's possible to do in Select but you could do:

[code]

[2016-11-11 01:38] winsonet commented on #51
jotab123, thanks for your reply, but this is not my purpose, in your way, just find the not null value, but actually, I need to find all values, if it's null then will show empty or other thing, otherwise will format it and display

[2016-11-12 08:43] StefH commented on #51
Why not just execute the **ToString** method on a list instead of the queryable ? In that case you don't have issues with Linq-SQL.

[2016-11-12 08:53] winsonet commented on #51
sorry,  can you give me a sample how to do that? thanks!

[2016-11-12 14:37] StefH commented on #51
[code]

[2016-11-12 14:41] winsonet commented on #51
but for my case, I need to generate a full dynamic query for get the result, and I don't want to convert to list at first, because I have a lot of data in the table, if it to list first then will get all data and the performance will be bad, that why I need to use IQueryable .

[2016-11-13 06:26] zspitz opened #54 "Documentation for expression syntax"
Thanks for taking up this project; it fills the niche between compile-time LINQ and expressions built using static methods on System.Linq.Expressions,Expression.

The previous incarnation of this project by https://github.com/NArnott had excellent documentation on the expression syntax used by Dynamic LINQ (including nested query expressions such as `Any` or `Where` within the string), which this

[2016-11-13 07:26] zspitz commented on #54
I see that the original source is contained in this project; are the generated pages hosted anywhere?

[2016-11-13 10:30] StefH commented on #54
I also copied/updated the documentation from @NArnott, this documentation/help page is available at https://system-linq-dynamic-core.azurewebsites.net

This project https://github.com/kahanu/System.Linq.Dynamic has some very detailed WIKI pages, which I always wanted to copy to my project, but did not have time for this.

I'm not aware of any other documentation.

[2016-11-13 12:27] zspitz commented on #54
The link to the current documentation gets me to a simple listing of classes and members:
![current documentation](https://cloud.githubusercontent.com/assets/312166/20245529/06e88de0-a9ac-11e6-9263-c0c583f80ddc.png)
---
The previous documentation link looked like this:
![old documentation - home page](https://cloud.githubusercontent.com/assets/312166/20245532/2229a472-a9ac-11e6-8087-9e6c0122bebf.p

[2016-11-13 19:03] StefH commented on #54
My help page is indeed more like a class/member description, although there is also some example code present:
https://system-linq-dynamic-core.azurewebsites.net/html/21a732e6-735e-5b2d-765b-ba7931521dbe.htm

But I agree that this webpage is not that helpful for beginners and starters.

I actually wanted to move all the examples from web/DynamicLinqWebDocs into that new site because maintaining tw

[2016-11-14 18:56] zspitz commented on #54
Would you be willing to take a PR for this?

[2016-11-14 19:16] StefH commented on #54
Would be an option.

What the best would be is to move that MVC help stuff to System.Linq.Dynamic.Core.SandCastle and link the "Library" page to the real Class Sandcastle generated page.

[2016-11-16 20:04] StefH commented on #31
Solved in https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.DynamicLinq/1.0.3.3

[2016-11-16 20:04] #31 closed

[2016-11-16 20:05] #50 closed

[2016-11-16 20:05] StefH commented on #48
@rpaschoal Any update?

[2016-11-16 20:05] StefH commented on #49
@jogibear9988 Seems so, can we log an issue somewhere on this?

[2016-11-17 05:45] jogibear9988 commented on #49
i think so. if it works with sqlserver and linq2objects, i don't think it's a dynamic linq error

[2016-11-18 23:14] rpaschoal commented on #48
Hello @StefH,

I will have a look in a few days... I am currently enjoying some holidays!

Thanks :)

[2016-12-05 14:57] richardsheppard-avalara opened #57 "Issue finding indexer"
I'm running into an issue with the .Net Core port of dynamic linq.

I'm trying to sort a list of JObjects and I get this error:

Here's an example
[code]
Note this code works with the System.Linq.Dynamic dll on a .Net 4.5.2 project.

I believe this issue resides in the FindIndexer method in the ExpressionParser class.

https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.D

[2016-12-07 19:57] StefH commented on #57
Thanks for your analysis, I'll look into this.

[2016-12-07 21:23] StefH commented on #57
I think that the code
[code]

will work for all frameworks.

I did fix it, can you retest (or do you need a new NuGet?)

[2016-12-07 21:35] richardsheppard-avalara commented on #57
I will retest it real quick and let you know.

[2016-12-07 21:46] richardsheppard-avalara commented on #57
That fixed my issue. My tests are passing now. I will need a new version on nuget at some point though.

Thanks for the quick turn around on this.

[2016-12-08 06:44] StefH commented on #57
New NuGet is uploaded.

[2016-12-08 14:16] richardsheppard-avalara commented on #57
Thanks. I did some more testing and everything looks good.

I think we can close this issue.

[2016-12-08 14:27] StefH commented on #57
OK

[2016-12-08 14:27] #57 closed

[2016-12-17 11:58] StefH commented on #48
@rpaschoal Any luck ?

[2016-12-23 09:56] AlexMaxim opened #58 "Parse Lambda"
Hi StefH!
Are there any way to parse lambda expression:
[code]
But I get error:
- **No applicable method 'Foo' exists in type 'myClass'**

[2016-12-30 20:04] StefH commented on #48
@rpaschoal Any update?

[2017-01-20 14:20] GoodDayToCodeHard opened #59 "Cant compile DynamicLinqWebDocs"
Hi! I need some documentation for your dynamic linq, so I tried compile DynamicLinqWebDocs project. After fixing broken references I came to single error in SiteMapGenerator.cs file in \Infrastructure folder:

line 26 _sitemap = new SitemapProvider().CreateSitemap(httpContext, nodes);
No overload for method 'CreateSitemap' takes 2 arguments

[2017-01-20 15:46] StefH commented on #59
I do not maintain this project anymore actually: see also https://github.com/StefH/System.Linq.Dynamic.Core/issues/54

You can always look at the new site, or look at the unit-tests.

Do you have a specific question ?

[2017-02-01 07:34] jogibear9988 opened #60 "Issue with nested Calls"
Do we also have this problem: https://github.com/kahanu/System.Linq.Dynamic/pull/68

[2017-02-01 07:36] StefH commented on #60
Hello @jogibear9988.

I'm currently adding some unit-tests, and at first glance, it seems that the issue does not exists.
However I've to double check the code changes done.

I keep you informed.

[2017-02-01 11:00] StefH commented on #60
See last commit : https://github.com/StefH/System.Linq.Dynamic.Core/commit/52307b35faffaf083654554125ce83d18e6039a1 which adds another unit test. No issues so far...

[2017-02-05 09:46] #60 closed

[2017-02-05 09:46] StefH commented on #48
Closing

[2017-02-05 09:46] #48 closed

[2017-02-10 02:14] ddelapasse2 commented on #33
Hi, Having trouble understanding this thread.  Sounds like DynamicLinq should work with UAP, but doesn't work for me.  Maybe because my UWP version is 5.2.2?  Anyway to make this combo work?

I see
System.Linq.Dynamic 1.0.0 is not compatible with UAP,Version=v10.0.
all the way through
System.Linq.Dynamic 1.0.7 is not compatible with UAP,Version=v10.0

project.json
{
  "dependencies": {
    "Micros

[2017-02-24 14:47] Muchiachio opened #61 "String[].Contains(String) expression translated to first array element contains"
Everything seems to be okay with other types likes `Int32[].Contains()`, `List<Int32>.Contains()`, `List<String>.Contains()` and so on. But I guess they should be tested too.
[code]

[2017-03-03 07:48] Muchiachio commented on #61
@StefH, if you don't have much time, I can try fixing it myself and submit a PR.

[2017-03-03 09:30] StefH commented on #61
This is not a bug.

The reason is that you test fails because you provide an **array** in the `Where` clause as the **params.**.
This actually means that if you provide an array like `{ "3", "2", "1" }`, the code tries to replace `@0` by "3", and tries to replace `@1` by "2" and so on. But you only have defined `@0`.

So for your code to work correct, just use a real List.

[code]

[2017-03-03 10:18] Muchiachio commented on #61
Oh, that makes sense, didn't thought about it being `params`.

[2017-03-03 10:18] #61 closed

[2017-03-24 04:52] mguinness opened #62 "OrderBy Chaining"
I have some unexpected behavior (to me) regarding the OrderBy extension.

I have an existing IQueryable<T> instance and add an order:

`qry.AsExpandable().OrderBy(a => a.Inactive);`

Then later on I call following statement using the extension method:

`qry = qry.AsExpandable().OrderBy("Name asc");`

The resulting SQL is `ORDER BY Name, Inactive` which seems counterintuitive, I would've expected t

[2017-03-24 09:20] StefH commented on #62
Interesting ! I'll take a look.

[2017-03-25 00:04] mguinness commented on #62
This [SO post](http://stackoverflow.com/a/3760014/310601) explains why this occurs.  I was able to modify code from a [blog post](http://aonnull.blogspot.com/2010/08/dynamic-sql-like-linq-orderby-extension.html) to create a [ThenBy extension](https://github.com/StefH/System.Linq.Dynamic.Core/files/869437/ThenByExtension.txt) to test.  I confirmed that when there is an existing sort order, you have

[2017-03-25 10:11] StefH commented on #62
Should be solved. Please upgrade to latest NuGet packages.

[2017-03-25 17:49] mguinness commented on #62
Thank you, confirmed working.

[2017-03-25 18:05] #62 closed

[2017-03-26 12:55] writeless opened #63 "Syntax IN dont work with Enums"
Nice work in this lib, thank you, but I have a problem with syntax IN and Enums.

Expression work: (type == ("KeyAccount"))
Expression dont work: (type IN ("KeyAccount", "Support"))

**Versions:**
"System.Linq.Dynamic.Core": "1.0.6.10"
"Microsoft.EntityFrameworkCore.SqlServer": "1.1.1"

**Code detail:**
[code]

**Exception details:**
   System.Linq.Dynamic.Core.Exceptions.ParseException occurred

[2017-03-28 12:15] binson143 opened #64 "Can you add a demo project as document"
It would be awesome if you provide a sample console application which demonstrate the features of the  Library

[2017-03-28 12:30] StefH commented on #64
Sounds good, however this is a lot of work. Better would be to use the unit-tests for that.

[2017-03-30 17:44] StefH opened #65 "Support embedded quotes in string literal"
See https://github.com/kahanu/System.Linq.Dynamic/pull/70

[2017-03-30 17:50] #65 closed

[2017-04-01 11:18] jogibear9988 opened #66 "Is there Way to enter a Complex query"
For example, I've a IEnumerable Object and would like to give this string to dynamic linq:

     "GroupBy(x=>x.Id).OrderBy(x=>x.Key).Select(x=>x.Key).Where(x=>x!=null)"

for Example smth like this

      aaa.Complex("GroupBy(x=>x.Id).OrderBy(x=>x.Key).Select(x=>x.Key).Where(x=>x!=null)")

and it returns a object, so the result could be everything

[2017-04-01 11:20] jogibear9988 commented on #64
We could also look to bring back the documentation of NArnott, this one was very good. I've a fork of his old repo with the html doku: https://github.com/jogibear9988/System.Linq.Dynamic/tree/master/Src/DynamicLinqWebDocs

[2017-04-01 11:30] StefH commented on #64
The old documentation project is still there:
https://github.com/StefH/System.Linq.Dynamic.Core/issues/59

[2017-04-01 11:32] StefH commented on #66
Maybe this one can help you?
https://github.com/StefH/System.Linq.Dynamic.Core/blob/10fc9a2ec8677f638210804c0ca636de021e6c9a/test/System.Linq.Dynamic.Core.Tests/ComplexTests.cs

[2017-04-01 11:40] jogibear9988 commented on #66
No. I want everything in one string.

[2017-04-02 18:37] jogibear9988 commented on #66
You see here: https://dynamiclinq.codeplex.com/SourceControl/latest#DynamicLinq/DynamicLinq/Program.cs
look at the second query

[2017-04-02 18:49] jogibear9988 opened #67 "Convert Project to VS2017"
Is it possible to convert the Project to VS2017 and csproj?

[2017-04-02 19:00] StefH commented on #67
I did already start the migration.
See https://github.com/StefH/System.Linq.Dynamic.Core/tree/_stef_2017upgrade

Next week I will merge this branch back to master.

However I still have some issues building and generating code coverage using appveyor and codecov.

[2017-04-02 19:01] StefH commented on #66
Ah ok. I am not sure on this, if my fork does even support this notation. Did you try this?

[2017-04-02 19:27] jogibear9988 commented on #66
I'll try... If not, I'll look to patch that this will also work!

[2017-04-02 19:29] StefH commented on #66
Thanks a lot.

[2017-04-02 19:52] jogibear9988 commented on #66
Does not work ... :-( Now we need to look what to do...

[2017-04-03 06:01] jogibear9988 commented on #66
One problem: In my commit I removed the

     Type type = _resultType;

Problem here is, we should only do this on the last "new" in the string. How can we decide if this is the case?

[2017-04-03 07:20] jogibear9988 commented on #66
I've now added it back, but it is a Problem if have have two select new statements, where the first one should be an anonymous type!

[2017-04-03 07:35] StefH commented on #66
I dont have access to my pc this week. Please investigate some more, I will try to look and merge at sunday. (which branch did you take?)

[2017-04-08 08:43] StefH opened #70 "Move all tests into 1 test project"

[2017-04-08 17:43] StefH commented on #67
Done.
All code merged to `master`.

[2017-04-08 17:43] #67 closed

[2017-04-08 17:48] #70 closed

[2017-04-08 18:10] StefH opened #71 "Increase code-coverage"

[2017-04-08 18:38] jogibear9988 commented on #66
fixed

[2017-04-08 18:39] jogibear9988 commented on #58
Maybe this now works with my changes?

[2017-04-08 21:43] StefH commented on #58
I think maybe. But some extra tests are needed.

[2017-04-09 08:23] StefH commented on #58
Note 1:
void methods are not allowed

Note 2:
....

[2017-04-09 08:36] #58 closed

[2017-04-09 09:28] StefH opened #72 "[Bug] Re-enable support for uap10.0"

[2017-04-09 12:52] StefH commented on #63
Should be fixed now.

See https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/test/System.Linq.Dynamic.Core.Tests/ExpressionTests.cs#L488

[2017-04-09 12:52] #63 closed

[2017-04-09 12:55] StefH commented on #49
Closing...

[2017-04-09 12:55] #49 closed

[2017-04-11 07:38] joacar opened #73 "[Feature] Extend OrderBy functionality"
Hi,

Haven't used this package (yet) but it seem to have a lot of functionality that I might use as my project evolves. It also lacks the only functionality I currently need :) Since the reflection calls, expression tree parsing is probably more efficient than my code I thought to create a PR with a new feature.

To the point: I use EF Core (currently in a MVC application) with an extension `Order

[2017-04-13 16:48] Maschmi opened #74 "Join on nullable and not nullable type throws exception"
A join on a nullable type with a not nullable type works in a normal Linqquery:
[code]

But the same with dynamic linq throws an exception:
[code]
I think it does this because the types do not match?

I forked this repo and wrote a unittest which fails. Check this [commit](https://github.com/Maschmi/System.Linq.Dynamic.Core/commit/2abcd20cfff2049b2ff3471400fba2210df2b28f) for the complete test.

[2017-04-15 12:33] #74 closed

[2017-04-15 12:41] StefH commented on #73
This library already supports ordering like:

[code]

See https://github.com/StefH/System.Linq.Dynamic.Core/blob/40d3b73ffadcb2a6e927767a9b9f7cdd49641663/test/System.Linq.Dynamic.Core.Tests/QueryableTests.OrderBy.cs#L19

So what else do you need?

[2017-04-15 14:24] #44 closed

[2017-04-15 14:31] StefH commented on #44
@lennyf Please test with latest code.

[2017-04-17 16:00] jotab123 opened #75 "GroupBy clause add an "Item" property when projects the query"
Hi Stef,

GroupBy is adding an "extra" property called "Item" when I create a grouped query and projects it with Select.

[code]

Linq.Dynamic.Core 1.0.6.13

[2017-04-18 06:34] jotab123 commented on #75
I was trying in previous versions and works fine in 1.0.6.9. Doesn't work from 1.0.6.10.

[2017-04-18 10:24] StefH commented on #75
This change is indeed introduced when I added `Add [] to DynamicClass` functionality.

If you need all property names, use https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/DynamicClass.cs#L282

[2017-04-18 11:32] jotab123 commented on #75
Ok, thanks! but, what is Item property? If I try to get the value throws an exception.

[2017-04-18 12:39] StefH commented on #75
I think that when you use the same rules for getting the valid properties like https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/DynamicClass.cs#L188, all will work fine.

Or do you have a specific scenario?

[2017-04-18 13:55] jotab123 commented on #75
Using the previous example, If I try to get the value of property trhows a System.Reflection.TargetParameterCountException.

[code]

[2017-04-18 18:43] StefH commented on #75
The `Item` property is an indexer, so you can't use this as a normal property.

See Q+A here;
http://stackoverflow.com/questions/291359/c-sharp-reflection-indexed-properties

[2017-04-18 18:43] #75 closed

[2017-04-24 12:39] joacar commented on #73
Something like

[code]

[2017-04-24 13:00] StefH commented on #73
This looks like not valid Linq.

Can you rewrite you question into a normal Linq query ?

[2017-04-24 13:11] joacar commented on #73
Might not be a valid Linq expression.

The query I'm after is to sort those that doesn't have any cost (`null`) last and then those that have cost in ascending/descending order depending on option choosen in web gui.

Currently I do this by return an `Expression` (like the one above) to my an extension method `SortBy` that performs that ordering either with `Expression` or string values for valid

[2017-04-26 13:55] joacar commented on #73
The solution ended up as

# Infrastructure
[code]

# Sorting
[code]

# Model
[code]

Then a can implement reusable components of type `ISortableExpressionAction` such as

[code]
and simply execute `query.SortBy("Property1,Property2 DESC, ...", new SortableExpressionFactory())`

[2017-04-26 19:04] StefH commented on #73
I'm glad you could make it work.

[2017-04-26 19:04] #73 closed

[2017-04-30 09:33] StefH commented on #66
@jogibear9988

Can you create a unit-test which tests all this code?

[code]

I dont understand which test I should write here to cover this code.

[2017-05-04 19:20] jogibear9988 commented on #66
i'll look

[2017-05-12 18:45] rufio620 opened #79 "DynamicExpressionParser does not allow empty parameter lists."
The DynamicExpressionParser does not allow empty parameters. The MS version allowed this so it seems like this library should allow this as well. Code snippet below reproduces the issue. Thanks.

[code]

[2017-05-12 19:02] StefH commented on #79
https://github.com/StefH/System.Linq.Dynamic.Core/commit/1fb5134e88a196ac89f2417c90fd1cfce1fcf709

[2017-05-12 19:02] #79 closed

[2017-05-16 13:00] jogibear9988 commented on #66
I don't know when this part of the code will be hit...

[2017-05-16 13:11] jogibear9988 commented on #66
We should also check, to support Join Operator: https://dynamiclinq.codeplex.com/discussions/471215

[2017-05-16 17:35] StefH commented on #66
1. Code is never hit I think, I just keep it for now.
2. Create a new issue for this, and then we can see if this can be implemented.

[2017-05-16 17:35] #66 closed

[2017-05-17 04:46] jogibear9988 opened #81 "Create new nuget?"
Can you create a new nuget?
Or maxbe you can automaticly create a prerelease nuget of every master build?

[2017-05-17 06:30] StefH commented on #81
I will create new package tonight.

[2017-05-17 16:42] StefH commented on #81
Done

[2017-05-17 16:42] #81 closed

[2017-05-18 13:56] Franki1986 opened #82 "[Feature] Add DefaultIfEmpty"
Please add DefaultIfEmpty as Extension:

[code]

[2017-05-18 19:44] jogibear9988 opened #83 "[Bug] Problem with DynamicExpressionParser.ParseLambda & external ParameterExpression"
I use the Library to parse customer string to return results. For my whole expression tree, i need to use a External Parameter Expression, my call then looks like this:

       e = ((DynamicExpressionParser.ParseLambda(new[] { exp2ActionInfoObj }, typeof(object), ActionTaskDTO.Value.Value).Body) as UnaryExpression).Operand;

My Problem now is, the ParmeterExpression in exp2ActionInfoObj is not all

[2017-05-19 19:29] StefH commented on #82
Fixed

[2017-05-19 19:29] #82 closed

[2017-05-19 19:36] StefH commented on #83
Sorry, I cannot understand what you mean.

Can you provide a full code example?

[2017-05-19 19:46] Franki1986 commented on #82
100% fast and clean! THANKS

[2017-05-26 20:33] HunterMcEwan opened #84 "[Bug] DynamicClassFactory not caching generated types"
Inside `DynamicClassFactory.CreateType` it appears to be attempting to cache previously generated types with the same property names.  However it is using different strategies for creating the dictionary key when doing the lookups:

[code]

and then later when doing the updates:

`type = GeneratedTypes.GetOrAdd(fullName + "|_" + (createParameterCtor ? "1" : "0"), type);`

[2017-06-01 06:20] StefH commented on #84
I will take a look, thanks for reporting.

[2017-06-01 12:14] jogibear9988 commented on #83
It means, if you use a Parameter expression from outside, wich should work at the "it" Parameter, the Expressions Name has to be null, or it will not work!

[2017-06-01 13:53] MakarovSoftware opened #87 "[Question] Memory leak in Join method"
Just for test take first test method (Join()), and run it several times (10 000, 100 000, etc.), like this. And every next iteration will take a little bit longer to pass through + we'll get memory leaks. For example, first time it will take about 00:00:00.003, And on 12000 iteration it will take 00:00:00.101 already. On iteration 27400 it will take 00:00:00.214 and so on..

But it's on a small da

[2017-06-01 16:39] StefH commented on #87
Maybe related to https://github.com/StefH/System.Linq.Dynamic.Core/issues/84 ?

[2017-06-01 16:52] MakarovSoftware commented on #87
Yep, I thought about it, but I'm not sure. Anyway, please, fix this ASAP :)) Thank you!

[2017-06-01 19:40] #84 closed

[2017-06-01 19:44] StefH commented on #84
Code is fixed, NuGet version1.0.7.3 uploaded.

[2017-06-01 19:47] StefH commented on #87
Please test latest NuGet version1.0.7.3

[2017-06-02 04:48] MakarovSoftware commented on #87
Thank you, I've tested it now. Now it soo much better, but still leaks:

1 iteration = 0.95 sec (fantastic!)
2 iteration = 1.4 sec
3 iteration = 1.9 sec
4 iteration = 2.4 sec
5 iteration = 2.98 sec

Well, here in every iteration I work wit exactly the same classes, that connected together through lots of JOINs, it's all the same, but I change just a condition of WHERE statement from iteration to i

[2017-06-02 05:55] StefH commented on #87
Can you add this example project on github? That makes it easier for me to analyse and debug.

[2017-06-02 05:57] MakarovSoftware commented on #87
The problem is that it's not an example project, I tell you timers from real app and it uses big data with lot's of JOINS, and of course, I can't upload it. But ok, I'll try to make some demo test for this case

[2017-06-05 13:19] MakarovSoftware commented on #87
Hi! I've made some demo, try to download source from my repo on github, dunno if I done everything right. There is a simple console app, and you could see the growth of time and memory :) Looking forward to your answer!

[2017-06-06 13:52] HunterMcEwan commented on #84
Thanks for the quick response/fix!

[2017-06-06 19:54] StefH commented on #87
Are you sure you have tested the latest version?

Because when I run your example, I see this:
[code]

[2017-06-07 05:14] MakarovSoftware commented on #87
Ok... very strange, on 1.0.7.3 it really works. I'll check this on a real project today and let you know how it goes

[2017-06-07 12:37] itanev opened #88 "FileNotFoundException: Could not load file or assembly 'System.Linq.Dynamic.Core'"
Hi,

I am trying to add dynamic linq to my .net core project, so I decided to install the System.Linq.Dynamic.Core package. It installs ok, the project compiles, but runtime I am getting:

[code]

I installed .Net standard library 1.6.1 and I am targeting .NETCoreApp 1.1. I am trying to use it in a class library project.

What am I missing?

[2017-06-08 09:40] StefH commented on #88
Can you add your (test) project to github?

[2017-06-08 17:00] MakarovSoftware commented on #87
Ok, finally I got it :) Try out my last commit, but not sure that you'll think it's a bug :) The problem was that I've generated random names every time for same types - I mean different names for inner and outter fields. And everytime of course you can't find it in your cache dictionary, you save new record. If it's possible to fix - that'll be cool.

[2017-06-08 17:24] StefH commented on #87
I will check your project.

However you can also fork this project and make a pull request on my source code : MemoryLeakTest project in scr-console folder.

[2017-06-08 17:26] MakarovSoftware commented on #87
Ok, will do

[2017-06-08 21:55] StefH commented on #87
I did quickly check your test code.
But this is not a bug, because you are creating different anonymous types (based on a random name)

See this example:

[code]

The code above creates 2 different types.

System.Linq.Dynamic.Core will do the same, except it's dynamic.

[2017-06-09 06:37] MakarovSoftware commented on #87
Yep, that's why I said that probably it's not a bug. But actually I can use same type in different parts of program, use different names and get this memory leak. And it's not a good idea. Maybe will be better to remove this string name from dictionary's key? Just leave only type names?

[2017-06-09 06:56] StefH commented on #87
This sounds possible, I will take a look at the code and do some tests.

[2017-06-09 07:06] StefH commented on #51
Did you already try the `? operator` ?

Like
[code]

[2017-06-09 20:17] StefH commented on #87
Sorry, this is not possible. Because the dynamic generated types do not only define the `Type` for each property, but off course the property-name itself is also generated.

[2017-06-09 20:17] #87 closed

[2017-06-10 12:48] ysmoradi opened #89 "[Question] System.Linq.Dynamic.Core.Exceptions.ParseException: 'No 'it' is in scope'"
Consider Customer class as following:

[code]

Using these codes:

[code]

First line is working fine, but calling second line will raise an exception System.Linq.Dynamic.Core.Exceptions.ParseException: 'No 'it' is in scope'

Are there any story related to word "it"?

[2017-06-11 11:22] StefH commented on #89
The keyword `it` is reserved and van be used like:

[code]

[2017-06-14 18:20] StefH commented on #88
Any update?

[2017-06-14 18:59] StefH commented on #83
Can you please take a look at my commit ?

- check code
- check testcases

[2017-06-16 14:13] itanev commented on #88
Sorry, I didn't have the time to write a response.

I solve the problem.

It turned out that it was from the way the class library was used. The architecture of my application is Plugin based, and every plugin is a class library that is copied in a specific folder in the web project on build and loaded from there. In .net core, however, the dependent packages are loaded from the nuget cache when t

[2017-06-16 14:49] StefH commented on #88
Ok. Nice to hear.

[2017-06-16 14:49] #88 closed

[2017-06-22 12:30] peterjanto opened #90 "[Bug] ParseIntegerLiteral Int16"
Hello,
Thank you for the library but i have a following problem

Sample:
`var list = new short[] { 1, 2, 3, 4, 5, 6, 7 };`
`var result= list.AsQueryable().Where("it in (1,2)");`

This code is not working and throwing error **System.Linq.Dynamic.Core.Exceptions.ParseException: 'Expression of type 'System.Int16' expected'**

This problem might be solved like this:
`if (value <= (int)short.MaxValue)

[2017-06-22 17:33] StefH commented on #83
Can you check ?

[2017-06-23 05:12] StefH commented on #90
Your proposed code change broke some unit-tests, so I did fix this problem in another piece of code.

Please take a look.

[2017-06-24 10:57] #89 closed

[2017-06-25 17:31] pferraris opened #91 "[Bug] Support for decimal qualifiers 'M' & 'm'"
I run into a problem when I tried to evaluate an expression with a ```decimal``` value (eg ```"0.5m"```).
```ExpressionParser``` detects it as ```double```, then ```PromoteExpression``` method try to convert it to ```decimal``` but keeps qualifier 'm' as part of text, and ```decimal.TryParse("0.11m", out e)``` returns 0.

[2017-06-25 17:39] pferraris commented on #91
I'm working to resolve this enhancement. I'll submit a pull request shortly.

[2017-06-27 07:14] #91 closed

[2017-06-27 08:20] #90 closed

[2017-06-27 20:00] #83 closed

[2017-06-28 19:57] #72 closed

[2017-06-28 20:03] StefH commented on #33
Closed by https://github.com/StefH/System.Linq.Dynamic.Core/issues/72 ?

[2017-06-28 20:03] #33 closed

[2017-06-30 23:41] aveyrier opened #94 "[Bug] ParseException: Operator '==' incompatible with operand types 'ObjectId' and 'ObjectId'"
When using this library with the MongoDB.Driver package, an error occurs with the `DynamicExpressionParser.ParseLambda` method while trying to compare an object containing an `ObjectId` property with another `ObjectId` object.

This kind of comparison works fine inside a classic lambda expression (e.g. `entity => entity.Id == ObjectId.Parse(id)`) but it throws with the dynamic equivalent (e.g. `"i

[2017-07-01 07:46] StefH commented on #94
Maybe when that `ObjectId` property implements the interface `IComparable` it can work ?
See https://msdn.microsoft.com/en-us/library/system.icomparable(v=vs.110).aspx

Else can you provide the full class from `ObjectId` ?

[2017-07-02 00:12] aveyrier commented on #94
`ObjectId` implements the interface `IComparable<ObjectId>`. You can see below the full class (or you can see it here if you want the full implementation : [https://github.com/mongodb/mongo-csharp-driver/blob/master/src/MongoDB.Bson/ObjectModel/ObjectId.cs](https://github.com/mongodb/mongo-csharp-driver/blob/master/src/MongoDB.Bson/ObjectModel/ObjectId.cs)).

    public struct ObjectId : IComparab

[2017-07-03 10:03] StefH commented on #94
I will take a look.

[2017-07-08 14:37] #94 closed

[2017-07-14 03:23] ngbrown opened #95 "Has no assembly version number."
At least as of 1.0.7.6, the released NuGet package adds to the Visual Studio project as having no version number:

[code]

[2017-07-14 06:04] StefH commented on #95
Is this a blocking issue ?

[2017-07-14 12:24] ngbrown commented on #95
I don't think so. I have a pull request in to NHibernate to use this version of the library, but it hasn't been merged yet.

I'm letting you know so you can resolve it in the future.

[2017-07-20 10:50] borisdj opened #96 "Async support for ToDynamicList()"
After dynamic select when enumerating I there is ToDynamicList() method but no async version of the same ToDynamicListAsync() that would propagate async call till bottom.
Could this feature be added, because I am using EFCore(1.1.2) and have made most methods in Controller and Repository to be async for efficiency.

[2017-07-21 08:26] StefH commented on #96
Can you provide a code-example how you intend to use this ?

[2017-07-21 08:53] borisdj commented on #96
For example in Controller (Generic one) there is regular Get method and it is Async:
[code]
Then in the same Controller I also have action Lookup method like this:
[code]

So I was considering making that one alse async but that would require **ToDynamicListAsync()**;

[2017-07-21 09:04] borisdj opened #97 "Dynamic Select with string Concatenation"
Regular dynamic select would be:
[code]

Now if I need in **text** not only **Name** column but 2 columns separated with dash(-), say **UID - Name,** I tried:
[code]
But this throws exception:
_Character literal must contain exactly one character_

What would be the correct syntax?

[2017-07-21 09:38] StefH commented on #96
OK, I will take a look.

[2017-07-21 10:08] StefH commented on #97
A character `'` is only 1 item so:
[code]

If you want a string, just use the `"` character.
[code]

[2017-07-21 10:16] borisdj commented on #97
Thx

[2017-07-21 10:16] #97 closed

[2017-07-21 10:31] StefH commented on #96
Some notes:

1] Your example code allows sql-injection (you provide the `search` parameter external input)

2] The extension methods I've created (see point 3) are _fake_, they are not really async.

3] Code be found here : https://github.com/StefH/System.Linq.Dynamic.Core/commit/ed57240198def66f37c39490df2785ab69f13c3f#diff-94779ab3305c4d04396ee3e68380908c
if this is ook, I create a new Nuget.

[2017-07-21 12:25] borisdj commented on #96
1) Shouldn't the @(placeholder) be made into lambda argument(=>) instead of concatenating, that makes it safe from "Linq injection" attack.
If not, what would be best way to escape the string?

2) I was thinking more of real async, fake will have the same efficiency so no gain there.
I haven't yet look deep into source of the library, so I'm not sure how you implemented this under the hood and if

[2017-07-21 13:16] StefH commented on #96
1] It's not a real `sql-injection`, but you expose the **search** criteria to the outside world, which means that you can enter whatever you like and that will be executed.

2] This file https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/Microsoft.EntityFrameworkCore.DynamicLinq/EFDynamicQueryableExtensions.cs defines some methods which are **really** ASYNC.

[2017-07-21 13:45] borisdj commented on #96
1) Search has to exposed to client, how else could it be done.
Is there some better way to achieve the same ?

2) I'll take a look into Asynchronous implementation.

[2017-07-31 07:32] jotab123 opened #98 "Feature: Add the "?." operator (null-conditional operator) to support navigation properties with null values"
Hi Stef,

I'm trying to project a sequence of items with a related property (object) which in some cases is null.

Having this classes:

[code]

Consider this scenario:

[code]

Result1 works fine and has the expected result (a list of items with Related.Value value or null, in case of Item has Related object assigned or not) but Result2 generates an object reference exception. Is there any way to

[2017-07-31 09:20] StefH commented on #98
You could use the `isnull(a,b)` operator or the `??` operator.

[2017-07-31 09:47] jotab123 commented on #98
It seems not to work with navigation properties. Ex:
[code]
Throws the exception.

Finally, I could solve it with:
`var result2 = listItem.AsQueryable().Select("Related == null ? null : Related.Value");`

It would be great for future versions if you consider supporting the ? operator to improve this kind of queries.

Thanks again!

[2017-07-31 11:06] StefH commented on #98
Actually you want the `?.` operator ?

[2017-07-31 11:20] jotab123 commented on #98
Yes. I'm having problems because the implicit conversion of types. In the example before, if Value of RelatedItem is a non-nullable type (double, int...) I cannot use a expression like "Related == null ? null : Related.Value" because throws an exception.

[2017-08-01 07:06] StefH commented on #98
https://docs.microsoft.com/en-us/dotnet/csharp/language-reference/operators/null-conditional-operators

[2017-08-01 19:18] StefH commented on #98
@jotab123
I found out that it's not supported for Lambda expressions : **An expression tree lambda may not contain a null propagating operator**

See also here:
https://stackoverflow.com/questions/44681362/an-expression-tree-lambda-may-not-contain-a-null-propagating-operator

[2017-08-19 18:55] vonaerich opened #101 "Question: OrderBy does not work with navigation properties"
I was trying to do something like
[code]
but it doesn't seem to work.
I'm pretty sure it works before (dotnet core)
Suggestions?

[2017-08-28 10:23] statler commented on #101
Its not just orderby - where does not work either, in fact no override of where or orderby seem to take a string

[2017-08-28 10:51] StefH commented on #101
Strange, unit-test code just looks fine : https://github.com/StefH/System.Linq.Dynamic.Core/blob/40d3b73ffadcb2a6e927767a9b9f7cdd49641663/test/System.Linq.Dynamic.Core.Tests/QueryableTests.OrderBy.cs#L17

Maybe you miss an **using** statement?

[2017-08-29 15:53] StefH opened #102 "Aggregate method does not work with Average function"
See https://github.com/kahanu/System.Linq.Dynamic/issues/77

[2017-08-29 18:08] #102 closed

[2017-08-30 06:04] vonaerich commented on #101
@StefH, I think I stumbled upon a weird naming issue. It's not working when I used "Parent" as my property name but when I changed the property name into something else, it is working as expected.

@statler, yea maybe you're missing a using statement. Both orderby and where works for me.

[2017-08-31 11:02] StefH commented on #101
@statler Can you confirm?

[2017-09-02 09:34] belmirp commented on #101
I have the same issue. I am using DataTables and it is not working when there is a navigation property. This is the screenshot of the error:

![orderbyissue](https://user-images.githubusercontent.com/12861786/29994553-c6310b68-8fda-11e7-8ad8-6bcd7e98d432.jpg)

There is using statement (using System.Linq.Dynamic.Core;) and the value of the sortOrder variable is "Project.PriorityC".

[2017-09-02 19:51] StefH commented on #101
@belmirp can you copy that full expression from that debug window ?

[2017-09-02 21:00] belmirp commented on #101
{value(Microsoft.EntityFrameworkCore.Query.Internal.EntityQueryable`1[SIMS.Models.Stakeholder]).Where(w => IIF(((value(SIMS.Controllers.StakeholderController+<>c__DisplayClass3_0).pid != null) AndAlso (value(SIMS.Controllers.StakeholderController+<>c__DisplayClass3_0).pid != Convert(0))), value(SIMS.Controllers.StakeholderController+<>c__DisplayClass3_0).sid.Contains(w.StakeholderId), (Convert(w.S

[2017-09-03 07:28] StefH commented on #101
I've created a example project in NETCore 1.1 to reproduce this issue.
https://github.com/StefH/System.Linq.Dynamic.Core/tree/master/src-console/Test.NETCoreApp.EntityFrameworkCore

But this just works fine.

Can you please take a look at the example, and tell me what differs with your code?

Also, if possible, create a same example project with your data and entities.

[2017-09-03 10:03] belmirp commented on #101
I think I have found where is the problem or difference.

I am trying to apply OrderBy on Project property (i.e. "Project.PriorityC") in this IndexViewModel:

    public class IndexViewModel
    {
        [Key]
        public int StakeholderId { get; set; }

        public string Name { get; set; }

        public StakeholderProject Project { get; set; }

        public Gender Gender { get; set; }

[2017-09-03 18:05] StefH commented on #101
This can be closed?

[2017-09-03 18:36] belmirp commented on #101
So, no solution for this? Or it is not planned to work in this way?

[2017-09-04 05:54] StefH commented on #101
Can you try to rebuild the `dynamic Linq query` into a `normal Linq query` and check if that works with that Key?

[2017-09-04 09:22] belmirp commented on #101
I've rebuilt it, and it is indeed a problem in something else, because it still doesn't work. Never mind, I will analyze it further myself. You can close this now. And thank you for your patience and assistance.

[2017-09-04 10:30] StefH commented on #101
OK. I will close for now, if you find a solution, just re-open this issue or create a new one.

[2017-09-04 10:30] #101 closed

[2017-09-10 21:37] jogibear9988 opened #104 "Add PDB to nuget package"
It would be cool if you add the PDB to the nuget Package, for better debugging experience.

[2017-09-11 06:04] StefH commented on #104
So what would be be best option to choose from? `full` or `portable` ?

[2017-09-11 16:53] #104 closed

[2017-09-11 18:10] jogibear9988 commented on #104
thanks 👍

[2017-09-28 18:20] ascott18 opened #105 "Feature: Support for EF Core 2.0's EF.Functions.Like()"
Are there any plans to support the Like() function from EF Core 2.0? https://blogs.msdn.microsoft.com/dotnet/2017/08/14/announcing-entity-framework-core-2-0/

I'd like to be able to write something like this (contrived example):
[code]

[2017-09-30 07:05] StefH commented on #105
I'll take a look.

[2017-10-03 16:45] StefH commented on #96
If you need some more help for search, open a new issue.

[2017-10-03 16:45] #96 closed

[2017-10-03 16:46] #51 closed

[2017-10-09 17:54] Schaussi opened #106 "Using both System.Linq and System.Linq.Dynamic.Core"
Hi,

is it possible to use both libraries in one .cs file?
I am using .Net Core 1.1 and VS2017.
It seems to work when I only include one library.
Using both, I get an error like "list does not contain a definition for OrderBy", e.g. when using command .OrderBy("mycol asc");
Because I also need to use the common linq expressions, it would be great to be able to use both libs.
Thank you

[2017-10-10 16:39] StefH commented on #106
Strange.

See unit test here:
https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/test/System.Linq.Dynamic.Core.Tests/QueryableTests.OrderBy.cs#L10

Both `var orderById = qry.OrderBy("Id");` and `testList.OrderBy(x => x.Id)` are used here?

[2017-10-13 17:06] Schaussi commented on #106
You are right. I retried again today and it worked fine without any problems.
Maybe a simple VS restart has solved this issue.
Thank you!

[2017-10-13 18:04] StefH commented on #106
Cool !

[2017-10-13 18:04] #106 closed

[2017-10-25 17:59] peter-base commented on #98
Hi,
I am in the same scenario trying to sort a List of objects by their navigation properties.
How did you ended up sorting by the navigation property (RelatedItem.Value)?

Thank you

[2017-10-26 23:04] ascott18 opened #107 "Type conversions generated in cases where they're not needed."
I ran into a real head scratcher today, and I think I figured out the root cause. I wrote up the whole issue at https://github.com/IntelliTect/Coalesce/issues/25, which I'd encourage a read through of to get context for this. Look specifically at the `(System.Object)` cast in the second query's DebugView.

Basically, it seems that type conversions are being generated in cases where they aren't str

[2017-10-27 11:59] MakarovSoftware opened #108 "[Question] Nullable property inside Join statement"
Hi! I need help!

For now I need to make a Join on a nullable Guid poperty. In SQL this request works great, but your library falls with incompatible error. How can I solve it?

Thank you!

[2017-10-27 17:28] jogibear9988 opened #109 "Not able to build with VS2017"
I get the following errors: (VS 2017 Professional)

<img width="1513" alt="bildschirmfoto 2017-10-27 um 19 27 46" src="https://user-images.githubusercontent.com/364896/32116987-04743d4e-bb4d-11e7-842c-ba2b9c8bd6a2.png">

[2017-10-27 19:22] StefH commented on #109
Do you have the latest net core 1.1 and net core 2.0 SDK's installed?

And what is your VS 2017 version?

[2017-10-27 19:43] jogibear9988 commented on #109
Now I could build. I've to install net core 1.1 sdk from https://github.com/dotnet/core/blob/master/release-notes/download-archive.md

I did select net core 1.e support when installing VS, but this seems to be not enough...
But how should I get from this error, to I need another SDK...

[2017-10-27 20:06] StefH commented on #109
Ah I see the errors now.

Also net core 2.0 is not yet added as a target ....

Some work to do for me...

[2017-10-27 20:48] StefH commented on #107
It's indeed related to the **NullLiteral**, but the issue is found here:

https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/ExpressionParser.cs#L654

I need to add an extra check here for **NullLiteral**.

[2017-10-27 20:55] #107 closed

[2017-10-27 20:57] StefH commented on #107
New NuGet added.

[2017-10-27 21:04] jogibear9988 opened #110 "Complex query, like in ParseLambda_Complex_2, internal could only be used once"
If you do a complex query like this, and want to use the same internal like the "x" in `Where(x=>`  only once, because we add the "x" to the internals dictionary, but never remove or overwrite it.

I think we should increase a Level of the internal with a OpenParam, and Decrease it with CloseParam, and when the level is lower then "0" we remove it

[2017-10-28 00:03] ascott18 commented on #107
Thank you so much!

[2017-10-28 13:59] jotab123 commented on #98
Hi @peter-base,
I finally use default values and cast the property to its's nullable type. Ex:

Hope it helps!

[2017-10-28 14:13] jotab123 commented on #98
Hi @peter-base ,
You can use something like:

[code]

Hope it helps!

[2017-10-31 15:33] MakarovSoftware opened #111 "[Bug] Incorrect Nullable<> parsing"
Here is a problem, that I've got starting from my previous question. I have two types with two properties - "Guid" and "Guid?". And trying to Join em.

In a Join method you call **DynamicQueryableExtensions.CheckOuterAndInnerTypes()** method, that must check and convert not-a-nullable part to Nullable is needed.

But in fact after parsing Lambda, Method **outterLambda.Body.Type** returns Anonymous

[2017-11-01 11:31] #108 closed

[2017-11-01 20:16] StefH commented on #109
building UAP 10 is fixed

[2017-11-01 20:17] StefH opened #112 "Support NETStandard 2.0"

[2017-11-01 21:01] #112 closed

[2017-11-08 11:34] jogibear9988 opened #113 ".pdb is missing in nuget"
1.0.7.10 and .11 is the pdb not in the nuget!

[2017-11-08 15:13] StefH commented on #113
Yes. I when I uploaded the file to nuget I had some doubts if I uploaded the correct version.

Do you really need it ?

[2017-11-08 15:46] jogibear9988 commented on #113
For debugging it would be nice... Do you not use a CI system like Appveyor to upload to nuget?

[2017-11-08 15:48] jogibear9988 opened #114 "Dynamic Linq Query not usable with ORM Provider"
I've the following linq query:

                    var qry = from a in s.Query<TagsArchiveDTO>()
                    join b in s.GetTable<TagDTO>() on a.TagId equals b.Id into tags
                    from b in tags.DefaultIfEmpty()
                    select new TagsArchiveCombinedDTO() {TagsArchive = a, Tag = b};

                var dtmi = DateTime.UtcNow.AddDays(-10);
                var dtma

[2017-11-08 15:53] jogibear9988 commented on #114
If I use Mono

the working expression generates following Code:

	Queryable.Select<IGrouping<string, TagsArchiveCombinedDTO>, <>f__AnonymousType1<string, int, decimal, decimal, decimal>>(Queryable.OrderBy<IGrouping<string, TagsArchiveCombinedDTO>, string>(Queryable.GroupBy<TagsArchiveCombinedDTO, string>(Queryable.Where<TagsArchiveCombinedDTO>(Queryable.SelectMany<<>f__AnonymousType0<TagsArchiveDT

[2017-11-08 16:01] jogibear9988 commented on #114
Maybe it's because we always call the Enumerable methods and not the Queryable ones?

I'll test and giva a feedback

[2017-11-08 16:49] #113 closed

[2017-11-08 21:21] jogibear9988 commented on #114
will you create a new nuget?

[2017-11-09 07:40] jogibear9988 commented on #113
Appveyor can now also patch the new csproj files during build

[2017-11-09 07:43] jogibear9988 commented on #113
du you upload the ".symbol.nupkg" when you push the nuget? because it contains the pdb and the source!

[2017-11-09 08:46] jogibear9988 commented on #114
Please reopen. After your changes the Queryable Methods are not found any more!

[2017-11-09 08:55] jogibear9988 commented on #114
There are two problems:

1.) Methods of IQueryable are static, not instance methods

[2017-11-09 08:56] jogibear9988 commented on #114
if i fix 1.) then

2.) When I use linq2db I hav e a ExpressionQueryImpl<T> and then in line 2342 of ExpressionParser

     return target.IsAssignableFrom(source);

returns false

[2017-11-09 10:28] StefH commented on #113
I will upload a new NuGet with debug symbols in some time. I will write here when I've done it.

[2017-11-09 10:30] StefH commented on #114
OK. Create a new PR and also add some unit-tests which test this issue.

[2017-11-09 10:56] jogibear9988 commented on #114
I don't know how I could test this. I use linqdb on my system, and plot out the generated SQL

[2017-11-09 11:06] jogibear9988 commented on #114
Problem is, the "ContainsMethod(typeof(Queryable), containsSignature.Name, true, args)" does not work.
But it also does not work if you use "IEnumerable".

[2017-11-09 13:18] jogibear9988 commented on #113
i think with csproj you should upload both nugets, the one without pdb, and one with source and pdb

[2017-11-10 18:35] StefH commented on #98
I have to take a look at your code and update some unit tests.

[2017-11-12 21:43] jogibear9988 commented on #114
fixed

[2017-11-12 21:43] #114 closed

[2017-11-14 07:42] Franki1986 opened #118 "Question: Extensions from MoreLinq"
Hi,

is there any chance that we can integrate some of [MoreLinq](https://github.com/morelinq/MoreLINQ) extensions?
I mean also with pull request.

[2017-11-14 08:25] Franki1986 opened #119 "Feature: How to keep parameter input name of query"
I want to parse a string to a LambdaExpression.
Following classes:

[code]
And the query:

`var expressionString = "pe => (( pe.Name == \"Hallo\" ))";`

Now if I parse the expression

`var expression = DynamicExpressionParser.ParseLambda(typeof(Person), null, expressionString);`

The 'pe' name for my input parameter is lost or replaced.

Is there a way to preserve the given name?

[2017-11-14 09:29] Franki1986 commented on #119
This is a workaround, but it only helps if you know the input parameter name..

[code]

Is there a way to extract only the input parameter name from a expression string?

[2017-11-14 11:45] StefH commented on #119
I see your point. I've to check if this can be fixed.

This issue is maybe a bit related to https://github.com/StefH/System.Linq.Dynamic.Core/issues/110 ?

[2017-11-14 12:02] Franki1986 commented on #119
Yes, this looks like to have the same solution.
Anyway is there a way to get the input parameter name of a string expression?

[2017-11-14 18:25] StefH commented on #118
This is possible, however the question is why would you need this?

[2017-11-14 19:45] Franki1986 commented on #118
I have two strings that contains filter expressions.
I am accessing a database with nhibernate to linq.
Now I have a join query. One expression is for the outer table the other for the joined inner table.
The result of the join is an anonymous type that is a tupple of outer and inner.
So if I want to access one of the results I have to extend the expression parameter with another prefix.

[2017-11-14 19:48] Franki1986 commented on #118
There are several methods like left join right join or distinctlby that are very nice to use. Like I said this is no funzional extension, it is only make the code that one ises is more readable like a left join instead of a group hoin, or more comfortable like distinctby.

[2017-11-14 19:48] Franki1986 commented on #118
I

[2017-11-15 14:52] stristan opened #120 "Error with parsing"
Hello!
I'm trying to make a correct filter expression with no success:

[code]
The error message is "Unknown identifier 'Name'"

[2017-11-15 15:17] MakarovSoftware opened #121 "[Question] Count() method"
Can't get, how to implement query equals to "Select Count(1) From..."? Does .Count() extension method do that or it's get all data from database and then counts it?

Thank you!

[2017-11-15 15:19] StefH commented on #121
In case of an IQueryable (which is used in a real database scenario), the normal `Count()` is executed.

[2017-11-15 15:19] #121 closed

[2017-11-15 20:18] StefH commented on #120
1]
This code : `var e = DynamicExpressionParser.ParseLambda(typeof(TestObject), filter);`
use it like https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/test/System.Linq.Dynamic.Core.Tests/DynamicExpressionParserTests.cs#L108

2]
`Int` is reserved, use `var filter = "Name == \"Name\" && X >= 90";`

[2017-11-15 20:18] #120 closed

[2017-11-15 20:45] StefH commented on #105
No planned date yet.

Do you have a page/code/info from all the supported methods?

[2017-11-15 21:57] StefH commented on #105
@japerr
Logic is added, get latest version from github.

See console app `ConsoleAppEF2.0` for details how to use it.

[2017-11-15 22:27] stristan commented on #120
Thanks, it's worked!

[2017-11-16 08:19] Franki1986 opened #122 "Join with int list"
I am trying to inner join on a int list but it does not work:

[code]

The dynamic expression does not work, I don`t know if it is the syntax, but I am getting a System.TypeInitializationException:

[code]

[2017-11-16 21:46] StefH commented on #122
Please take a look at https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/test/System.Linq.Dynamic.Core.Tests/QueryableTests.Join.cs

[2017-11-18 13:47] Gaelmart opened #124 "OrderBy produces error."
Very simple trial

[code]

OrderBy is underlinded in red in VS2017

The type arguments for method 'Enumerable.OrderBy<TSource, TKey>(IEnumerable<TSource>, Func<TSource, TKey>)' cannot be inferred from the usage.

My imports:
[code]

[2017-11-18 14:04] StefH commented on #124
When using this project, be sure to add `using System.Linq.Dynamic.Core;`

[2017-11-18 14:57] Gaelmart commented on #124
Great catch.
Thanks

[2017-11-18 15:07] #124 closed

[2017-11-20 12:19] #122 closed

[2017-11-24 19:06] jogibear9988 commented on #95
can this be closed?

[2017-11-24 19:11] StefH commented on #95
@ngbrown : Any update

[2017-11-28 02:11] nickraphael opened #125 "Not compatable with dotnet Core 2."
Unless I'm missing something...?

[2017-11-28 13:59] StefH commented on #125
Yes, correct. Good point. I'll take this up.

[2017-11-28 15:13] StefH commented on #125
.net 2.0 is supported : Readme is updated

[2017-11-28 15:13] #125 closed

[2017-11-28 22:22] jogibear9988 commented on #54
Why don't we use the old Documentation? I tried to run it in VS2017 and it still works

[2017-12-02 03:55] mhosman commented on #105
Hey @StefH, this is not working for me. In the example you made:  context.Cars.Where("DynamicFunctions.Like(Brand, \"%a%\")"); What's DynamicFunctions? I get an error that is not defined for Cars. Could you please post a basic usage of this? Thank you very much!!

[2017-12-02 04:19] mhosman commented on #105
Sorry It's working okay. I just forget to add:
`        public static bool Like(string matchExpression, string pattern) => EF.Functions.Like(matchExpression, pattern);`

[2017-12-02 04:56] mhosman opened #126 "How to make a request with Collate in order to get Accent Insensitive results?"
How to make a request with a specific Collate in order to get Accent Insensitive results?

[2017-12-12 23:28] rajeshmuraleedharan opened #128 "Question: Is it possible to do case-insensitive search"
I would like to do case-insensitive search with startswith,endwith and Contains. Please let me know this is possible or not.

[2017-12-15 05:51] mhosman commented on #126
No one???

[2017-12-15 13:13] xumix opened #129 "ToDynamicList/ToDynamicArray cannot actually cast to specified type in .net core 2"
This fails
[code]

[code]

[2017-12-16 15:10] StefH commented on #129
Solved in version 1.0.8.0

[2017-12-16 15:10] #129 closed

[2017-12-16 18:11] xumix commented on #129
Thanks!

[2017-12-18 11:11] xumix commented on #129
Looks like not closed:
![2017-12-18 14 09 43 supplierportal - microsoft visual studio administrator](https://user-images.githubusercontent.com/250118/34103294-575d8e1a-e3fd-11e7-9cfe-fbd06e6d0255.png)

[2017-12-19 16:18] xumix opened #130 "BUG: Dynamic new in Where() causes NRE"
[code]
[code]

[2017-12-20 08:11] StefH commented on #128
This is related to your SQL-server settings ?

[2017-12-23 00:00] czielin commented on #105
Will this work in EF 6? If not is there a way to add a version of the SQL LIKE function that will work with work with wildcards?

I'm trying the following...

queryable.Where("parts.any(DynamicFunctions.Like(subpart.type, @0)) ", "%test");

However, I see this error when trying to execute...

System.Linq.Dynamic.Core.Exceptions.ParseException: 'No property or field 'DynamicFunctions' exists in typ

[2017-12-23 16:27] czielin opened #131 "Adding LIKE operator for EF6"
I'm trying to figure out if there is a way to add to call a method that translates to the TSQL LIKE operator when executing against Sql Server using EF6. It looks like this was done for EF Core here:

https://github.com/StefH/System.Linq.Dynamic.Core/issues/105

I was going to take a crack at using the commit for this issue to see if I could add something myself, but I'm unable to get the solution

[2017-12-23 17:12] czielin commented on #131
Please disregard (for now).

Even though I couldn't build digging into the project helped me discover that it already references the proper EF6 classes, and I think I've figured out the proper syntax.

queryable.Where("parts.any(DbFunctions.Like(common.type, @0)) ", "%test");

[2017-12-23 17:55] StefH commented on #131
Cool. Does this work for you?

[2017-12-24 08:30] StefH commented on #130
I'm not able to reproduce this issue. Can you please write working demo code based on https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src-console/ConsoleAppEF2.0/Program.cs ?

[2017-12-24 08:33] StefH commented on #131
About the solution ; you need UWP to be installed;

![uwp](https://user-images.githubusercontent.com/249938/34325271-7a620122-e88d-11e7-865f-add38027bb96.png)

[2017-12-24 08:33] #95 closed

[2017-12-26 22:43] czielin commented on #131
@StefH it took me a bit to build some tests around it, but now that I have the syntax worked it all appears to be working well. Thanks!

Thanks also for the tip on UWP. I will give that a shot should I need to dive into the code again.

[2017-12-26 22:44] #131 closed

[2017-12-29 19:20] StefH commented on #59
closing

[2017-12-29 19:20] #59 closed

[2017-12-31 19:38] #126 closed

[2017-12-31 19:39] mhosman commented on #126
Changed collation in SQL Server itself. Closing.

[2018-01-03 09:32] SuperJMN opened #132 "System.Linq.Dynamic.Core.Exceptions.ParseException in IQueryable<object> filled with anonymous type"
I'm getting this exception when trying to sort a IEnumerable<object> that contains a dynamic type.

This code reproduces the problem (.NET Core App 2.0)

[code]

[2018-01-04 14:30] Franki1986 opened #133 "Possibility to parse an Expression<T, bool> to a valid expression string"
Hello,

is it possible to parse into the other direction?
Let's say I have an expression like:

[code]

`Expression<Func<Person, bool>> filterExpression= x => x.Birthday > new DateTime(2001, 1, 1);`

I would like to have something like this as result:

`"x => x.Birthday > '2007-08-31'"`

[2018-01-04 16:23] StefH commented on #132
Not possible because you lose the type when casting to object.

https://stackoverflow.com/questions/10073319/returning-anonymous-type-in-c-sharp

[2018-01-04 16:23] #132 closed

[2018-01-04 16:26] StefH commented on #133
Just to a `.ToString()` ?

[code]

[2018-01-04 16:26] #133 closed

[2018-01-04 17:12] Franki1986 commented on #133
Yeah, this is ok with constant variables, but if you do it with the above expression that contains a DateTime object, the result isn't the expected.

[2018-01-04 22:11] czielin opened #134 "Accessing DbGeography methods/properties"
I am now working on querying some fields that are mapped via Entity Framework to the Sql Server geography type. The following two queries:

queryable.Where("p.any(c.geographic.Union(@0).Area == 0)", parameters.ToArray());
queryable.Where("p.any(@0.Difference(c.geographic).IsEmpty)", parameters.ToArray());

result in the following error:

System.Linq.Dynamic.Core.Exceptions.ParseException: 'Methods

[2018-01-04 23:26] czielin commented on #134
It will take me a bit to build some proper tests around it, but I added the following to the predefined types, and the above queries appear to be translating to proper TSQL now.

_predefinedTypesHelper.TryAdd("System.Data.Entity.Spatial.DbGeography, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089", 2);

Once I've had a chance to test some more I'll create a pull

[2018-01-05 04:18] czielin commented on #134
All right, testing was successful. I added a pull request.

[2018-01-05 07:29] StefH commented on #134
Thanks a lot!

[2018-01-05 07:29] #134 closed

[2018-01-05 12:36] czielin commented on #134
Wow, I see you created a new release already. Thanks!

[2018-01-05 18:25] StefH commented on #134
You are welcome!

[2018-01-06 12:02] StefH commented on #110
Can you provide a detailed example on this issue please ?

Do you mean something like:
`.Where(x => x.Value > 0 && x.Value < 10);`

[2018-01-06 13:12] jogibear9988 commented on #110
No, smth like:

      .Where(x => x.Value > 0).Where(x => x.Value < 10);

or

   .Where(x => x.Value > 0).Any(x => x.Value < 10);

[2018-01-08 05:06] NickDarvey opened #136 "Expressions on dynamic objects"
Hi,

I'm wondering what the story is for `System.Linq.Dynamic.Core` and types that aren't known till runtime. Is this supported right now, and if it's not, will it be one day?

Right now, I have an `IEnumerable<dynamic>` I can that I'd like to query. Is there any way I can compose a query on top of that? Is there any other way you know of for handling this case?
(The collection contains `ExpandoOb

[2018-01-08 07:06] StefH commented on #136
Also related to https://github.com/StefH/System.Linq.Dynamic.Core/issues/132

[2018-01-08 07:25] StefH commented on #136
A possible solution could be that a new class is defined in this library which keeps the information about the properties.
And the properties can be defined with the help from https://github.com/StefH/System.Linq.Dynamic.Core/blob/10fc9a2ec8677f638210804c0ca636de021e6c9a/src/System.Linq.Dynamic.Core/DynamicProperty.cs

So prototype code would be:
[code]

[2018-01-09 15:18] xumix commented on #130
@StefH here we go:
[code]

[2018-01-09 17:42] StefH commented on #130
Thanks.

[2018-01-09 20:31] #130 closed

[2018-01-09 20:31] StefH commented on #130
New NuGet will be released soon.

[2018-01-09 21:03] xumix commented on #130
Thanks!

[2018-01-15 18:48] mhosman commented on #128
@rajeshmuraleedharan When you install SQL Server you must specify de collation. CI is for case insensitive and AI is for accent insensitive. Anyway, It could be great to make request in CI, AI, CS, AS "on demand".

[2018-01-19 08:27] zqxin45 opened #139 "how to get related entities only one field"
in the select tests:
[code]

it's doesn't support get related entities only one field,how to implement it
[code]

[2018-01-20 15:49] StefH commented on #139
In your example : A Blog contains Posts (multiple), you cannot access `Posts.PostId`.

The example would work the other way around:

`var test = _context.Posts.First().Select("new (PostId, Title, Blog.BlogId)").ToDynamicArray();`

[2018-01-24 21:22] Elindalyne opened #140 "Question: Possible to write this using Dynamic Linq?"
Hi there...
I'm trying to work through something and I'm struggling a bit with how exactly to express it using Dynamic Linq...

With standard linq I can write something like this
[code]

Is it possible to express something like this with dynamic linq?

[2018-01-24 21:50] StefH commented on #140
I did not try this, but I guess it's something like:

[code]

See also
https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/test/System.Linq.Dynamic.Core.Tests/QueryableTests.Any.cs#L90

[2018-01-24 22:31] Elindalyne commented on #140
So I've been in the process of migrating from the kahanu/System.Linq.Dynamic package and it turns out this particular project is the one project I still had System.Linq.Dynamic referenced rather than System.Linq.Dynamic.Core... That one errors, this does not....
`query = query.Where("ClientAmenities.Any(@0.Contains(AmenityID))", foo);`

My bad...
Thanks for your help.

[2018-01-24 22:31] #140 closed

[2018-01-26 15:11] #139 closed

[2018-01-26 16:15] MaklaCof opened #141 "Question: Is there TryParseLambda"
Hi,
I am storing entity properties (Grid columns) to database (together with width, sort, filter ...). When I get expression from database, I am trying to get actually `Entity` property, so I can get type, and other additional attributes required for application to work.
Problem is when entity property is removed or renamed I get error :

 in code:
[code]
I downloaded source code and search for me

[2018-01-27 07:51] jogibear9988 commented on #136
Or we use: https://msdn.microsoft.com/en-us/library/system.dynamic.dynamicobject.getdynamicmembernames.aspx

[2018-01-29 18:52] StefH commented on #141
You can use a `try` `catch` construction, I think that's the only thing what you can do.
IF I had to create a `TryParseLambda` method, that would be the same I guess.

[2018-01-29 19:57] StefH commented on #98
Another option would be to pre-process the string, so that

[code]

becomes

[code]

[2018-02-01 16:04] bpkinez opened #142 "Question: GroupJoin issue"
Hi,

I'm trying to group join two collections (employees and paychecks) with join key "EmployeeId". With this method (System.Linq) everythings works fine:

[code]

but with this method (System.Linq.Dynamic.Core):

[code]

I get error "The string argument ItemName cannot be empty."

Is there any solution to this?

[2018-02-02 17:23] StefH commented on #142
Can you try this:

[code]

[2018-02-03 18:14] mhosman opened #143 "Question : How to orderby an attribute of a List"
I have for example a class User with a list of UserTypes. In the class userType I have an attribute type:string. Now I want to order all Users by UserTypes.Type asc. How can I do this writing a query in string using System.Linq.Dynamic.Core? I'm able to search results using Any but I cant order results.

[2018-02-04 08:58] StefH commented on #143
Not 100% the same as you ask, but this example gives some hints:
https://github.com/StefH/System.Linq.Dynamic.Core/blob/40d3b73ffadcb2a6e927767a9b9f7cdd49641663/test/System.Linq.Dynamic.Core.Tests/QueryableTests.OrderBy.cs#L28

[2018-02-05 09:59] MaklaCof commented on #141
Ok, thank you.
I was trying to avoid exceptions.

[2018-02-05 09:59] #141 closed

[2018-02-05 13:26] bpkinez commented on #142
I tried your code and exactly same error ocurred.

[2018-02-05 21:09] StefH commented on #142
See https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/test/System.Linq.Dynamic.Core.Tests/QueryableTests.GroupJoin.cs

Tests `GroupJoin_1()` and `GroupJoin_2()`.

[2018-02-06 09:08] bpkinez commented on #142
I looked at these tests and try with this:

[code]

Real query works but dynamic doesn't. My entity classes are:

[code]

[2018-02-06 17:11] StefH commented on #142
It works fine for me, I've added example `GroupJoin_3().`

Are you sure you are using correct NuGet?

`System.Linq.Dynamic.Core`
version="1.0.8.2"

[2018-02-07 08:45] bpkinez commented on #142
I looked at example GroupJoin_3(), it does not work again. I get same error "The string argument ItemName cannot be empty". I use correct NuGet package:

[code]
with .NET Core 2.0 and EF Core 2.0.

[2018-02-07 12:25] StefH commented on #142
I've created some example console-apps, see https://github.com/StefH/System.Linq.Dynamic.Core.TestApps

However these apps do not connect to real DB. Maybe that differs from your application?

[2018-02-07 21:19] StefH commented on #142
I've also updated my example app (https://github.com/StefH/System.Linq.Dynamic.Core.TestApps/tree/master/ConsoleApp.NetCore2) to use a real DB with EF 2.01

And this works fine.

So there should be a difference?
Maybe about `[Key]` and `[ForeignKey("EmployeeId")]` ?

[2018-02-08 08:59] bpkinez commented on #142
Hi Stef,

finally it's working now. The problem was that my paycheck list is `IQueryable<Paycheck>` type, but when I convert that list to `List<Paycheck>` type, results are yielded.

Before:
[code]

After:
[code]

[2018-02-08 09:23] StefH commented on #142
Ok. Closing this issue.

[2018-02-08 09:23] #142 closed

[2018-02-24 14:42] mhosman commented on #143
Hey @stefH thanks for your reply. You mean to order using a Select ???

[2018-02-26 19:33] JeffyW opened #144 "Static / Constant properties and Enums not supported as parameters in method calls"
I'm looking to use `System.Linq.Dynamic.Core` as a way of parsing dynamic lambda expressions over known entity types as a way of serializing "expressions".

One of the simple things we'd be looking to support is case-insensitive comparison of strings.  While one way to support this would be to force an expression like `P.String.ToLower() == "string"`, it would be nice if we could support `P.String

[2018-03-01 12:38] FransVanEk opened #145 "Question : Performance and 'System.IO.FileNotFoundException' in System.Private.CoreLib.dll"
When appying an orderby
 source.OrderBy(destinationProperty + (orderDescending ? " descending" : " ascending"));

in the debug window it shows 6 times:

Exception thrown: 'System.IO.FileNotFoundException' in System.Private.CoreLib.dll

and the whole operation takes about 0.6 sec to complete.

[2018-03-01 13:05] StefH commented on #145
Maybe related to:
https://stackoverflow.com/questions/44183208/why-is-visual-studio-telling-me-i-need-to-reference-system-private-corelib

?

[2018-03-01 13:52] FransVanEk commented on #145
I don't think so since the error was thrown from System.Private.Corelib... so i think i have a reference to it. But if i don't what should i do to reference it in the solution. I thought system.private.corelib is the main assembly for the core framework.

[2018-03-01 14:54] StefH commented on #145
Yes you are correct. It's a core lib.

[2018-03-09 10:04] MaklaCof opened #146 "Question: where should support question be posted (here or SO)"
I just post a question on [SO](https://stackoverflow.com/questions/49190991/how-to-reference-previousordered-filtered-results-in-dynamic-linq-expression), because I am having difficulties how to dynamically create this query:
[code]

I was searching where should I post my question. Some repositories requires to use GitHub issues only for bug fixes and use SO for support. Maybe adding this informat

[2018-03-09 10:41] MaklaCof commented on #146
The problem was solved. The question remains where should we post support question and if the answer is SO is there any tag for this repository?

[2018-03-09 10:43] StefH commented on #146
SO and maybe WIKI (https://github.com/StefH/System.Linq.Dynamic.Core/wiki/Dynamic-Expressions) because issues here get closed and are invisible

[2018-03-09 10:46] #146 closed

[2018-03-13 15:05] vasicvuk opened #147 "Question: Making some queries dynamic possible"
Some queries are not possible to create using Select(string) method or they are not documented how to do them. For example:
**Entity Framework Core:**
[code]
**Dynamic query**
`query.Select("new (Name, Requests)")`

Is there a way to make Requests also has on selection like:

`query.Select("new (Name, Requests: new (Name)");`

[2018-03-13 17:57] StefH commented on #147
I think this can be done like:
https://github.com/StefH/System.Linq.Dynamic.Core/blob/02fd83b24b0e8be92659aabec9f6ae45382f2ae2/test/System.Linq.Dynamic.Core.Tests/QueryableTests.Select.cs#L44

[2018-03-21 11:47] IainmXray opened #148 "Question: Using where filter it.Contains(@0) fails where it.Contains(\"keep\") works"
Hi,

Trying to create a fairly long filter expression so tried extracting the parameter in to the parameter list.  But found that the following does not work:

[code]

Error "No applicable method 'Contains' exists in type 'String'"

Whereas the following does works fine:

[code]

[2018-03-24 06:35] StefH commented on #148
Hello @IainmXray ,

The code should be:
[code]

[2018-03-24 17:15] StefH commented on #148
It should be

[code]

[2018-03-27 17:48] rcinge opened #149 "GroupJoin/SelectMany issue"
I am building a left outer join query on EF tables and I am using System.Linq.Dynamic.Core to do it.

When I attempt to enumerate a query that contains a dynamic .GroupJoin() and/or .SelectMany(), I receive an ArgumentException: "The string argument 'ItemName' cannot be empty."

I have seen this issue/question: [https://github.com/StefH/System.Linq.Dynamic.Core/issues/142](url)

However my applica

[2018-03-27 18:47] StefH commented on #149
It's also difficult for me to deep dive into this specific question.

Did you also try to write the code first by using non-dynamic code?

[2018-03-27 21:29] rcinge commented on #149
Yes, the tests labeled 2a and 2b use non-dynamic (or "real") LINQ entirely, and they succeed.

After your comment, I had the subtle brick-to-the-head realization that I could just mix the "real" and the dynamic methods (all I need is dynamic Where()). Using the combination of methods meets my application's requirements...

I have updated my test program with tests that use the mixed methods, in ca

[2018-04-07 06:11] jogibear9988 opened #151 "Parse Query Syntax like Code"
Is it possible to parse a expression in query syntax?

means:

     from a in db.query<A>() join ....

[2018-04-07 08:10] ysmoradi opened #152 "Multiple assemblies with equivalent identity have been imported"
I'm not sure this repository is suitable for this issue or not. But let's start!

I've created multi target project for following targets:
[code]

Everything works fine, but when I add your project, it says following:

[code]

It raises a build error for **android** target, but error is talking about **Xamarin.iOS**\v1.0\Facades\System.Reflection.Emit.dll !!!

What's your idea?

For now I'm using

[2018-04-07 11:11] StefH commented on #151
Not possible at this moment. A new parser needs to be written.

[2018-04-16 16:26] acmajia opened #153 "Issue: Performance while working with EF core"
Recently, I want to use dynamic linq in my aspnet core web application, to dymaniclly build my query.

So I want to test the performance of dynamic linq while working with ef core.

In my test, I use EF core Inmemory database to store my data, then query the data by origin linq expression and dynamiclinq, and compare the time they cost.

Here is my codes:

[code]

As you can see, in my codes, I lo

[2018-04-16 18:24] StefH commented on #153
Generating a dynamic class takes some time, but this should only be done once I hope.

Can you create a full example project ?

[2018-04-17 01:57] acmajia commented on #153
Hello, StefH. Thanks for the reply!

And I'm sorry about the previous test result.
When I ran the previous test, I did'n close my Visual Studio diagnostic tool.
And when I ran it by ctrl + F5 (without the performance monitoring),
here is my console outputs:

00:00:16.8311778 -> origin linq expression query 100_000 times
00:00:43.1919448 -> dynamic linq query 100_000 times

And this is my git repos

[2018-04-17 17:20] jogibear9988 opened #154 "Remark: Semantic Versioning..."
We wanted to Upgrade a Project, wich used Version 1.0.6.8, but the Update did not work, because GlobalConfig was removed!

I think you sould use Semantic Versioning, so we see if the Version has breaking Changes

[2018-04-17 17:42] StefH commented on #154
Normally I try to use Semantic Versioning, but maybe in this case I forgot.

[2018-04-17 18:05] StefH commented on #153
I found the code which has the most performance impact, it's `ExpressionParser.cs`. I will take a look if I can cache this.

[2018-04-17 18:48] dyskograf opened #155 "Question: OrderByDescending availability"
Is it currently available with property name parameter?

[2018-04-17 19:13] jogibear9988 commented on #154
Thx. Means on Breaking Changes we increase Major?

[2018-04-17 19:33] StefH commented on #154
Major.Minor.Patch

so indeed next version would be 1.1.0

However I normally don't increase to the second digit because

[2018-04-18 18:26] fchiumeo commented on #105
not working

[code]

Microsoft.EntityFrameworkCore.Query:Warning: The LINQ expression 'where Like([<generated>_1].RazonSocial, "%a%")' could not be translated and will be evaluated locally.

[2018-04-18 18:38] jogibear9988 opened #157 "Doesnot work with Mono -> SkipWhile Method not found"
DynamicLinq Core does not work with mono atm.

Can we fix this? Method SkipWhile isnot found. Following methods exist in mono:
<img width="492" alt="bildschirmfoto 2018-04-18 um 20 38 11" src="https://user-images.githubusercontent.com/364896/38951311-82c604c4-4348-11e8-972f-d9984d9813e9.png">

[2018-04-18 18:51] jogibear9988 commented on #157
System.TypeInitializationException: The type initializer for 'System.Linq.Dynamic.Core.DynamicQueryableExtensions' threw an exception. ---> System.Exception: Method not found: SkipWhile
  at System.Linq.Dynamic.Core.DynamicQueryableExtensions.GetMethod (System.String name, System.Int32 parameterCount, System.Func`2[T,TResult] predicate) [0x00041] in F:\csharp\git\github\System.Linq.Dynamic.Core\sr

[2018-04-18 19:04] jogibear9988 commented on #157
This Code:

        private static MethodInfo GetMethod(string name, int parameterCount = 0, Func<MethodInfo, bool> predicate = null)
        {
            try
            {
                return typeof(Queryable).GetTypeInfo().GetDeclaredMethods(name).Single(mi =>
                    mi.GetParameters().Length == parameterCount + 1 && (predicate == null || predicate(mi)));
            }

[2018-04-18 19:12] jogibear9988 commented on #157
In Net 4.7.1. this is print out:

	Methods with Name:SkipWhile
	Method Count2
	System.Linq.Enumerable+WhereEnumerableIterator`1[System.Reflection.MethodInfo]
	System.Linq.IQueryable`1[TSource] source
	System.Linq.Expressions.Expression`1[System.Func`2[TSource,System.Boolean]] predicate
	--------------------
	System.Linq.Enumerable+WhereEnumerableIterator`1[System.Reflection.MethodInfo]
	System.Lin

[2018-04-18 19:14] jogibear9988 commented on #157
so you'll see mono has a differnet ToString implementation! Think we should change the code so it does notlook for strings!

[2018-04-18 19:28] jogibear9988 commented on #157
I've reported a Mono Issue too, but I think we should fix, as I think the too string output may change on a new runtime

[2018-04-19 12:29] jogibear9988 commented on #153
It's obvious that it will take more time. With dynamic linq you create an expression tree at runtime, wich is then used against the queryable. With your other example, the expression tree is created at compile time.

But you can use ExpressionParser directly, and store the expression and then use the cached expression in the where.

[2018-04-19 12:31] jogibear9988 commented on #147
close?

[2018-04-19 12:31] #151 closed

[2018-04-19 12:31] jogibear9988 commented on #148
close?

[2018-04-19 12:34] jogibear9988 commented on #128
I think, you should able house: title.Contains("string", StringComparison.OrdinalIgnoreCase);  if it works is a question of your linq adapter

[2018-04-19 12:58] IainmXray commented on #148
Sorry for the delay in replying.  Whilst this solution works for a query with one parameter it does not work for multiple parameters where you are building the set up dynamically and want to pass the params as an array.  Sorry I should have made that explicit in the query

[2018-04-19 17:05] StefH commented on #155
Do you mean code like this:
https://github.com/StefH/System.Linq.Dynamic.Core/blob/10fc9a2ec8677f638210804c0ca636de021e6c9a/test/System.Linq.Dynamic.Core.Tests/QueryableTests.OrderByDescending.cs#L17 ?

[2018-04-19 17:08] StefH commented on #148
Can't you just switch the code?

Like
[code]

[2018-04-20 07:13] acmajia commented on #153
Thank you, jogibear.

According to what your said, I used `DynamicExpressionParser` to compile the expression once, and caching it. Then every time I pass a compiled expression to my queryable, instead of a predicate string.

Here is my code:

`
var expression = DynamicExpressionParser.ParseLambda(typeof(Person), null, $"$.Age==@0 and $.Name==@1", 1, "tom");
            for (var i = 0; i <= 10_000

[2018-04-20 07:44] acmajia commented on #153
Hello, jogibear.

I found `ExpressionParser` is `internal`, so I used `DynamicExpressionParser` to compile my expression. It is just like below:

`DynamicExpressionParser.ParseLambda(typeof(Person), null, $"$.Age==@0 and $.Name==@1", 1, "tom");`

In this way, I can solve part of my problems, but my query parameter values are dynamic. That means, I may query `$.Age==1 and $.Name==tom` or `$.Age==2

[2018-04-20 11:40] jogibear9988 commented on #153
I don‘t think the cache should be in dynamic linq. If it is, how big it should be,... I won‘t like it.

I think we should be able to return a Compiled Expression Tree, to wich you can hand over the paramters later.

I‘ll look if this is possible. But don‘t know when I‘ve time! And maybe you still need to pass the first parameters, cause somtimes the type of the parameter is needed to create the tr

[2018-04-22 07:32] StefH commented on #153
With some changes I get on my machine this performance:
[code]

[2018-04-25 08:47] polushinmk opened #160 "Question: Generic ParseLambda method"
Hi!
It will be awesome to add Generic type to ParseLambda method like in original library https://github.com/kahanu/System.Linq.Dynamic

Example:
[code]

IMO it is more convinient to use

[2018-04-25 17:56] StefH commented on #153
New nuget will be uploaded.

[2018-04-25 17:56] #153 closed

[2018-04-25 18:51] StefH commented on #160
In this library, you should be able to use code like this:
[code]

See https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/DynamicExpressionParser.cs#L42

[2018-04-26 06:17] polushinmk commented on #160
Strange things but yesterday I only saw non-generic ParseLambda method and now I see generic version too.
Sorry, all works fine, this is something wrong with my eyes :)

[2018-04-26 15:01] StefH commented on #160
It was only added in last update I think.

[2018-04-26 15:01] #160 closed

[2018-04-27 08:19] AndersMad opened #161 "Error (1.0.8.3 to 1.0.8.4 on EF 6.2) "No generic method 'OrderBy' on type System.Linq.Queryable""
I use Roslyn to dynamically compile script with dynamic queries in it (on EF 6.2 @ .NET 4.7.1) - and after updating to 1.0.8.4 (from 1.0.8.3) I get this error on 2. compile (first is ok):

**Error:** No generic method 'OrderBy' on type 'System.Linq.Queryable' is compatible with the supplied type arguments and arguments. No type arguments should be provided if the method is non-generic. :

**Stack:

[2018-04-27 08:36] StefH commented on #161
This is indeed strange. Are you sure it's caused by the new version (1.0.8.4) ?

Can you provide an example project with some more details?

[2018-04-27 09:44] AndersMad commented on #161
Yes, I'm sure its the version - maybe somehow its the (now static) class `PredefinedTypesHelper` ctor and its static data - or the missing `#if NETSTANDARD2_0` etc. in the try-add section?

I will investigate more at a later time (haven't got that time right now) and create a repro. For now I'll just have to switch back.

[2018-04-27 10:14] AndersMad commented on #161
Or more likely its the new `ParameterExpressionHelper.CreateParameterExpression` that cache on `source.ElementType` - but if its a wrapper and/or anonymous type it conflicts?

[2018-04-27 10:49] StefH commented on #161
Thanks for reporting, for now I've unlisted the package from NuGet and will investigate.

[2018-04-27 11:15] StefH commented on #161
The `PredefinedTypesHelper` could not be the issue, because I use a try-catch to find a type, and if it's not found, it's not added.

The `ParameterExpressionHelper` could be the issue.

I did upload new NuGet : 1.0.8.5

[2018-04-27 11:32] AndersMad commented on #161
Thanks, 1.0.8.5 works!

[2018-04-27 11:35] #161 closed

[2018-05-03 14:14] eosfor opened #162 "Question: Is it possible to call a generic method in a dynamic manner"
Hello colleagues, sorry, the question maybe a bit silly, as i'm mot an experienced C# developer.

I got the following piece of code:

[code]

is it possible to convert it to something like
[code]

[2018-05-04 07:53] hypetsch opened #163 "Issue: Using escaped strings is not working correctly"
In issue #65 some issues regarding the usage of escaped strings have been fixed. I am currently facing another issue in combination with escaped characters (backslashes and quotation marks).
`TextParser.cs` seems to not handle those scenarios correctly.
I have been able to reproduce the issue in unit tests:

[code]

I think the issue is that the current implementation assumes that it is always a f

[2018-05-10 09:32] yyjdelete opened #164 "Issue: The option `UseDynamicObjectClassForAnonymousTypes` does not work correctly"
When turn it on, just get an `System.ArgumentException: 'Incorrect number of arguments for constructor'`

https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/Parser/ExpressionParser.cs#L1159-L1202

The option is only used when not in `UAP10_0`, but the ctor with `KeyValuePair<string, object>[]` is only available in `UAP10_0`.

[2018-05-10 13:41] yyjdelete opened #165 "Consider fit the rule of AnonymousTypes for EFCore2.1?"
EFCore2.1(in rc1 stage currently) add an new ability to do [LINQ GroupBy translation](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-2.1), but only works with basic types, anonymous types and Tuple(with ctor).

But by default, `System.Linq.Dynamic.Core` use `LinqProviderExtensions.IsLinqToObjects(IQueryable)` to get `createParameterCtor`(which is false for EFCore), and there is no wa

[2018-05-11 13:50] StefH commented on #165
So what you say is that is that in case of doing a `GroupBy` with `EFCore2.1 rc1`, the helper method `LinqProviderExtensions.IsLinqToObjects(...)` should actually return true instead of false ?

[2018-05-11 13:52] StefH commented on #164
I'll investigate this issue.
Maybe you can write a unit-test to show this issue ?

[2018-05-11 15:08] yyjdelete commented on #164
Do you mean #165?
This one is simple
`DynamicExpressionParser.ParseLambda(new ParsingConfig { UseDynamicObjectClassForAnonymousTypes = true }, null, "new {1 AS Id}");`

[2018-05-19 02:26] yyjdelete commented on #165
Is there any way to test for `createParameterCtor` with Linq2Obj? I'm not sure if it's still needed after #117(aebdd1b).

[2018-05-20 04:44] KentRollins commented on #144
You can do what you are asking for with at least v1.0.8.2.  You need to tweak your expression slightly and make the StringComparison type available to the expression parser so it knows how to handle it.

First, change your expression by dropping the "System.".  This is throwing the parser off and might be considered a bug by itself.
`"P.String.Equals(\"hi\", StringComparison.OrdinalIgnoreCase)"`

[2018-05-20 06:02] KentRollins opened #167 "Issue: Memory leak in `ConstantExpressionHelper.cs`"
I believe I've discovered a memory leak in the parsing of literal values (numerics at least) in expressions.  I have a server that runs 24/7 and receives workunits.  The workunits contain expressions that are compiled when received.  I noticed a memory leak and used JetBrains dotMemory to investigate.  It indicated that there was a ConcurrentDictionary that was slowly accumulating objects.  My app

[2018-05-20 09:16] StefH commented on #167
Thank you for analyzing this issue. I was able to reproduce and find the leaky code.

I've created a new PR which includes this fix:
https://github.com/StefH/System.Linq.Dynamic.Core/pull/168

If you like you can review the code and use this source code branch for testing. Else I can also create a NuGet for you to test your scenario.

[2018-05-20 21:15] KentRollins commented on #167
Stef, the code update looks good.  I am currently on Visual Studio 2015 and am not in a position to upgrade so I can't build the library.  This fix looks very simple so I have high confidence in it and I am happy to wait for an official build.  However, if you would like me to try an early build in my environment to confirm, I would be happy to accept a nuget.

[2018-05-21 05:57] StefH commented on #167
I'll create a new NuGet.

[2018-05-21 05:57] #167 closed

[2018-05-24 02:06] KentRollins commented on #167
Stef, I want to let you know that I downloaded and rebuilt with 1.0.8.8 which contains the ConstantExpressionHelper fix.  After almost 24 hours, I could not detect a memory leak by looking at Task Manager.  However, I ran the process in dotMemory and the data there seem to indicate that there is still a leak in this area.  Things are improved by about an order of magnitude.  The test case I submit

[2018-05-27 09:27] StefH commented on #155
@dyskograf Does this answer your question?

[2018-05-29 06:04] StefH commented on #167
Ok, thanks a lot for finding this issue.

[2018-05-31 19:12] bobbymthompson opened #169 "Using Max requires a cast to object"
Using this test code:

[code]
Which generates:
[code]

Using Max as a dynamic where clause, the following exception occurs:

System.Linq.Dynamic.Core.Exceptions.ParseException: 'Operator '==' incompatible with operand types 'Object' and 'DateTime?''

If you cast the right expression to object, the comparison succeeds. I do not believe that the left expression should be cast to object.

I traced th

[2018-06-01 10:49] StefH commented on #169
Quick question: do you get the same error when using `DateTime` instead a nullable `DateTime` ?

[2018-06-02 09:10] nsarris opened #170 "Question: Support to build Expressions besides LambdaExpressions"
I'm trying to migrate an old project that had the original ms code embedded to using this library.

However this version has removed the Expression returning Parse methods and the parser class is internal so there is no way of using this other than building a lambda and replacing the input parameter with a visitor which is kind of costly.

For the record we are using this library to parse arbitrar

[2018-06-02 09:45] StefH commented on #170
Can you post a clear code example?

[2018-06-02 10:17] nsarris commented on #170
I'm refering to the Parse method as it appears in your wiki which seems to have been removed:

[https://github.com/StefH/System.Linq.Dynamic.Core/wiki/Dynamic-Expressions#the-parse-method](url)

[2018-06-03 10:30] StefH commented on #143
No, ignore the `Select(...)` , that's just an example.

The statement is `Roles.OrderBy(Name)`, and the example code would be like:
[code]

[2018-06-03 10:30] #143 closed

[2018-06-03 10:31] StefH commented on #155
Closing, if you still have questions, please reopen this one.

[2018-06-03 10:31] #155 closed

[2018-06-03 10:39] nsarris commented on #170
This class exposes only methods that return LambdaExpressions (LambdaExpresion or Expression<Func<T,bool>> )

They all eventually do this:

Expression.Lambda(parser.Parse(args))

The old version exposed the same methods without the lambda conversion returning "unbound" expressions, essentially ommiting the Expression.Lamda() and returning the result of parser.Parse()

So basicly something like thi

[2018-06-04 15:17] StefH commented on #170
So if the `ExpressionParser` was public, this will solve your problem?

[2018-06-04 15:31] nsarris commented on #170
Yeah sure that would work great

Στις Δευ, 4 Ιουν 2018, 18:17 ο χρήστης Stef Heyenrath <
notifications@github.com> έγραψε:

[2018-06-05 01:10] striker8118 commented on #169
Yes. It doesn't matter if it is nullable or not.

[2018-06-05 19:57] StefH commented on #170
New NuGet will be uploaded in some time.

[2018-06-05 19:57] #170 closed

[2018-06-06 09:18] hypetsch opened #171 "File version attribute is 0.0.0.0"
The file version attribute of "System.Linq.Dynamic.Core.dll" is 0.0.0.0. I think it would be good the have the actual version set there:

![image](https://user-images.githubusercontent.com/16302578/41029162-476aa69c-697b-11e8-8c4f-18d7b1565ce1.png)

[2018-06-06 17:43] mhubis opened #172 "Issue: DynamicQueryableExtensions.OrderBy extension method not using ParsingConfig parameter"
This method is not passing the ParsingConfig parameter to the OrderBy method. This is causing the default ParsingConfig to be used by the ExpressionParser. The issue exists in DynamicQueryableExtensions.cs at line 960.

[2018-06-06 18:14] StefH commented on #172
Solved, please use new NuGet

[2018-06-06 18:14] #172 closed

[2018-06-06 18:27] mhubis commented on #172
Thanks!

[2018-06-09 10:15] VAdri opened #173 "Error when trying to access an object declared on another lambda"
Trying to parse a dynamic linq expression with multiple lambdas, when accessing an object declared on a parent lambda, throws an error:

[code]
[code]

The parser ignores the identifiers (`e` and `it`) and uses automatically the last lambda that was declared, which leads to an error when trying to access the `Company` object inside the `Employee` lambda.

However, this behavior works as expected o

[2018-06-10 18:08] fredrikkronander opened #174 "Including more methods from System.Math?"
Hi,

Would it be possible to add more methods from System.Math, for example Math,Round() and similar? (right now you can only use the constants). It would help a lot in my current project where I use dynamic expressions to query data, and handling such math operations outside the expressions will be tricky there.

Regards
Fredrik

[2018-06-13 17:42] mukeshrebari opened #175 "Some extension methods to write Rule Engine using Dynamic Expressions."
Hi Everyone,
   I was just trying to come up with some kind of rule engine for the customer-specific requirements in SaaS Model. So I wrote some extension methods around this Library. Can you guys suggest me if, I am doing this in right way or not?

[dynamic_expression.cs](https://gist.github.com/indiaweblab/1a478a059c4bedd8571c8774ca11225a)

[2018-06-17 16:22] byrnedo commented on #165
Hi, has there been any movement on this? I'm seeing that groupBy isn't getting translated on ef core 2.1

[2018-06-18 18:02] StefH commented on #165
@byrnedo It's not translated at all ? Or just not optimized as the first post from this issue describes?

@yyjdelete I'll check the code to see if I can detect EFCore2.1

[2018-06-19 06:44] byrnedo commented on #165
Sorry, meant that it says "could not be translated and will be evaluated locally".
[code]
I also happen to be doing a 'Sum' as well and that also gives the same warning.
@StefH

[2018-06-19 09:22] yyjdelete commented on #165
@StefH
I think `createParameterCtor` can be `true` after #117(aebdd1b) for most QueryProvider which has natively support for AnonymousTypes, since now the same Expression as native AnonymousTypes  does, but not sure if it will break some special provider.

[2018-06-22 14:41] Blanen opened #176 "Question: Left outer join on 2 IQueryable<Object> objects"
Hey, I want to know if it's possible to join 2 IQueryable<Object> objects with a LEFT OUTER join.

Let's start with an example:

[code]
This works.

The reason I cast them to IQueryable<Object> is to simulate getting them during runtime by a string as an api call and getting them during reflection. To my knowledge, it's impossible to retain their 'true' Type.

How could I turn this into a left out

[2018-06-24 10:20] StefH commented on #53
I guess there is no solution for this, closing this issue.

[2018-06-24 10:20] #53 closed

[2018-06-27 19:09] StefH commented on #165
I'm able to reproduce this issue with a sample console-app and I'll investigate.

[2018-06-27 20:03] StefH commented on #165
@byrnedo There is not really an easy way of detecting if EFCore 2.1 is used, so for now I'll just update the `ParsingConfig` with a new property:

[code]

See linked checkin / branch for more details.

[2018-06-27 23:09] yyjdelete commented on #165
@StefH
1. Also consider make `ParsingConfig.Default` public for easy config?
2. It also needed for `Select`(not the lastest and see the difference)/`SelectMany`/`GroupJoin`/`Join`/`Where` and some others
Maybe all method with `selector` or `keySelector` or `predicate`, not sure for some method like `FirstOrDefault` in an subquery.
[code]

[2018-06-28 07:48] fabich opened #178 "No generic method 'Contains' on type 'System.Linq.Enumerable"
Hi

I have the following issue:
[code]

The code that I'm trying to run:
[code]

I saw in other issues that the following code runs without any issues:
[code]

What am I missing?

[2018-06-28 08:18] #178 closed

[2018-06-28 08:18] fabich commented on #178
wrong type of list.
list needed to be List<int>

[2018-06-28 09:37] StefH commented on #165
1. Good point. Do we want a `Default` and/or a `DefaultEFCore21` static public ?
2. Correct, I realized this morning that I missed some code. But I need to double check if that this change will not break other code.

[2018-06-29 15:45] StefH opened #179 "Feature: Implement SourceLink"
SourceLink can be added, so users can debug their own stores much more easy. More info on https://github.com/dotnet/sourcelink

[2018-06-29 16:13] alexfestbaum opened #180 "GroupBy fails for field named SHORT"
Issuing a GroupBy against a entity field named SHORT results in the following error:

'.' or '(' or string literal expected

`var result = baseData
                .Select(entityName)
                .GroupBy("SHORT", "it")
                .Select("new (it.Key as value, it.Count() as count)")
                .ToDynamicList();
`

Short seems to be a protected key/word. How can I resolve this issue?

[2018-07-01 20:57] espray opened #181 "Question: QueryValidator"
Any ideas on how to implement something like a QueryValidator? Example my be to not allowing filtering on a field(s)?

[2018-07-12 09:31] leehom0123 opened #182 "Error when navigation property which named "Parent""
There has an error when navigation property which named "Parent".

Here is the entity code:

`public class A {
    public A Parent{get;set;}
    public List<A> Children {get;set;}
    public int Id{get;set;}
}

IQueryable<A> query = ......;
query.Sort("Parent.Id");    //exception: No 'parent' is in scope

`

[2018-07-15 17:55] StefH commented on #165
@yyjdelete Can you help me with point 1 ?

[2018-07-17 21:52] dixitsuneel opened #183 "Question: Issue with DateTime Field"
If the model contains a DateTime field
[code]

If I apply a filter using `queryable.Where("DateLastModified > '2018-07-17'")` then with Ef Core 2.1 I am seeing that the query is translated to

[code]
This leads to the sql query being failed.

It wasn't an issue with Ef Core 2.0 but I am seeing this issue with Ef Core 2.1.1

[2018-07-19 03:24] sspekinc opened #184 "Feature: Generate Parameterized SQL"
Dynamically generated SQL contains **inline constants**, which causes SQL Server to compile the query plan every time a new constant is provided for the same query. Compilation is a costly operation and it can be avoided if the generated SQL is parameterized.

`Expression.Constant` calls can be replaced by a "wrapped" constant as explained in the article below so that the generated SQL is paramete

[2018-07-19 08:22] StefH commented on #183
Hello @dixitsuneel.

I did test this with EF 2.1.1 with real database en with in-memory database, and in both cases all works.

Note that you need `\"` instead `'`.

Example:
[code]

[2018-07-21 09:12] StefH commented on #184
This looks interesting. I'll investigate this.

[2018-07-21 15:29] sspekinc commented on #184
I have modified the class `System.Linq.Dynamic.Core.Parser.ExpressionHelper` so that it generates  parameterized SQL. It's working for me so far, but I couldn't run the tests yet so please take it with a grain of salt. Here is the proposed changes below.

#185

[2018-07-22 08:40] StefH commented on #184
I added some review comments, please take a look.

About the unit-tests, why doesn't this work on your machine?

And this PR did trigger CI build + test, take a look at the 3 fails.

[2018-07-22 10:12] StefH commented on #180
`SHORT` is *probably* a reserved keyword.

[2018-07-22 10:12] #180 closed

[2018-07-22 10:17] StefH opened #186 "Feature: include SonarCloud code checks"
Just like https://github.com/WireMock-Net/WireMock.Net

[2018-07-24 11:29] StefH commented on #128
@jogibear9988 This will not work for this library I think.

[2018-07-25 17:25] OlegNadymov opened #187 "Add custom static classes for parsing"
Hi!
Could you create a convenient way of adding my custom static classes which I can use for dynamic parsing?
I've used for System.Dynamic.Linq this way [https://stackoverflow.com/a/18313782](https://stackoverflow.com/a/18313782). It uses Reflection. So it's not convenient.
I hope you can explain me how can I do it in System.Linq.Dynamic.Core.

Thank you in advance!

[2018-07-26 07:07] yyjdelete opened #188 "Implicitly conversion from a non-nullable value type to the nullable form of that value type is broken?"
See https://github.com/StefH/System.Linq.Dynamic.Core/wiki/Dynamic-Expressions#conversions
Or I misused this in an not proper way?

Hit this issue with debug an query issue with efcore when eval at local, and it's able to write an reproduct case without efcore. Tested with `1.0.8.11`

[code]

Update: This get null on netcoreapp, and an `System.Security.VerificationException:“操作可能会破坏运行时稳定性。”`(`Oper

[2018-07-26 14:01] StefH commented on #188
Can you please post a full project example for dotnet core / normal .net ?

[2018-07-26 14:21] yyjdelete commented on #188
@StefH
https://github.com/yyjdelete/DynamicLinqTestCast
`dotnet run -f net45` or `dotnet run -f netcoreapp2.1`, or you can retarget to other installed TargetFrameworks.

[2018-07-26 18:22] StefH commented on #188
Thanks.

I'm able to reproduce and I've fixed it. Now I need to add some unit-tests.

You can already take a look here:
https://github.com/StefH/DynamicLinqTestCast/tree/test_issue_188
+
https://github.com/StefH/System.Linq.Dynamic.Core/tree/issue_188

[2018-07-27 02:41] yyjdelete commented on #188
👍

[2018-07-27 07:14] StefH commented on #188
I'll create a new NuGet in some time.

[2018-07-27 07:14] #188 closed

[2018-07-27 09:07] StefH commented on #187
Did you try this solution ?
https://stackoverflow.com/questions/18313362/call-function-in-dynamic-linq/18313782#18313782

Or else I should make this method public:
https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/Parser/PredefinedTypesHelper.cs#L70

[2018-07-27 13:04] OlegNadymov commented on #187
Yes, I did. I had tried this solution and wrote about it in my message. The solution is based on Reflection. It's not convenient.

Could you make the method with the signature is like below:
public static void TryAdd(Type type, int x)
And what is parameter "x" mean here?

Or if you don't mind I can fork your project and create pull request.
What do you think?

[2018-07-28 03:11] yyjdelete commented on #105
One workaround is to add both `Microsoft.EntityFrameworkCore.EF` and `Microsoft.EntityFrameworkCore.DbFunctionsExtensions` as `customTypes` and use it as
`DbFunctionsExtensions.Like(EF.Functions, "matchExpression", "pattern")`

[2018-07-28 07:10] StefH commented on #105
@fchiumeo Make sure to include the NuGet `Microsoft.EntityFrameworkCore.DynamicLinq` because this functionality is only present in EF Core.

@yyjdelete
This is already implemented:
https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/Microsoft.EntityFrameworkCore.DynamicLinq/DynamicFunctions.cs

[2018-07-28 07:11] StefH commented on #105
@czielin No support possible for EF 6.

[2018-07-28 07:38] yyjdelete commented on #105
@StefH
Yes, it can get the same data, but it's evaluated locally instead of be translated to SQL. You can see the same warn as @fchiumeo described in the log output with `ConsoleApp_netcore2.0_EF2.0.1`(or 2.1), and see no `like` in the output SQL.

[2018-07-28 07:46] #186 closed

[2018-07-28 13:57] StefH commented on #105
OK. I'm able to reproduce. (Sometimes it seems the console logging is lagging behind or not showing all?)

@yyjdelete Do you have a fix ? Because I tried
[code]
And that does not work.

[2018-07-28 14:54] yyjdelete commented on #105
@StefH
I don't have, I just use the extension methods as normal static method directly now.
[code]

[2018-07-29 09:10] StefH commented on #105
In that, the workaround would be just to add these here:
https://github.com/StefH/System.Linq.Dynamic.Core/blob/EF_Functions_Like/src/System.Linq.Dynamic.Core/Parser/PredefinedTypesHelper.cs#L66

This works fine: I did trace the sql commands with sql profiler.

[2018-07-31 09:19] StefH opened #191 "Feature: re-enable support for uap10"

[2018-07-31 14:39] Blanen commented on #176
@isabekyan
The purpose is not really relevant, as these are not real use cases. It's about the technical aspect with not having a the 'actual' Generic Type Argument during compile time. An example for either is ok.

Thanks for notifying me of the GroupJoin method anyway.

[2018-07-31 15:59] OlegNadymov commented on #187
It's a quite good solution. But I have to add reference to `System.Linq.Dynamic.Core` in all projects in which I have classes for dynamic parsing from. Also I need to decorate the classes with `DynamicLinqTypeAttirubute`. I can do it for my case. But if I have an external project I won't can do it.

[2018-07-31 16:56] StefH commented on #187
You can also extend the https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/CustomTypeProviders/DefaultDynamicLinqCustomTypeProvider.cs and add your types to the list there, see for example here : https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src-console/ConsoleAppEF2.1.1/Program.cs#L22

[2018-08-01 06:17] OlegNadymov commented on #187
Yes! It meets my needs! Thank you!

[2018-08-01 06:17] #187 closed

[2018-08-08 13:34] byrnedo commented on #165
@StefH I would love to help out if it would speed this issue along. Any pointers on what I could do which would be helpful?

[2018-08-09 07:58] OlegNadymov commented on #187
Yes! It meets my needs! Thank you!

[2018-08-09 10:06] StefH commented on #165
Hello @byrnedo
Thanks for you help!

I did already start a new branch for this issue:
https://github.com/StefH/System.Linq.Dynamic.Core/tree/stef_AnonymousTypesforEFCore2.1
You can review this.

And maybe I can create a PR, and you can continue on that ? (I'm not 100% if that will work in github?)

[2018-08-13 07:51] thanhnntq opened #196 "Question: Not applicable aggregate method 'Any' exists"
Error when using
[code]

[2018-08-13 13:28] byrnedo commented on #165
@StefH Could I not fork and work on your branch and I can make a PR from that, and merge yours whenever/if you make changes?

[2018-08-13 14:47] byrnedo commented on #165
Also, is it possible to run the tests on dotnetcore only?

[2018-08-13 15:29] StefH commented on #165
Yes. You can use this branch.

Tests should run for multiple frameworks...

[2018-08-14 10:08] StefH commented on #196
As a workaround, use `Contains`:

[code]

[2018-08-14 15:11] thanhnntq commented on #196
I was change it to:
AList.Where(ASubList.Select(__tx => __tx.ASubFile).Contains(3) && ASubList.Select(__tx => __tx.ASubFile).Contains(4))
Then i have an error:
InvalidOperationException: No generic method 'Contains' on type 'System.Linq.Enumerable' is compatible with the supplied type arguments and arguments. No type arguments should be provided if the method is non-generic.

[2018-08-14 15:31] thanhnntq commented on #196
In normal Linq it work very nice. But in Dynamic Linq it got an error!
If i using only one "AListField.Any(__tx => __tx.ASubField == 1)" then nothing error. But if i have two expression with or operation or and operation i got an error!

[2018-08-14 15:35] thanhnntq commented on #196
I was debug in System.Linq.Dynamic.Core source i found:
When parse first expression "AListField.Any(__tx => __tx.ASubField == 1)" it create an expression like this "Param1$.ASubField == 1" with method name = "Any" but when parse second expression it was create an expression like this: "Param0$ => Param1$.ASubField == 2"
and here it can't find method for this expression and i got an error.

[2018-08-14 15:37] thanhnntq commented on #196
Here is an example:
`public class TestAnyClass
        {
            public string name { get; set; }
            public ICollection<ChildClass> childs { get; set; }
        }

        public class ChildClass
        {
            public string childName { get; set; }
        }

        [Fact]
        public void Where_Dynamic_Any_Equals()
        {
            var testList = new List<TestAnyClass

[2018-08-14 15:55] thanhnntq commented on #196
Expression 1:
![image](https://user-images.githubusercontent.com/30698814/44102874-eeb38bf6-a014-11e8-89c4-17dbbb97422e.png)
Expression 2:
![image](https://user-images.githubusercontent.com/30698814/44102896-fb62fbca-a014-11e8-964c-d4582b5715af.png)
And error:
![image](https://user-images.githubusercontent.com/30698814/44102919-127aa5f6-a015-11e8-8f4e-71d666696cf2.png)

[2018-08-15 09:06] byrnedo commented on #165
Got the tests to run.
I've looked through the changes and can't see anything that's a problem.
I think the `EvaluateGroupByAtDatabase` is fine as a way to toggle this.
Later you could make it default to true once it's been battle tested a bit.

I've been looking around to see if there's anything you missed but honestly I can't see anything.

[2018-08-16 18:11] StefH commented on #196
Sorry, the `Any` method is not _(yet)_ supported. As a workaround, use `Contains`.

[2018-08-16 18:11] #196 closed

[2018-08-17 14:08] byrnedo commented on #165
@StefH could you go ahead and merge this?

[2018-08-17 16:31] StefH commented on #165
Code will be merged. And new NuGet shortly...

[2018-08-18 10:36] byrnedo commented on #165
Thank you @StefH !!
:fireworks:

[2018-08-20 08:42] byrnedo commented on #165
@StefH : Just had a look at this running in production:

    The LINQ expression '
    GroupBy(new <>f__AnonymousType4`7(
        CustNo = [cust].CustNo,
        Name = [cust].Name,
        Year = [booking].Year,
        Month = [booking].Month
    ), new DomainEntity() {
        customer = [cust],
        booking = [booking]
        }
    )' could not be translated and will be evaluated locally.

[2018-08-21 05:54] StefH commented on #165
Hello @byrnedo,

Can you also reproduce this same issue in this example app ?
See `https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src-console/ConsoleAppEF2.1.1/Program.cs`

[2018-08-22 09:14] byrnedo commented on #165
Hey @StefH !

Yeah, just managed to recreate it now.

I added a `Brands` table (with 2 cols, BrandName and Rating :p ) in order to do a join.

It seems to happen if I do a join and project the result like this:

    context.Cars.Join(
        context.Brands,
        c => c.Brand,
        b => b.BrandName,
      (c,b) => new {Brand = b, Car = c})
    .GroupBy(...

It works if the projection was lik

[2018-08-22 12:35] byrnedo commented on #165
I've opened an issue with efcore as well: https://github.com/aspnet/EntityFrameworkCore/issues/13077

[2018-08-22 14:03] yyjdelete commented on #165
For this, `EvaluateGroupByAtDatabase` is still missing from `Join`/`GroupJoin`

@byrnedo
I remember I had seen an comments in efcore's issue before I fire this issue, which say the current behavior to not mapping not-anonymous object is by design, but I forget the url.

In efcore, any expression maybe evaluated locally, and for compatibility, efcore keeps most behavior as clr does. But in clr, you

[2018-08-22 14:35] StefH commented on #165
The `EvaluateGroupByAtDatabase` is indeeed missing from `Join` / `GroupJoin`. I'll need to add that for your test to work correct.

[2018-08-22 16:01] #191 closed

[2018-08-22 16:02] StefH opened #199 "Feature: Add EvaluateGroupByAtDatabase logic to Join and GroupJoin"
Related to #165

[2018-08-22 17:26] StefH commented on #199
@byrnedo and @yyjdelete

With this code applied (see linked code), the sql statement is correct:

[code]

[2018-08-23 08:56] byrnedo commented on #165
Ok so as I've understood, no fix in this project will get around my use case and the limitation is by design in efcore?

[2018-08-23 09:57] StefH commented on #165
Also commented on #199

@byrnedo and @yyjdelete

With code fixed (see linked example here https://github.com/StefH/System.Linq.Dynamic.Core/blob/EvaluateGroupByAtDatabase/src-console/ConsoleAppEF2.1/Program.cs), the sql statement is correct:
[code]

[2018-08-23 10:59] byrnedo commented on #165
@StefH I wasn't very clear in the recreation post above. The code I'm running locally was translating the Join before, just not the subsequent GroupBy expression.

[2018-08-24 05:51] StefH commented on #165
@byrnedo Maybe it's a best idea to just add the `The EvaluateGroupByAtDatabase` to all calls? In that way we are safe?

[2018-08-24 10:40] byrnedo commented on #165
I'd say it might be ok without. This case of mine is by design as @yyjdelete suspected and confirmed now in https://github.com/aspnet/EntityFrameworkCore/issues/7234, so really I think this issue could be closed again.

[2018-08-27 16:15] StefH commented on #165
Closing this one.
Continuing in https://github.com/StefH/System.Linq.Dynamic.Core/issues/199

[2018-08-27 16:15] #165 closed

[2018-09-04 18:31] StefH opened #202 "Feature: support Explicit cast Operator"

[2018-09-04 18:31] #202 closed

[2018-09-07 06:14] StefH commented on #136
Hello @NickDarvey and @jogibear9988,

I've written some code which I use in WireMock.net which generated a select string based on a `JObject`. Code is here https://gist.github.com/StefH/27058744b2268fe8069c2b9641804214

And works like:
[code]

This could be a solution for your problem?
Closing this issue for now.

[2018-09-07 06:14] #136 closed

[2018-09-07 06:36] StefH commented on #173
The code will not work at all?

You should use something like:
[code]

See also https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/test/System.Linq.Dynamic.Core.Tests/QueryableTests.Any.cs#L36

[2018-09-08 06:56] #199 closed

[2018-09-13 07:12] AmbroiseCouissin commented on #98
@StefH Hi,

It's what I did on my side. This is how I do it:

[code]

It will transform:

[code]

into

[code]

[2018-09-13 07:53] StefH commented on #98
@AmbroiseCouissin This looks like a possible solution, however where to execute this code?

[2018-09-13 08:05] AmbroiseCouissin commented on #98
@StefH In my case, I use this way:
[code]

[2018-09-14 09:34] fredrikkronander commented on #46
Hi,
I'm trying to use dynamic expressions that uses methods on the entities, in this case the User entity has a public method to get "RelatedUsers" but it fails with the message "Methods on type "UserEntity" are not accessible". Shouldn't that kind of call be possible now?

`var employees = user.ToQueryable().Select("RelatedUsers(\"Employees\")").ToDynamicList();`

Thanks!
Regards
Fredrik

[2018-09-17 10:00] StefH commented on #147
@vasicvuk Closing this issue now. If you still have questions, please open a new one.

[2018-09-17 10:00] #147 closed

[2018-09-23 07:09] SpeakHero opened #203 "How to query complex entities"
[code]
How to  select ?
I need to choose. role.name
I do it like this:
`Context.Set<roleClaims>().Select("new{ id, roel.name}")`   but  this is error！
What should I do?

[2018-09-23 09:52] StefH commented on #203
This should work?

`Context.Set<roleClaims>().Select("new{ id, role.name}")`

Can you post the error message?

[2018-09-23 12:09] david-garcia-garcia opened #204 "Cannot GroupJoin when source is Linq-To-Entities"
I am struggling to make an outter join using this library.

After some digging I found that GroupJoin is passing the inner collection as a Constant Expression, where it should honor the original one:

[code]
I can see other extension methods such as Join use inner.AsQueryable().Expression instead of Expressoin.Constant(...).

When using Expression.Constant() EF will complain that it cannot materia

[2018-09-24 06:03] StefH commented on #204
If you think this is a bug, you can create a PR + additional unit-tests to fix this.

Also the example console application can be updated to reflect this situation.

[2018-09-28 18:33] os1r1s110 commented on #203
Maybe it's just the typo in the code? If it was copy pasted, then the only error might be the typo in the `role.name` as mentioned by StefH

[2018-10-13 07:16] Enngage opened #205 "Documentation of supported operations"
Thanks for this awesome library, I don't know what I would do without it.

I have request regarding documentation and supported parameters. I'm using this with EF and I had a need to create a order by `Len` query. I didn't see any obvious ways to do that and using:

`query.OrderBy($"Len({FieldName}) DESC");`

Does not work because no `Len` method exists in given type. However, using

`query.OrderB

[2018-10-13 18:47] StefH commented on #205
The documentation is not always very clear, I still need to make time for that.

However, normally methods calls which are present on object in C# .NET can be used in dynamic queries.

See also https://github.com/StefH/System.Linq.Dynamic.Core/issues/54

[2018-10-13 18:47] #205 closed

[2018-10-16 08:30] david-garcia-garcia opened #206 "Issue: new() expression cannot handle complex types"
Currently, the new() expression can be used to instantiate know types, such as:

`query = query.select("new MyNamespace.MyClass(value1 as prop1, value2 as prop2)");`

ExpressionParser.cs is not able to properly handle complex types, such as generics or classes nested inside other classes, i.e.

`query = query.select("new MyNamespace.MyClass+MySubClass(value1 as prop1, value2 as prop2)");`

The par

[2018-10-16 08:31] david-garcia-garcia commented on #206
Will be proposing a PR when I find some time, just posting here for the record.

[2018-10-16 08:55] StefH commented on #206
Thanks for the PR.

Can you also add a new unit-test to test this specific issue?

[2018-10-16 14:56] StefH commented on #206
Tests fail; related to the test DTO classes, these should be normal classes, not nested in a test class.

[2018-10-18 05:54] StefH opened #209 "Feature: use Azure Pipelines for building"
https://github.com/StefH/System.Linq.Dynamic.Core/pull/210

[2018-10-18 12:41] wertzui commented on #119
I have the same Problem and as far as I can see, it comes from the calls to
`ParameterExpressionHelper.CreateParameterExpression(itType, string.Empty)`
in `DynamicExpressionParser.cs`.

`string.Empty` effectively removes the name of the parameter.

    var serialized = "s => s.Length == 7"
    var exp = DynamicExpressionParser.ParseLambda<string, bool>(new ParsingConfig {}, true, serialized);

[2018-10-19 11:53] StefH commented on #119
The main question is : Why do you need this?

[2018-10-19 11:59] wertzui commented on #119
I'm getting the string as an MVC Controller parameter.
Then I'll parse the Expression.
Now if something goes wrong, I want to give the the user a nice error message with his original query.

When debugging it is way more readable if you have the original parameter name.

If you want to go from string to expression and back to string, you should be able to get your original string back. Currently t

[2018-10-19 12:07] StefH commented on #203
Closing...

If you still have issues, comment here or open a new issue.

[2018-10-19 12:07] #203 closed

[2018-10-19 12:09] StefH commented on #181
It's all dynamic. So very hard to limit. Or you need to provide a helper class which has some properties which translate into dynamuc query.

[2018-10-19 12:09] #181 closed

[2018-10-19 12:10] StefH commented on #175
Can you explain more how you would use this?

[2018-10-19 12:11] StefH commented on #173
Closing. If you still have an issue. Comment here or open new.

[2018-10-19 12:11] #173 closed

[2018-10-19 16:06] StefH commented on #119
@wertzui and @Franki1986
I've found a simple solution based on https://stackoverflow.com/questions/8540954/changing-parameter-name-in-a-lambdaexpression-just-for-display/8541464

Code is like:
[code]

And can be used like:
[code]

Output is:
[code]

The only thing what needs to be done is that the `it` type which is found by the `ExpressionParser` should be a public property on that class so it ca

[2018-10-19 16:10] wertzui commented on #119
For that to work I  would neet to know the name of the Parameter upfront. But I do not know the name because I get the expression string from the consumers of my API.

I could probably work out the parameter name, but if I do not want to relay on error prone string inspection, I would have to parse the expression myself. And that is exactly what the Expressionparser does best ;)
So I think that wo

[2018-10-19 16:31] kaylangan commented on #209
I'm a Program Manager on Azure Pipelines. Let me know if you have any suggestions or questions. I'm happy to help!

[2018-10-19 17:04] StefH commented on #206
NuGet 1.0.9 is added.

[2018-10-19 17:04] #206 closed

[2018-10-19 18:03] StefH commented on #209
@kaylangan
Thanks for your help.

My plan was to implement the same steps as I did on https://github.com/WireMock-Net/WireMock.Net/tree/Response_BodyData

For this project this means
- remove appveyor CI
- add .yml file and make sure that tests run
- integrate sonarcloud
- publish to myget

Do you maybe have some hints or tips when integrating with Azure Pipelines?

[2018-10-20 06:36] StefH commented on #209
Some questions:

- can you tell me step by step how to make the build public?
- how to define multiple projects to build? I also asked that here https://github.com/Im5tu/im5tu-hugo/issues/1
- it seems that I cannot build net3.5 and uap10.0  with dotnet build? Or should I use msbuild with some workarounds?

[2018-10-21 07:56] StefH commented on #119
@wertzui and @Franki1986

I've build a solution, use this NuGet from a MyGet-feed:
https://www.myget.org/feed/system-linq-dynamic-core/package/nuget/System.Linq.Dynamic.Core/1.0.9.1-preview-01

What you need to do is:
[code]

Can you please try this?

[2018-10-22 08:52] david-garcia-garcia commented on #204
Solved in the last release! Thanks!

[2018-10-22 08:52] #204 closed

[2018-10-23 15:59] kaylangan commented on #209
Check out the docs on [making a private project public](https://docs.microsoft.com/en-us/azure/devops/organizations/public/make-project-public?view=vsts&tabs=new-nav#make-a-private-project-public).

You can [use wildcards as you've done it here](https://github.com/WireMock-Net/WireMock.Net/blob/Response_BodyData/azure-pipelines.yml#L7). We have a doc on more [advanced file name patterns](https://d

[2018-10-23 16:35] StefH commented on #209
@kaylangan
1. This does not work for me because my project / sourcecode is from GitHub. I only use the devops pipelines in Azure to build.

2. I solved it like:
[code]

3. I used a workaround to just excluded these two frameworks from the CI - build on Azure Pipelines like:
[code]

[2018-10-23 16:41] StefH commented on #209
3. Error message is like:
[code]

[2018-10-23 18:18] kaylangan commented on #209
Azure DevOps projects include source control and pipelines so those steps should work to make your builds public. The reason I think your Azure Pipelines project is set to private is when I click to see the build results I get 401'd instead of seeing the [logs](https://stef.visualstudio.com/3a814af6-1684-425a-b7e8-f1794ca3f840/_build/results?buildId=371).

[2018-10-25 08:01] StefH commented on #179
csproj
[code]

[2018-10-25 09:52] StefH commented on #209
Hello @kaylangan
I created a simple test project which shows the error when building `net 3.5` (https://github.com/StefH/AzurePipelinesTest3/issues/2)

This PR fails:
https://github.com/StefH/AzurePipelinesTest3/pull/1

[2018-10-29 12:51] david-garcia-garcia opened #215 "DynamicClassFactory fails to create dynamic type without properties"
Will work on a PR when got the time, just posting here for the record.

DynamicClassFactory.CreateType() will create a DynamicType with a "duplicate" constructor when the type has no properties and createParamterCtro = true.

This breaks later code when they try to find the constructor implementation.

I found this when doing:

[code]
Here I am using a dummy new() for the projection because I only

[2018-10-30 19:44] StefH commented on #215
Thanks.

Make sure you start a branch from the latest master.

[2018-11-01 08:28] StefH commented on #184
Closing this : PR has been merged.

[2018-11-01 08:28] #184 closed

[2018-11-01 09:41] #179 closed

[2018-11-01 09:43] StefH commented on #119
@wertzui and @Franki1986 can you please try?

[2018-11-01 17:55] Franki1986 commented on #119
Sorry for delay. On monday I am back to office, then I will test it. Thanks for your work!

[2018-11-02 18:08] mightyvoodoo commented on #105
Hello, @StefH, I wanted to ask is any solution here now?
Will be glad for any answers or workarounds... Thanks!

**.NET Core 2.1**

Doing:
[code]
[code]

Getting:

[2018-11-02 19:53] StefH commented on #105
I think I still need to update some code which I started at Jul 29, 2018 in branch https://github.com/StefH/System.Linq.Dynamic.Core/tree/EF_Functions_Like

After this weekend I'll take a look if this works.

[2018-11-02 20:29] mightyvoodoo commented on #105
Thank you for quick response, @StefH

First exception raised because of my fault.
I figured out some more:
[code]
gives

how it was said earlier.

But:

raises now, when calling like you pointed earlier too.

Probably, I must add specified public function to one of my related classes. Will check it later.

\
If you could take a look, it would be great...
:coffee: on me :smiley:

[2018-11-05 13:06] Franki1986 commented on #119
Mhh..  in the myget package you provided there is no 'RenameParameterExpression' property...

[2018-11-05 13:34] #209 closed

[2018-11-05 13:35] StefH commented on #119
Sorry.
Please try version `1.0.9.1-ci-1468`

[2018-11-05 14:04] Franki1986 commented on #119
Ok,  tried to get the package over myget, don't know if there is a problem with the source, but the current version is still ci-1369. Is there a way to get the specific version?

[2018-11-05 14:42] Franki1986 commented on #119
Downloaded the latest master folder of 'System.Linq.Dynamic.Core' and tested ist this way.
Works fine!

[2018-11-05 16:35] #119 closed

[2018-11-06 11:02] SolidWhiteSven commented on #128
Sadly it doesn't work, the part "StringComparison" is treated as a property and you get an error saying, that the property or field 'StringComparison' exists in the currently used type.
However, you can use the string value of the enum, described in the [Enum Type Support](https://github.com/StefH/System.Linq.Dynamic.Core/wiki/Dynamic-Expressions#enum-type-support) Section.

`users.Where("GivenNam

[2018-11-06 11:30] StefH commented on #144
Linked to https://github.com/StefH/System.Linq.Dynamic.Core/issues/128

[2018-11-06 11:31] StefH commented on #144
@JeffyW I'm closing this one. Take also a look at the https://github.com/StefH/System.Linq.Dynamic.Core/issues/128.

If you still have questions, open a new issue.

[2018-11-06 11:31] #144 closed

[2018-11-06 11:34] StefH commented on #183
@dixitsuneel Closing this issue, if you still have problems, comment here of create a new issue.

[2018-11-06 11:34] #183 closed

[2018-11-06 11:41] StefH commented on #174
Hello @fredrikkronander

This seems to work fine already ?
[code]

LinqPad:
![image](https://user-images.githubusercontent.com/249938/48062054-2b86ea80-e1c1-11e8-894e-314442077f68.png)

[2018-11-09 11:28] MaklaCof opened #219 "ParsingConfig.DefaultEFCore21 doesn't group on database"
I am trying to use `EvaluateGroupByAtDatabase` but it doesn't work.

I am trying to evaluate this query dynamically:
[code]
and it takes 0.5seconds on 10^6 records.

But this code is not translated to database group by (it takes 30 seconds):
[code]

It behaves exactly the same as
[code]

Console log output (for all 3 queries - second and third is with dynamic linq - there is no group by statement)

[2018-11-10 08:50] StefH commented on #219
I just verified, and it seems that my own example was wrong (I did fix the console app).

You need to provide the `ParsingConfig` as **first** parameter, so:

[code]

Note:
I'm not 100% sure you need to pass the config to _every_ method.

[2018-11-10 19:39] ice1e0 opened #220 "Update wiki about Null-coalescing operator"
Support for the Null-coalescing operator has been added (#9), but the wiki page doesn't show this:
https://github.com/StefH/System.Linq.Dynamic.Core/wiki/Dynamic-Expressions#operators

[2018-11-11 08:04] StefH commented on #220
The wiki is updated, however I still need to make some time to check this whole page, if more items need updating.

[2018-11-11 08:04] #220 closed

[2018-11-11 08:04] StefH commented on #219
See also https://github.com/StefH/System.Linq.Dynamic.Core/wiki/Configuration

[2018-11-12 06:49] MaklaCof commented on #219
It works.

[2018-11-12 06:49] #219 closed

[2018-11-13 08:18] 1dot44mb commented on #98
Any progress on this?

By the way @AmbroiseCouissin I wrote something like your code. This is more failproof and also null-checks even if no null coalescing operator is defined:

[code]

I use it the same way you specified:
[code]

[2018-11-13 13:33] StefH commented on #98
@1dot44mb

Thanks. I did fix a small issue and added generic support.

[code]

Can be used like:
[code]

[2018-11-14 11:35] StefH commented on #98
@1dot44mb
I did some more research and I've update the code in this PR https://github.com/StefH/System.Linq.Dynamic.Core/pull/222 to support automatic casting to nullable valuetypes.

So this code will work now:
[code]

Previously you need to use this code:
[code]

This new logic can be used in combination with `ConvertToNullableNested` helper method.

A simpler approach for that helper method can

[2018-11-14 12:08] 1dot44mb commented on #98
Thanks.
PR #222 has been a great addition for dynamic Select and OrderBy parameters. In my application, OrderBy parameter is sent from the client table so it can be any column header (including nested properties). Without #222 ; `ConvertToNullableNested` did not work for me because i couldn't know the type of nested property before sending it to OrderBy extension method.

[2018-11-14 12:16] StefH commented on #98
If you want to this, you can already use this NuGet:
https://www.myget.org/feed/system-linq-dynamic-core/package/nuget/System.Linq.Dynamic.Core/1.0.9.1-ci-1527

[2018-11-15 15:24] anumeetsoni commented on #105
Hey guys !! Thanks for all your work, I used your method (as stated above) and it worked perfectly, however, the generated SQL is not using parameters, its making a Text SQL and the generated query is not re-using query cache, any ideas ?

[2018-11-16 09:15] passengerJIA opened #224 "Using IQuerable.Where() throwing Reference equality is not defined for the types 'Microsoft.EntityFrameworkCore.Storage.ValueBuffer' and 'System.Object'."
Hi,
I'm using System.Linq.Dynamic.Core in a ASP.net Core project. It seems like it will throw this error from the code below:
[code]

where **tag.BindBookWhere** is a string which is  **name.contains("Math")  or name.contains("ComputingSience")**

This block of code works fine in EF 6. But not for EF Core.

Sorry to bother you, if this is not the right place to address this issue.
thx

[2018-11-16 14:46] WalkeR321 opened #225 "Generated sql-query contains redundant data that increase traffic"
Generated sql-query contains redundant data that increase traffic.
Entity Framework Core 2.1.4
Dynamic Linq Core 1.0.9

Model:
[code]

Linq query:

[code]

Dynamic Linq query:

[code]

Generated sql by Linq query:

[code]

Generated sql by Dynamic Linq query:

[code]

(Fields **[inner].[Filter]** and **[inner].[Order]**)

[2018-11-16 15:00] WalkeR321 opened #226 "Generated sql-query contains redundant left outer join"
Generated sql-query contains redundant left outer join
Entity Framework Core 2.1.4
Dynamic Linq Core 1.0.9

Model: same as in #225

Linq query:

[code]

Dynamic Linq query:

[code]

Generated sql by Linq query:

[code]

Generated sql by Dynamic Linq query:

[code]

This:
[code]

And if in line `.GroupJoin(parsingConfig, context.Childs.DefaultIfEmpty(),` remove `DefaultIfEmpty()` then get an except

[2018-11-16 15:41] StefH commented on #98
@jotab123
@peter-base
@1dot44mb
@AmbroiseCouissin

If you have time, can you do some testing with this NuGet:
https://www.myget.org/feed/system-linq-dynamic-core/package/nuget/System.Linq.Dynamic.Core/1.0.9.1-ci-1530

Null Propagating has been implemented like:
[code]

[2018-11-19 10:08] passengerJIA commented on #224
It seems like if I split this block of code into
[code]
It does not have this error. Althought the result is not exactly the same as the code above. Anyone has an idea?

[2018-11-20 12:43] z4kk opened #227 "Is it possible to pass CustomAttribute to property using new(...) syntax?"
Some weird question :)
Is it possible to **pass(or add)** CustomAttribute to property using **new(...)** syntax?
For example:
`customers.Select("new(Name as [SomeCustomAttribute]NameTest, Phone)");`

And DynamicClass would be like:
[code]

Or maybe any other technique to not lose CustomAttributes?
Thanks!

[2018-11-21 11:32] StefH commented on #227
Sorry, this is not possible with the current code.

As a workaround, you can just loop the results and add the attributes by yourself.

[2018-11-21 11:32] #227 closed

[2018-11-22 09:23] gouhan commented on #148
![image](https://user-images.githubusercontent.com/8605053/48893368-28575400-ee7b-11e8-8588-82c637d36c7b.png)
Hi,when i take where method with contains used in generic type query，it can not work.
Just help me ,thanks.

[2018-11-22 20:21] StefH commented on #148
@gouhan Please provide full example.

[2018-11-23 02:49] gouhan commented on #148
@StefH ,thanks
The detail code see below:
![image](https://user-images.githubusercontent.com/8605053/48926910-e5de5780-ef0c-11e8-942e-f4c14ea4d510.png)

I find the exception reason is the "paramList" type,it's type is not explicit.
but,I need the query parameter composed by dynamically.

[2018-11-23 09:07] StefH commented on #148
@gouhan
For my example, it works fine. See https://dotnetfiddle.net/bTkPJ2

[code]

[2018-11-23 09:56] gouhan commented on #148
@StefH ，very thanks，I tried much more test with your demo code using generic type.where the unit test works fine.
I find the reason,that is the missing with builded sql,phrase is error.
![image](https://user-images.githubusercontent.com/8605053/48937426-f90f1880-ef48-11e8-9ba7-598b4f115e49.png)
(@0.Contains(1)) Or (@1.Contains(1)) I replace the 1 character with real fieldName ,it works.

[2018-11-23 09:57] gouhan commented on #148
![image](https://user-images.githubusercontent.com/8605053/48937504-48eddf80-ef49-11e8-8bb0-9457324e7381.png)
it works

[2018-11-23 10:07] gouhan commented on #148
@StefH ，now I have another question,help me again
![image](https://user-images.githubusercontent.com/8605053/48937779-24dece00-ef4a-11e8-92f0-380413182999.png)
First results: var results = q.Where<User>(expression);
Second : results = q.Where(o => o.Name == "test");
the two condition normally used And operation,But i want it works by OR opration.
How can i do?
if not using the linq core phrase, eg

[2018-11-23 11:30] StefH commented on #148
If you want an **OR** for all the 3 conditions, you need to use dynamic linq all the way.

[code]

[2018-11-25 18:30] StefH commented on #98
@david-garcia-garcia : Maybe you also have some time to verify this?

[2018-11-27 16:24] david-garcia-garcia opened #230 "Request for contribution"
We've been working on a internal tool that converts lambda expressions to text-based expressions that are compatible with this library (System.Linq.Dynamic.Core).

Original implementation was inspired by:

https://github.com/aspnet/Mvc/blob/9c545aa343ccb1bf413888573c398fe56017d9ee/src/Microsoft.AspNet.Mvc.Core/Rendering/Expressions/ExpressionHelper.cs

I think this would be an interesting addition

[2018-11-27 17:17] StefH commented on #230
Do you know the project https://github.com/esskar/Serialize.Linq ?

This tool can also be used to serialize a linq expression, however I did never test if this one also supports dynamic lambda expressions.

[2018-11-28 17:10] david-garcia-garcia commented on #230
I do know about that project, but it generates very heavy serialized lambda expressions. I am using it in some places though.

I'll upload a repo with the library so you can take a closer look at what it does. It was mostly designed to convert in-place lambda expressions to the input required by Dynamic.Linq.Core which is a text based expression + the list of arguments.

[2018-11-30 00:30] gouhan commented on #148
@StefH ,thanks.

[2018-12-03 19:49] doxmo commented on #105
Hey guys, this is my solution. I hope that will be useful.
  query = query.Where(q => EF.Functions.Like(
                        q.GetType().GetProperty("FieldName").GetValue(q, null).ToString(),
                        "%Pattern%"));

[2018-12-06 17:40] StefH commented on #98
Hello
@jotab123
@peter-base
@1dot44mb
@AmbroiseCouissin

I would really appreciate if someone could verify if this logic works as expected.

[2018-12-16 20:34] #152 closed

[2018-12-17 18:40] StefH commented on #98
Hello
@jotab123
@peter-base
@1dot44mb
@AmbroiseCouissin

I would really appreciate if someone could verify if this logic works as expected.

[2018-12-17 18:49] 1dot44mb commented on #98
Dear @StefH I really appreciate the hard work. Until new year, i am a bit busy with some deadlines and projects. After that, i will happily test the nuget. Sorry for not being able to help sooner.
Best regards.

[2018-12-19 09:31] StefH commented on #98
@1dot44mb Thanks for your help.

[2018-12-20 20:44] skriebi opened #232 "Extensionpoint for changing identifier token text"
Hello,

given the following scenario:

A web service returns persons as a list of PersonModel classes and the web service client can query this list.
The web service client is allowed to write queries with all PersonModel properties. Additionally the client can also use additional properties not contained in the PersonModel.
E.g. `group_ID == 5.` This group_ID ist not part of the PersonModel.
The

[2018-12-21 07:18] StefH commented on #232
The best is to tell the client to use a the correct prefix `person` in case person related things are required.

Another option is to not use string replace, but regular expressions which are more powerful and precise.

[2018-12-21 12:57] mayanhu2003 opened #233 "has a bug"
ef core has a bug:
.Where(p=>p.date== new DateTime(2018, 2, 4))
generation format 2018-02-04t00:00:00.0000000 errors in sql server

dynamic linq:
.Where("date= "2018-2-4")
generation format 2018-02-04t00:00:00.0000000 same errors in sql server

[2018-12-21 13:05] StefH commented on #145
closing...

[2018-12-21 13:05] #145 closed

[2018-12-29 06:59] jnothstine opened #234 "Does this support Json data"
I have a column in my database that is json data.  I can write a statement that looks something like this:

[code]

Where `$.userInfo.userName` is a path into the json that is stored in the Data column of the table.

Does this tool support that kind of syntax?  I don't see it but I, hopefully, am missing something.

Thanks,

Jerry.

[2018-12-31 17:59] david-garcia-garcia commented on #230
This is it: https://github.com/david-garcia-garcia/LambdaTextExpression

I just moved it way from the project where it is embeded, would need some extra work actually make this seomthing really stand-alone with proper test coverage. Y had to comment several tests where DTO's from another project are used.

[2018-12-31 18:47] StefH commented on #230
Interesting. Do you need `Dynamitey` ?

And if you need help, I can help you converting this library into a NETStandard library and also adding some more tests if needed.

[2019-01-02 07:09] tanngocIT opened #235 "Error InvalidOperationException NullReferenceException"
I have error when use it
System.InvalidOperationException: An exception was thrown while attempting to evaluate a LINQ query parameter expression. To show additional information call EnableSensitiveDataLogging() when overriding DbContext.OnConfiguring. ---> System.NullReferenceException: Object reference not set to an instance of an object.

[2019-01-02 07:32] StefH commented on #235
So your full code is like:
[code]

[2019-01-02 07:34] tanngocIT commented on #235
yes. this is my full code

[2019-01-02 19:51] StefH commented on #235
What happens if you just use normal linq?

[code]

And when just using normal objects (without real DB), it works.
[code]

Maybe the `Type` is conflicting? Can you change that to `XType` ?

[2019-01-02 20:08] StefH commented on #234
No sorry.

[2019-01-02 20:08] #234 closed

[2019-01-02 20:09] StefH commented on #232
At this moment, I'll not implement this. Maybe in future.

[2019-01-02 20:09] #232 closed

[2019-01-02 20:10] StefH commented on #174
@fredrikkronander

I'm closing this issue now. If you still have questions, reply here or open new issue.

[2019-01-02 20:10] #174 closed

[2019-01-02 20:15] StefH commented on #224
Can you provide a full working project to reproduce?

[2019-01-02 20:52] jnothstine commented on #234
Stef,

Thanks for the quick response.  We did actually get it to do exactly what we want. ☺

Corey worked on it for a short period of time and got it to work.  Said it was quite easy.  Corey, can you please explain to Stef what you did to make it do what we want?

Thanks,

Jerry.

From: Stef Heyenrath <notifications@github.com>
Sent: Wednesday, January 2, 2019 1:09 PM
To: StefH/System.Linq.Dynamic

[2019-01-03 07:06] fredrikkronander commented on #174
Thanks for your help Stef, really appreciated!

Fredrik Kronander
Solution Architect

 [cid:image001.gif@01D3B552.9AA9A070]

Mobile: +46 (0)70 794 19 20, Office: +46 (0)8 692 91 00
Sveavägen 13, 10 tr, 111 57 Stockholm, Sweden
www.brilliantfuture.se<applewebdata://B5F5046F-C313-4BBA-8ED4-67CCD95154D1/brilliantfuture.se>     linkedIn<applewebdata://B5F5046F-C313-4BBA-8ED4-67CCD95154D1/linkedIn.se>

[2019-01-03 07:08] jnothstine commented on #234
Hey Stef,

Want to thank you for this package.  I worked on one for three weeks and it barley got things done that I needed.  Then, I “fell” onto this one while searching for something else.  It took us less than half a day to remove ours and implement yours.  This is super cool!!

Thanks,

Jerry.

From: Jerry Nothstine
Sent: Wednesday, January 2, 2019 1:52 PM
To: 'StefH/System.Linq.Dynamic.Core'

[2019-01-03 07:17] StefH commented on #234
@jnothstine;

I'm glad everything worked as defined for you!

[2019-01-03 17:10] david-garcia-garcia commented on #230
Dynamitey is used to ease som reflection based operations, of course they could be implemented excusively using reflection, but that would be more teidous

[2019-01-04 23:50] ascott18 opened #236 "Massive performance hit when upgrading from 1.0.8.18 to 1.0.9"
We have a bit of code that, in this example, ends up calling `.OrderBy("SomeProperty ASC, SomeOtherProp DESC")` a total of 262 times, each time on an `EnumerableQuery<T>` (that is, LINQ to objects rather than LINQ to sql).

With 1.0.8.18, the total CPU time spent in `System.Linq.Dynamic.Core.DynamicQueryableExtensions::OrderBy` was ~58ms. In 1.0.9, the total CPU time for the same code against the

[2019-01-05 09:11] StefH commented on #236
Are you using NET Full framework (4.x ?) or NETStandard/NetCore ?

[2019-01-05 13:13] StefH commented on #236
#237

[2019-01-05 13:13] StefH commented on #236
@ascott18
Can you try MyGet package:
https://www.myget.org/feed/system-linq-dynamic-core/package/nuget/System.Linq.Dynamic.Core/1.0.9.1-ci-1643 ? This should hopefully fix your issue.

[2019-01-05 19:11] ascott18 commented on #236
This was with net471, and all config is default.

Thanks for the fix - I won't have a chance to try it out for a while, though.

[2019-01-06 09:54] StefH commented on #236
@ascott18 When do you have time to validate?

[2019-01-07 16:32] ascott18 commented on #236
Its an order of magnitude better than 1.0.9, but still ~2 orders of magnitude worse than it was in 1.0.8.18, to the extent that it will still be unusable for our use cases:

![image](https://user-images.githubusercontent.com/5017521/50779992-b1252600-1256-11e9-935b-608b9ffcdaac.png)

[2019-01-07 17:41] StefH commented on #236
How did you do that exact profiling?

[2019-01-07 20:07] ascott18 commented on #236
In VS 2017 preview:
* Start my application in debug
* Put a breakpoint before and after my code that is doing all the calls to `OrderBy`
* When the breakpoint before is hit, turn on "Record CPU Profile" in the Diagnostic Tools window, and then continue
![image](https://user-images.githubusercontent.com/5017521/50790809-d32da100-1274-11e9-81cc-7fff41f955a0.png)

* When the second breakpoint is hit,

[2019-01-07 20:17] StefH commented on #236
I found the issue, the types were not cached anymore. I added the caching again, this should be fixed in MyGet version `1.0.9.1-ci-1661`. Can you please test this?

[2019-01-07 20:46] ascott18 commented on #236
Thanks - that fixed it completely!

[2019-01-09 20:08] StefH commented on #98
@1dot44mb Did you have time to check this new code?

[2019-01-10 09:27] MaklaCof opened #238 "Missing SingleOrDefaultAsync for EntityFrameworkCore"
I think there is no method `SingleOrDefaultAsync`.

I found [this issue](https://github.com/StefH/System.Linq.Dynamic.Core/issues/24) but it talks about `EntityFramework` not `EntityFrameworkCore`.

[2019-01-10 15:56] StefH commented on #238
It's indeed missing.

I'm adding it now (https://github.com/StefH/System.Linq.Dynamic.Core/pull/239), I keep you posted here when a new NuGet is ready.

[2019-01-10 16:14] StefH commented on #238
Version 1.0.9.2 will be uploaded to NuGet in some minutes.

[2019-01-10 16:14] #238 closed

[2019-01-16 17:17] rev319303 commented on #182
Was an answer to this ever found?

[2019-01-17 07:42] MaklaCof commented on #182
By the way, I also found out that select doesn't work when property name is DateTime.

[2019-01-17 19:56] JeremySBrown opened #240 "Question: What is the proper way to construct a dynamic query for EF Core using DateTime or Nullable DateTime?"
With EF 6 and Dynamic Linq I could just do the following predicate:
"PooledDate >= new DateTime(2019,1,1,0,0,0)"

Now with EF Core 2.2 this does not work. It results with SqlException "Conversion failed when converting date and/or time from character string."

Here is the expression that is generated:
(Microsoft.EntityFrameworkCore.Query.Internal.EntityQueryable`1[TracSeq.Data.Models.PoolData]).Wh

[2019-01-18 15:12] Dvladd88 opened #241 "Question: Is it possible to project without flattening the result?"
I am storing some model, A, in a no-sql db. Inside it has properties of type B and C (each type with its own properties), something like this:

[code]

I am trying to project using Select<T> and obtain a result which is not flat, but rather it maintains the hierarchy of A.
So if I try `Select<A>("new (bProperty.someString, cProperty.someOtherString)")` , I would like to be able to get the result i

[2019-01-18 18:35] JeremySBrown commented on #240
I actually tried what was suggested in #183, but not matter how I constructed the predicate I get the same exception. I'm using EF Core 2.2.1 and tried version 2.1.1 to match the version used in the issue.

I'll see about forking the repo and run the tests for 183.

[2019-01-19 13:59] StefH commented on #241
This code should just work:
[code]

[2019-01-20 11:01] Dvladd88 commented on #241
Thank you for taking time to respond (and format the question) ! Really appreciate your help.
What import are you using for .Dump() ?

[2019-01-20 12:55] StefH commented on #241
.Dump() is from Linqpad. I use this for quick testing.

Is your question resolved. If yes. This issue can be closed.

[2019-01-22 00:11] MannyL commented on #240
I'm running into possibly the same issue.  In my case, System.Linq.Dynamic converts the DateTime variable to datetime2 format, but the field in the database is just datetime type.  The generated SQL looks something like:

WHERE MyDateTimeField >= '2019-01-21T23:47:12.4107294Z'

which will pass if MyDateTimeField is datetime2, but will fail if it's datetime with the "Conversion failed when converti

[2019-01-22 00:35] MannyL commented on #240
If this is the same problem you're running into, you may be able to resolve this by decorating the Entity class with the Column attribute and specifying the TypeName:

[Column(TypeName = "datetime")]
public DateTime? MyDateTimeField { get; set; }

[2019-01-22 08:57] SolidWhiteSven opened #242 "Argument exception when filtering with any(Member.Function.Contains)"
Hey, we ran into an error that we couldn’t explain ourselves.
We have a **User** class that contains the method “string GetDisplayName(bool, bool, bool)”. The following query works when querying the Owner, which is of type **User**, on the **Project** dataset:

[code]

The above query runs as expected.
This query below doesn’t however. Here we have an instance of that class shared with a user, whe

[2019-01-22 10:34] StefH commented on #242
When using Dynamic Linq, I would expect code like:

[code]
See https://github.com/StefH/System.Linq.Dynamic.Core/blob/null/src-console/ConsoleAppEF2.0.2_InMemory/Program.cs#L86

[2019-01-22 10:48] SolidWhiteSven commented on #242
Hey Stef, thanks for the quick answer!
I think there is some missing information on our part, we try to execute the query something like this:

`
var projects = context.Projects;
`
`
var filter = "UserShares.Any(User.GetDisplayName(true,true,false).Contains(\"John\"))";
`
`
var filtered = projects.Where(filter);
`

[2019-01-22 11:49] StefH commented on #242
This code should work:
[code]

See same file for example.

[2019-01-22 15:54] SolidWhiteSven commented on #242
Hey, we ran some tests and could only reproduce this error when using a real database, so not an in-memory one. Using the in-memory db, all the queries we tested completed successfully. We are using the Npgsql.EntityFrameworkCore.PostgreSQL provider.

Looking at the stack trace, we guess that maybe the function is found correctly with the (bool, bool, bool) signature using reflection and then the

[2019-01-23 01:47] webpony2016 commented on #105
@anumeetsoni  You're right, the solution works well.
@StefH The same question with @anumeetsoni , how to get a parameterized query? The UseParameterizedNamesInDynamicQuery option does not work for this Like case. Thanks.

[2019-01-24 20:15] JeremySBrown commented on #240
Thanks @MannyL! That solved the issue for me.

[2019-01-28 13:48] Nekromancer opened #243 "EF Core 2.2 - cannot use Where operator"
I have table `Packages` with OneToMany relationship with table `PackageErrors`. It's in model like this
[code]

I'm trying to filter all Packages that have specific type of error. So i do query (ErrorType is enum, but it's no that relevant):
[code]
Unfortunetely i get an exception:
[code]
I don't have a clue where to look for probable cause.

[2019-01-28 14:08] StefH commented on #243
I guess you need code like:
[code]

[2019-01-28 16:37] Nekromancer commented on #243
Ok, my bad, i was thinking about it the wrong way. Thanks, it works

[2019-01-28 16:37] #243 closed

[2019-01-30 19:54] wilari932 commented on #128
How do you do a case sensitive search with this  library ???
Query.Where($"{dataPropertie.Name}.ToString().Trim().ToLower(\"\\@0\")", cols.Values.ToStringNullSafe().Trim().ToLower()).OrderBy(dataPropertie.Name).ToList();
I tried something like this but is not working i
Message = "No applicable method 'ToLower' exists in type 'String'"

[2019-01-30 23:32] tgowans opened #244 "Possible to add 'Compare' Extension method"

[2019-01-31 06:49] StefH commented on #98
Hello @jotab123, @peter-base, @1dot44mb, @AmbroiseCouissin : can you please test this functionality?

[2019-02-04 12:28] mdmoura opened #245 "Question: Is it possible to validate expression before apply it?"
Is it possible, given a query

    .Where("City == 'London' and Orders.Count >= 10")

To validate the expression before applying it:

    "City == 'London' and Orders.Count >= 10"

[2019-02-04 13:16] StefH commented on #245
You can use the `Parse(...)`  method from the `DynamicExpressionParser` class.

[2019-02-05 11:36] StefH commented on #98
closed via PR

[2019-02-05 11:36] #98 closed

[2019-02-05 15:14] MaklaCof commented on #98
@StefH
Hi, should this work:
[code]
? Because I get exception (version `1.0.10`):

for
[code]

Without `?.` I get

[2019-02-05 15:23] StefH commented on #98
@MaklaCof
you have to use:
[code]

[2019-02-05 20:54] mdmoura commented on #245
Thank you for the answer.

[2019-02-05 20:54] #245 closed

[2019-02-06 11:37] StefH commented on #98
I probably should have added this to the `An expression tree lambda may not contain a null propagating operator.` exception message...