[2019-02-11 15:52] johnFA90 opened #246 "Exception: Argument expression is not valid"
Given this class:

[code]

The following list:

[code]

And this code where i try to dinamically query the list (note that the string `query` could contain anything such as `Take`,`Select`,`OrderBy`, etc).

[code]

I want to know what am i doing wrong that the `Provider.CreateQuery` is thowing the "Argument expression is not valid" exception?

[2019-02-14 10:15] StefH commented on #246
Good point, I'll check the difference

[2019-02-15 15:18] BradleyUffner commented on #184
How would I actually use this feature?  I'm using version 1.0.9.2 of the nuget package, and it is still inlining constants instead of using sql parameters.

[2019-02-15 15:34] BradleyUffner commented on #184
After more testing, it seems to be a problem with `Contains`, `StartsWith`, and `EndsWith`.

If I use `.Where(config, "ActivityCode==@0", "AB")` it works as expected, generating the parameterized query, but `.Where(config, "ActivityCode.Contains(@0)", "A")` still inlines the constant.

[2019-02-15 15:42] BradleyUffner opened #247 "Parameterized SQL doesn't work for Contains, StartsWith, and EndsWith"
If I use `.Where(config, "ActivityCode==@0", "AB")` it works as expected, generating the parameterized value, but `.Where(config, "ActivityCode.Contains(@0)", "A")` still inlines the value.

[2019-02-15 15:43] BradleyUffner commented on #184
I created a new [issue ](https://github.com/StefH/System.Linq.Dynamic.Core/issues/247)for this.

[2019-02-17 12:59] dsidedp opened #248 "Add IQueryable.OfType support to ExpressionParser."
EF Core allows to use OfType to filter derived entities from base collections

It would be great to have this supported as part of Where clause, e.g. :
`ctx.Set<Base>.Where("OfType("\Derived\").Any(DerivedProperty> 10)")`

[2019-02-19 08:39] StefH commented on #248
Can't you just use:

[code]

[2019-02-19 10:21] dsidedp commented on #248
I can do that. But i cant do this:
`context.Where("CollectionProprty.OfType<BaseType>().Any(DerivedProperty==10)")`

[2019-02-19 10:46] StefH commented on #248
I see, I'll take a look to implement this.

[2019-02-19 14:23] StefH commented on #248
Can't you just use:

[code]

[2019-02-19 14:24] StefH commented on #248
Try latest version from MyGet **1.0.10-ci-1952**
https://www.myget.org/feed/system-linq-dynamic-core/package/nuget/System.Linq.Dynamic.Core/1.0.10-ci-1952

Use it like:

[code]

[2019-02-20 11:06] StefH commented on #247
A preview NuGet is released: **1.0.10-ci-1959** ; can you test this?

See https://github.com/StefH/System.Linq.Dynamic.Core/wiki/MyGet-preview-versions for details.

[2019-02-21 11:49] StefH commented on #248
@dsidedp Can you please do some tests?

[2019-02-21 11:49] StefH commented on #247
Hello @BradleyUffner ; can you do some tests please?

[2019-02-21 13:22] dsidedp commented on #248
I did some with 1.0.11-ci-1955 on production model I have.

From all tests i ran, only one failed - when I tried to use OfType with context keywords.
Example: `ctx.Base.Where("OfType("Derived").Any()")`

Besides of single issue, I can think about couple of other things related to this:
1. In EF models with inheritance, alongside OfType support for collection navigations, it will be great to have s

[2019-02-21 15:34] StefH commented on #248
1. I'll check if I understand and can build this ...

2. I understand your idea, I had the same issue when testing my code. However this functionality should be provided with a new config settings like "ResolveTypesBySimpleName" / "ResolveTypesByShortName"

3. `ctx.Base.Where("OfType("Derived").Any()")` --> The normal linq would be : `context.BaseDtos.Where(x => x is Derived)` ???

[2019-02-21 17:16] dsidedp commented on #248
##### Reference Navigaion
As an example of valid linq query with reference navigation:
`ctx.Base.Where(x=>((Derived)x).DerivedProperty==1)`

Basically, by doing this linq is adding ConvertExpression(x, DerivedType) as input for PropertyExpression.
Also, if you can test x for implementation of IEnumerable, it can be possible to reuse same operators OfType/Cast.

##### ResolveTypesBySimpleName
Havin

[2019-02-21 18:06] BradleyUffner commented on #247
I'll test it as soon as I get out of the meeting I'm in.

[2019-02-22 10:08] StefH opened #252 "Implement ResolveTypesBySimpleName"

[2019-02-22 10:12] StefH commented on #248
**ResolveTypesBySimpleName** : I've created a new issue for this #252 and will create a new PR for this.

**OfType** : to get `ctx.Base.Where("OfType("Derived").Any()")` working I think I need to add an `OfType` function. I'll investigate and if it's easy to build, I'll do it. Else I create a new issue/PR.

[2019-02-22 11:51] StefH commented on #248
**OfType**

I tried to implement this:
[code]

However the dynamic code does not work because I don't know the real type from the `BaseDto`, at the moment when the dynamic expression is evaluated, the Type is `BaseDto`.

See also this code:
https://github.com/StefH/System.Linq.Dynamic.Core/pull/253/files

[2019-02-22 15:10] dsidedp commented on #248
Ok, I see.

How about "Is" operator?

In this case "it.OfType" can be replaced with:
`ctx.BaseType.Where(Is(DerivedType)).Any()`  (as you already mentioned)

And with support of reference cast (cast object to derived type):
`ctx.BaseType.Where(Is(DerivedType) && Cast(Derived).DerivedProp == 1).Any()`

Considering what i was saying earlier regarding restrictions of OfType applied to "it", having "I

[2019-02-22 15:24] StefH commented on #248
I did send you invite for gitter chat; it's easier to talk.

[2019-02-22 16:25] dsidedp commented on #248
I didin't use gitter before, so just got registered there. You will probably need to send invite again.

Also, I looked at commented out code, and it seems to be OK.
I will probably will need to run locally to get better understanding about the problem, but not sure how soon I can find time to do that.

[2019-02-23 09:07] StefH commented on #252
https://github.com/StefH/System.Linq.Dynamic.Core/pull/254

[2019-02-23 09:07] #252 closed

[2019-02-26 12:35] StefH commented on #247
@BradleyUffner Did you have time to verify ?

[2019-02-27 02:17] BradleyUffner commented on #247
I'm so sorry, The last few days have been really chaotic, and it keeps slipping my mind.  I'll do my best to test this tomorrow.

[2019-02-27 19:31] BradleyUffner commented on #247
I just finished testing, it it seems to be fixed!  Thanks!  Sorry for the delay in testing.

[2019-02-27 20:05] StefH commented on #247
Thanks for testing; I'll merge code to master.

I keep you informed here when a new NuGet is released.

[2019-02-27 20:05] #247 closed

[2019-02-27 20:05] StefH commented on #248
@dsidedp I think all is resolved now? Can I merge to master?

[2019-02-27 23:12] dsidedp commented on #248
Looks good to me.

[2019-02-28 07:15] StefH commented on #248
OK, I'll merge to master and create a new NuGet

new version will be communicated here in this issue...

[2019-02-28 07:15] #248 closed

[2019-02-28 11:05] matt-psaltis opened #256 "Cyclic types support in DynamicClassFactory"
To model many-to-many relationships, I would like to submit a PR which introduces:

* DynamicClassDefinition. Allows for customisable namespaces, names and base classes
* A DynamicLateBoundProperty. This is similar to DynamicProperty however it allows multiple DynamicClassDefinition objects to be constructed simultaneously. This allows the Clr Types to be built with cyclic properties.

Is this som

[2019-02-28 18:13] StefH commented on #248
Official NuGet 1.0.11 is uploaded.

[2019-02-28 18:14] StefH commented on #247
Official NuGet 1.0.11 is uploaded.

[2019-03-03 10:32] StefH commented on #256
How would this be used in a real scenario?

[2019-03-04 13:19] SaltyDH commented on #256
In my specific use case, its a runtime generated dynamic model, driven by user configuration so specific scenarios are more generalised into their base structure.

We have two such scenarios:

1. Model many to many relationships using two one to many relationships through the lookup entity/relationship in the middle. An example given above in the Post->PostTag->Tag example.
2. Parent/Child POCO ob

[2019-03-16 08:23] StefH commented on #256
You can start a PR, just make sure unit tests are also created.

[2019-03-21 01:22] pjkpjpk opened #257 "how to set the certain type when use select or groupby"
Hi All,
   Could somebody  tell me what the means about operators such as 'T.m,T()' and how to use them.
   Whether I can set the certain type when use select or groupby.
   Like this:
   1. persons.where("Age>@0",25).select("new type1(age,name)");
   2. persons.groupby('new type1(age,sex)","it");

Thanks very much! Please give me some examples or suggestions.

[2019-03-21 07:26] MaklaCof opened #258 "Filter by enum column with parameters throws exception"
I am using version:
[code]

I am trying to filter by enum and pass value as parameter, but I get exception

This works:
[code]
and this doesn't:
[code]

Entity source:
[code]

Callstack:
[code]

[2019-03-22 03:03] 630383257 opened #259 "Solve the properties of the previous layer in the Select nest"
Hey,
I have a Select nested query as follows
![`5LBLTCB)TT85EG97E P(EQ](https://user-images.githubusercontent.com/34563003/54796677-1a300d80-4c8c-11e9-82e5-4ef2c1aafe56.png)
How to convert to a dynamic query statement how to select the upper level attribute in the internal Select?
I tried the following and got an error: "No property or field 'TargetUrl' exists in type 'TopicCarousel'"
![_7)U 68SD7

[2019-03-23 21:52] StefH commented on #258
What framework do you use?

[2019-03-24 06:43] MaklaCof commented on #258
Hi @StefH
[code]

[2019-03-24 09:19] StefH commented on #258
And does this work when you use a normal linq? Can you provide a full example project?

[2019-03-25 06:53] MaklaCof commented on #258
Hi @StefH
Enum must be nullable. [Here](https://github.com/MaklaCof/DynamicLinqEnumAsParamError) is demo.

[2019-03-25 09:09] StefH commented on #258
OK. I see.

I will work probably if you use:
[code]

However, for usability it would be better if this is built-in the code.

[2019-03-25 09:23] MaklaCof commented on #258
It would be a lot better. Because I don't know if enum is `nullable`. I am using same code for all tables, so I don't know at compile time if table has any enum and if this enum is `nullable`. I could do it with reflection, but out of the box would be awesome.

[2019-03-25 16:52] StefH commented on #258
Problem is found and fixed.

Can you try a preview version:
System.Linq.Dynamic.Core.1.0.12-ci-11129.nupkg

For using MyGet preview versions, see : https://github.com/StefH/System.Linq.Dynamic.Core/wiki/MyGet-preview-versions

[2019-03-26 11:24] MaklaCof commented on #258
It works. Thank you.

[2019-03-26 11:24] #258 closed

[2019-03-26 12:00] MaklaCof opened #261 "How can I use Where("...") after calling ToDynamicArray"
Hi,
I am trying to filter data after query it from database. Something like this:
[code]
but I get error:

I also tried this:
[code]
but I get error:

Am I doing something wrong, or is this not possible?

[Here](https://github.com/MaklaCof/DynamicLinqWhereAfterToArray) is also online demo.

[2019-03-26 12:22] StefH commented on #258
Official NuGet (1.0.12) is uploaded and will be visible in some time...

[2019-03-26 13:03] StefH commented on #261
As long as you are using `IQueryable`, you can keep using Dynamic Linq.
But once you have a used `ToList()` or `ToArray`, it's dynamic. and the property types are lost..

[2019-03-26 15:08] MaklaCof commented on #261
I am not sure what this means?

That I can not achieve what I am trying to do and that is:
query entire table and then use `SingleOrDefault` on half of records. Currently I call `SingleOrDefault` with dynamic linq for every record on database, but this means a lot of round trips, and it is very slow.  My idea was to first query entire table and then search them with `SingleOrDefault`.

[2019-03-26 15:21] StefH commented on #261
Something like:
[code]

[2019-03-26 15:42] MaklaCof commented on #261
Understand but this will trigger 2 round trips to database.

[2019-03-27 09:32] StefH commented on #261
You can use:
[code]

Does this work for you?

[2019-03-27 14:34] MaklaCof commented on #261
No, because I don't know if I have `Entity1` or `Entity2`. I am using the same API for both (all) entities. That's why I need dynamic.
Same API, same code and input parameter type defined which entity is queried:
[code]
Logic behind this is importing entities which has relationship:
[code]
So when importing `MyEntity` I need to found correct record for `Entity1Id`. So I don't have generic paramete

[2019-03-27 16:49] StefH commented on #261
I just found out that using the newly added functionality about Cast (https://github.com/StefH/System.Linq.Dynamic.Core/pull/249) will do the trick.

[code]

Can you try this?

[2019-03-28 07:18] MaklaCof commented on #261
Outstanding.

[2019-03-28 07:18] #261 closed

[2019-04-04 18:08] StefH commented on #240
closing

[2019-04-04 18:08] #240 closed

[2019-04-08 03:52] Garwin4j opened #263 "Have a WhereOr method"
Basically I have a dynamic list of where clauses to add

think :
[code]

But instead of "&&" them I wish that they be "||", or be given the option (either as a parameter or a different function call, like whereOr)

[2019-04-16 06:32] SolidWhiteSven commented on #242
So I looked more into it and couldn't get it to work in a simple console app. I tried again with the PostgreSQL database and logged the expression query. I also tried to get the sql-statement from the query but that threw the above pasted error.

Query string:
[code]

Resulting query expression:
[code]

For other filtering strings I can get the sql query, but if I try to add the users "GetDisplayN

[2019-04-16 09:36] SolidWhiteSven commented on #163
Hey, I got this issue again but only for backslashes, when switching from the NuGet package
[code]
(https://www.nuget.org/packages/wilx.System.Linq.Dynamic.Core/)
to
[code]
I think the later one should be used?

Error:
[code]

Console app code to reproduce:
[code]

[2019-04-16 12:36] StefH commented on #163
As a workaround you can use:
`var count = strings.Count("Contains(@0)", "\\");`

[2019-04-16 12:53] SolidWhiteSven commented on #163
Thank you for the answer, this worked for me in the given example. At a different point we use an input string to filter out elements, so it would be quite complicated to get it to work that way, having multiple inputs for each argument in the string predicate, as well as that filter string containing the arguments.

Is there a plan to fix this in the future?

Thank you for your help!

[2019-04-17 05:29] StefH commented on #163
I see your point, it seems that the parsing code in this library is different regarding escaping. I'll take a look if I can find and fix the logic.

[2019-04-17 16:08] StefH commented on #163
@hypetsch and @SolidWhiteSven
I've changed the code, please try version 1.0.13-ci-11242 from MyGet.

https://www.myget.org/feed/system-linq-dynamic-core/package/nuget/System.Linq.Dynamic.Core

[2019-04-18 06:21] StefH commented on #263
You can maybe also use LinqKit for that, see this chapter:
https://github.com/scottksmith95/LINQKit#predicatebuilder

[2019-04-18 06:22] StefH commented on #244
@tgowans Provide some details why and how this should work

[2019-04-18 06:22] StefH commented on #154
closing....

[2019-04-18 06:22] #154 closed

[2019-04-18 06:24] StefH commented on #105
@SocVi100
I'll have to read this issue again, I'm a bit lost on the current status and the exact issue...

[2019-04-19 21:14] Garwin4j commented on #263
Thanks for this. Instead, I just build the custom build the string for the where clause.

[2019-04-19 21:14] #263 closed

[2019-04-21 11:59] johnFA90 opened #265 "Linq CreateQuery throws exception"
When i try to use a dynamic query of a queriable list i get an exception only for some of the Linq functions as seen bellow.

This works fine (also `Select(...)`):

[code]
This throws exception (also `First(...)`, or `Last(...)`):

[code]
On the last line it throws: `System.ArgumentException: 'Argument expression is not valid'`

What am i missing? I suspect that the problem could be the return typ

[2019-04-21 12:00] johnFA90 commented on #265
Issue opened also on SO:
https://stackoverflow.com/questions/55211537/linq-createquery-throws-exception

[2019-04-21 12:01] johnFA90 commented on #246
If helps, an answer on SO gave me an alternative:
https://stackoverflow.com/questions/54635018/linq-exception-on-provider-createquery

[2019-04-21 15:57] StefH commented on #265
The first question would be ; why do you want to use this code?

Second question ; The ExpressionsParser class is not present in this library, you need to use `DynamicExpressionParser.ParseLambda`

[2019-04-21 15:58] #246 closed

[2019-04-21 19:35] johnFA90 commented on #265
I have an API that:
- accepts user input query as a single string: **userInputQuery**;
- i use the **userInputQuery** string on a generated object list to get a **result**;
- i return the **result** to the user.

I already tried that (example bellow) but the behaviour is the same:

[code]

[2019-04-22 10:21] SocVi100 commented on #105
@StefH I'll describe my concrete issue just to put you on precedents:

`qry = qry.Where(tipo => EF.Functions.Like(tipo.GetType().GetProperty("FieldOfTheIQueriable").GetValue(tipo, null).ToString(), "%something%"));`

where qry is an IQueriable...

The qry performs with no problems if there's no nulls among the values stored in the "FieldOfTheIQueriable" column, otherwise fails with a NullReference

[2019-04-23 08:11] SolidWhiteSven commented on #163
Hey @StefH, I've added the prerelease package with version 1.0.13-ci-11244 to the solution, but sadly I still get the 'Unterminated string literal' exception. I also thought the changes were only in the mentioned 11242 version, but that one also throws the error for this code:
[code]

[2019-04-23 09:18] StefH commented on #163
You are correct, this test does not work. I've to double check the code again...

[2019-04-27 14:59] StefH commented on #163
@SolidWhiteSven
Can you try 1.0.13-ci-11260 ?

[2019-04-29 06:22] StefH commented on #265
Hello @johnFA90,

Can you use this code example?
[code]

[2019-04-29 06:24] StefH commented on #162
If you just want to filter using this library, use code like:

[code]

[2019-04-29 06:32] StefH commented on #257
@pjkpjpk

Calling the `new` operator to create a new type is possible, just use this code:
[code]

Maybe if the type is not an anonymous and not a default type, use :
[code]

See also https://github.com/StefH/System.Linq.Dynamic.Core/blob/5e24989dd174307985892a084fd7abb7f2c74122/test/System.Linq.Dynamic.Core.Tests/QueryableTests.Select.cs#L269

And see also some tests here:
https://github.com/Stef

[2019-04-29 06:33] StefH commented on #224
@passengerJIA Can you please provide a full example project to reproduce this issue?

[2019-04-29 06:35] SolidWhiteSven commented on #163
@StefH Works like a charm, thank you!

[2019-04-29 07:49] StefH commented on #163
@hypetsch Can you also do some tests please?

[2019-04-29 18:53] StefH commented on #241
You can use:
[code]

[2019-04-29 18:53] #241 closed

[2019-04-29 19:15] StefH commented on #148
Closing

[2019-04-29 19:15] #148 closed

[2019-04-30 07:27] hypetsch commented on #163
@StefH, thanks for sour work. Just did a quick test: the test case `ParseLambda_StringLiteral_Backslash()` I added in the first comment still fails with a `ParseException` ('Unterminated string literal'). Think the test itself should be ok?

[2019-04-30 07:35] StefH commented on #163
@hypetsch
Yes I noticed that also, so I changed the unit-test to be :
[code]

Which means (to my knowledge):

- `\"` --> escape the double quote (start)
- `\\\\` --> define a backslash : because the backslash is inside the double quotes, you need to escape it twice. If you just use `\\`, this will be translated to `\` which is not valid because this is an escape character (https://devblogs.microso

[2019-04-30 08:00] hypetsch commented on #163
Sorry, think you are right.
Some other tests I did meanwhile worked well. Thanks.

[2019-04-30 08:12] StefH commented on #163
Thank you both for your help !

I will close this issue and merge the PR; in some time, I'll create a new official NuGet.

[2019-04-30 08:12] #163 closed

[2019-05-01 08:33] #244 closed

[2019-05-07 13:22] #265 closed

[2019-05-08 09:21] pavel-kudishin opened #267 "UseParameterizedNamesInDynamicQuery=true is ignored if predicate in Where clause has Contains() expression"
`Where(new ParsingConfig() { UseParameterizedNamesInDynamicQuery = true }, "Description.Contains(@0)", "world")`

translated into

`WHERE CHARINDEX(N'world', [a].[Description]) > 0`

but expected

`WHERE CHARINDEX(@__Value_0, [a].[Description]) > 0`

[2019-05-10 12:47] Enngage opened #268 "Timezone conversion"
Hi,

When I'm using a where condition such as

[code]

the output sql query contains:

[code]

My server is running in CEST timezone and I guess that is why I get +2 hours. However, this behavior is not what I'm after as all dates in my DB are considered to be UTC and clients (browser - javascript) are providing dates always in UTC as well and thus the conversion breaks the functionality.

Is ther

[2019-05-10 16:02] ani2479 commented on #98
Hi,

I'm trying to use the np function on a Where:

e.g User.Contact.FirstName.ToLower().Contains("or") where the User can be null, so I was trying to get the User?.Contact?.FirstName.

Maybe I don't really know how to use your library, but can you help me?

Entity.Where ("np(User.Contact.FirstName.ToLower().Contains(\"tor\")") and I get The 'np' (null-propagation) function requires the first argu

[2019-05-10 16:51] StefH commented on #98
If the **User** can be null, just use this code

[code]

[2019-05-10 17:12] ani2479 commented on #98
Thanks. is there no way to use the np with the Where?

Thanks again

[2019-05-10 17:29] StefH commented on #98
Sure you can use the `np` in Where.

`Orders.AsQueryable().Where("np(Customer.City, \"\").Contains(\"e\")").Dump();`

results in:

[code]

[2019-05-10 21:52] ani2479 commented on #98
Thanks,

Everything seems to be working, except for dates. If I do .Where("np(Customer.EndDate) ==  DateTime.Today), we are getting a System.DateTime cannot be null value.

I will try a couple more things.

[2019-05-11 07:07] StefH commented on #98
You mean this error?

[2019-05-11 13:09] ani2479 commented on #98
Hi, yes.

It is fine if we use any other null columns

[2019-05-12 09:16] StefH opened #269 "np() opererator fails for (Nullable) DateTime"
https://github.com/StefH/System.Linq.Dynamic.Core/issues/98

[2019-05-12 09:16] StefH commented on #98
I've created a new Issue

[2019-05-12 09:28] StefH commented on #269
@ani2479 ; can you please test the NuGet on MyGet. Version: 1.0.13-ci-11292

see
https://github.com/StefH/System.Linq.Dynamic.Core/wiki/MyGet-preview-versions
&
https://www.myget.org/feed/system-linq-dynamic-core/package/nuget/System.Linq.Dynamic.Core

[2019-05-13 13:15] ani2479 commented on #269
Hi,

It worked fine. I will do more testing on dates today.

Thanks.

[2019-05-13 18:14] ani2479 commented on #269
Hi,

So far everything is working as expected - Where, OrderBy, Select.

Thanks

[2019-05-14 08:21] StefH commented on #269
https://github.com/StefH/System.Linq.Dynamic.Core/pull/270

[2019-05-14 08:21] #269 closed

[2019-05-14 12:25] Bjego commented on #105
Your suggesttions work like a charm - even for other providers like devarts EF extentions...

[code]
using the provider:

[code]

[2019-05-14 14:51] StefH commented on #105
Ok. Closing...

[2019-05-14 14:51] #105 closed

[2019-05-14 15:20] Bjego commented on #105
Maybe you could update the Wiki and explain how to add "Dbhelpers" with such a selfwritten IDynamicLinkCustomTypeProvider. Could reduce the number of new issues here 😉

[2019-05-14 21:14] ani2479 opened #271 "Class with a non-mapped property"
Hi,

If I have a class that has a property non mapped, how can I do a Where?

I tried `entity.Where(c=>c.navigation.nonmappedporperty.Contains("ovi"));` and works, but if I try `entity.Where("np(navigation.nonmappedproperty).contains(\"ovi\")")` I get

[code]

The OrderBy gets the following error:
Value cannot be null.
Parameter name: source

Any ideas?

Thanks again

[2019-05-15 13:28] ani2479 commented on #271
Or is it a way to do an any?

Like entity.Where(c => c.navigation.Any(d => d.property == 1))?

[2019-05-18 13:26] nothrow opened #272 "Allow comparing via overloaded equality operator"
Hello,

I have some struct-wrapping-integer acting as ID. I have overloaded equality operators between my object and integer, and implicit casts between my struct as integer.

I've seen in code that for struct, implicit casts are ignored, and there is no overloaded equality operator usage support, even if Expression.Equal works with it (https://docs.microsoft.com/en-us/dotnet/api/system.linq.expre

[2019-05-18 13:27] nothrow commented on #272
I also propose PR with solution.

[2019-05-19 08:21] #272 closed

[2019-05-19 08:23] StefH commented on #271
Maybe this code will work:

[code]

[2019-05-20 14:15] ani2479 commented on #271
Hi, I got the same error. But I think is because EF core is not able to check that property
Value cannot be null.
Parameter name: source

[2019-06-05 16:17] ewahner opened #274 "Question: Extension method that returns Expression<Func<T, bool>> ?"
I have some queries that I would like to use this library with, but I would like to just have the library return back an Expression<Func<T, bool>> so I can just call it from within my same code, with minimal changes.  Is that something that I can already do?

[2019-06-14 17:12] StefH commented on #274
That would be like:
[code]

See also https://github.com/StefH/System.Linq.Dynamic.Core/blob/2d7b8ee16cc76ec780fb2891b2a8dd495358aee4/test/System.Linq.Dynamic.Core.Tests/DynamicExpressionParserTests.cs#L801

[2019-06-14 17:12] StefH commented on #274
Or you can just use `ParseLambda` and cast the result.

[2019-06-14 17:12] #274 closed

[2019-06-15 13:56] StefH commented on #268
I need to investigate this.

Maybe add a config setting to define the datetime parse timezone.

[2019-06-15 13:59] Enngage commented on #268
Having a config or a function that I can use to transform `DateTime` before it gets parsed would be awesome!

[2019-06-16 09:28] StefH commented on #268
I've added a new config setting `DateTimeIsParsedAsUTC` which should be set to true in your case.

Try latest preview NuGet from:
1.0.18-ci-11429

(https://github.com/StefH/System.Linq.Dynamic.Core/wiki/MyGet-preview-versions)

[2019-06-17 17:44] StefH commented on #171
Latest version looks correct:
![image](https://user-images.githubusercontent.com/249938/59624879-3a128880-9138-11e9-8af2-b9cdb721539b.png)

[2019-06-17 17:44] #171 closed

[2019-06-17 17:46] StefH commented on #257
@pjkpjpk Does this answer your question?

[2019-06-19 12:59] tranb3r opened #278 "Nuget System.Linq.Dynamic.Core 1.0.17 - Incorrect version"
The netcoreapp2.1 dll for System.Linq.Dynamic.Core in nuget 1.0.17 does not have the correct version number (1.0.16 instead of 1.0.17).
This seems to cause the following runtime error : "The located assembly's manifest definition does not match the assembly reference".
Could you please fix it ?
Thanks.

[2019-06-19 14:54] ggiacomoo commented on #155
@StefH  thanks! ;)

[2019-06-19 16:09] StefH commented on #278
Yes, I will fix this in next release.

[2019-06-24 19:43] kakins opened #279 "Support .NET Expression string operators (AndAlso & OrElse)"
In my front end, I am using the .NET expression builder to generate an expression.  I am then passing the string representation of the expression to an API, where it is parsed by Dynamic LINQ.

However, Dynamic LINQ does not recognize some of the operators, such as "AndAlso".  Therefore, an expression generated by .NET resembling something like this fails:

`"x => x > 1 AndAlso x < 5"`

It would b

[2019-06-25 11:52] StefH commented on #279
You are correct. The AndAlso is not supported it seems.

Do you know if any other commands are not supported.

[2019-06-25 17:44] kakins commented on #279
The only other one that I've been using somewhat frequently so far is OrElse.

[2019-06-27 11:55] oferns commented on #278
Wish I'd read this 2 hours ago :(

[2019-06-27 19:35] StefH commented on #268
@enngage did you have time to test this?

[2019-07-01 23:24] alexweav opened #280 "Respect EnumMemberAttribute value when converting enums"
The query language's enum type conversion currently ignores [EnumMemberAttribute](https://docs.microsoft.com/en-us/dotnet/api/system.runtime.serialization.enummemberattribute?view=netcore-2.2l) values, if they are present.

For instance, given an enum:

[code]

Currently, the value can be accessed via `"MyValue"` case insensitively, e.g. `myField == "myvalue"`.

However, the enum can not be access

[2019-07-02 19:37] StefH commented on #278
@tranb3r and @oferns
Sorry for the inconvenience caused.

A new NuGet version 1.0.18 is uploaded.

[2019-07-02 19:37] #278 closed

[2019-07-03 00:55] ihorlazarenko commented on #149
same issue. GroupJoin in ef core doesn't work. "The string argument 'ItemName' cannot be empty"

[2019-07-03 01:23] ihorlazarenko commented on #149
`new ParsingConfig()
                {
                    RenameParameterExpression = true
                }` fixes issue

[2019-07-03 16:21] StefH commented on #279
https://github.com/StefH/System.Linq.Dynamic.Core/pull/281

[2019-07-04 06:00] wlaureys opened #282 "Generated SQL with string array."
When dynamically generating a query that select items based upon values from an `int[]` or `string[]`. The generated SQL is different for `int[]` or `string[]` values. And only the first item of the `string[]` array is taken into account, the other values are ignored.

**Sample code :**

[code]
**The generated SQL looks like :**
[code]

For the string values I would expect:
` AND ([Extent1].[Code]

[2019-07-04 06:20] wlaureys commented on #282
Looked for hours and of course 5 minutes after posting this issue I find a similar issue #61
#61  also contains an explanation.

Replacing string[] by List<string> did resolve the issue.
Still I find the difference in behavior confusing.

[2019-07-04 06:36] StefH commented on #282
Using a List or another object like Array or IEnumerable will probably also work fine.

[2019-07-04 06:38] StefH commented on #282
Can I close this issue?

[2019-07-04 06:49] wlaureys commented on #282
Yes you can.

[2019-07-04 06:49] #282 closed

[2019-07-09 12:36] chrsas opened #283 "Order by TypeCode throw exception"
An entity has a field `TypeCode`, then `DbContext.EntitySet.OderBy("TypeCode")` will throw exception `System.Linq.Dynamic.Core.Exceptions.ParseException : '.' or '(' or string literal expected`

Ef Core: 2.2.4
System.LinQ.Dynamic.Core: 1.0.18

Call stack
[code]

[2019-07-09 13:22] StefH commented on #283
I guess `TypeCode` is a reserved keyword.

Try : `DbContext.EntitySet.OderBy("@TypeCode")` ?

[2019-07-09 13:26] chrsas commented on #283
But everything is OK in version 1.0.8, I have not verify other versions.

[2019-07-09 15:37] StefH commented on #283
I've just tested: `@TypeCode` and `"\"TypeCode\"` works.

[2019-07-09 15:37] #283 closed

[2019-07-10 01:38] rockResolve opened #284 "String(Null) raises Ambiguous error"
When Selecting String(Null) I get the "Ambiguous invocation of 'String' constructor" error.
This seems pointless as any matching constructor should work.

I need the String cast because I Concat this with a query with another and the Concat insists on matching types.

How can I get a Select to return a null string from a literal null?

[2019-07-10 16:10] StefH commented on #284
Use
[code]

[2019-07-10 22:18] rockResolve commented on #284
Oops, my final question should have been not have mentioned "literal", but rather
How do I select a string with a null value

I need it to be null to force it to the bottom when sorted with concatenated rows.

[2019-07-10 22:50] rockResolve commented on #284
Further info ...

It seems String(null) is not valid C#

`var x = new System.String(null)`
throws error CS0121: The call is ambiguous between the following methods or properties: 'string.String(char*)' and 'string.String(sbyte*)'

FYI I was using String(null) successfully in the old https://github.com/kahanu/System.Linq.Dynamic

[2019-07-10 23:00] rockResolve commented on #284
Further info

String(null) was working in the old https://github.com/kahanu/System.Linq.Dynamic
ExpressionParser.FindBestMethod returned 0 which triggered GenerateConversion

[2019-07-11 05:30] StefH commented on #279
@kakins
Can you please try preview version `1.0.18-ci-11490` on MyGet?

(see this link for info on myget : https://github.com/StefH/System.Linq.Dynamic.Core/wiki/MyGet-preview-versions)

[2019-07-11 05:31] StefH commented on #268
@Enngage Did you have time to test this MyGet ?

[2019-07-11 09:26] StefH commented on #280
You can try to make a PR.

[2019-07-12 15:04] kakins commented on #279
I will test this as soon as I get a chance.

[2019-07-13 07:58] mukeshrebari commented on #175
I apologies for delayed response. What I would do is i'll create an Example Project this weekend for Usages of Extension Methods(so called Rule Engine :)). We are already using it heavily in one of our ERP Project.

Above link is broken and here is updated gist with new link [dynamic_expression.cs](https://gist.github.com/mukeshrebari/1a478a059c4bedd8571c8774ca11225a)

[2019-07-20 08:04] StefH commented on #279
@kakins Did you have time to test this?

[2019-07-22 04:27] rockResolve commented on #284
@StefH Could you please revisit this.

How do I create null cast to a String?

[2019-08-01 07:14] StefH commented on #268
@Enngage Can you please test this ?

[2019-08-01 07:14] StefH commented on #279
@kakins Can you please test this?

[2019-08-01 16:35] kakins commented on #279
I'm sorry, I've been very busy.  I will try to get to it this week.

[2019-08-12 06:20] StefH commented on #279
Code has been merged to master. New NuGet will be release in days/week. Just watch NuGet.

Closing this issue.

[2019-08-12 06:20] #279 closed

[2019-08-15 18:54] StefH commented on #271
Can you please provide a full example project or https://dotnetfiddle.net/ ?

[2019-08-15 18:54] StefH commented on #268
https://github.com/StefH/System.Linq.Dynamic.Core/pull/277

[2019-08-20 13:39] wertzui opened #288 "DynamicExpressionParser.ParseLambda cannot parse a Method which accepts and expression as parameter"
I have a Method that accepts an Expression as Parameter. However the Parser does not recognize `q` and instead tries to find `Foo` on `it`.

The Exception is
[code]

Here is a Test to verify the Problem
[code]

[2019-08-20 16:47] StefH commented on #288
Maybe related : https://github.com/StefH/System.Linq.Dynamic.Core/issues/259 ???

[2019-08-20 19:14] StefH commented on #288
And why would you like to do this?

[2019-08-21 06:33] wertzui commented on #288
I would like to be able to give a string like "Orders.Select(o => o.Price).SumAsync()" into a Controller so I'm able to generate some kind of dynamic Report.

What I have found out so far is, that there Is a special case for the IEnumerable Extension Methods and not a generic case to handle any Kind of method invocation. The parser does not recognize `q` as  a symbol and therefore things `e.Foo` i

[2019-08-21 07:01] david-garcia-garcia opened #289 "Unable to infer types for lambda arguments"
This issue is potentialy related or equal to:

https://github.com/StefH/System.Linq.Dynamic.Core/issues/288
https://github.com/StefH/System.Linq.Dynamic.Core/issues/259

I prepared a simple test case:

[code]

I've been looking through the code and the fix looks quite complex.

What happens now is that the ParseArguments() method in ExpressionParser does not properly handle generic types or I even

[2019-08-21 07:06] david-garcia-garcia commented on #288
I think I did a more in detail explanation of what the issue really is in:

https://github.com/StefH/System.Linq.Dynamic.Core/issues/289

As @wertzui there seems to be some ad-hoc handling for some methods such as Sum() but there is no proper generic handling of argument type propagation or inference for lambda expressions used as method arguments.

[2019-08-22 08:27] david-garcia-garcia commented on #289
And this looks like the proof in the documentation that custom handling was added for some specific cases, but there is no proper generic support for lambdas as method arguments:

![image](https://user-images.githubusercontent.com/9599352/63498954-2d5b3980-c4c7-11e9-9414-3c7a6a77c1ca.png)

I am still anaylizing how lambdas are parsed, and it also looks like it wont support multiple argument lambda

[2019-08-22 12:51] progmars opened #291 "Question: How to truncate possibly but not necessarily nullable datetime on SQL side?"
I have a  `DateTime? ValidFrom` field on my EF entity.

In clear Linq, I can filter like:

`var query = queryable.Where(e => e.ValidFrom.Value.Date >= myDate);`

and it gets executed on SQL side as

`CONVERT(date, [t].[ValidFrom0]) >= @__myDate_0'`

`.Date`  might be not widely known technique because in EF people had to use DbFunctions.TruncateTime, see https://stackoverflow.com/a/40760245/217823

[2019-08-22 13:05] StefH commented on #291
See also
https://stackoverflow.com/questions/57373534/how-to-get-first-day-of-month-year-etc/57418581#57418581

For Nullable DateTime, you can use the `np()` null propagating operator.

Like

[code]

[2019-08-22 13:09] progmars commented on #291
Thanks.

Will it work also if I don't know beforehand if the field is nullable or not?

I'm using it in a generic base helper class to turn UI filters into queries.

[2019-08-22 13:16] progmars commented on #291
Actually, I'm not sure how to implement it with `np`:

I tried:
[code]
and
[code]
and the result is the same error:
`No property or field 'Date' exists in type 'DateTime?''`

[2019-08-22 13:26] StefH commented on #291
The `.Date ` will not work, you need some tricks like described in stackoverflow.

[2019-08-22 13:47] progmars commented on #291
Ah, I see.

Ok, fortunately I was able to at least detect if the value needs `.Date`, so I invented the following workaround:

[code]

[2019-08-22 13:47] #291 closed

[2019-08-24 04:48] david-garcia-garcia opened #293 "Parsing fails when using redundant parentheses"
Library is unable to parse uneeded parentheses, wich are supposed to be correct syntax.
[code]

[2019-08-24 04:50] david-garcia-garcia opened #294 "Context lost in object initializer"
After parsing firs argument in object initializer, context is lost:

[code]

[2019-08-24 07:50] david-garcia-garcia commented on #294
There seems to be several factors leading to this fail.

One of them is ExpressionPromoter no being able to promote Lambdas, I had to add this to an overriden ExpressionPromoter:

[code]

I can't make this a PR now because...

- GetUnderlyingType and IsNullable are not from this library, but could be added.
- ReturnType is not available in .Net framework 3.5 or below, I'm not sure how to handle th

[2019-08-24 08:41] StefH commented on #294
1. GetUnderlyingType
2. IsNullable

Are both defined in
https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/Parser/TypeHelper.cs

ReturnType : Isn't there another property you could use?

[2019-08-24 12:05] StefH commented on #294
I think the replacement for ReturnType is **lambdaExpression.Body.Type**:
[code]

I'm currently adding this here:
https://github.com/StefH/System.Linq.Dynamic.Core/blob/AverageAsync/src/System.Linq.Dynamic.Core/Compatibility/LambdaExpressionExtensions.cs

[2019-08-26 11:35] david-garcia-garcia commented on #294
Thanks! I am currently working in a workaround for the issue in our project, will deal with the root cause when time permits, I've been reading through the code and have an idea on how to restructure the code so we can get rid of the custom aggregate parsing logic in favor of a generic handling of method calls (including extension methods).

Having that there will help for sure.

[2019-08-27 06:55] david-garcia-garcia commented on #293
This is not a bug as the syntax is incorrect:

`new((it.Sum(x => x.age) as ageSum))`

The syntax for New is:

`new(EXP as NAME, EXP2 as NAME2)`

The library does properly parse parentheses used in EXP:

`new((EXP) as NAME, (EXP2) as NAME2)`

[2019-08-27 06:55] #293 closed

[2019-08-29 04:12] mayankgaur commented on #35
Is it resolved I am also facing same issue?

[2019-08-29 04:55] jogibear9988 commented on #35
What issue?

[2019-08-29 05:22] mayankgaur commented on #35
@jogibear9988 I am having below issue

System.IO.FileLoadException: 'Could not load file or assembly 'System.Linq.Dynamic.Core, Version=1.0.17.0, Culture=neutral, PublicKeyToken=0f07ec44de6ac832'. The located assembly's manifest definition does not match the assembly reference. (Exception from HRESULT: 0x80131040)'

[2019-08-29 10:28] david-garcia-garcia commented on #294
@StefH I mode some good progress in a POC to remove ad-hoc logic for aggregates in favor of generic handling of lambdas.

https://github.com/StefH/System.Linq.Dynamic.Core/pull/295

Tests are not 100% passing, but before continuing work on this I'd like a second opinion on the strategy followed.

¿Also, how aceptable would it be to have a new major release that breaks backwards compatiblity?

My p

[2019-08-29 11:45] david-garcia-garcia commented on #294
Sorry I got confused and mixed things (all these issues are very related to the fact that lambda/method call parsing is very ad-hoc and harcdoded to very specific cases).

The initial issue reported here was that an expression could not contain more than one lambda with the same lambda argument.

The reason seems to be that the whole library is single-lambda oriented, and that is a big handicap. A

[2019-08-29 11:53] david-garcia-garcia commented on #289
@StefH I mode some good progress in a POC to remove ad-hoc logic for aggregates in favor of generic handling of lambdas.

#295

Tests are not 100% passing, but before continuing work on this I'd like a second opinion on the strategy followed.

¿Also, how aceptable would it be to have a new major release that breaks backwards compatiblity?

My problem now is that, after proper implementation of lam

[2019-08-29 11:59] tludusan commented on #268
Hello @StefH.

We have tested your change from PR #277. This seems to work very well, except for the case when the fields are of type nullable DateTime. Can this be fixed for nullable types as well?

PS: We would like to use your fix ASAP, when do you plan to have this merged?

Thanks,
Tudor

[2019-08-29 14:33] StefH commented on #268
Can you please test `1.0.19-ci-11834` on myget? This one should fix nullable datetime

[2019-08-29 14:51] tludusan commented on #268
We have tested this and it seems to work great for both DateTime and nullable DateTime now. For some reason we weren't able to find the `1.0.19-ci-11834` version from myget, but we built the sources from the branch locally, and we manually copied the DLLs.

I've noticed that the all checks have passed for PR #277. Do you have an ETA for when this will be merged? Thanks!

[2019-08-29 17:16] StefH commented on #268
ETA = soon

[2019-08-29 17:16] #268 closed

[2019-08-29 17:32] StefH commented on #294
Thanks for reporting and fixing.

Closing this one...

[2019-08-29 17:32] #294 closed

[2019-08-31 07:57] StefH commented on #289
Would it be an option to make this configurable?
So the default behavior is the new logic. And using a config-setting, you can fallback to old logic?

btw I've added some comments to you PR, most of them are just questions.

[2019-09-01 08:23] david-garcia-garcia commented on #289
Yes I was thinking on working in a global cleanup, then adding a backwards compatiblity layer that is configurable by the user.

The PR needs much more work, will keep updating.

Thanks!

[2019-09-01 08:45] StefH commented on #289
Cool

[2019-09-06 20:13] YuriGal opened #300 "Dynamic LINQ to XML"
I am trying to use Dynamic LINQ Expressions with LINQ to XML, but having troubles with dynamic parameters. E.g. for the following structure:

[code]
I am trying to read and parse it like this:

[code]
What do I put as a string parameter? For example if I try to retrieve IP and OS of all servers. When I try to use `Element( )` or `Attribute( )` methods of XElement I get error that XElement doesn't

[2019-09-06 22:58] NetMage commented on #300
There should be a configuration method to add additional types to the accessible types.

[2019-09-06 23:01] YuriGal commented on #300
I am looking at [System.Linq.Dynamic.Core.CustomTypeProviders](https://stefh.github.io/System.Linq.Dynamic.Core/html/2adefda4-0a38-b90a-4c33-ec6bcab66e8d.htm), which I think might be the right place, but can't figure it out.

[2019-09-06 23:14] NetMage opened #301 "Add documentation for ParsingConfig.CustomTypeProvider"
There is no clear documentation for how to create or use `ParsingConfig.CustomTypeProvider` in the Wiki or code.

[2019-09-06 23:17] YuriGal commented on #300
There's also `System.Linq.Dynamic.Core.Parser.PredefinedTypesHelper` but it's an internal class

[2019-09-06 23:21] NetMage commented on #300
I added an answer to your StackOverflow question. I also added an issue suggesting documenting `ParsingConfig.CustomTypeProvider` :)

[2019-09-06 23:22] NetMage commented on #301
It would also be really nice if a static GlobalConfig of ParsingConfig was pre-created and used automatically by the library that could be modified by the user, rather than passing a ParsingConfig to every call.

[2019-09-07 00:07] YuriGal commented on #300
@NetMage Once again, thank you so much. This is exactly what I was looking for. Linking the answer [here](https://stackoverflow.com/a/57829472/961695) in case anybody else needs it.

[2019-09-07 00:07] #300 closed

[2019-09-07 00:18] NetMage opened #302 "np (NullPropagation) throws NullReferenceException with methods"
If I have something like
    `np(Element(@0).Value)`
or
    `np(qList.FirstOrDefault(Tag = "NAME").Value)`

I get a NullReferenceException in `ExpressionParser.GenerateConditional` in /Parser/ExpressionParser.cs line 1207.

It works if I manually expand `np` to `== null ? : null` - is there a limitation to what `np` understands?

[2019-09-07 08:04] StefH commented on #301
1. I've added new wiki page: https://github.com/StefH/System.Linq.Dynamic.Core/wiki/CustomTypeProvider
Please review.

2. Previously the `ParsingConfig` was a global, but that introduced wrong behaviour (and you cannot use different config for different questions)
And unit-testing is impossible.

[2019-09-07 08:07] StefH commented on #302
For now it can only work on properties. (Updated the info on https://github.com/StefH/System.Linq.Dynamic.Core/wiki/NullPropagation)

I'll take a look if it can be updated for methods...

[2019-09-07 09:55] StefH commented on #302
@NetMage

Please try MyGet preview version : System.Linq.Dynamic.Core.1.0.19-ci-11874

[2019-09-13 09:30] mohsenno1 opened #303 "Dynamic Select with respecting to object hierarchy (To not flatten the object)"
I'm using the library in .Net Core. It's working perfect. Except one thing that I need. When you use the Dynamic select, it flatten the object. Is there any way to select the object in its their original position? Let me explain this with an example Suppose that we have two objects:

[code]
now when I try to Select the `Category.Name` of the `Product` it's placed in the place of the `Product.Name`

[2019-09-16 18:11] jbagley-iona opened #304 "System.Linq.Dynamic.Core.DynamicQueryableExtensions.AsEnumerable conflicts with System.Linq.Enumerable.AsEnumerable"
I've run into an issue where the System.Linq.Dynamic.Core.DynamicQueryableExtensions.AsEnumerable extension method conflicts with the System.Linq.Enumerable.AsEnumerable extension method:

[code]
I think this will become a more common issue with the upcoming release of EF Core 3.0 (where it will be necessary to explicitly force the enumeration of DB queries to avoid exceptions if they cannot be tr

[2019-09-16 18:25] StefH commented on #304
If you want to apply the logic from this library on an IEnumerable, just to a AsQueryable() and continue to use this library.

[2019-09-16 18:53] jbagley-iona commented on #304
The problem I've run into is I have a class that makes use of both this library and System.Linq.  In this class, I make use of System.Linq.AsEnumerable() to "switch" from an EF (IQueryable) query to a (IEnumerable) Linq-to-Objects query, but I cannot do that if the class also uses System.Linq.Dynamic.Core as it's .AsEnumerable() extension results in the error noted above.

[2019-09-16 19:02] StefH commented on #304
Just call the `AsEnumerable()` from System.Linq.Dynamic.Core with full name, like:

[code]

[2019-09-17 05:56] FransVanEk opened #305 "Querying a list of ExpandoObjects"
I have a list of ExpandoObjects that i want to query.  These are dynamically formed and have no typed counterpart.

The linqquery will look something like this :  Text=="demo"

the object has a property
[code]

The error I get is:
  **Message=No property or field 'Text' exists in type 'ExpandoObject'**
although this property does exists...

My question is: should it be possible to quesry an expand

[2019-09-17 07:03] StefH commented on #305
I think this is not possible because the properties are *lost* in an ExpandoObject.
See this unit test: https://github.com/StefH/System.Linq.Dynamic.Core/blob/dd4a659ff89550ed502e15f70d421e7144c11c76/test/System.Linq.Dynamic.Core.Tests/ExpressionTests.cs#L1429

If possible, use`JObject`, that works.
https://github.com/StefH/System.Linq.Dynamic.Core/blob/a963fcb7385d25e3e29cebf6e5049c295ace6145/tes

[2019-09-17 07:34] FransVanEk commented on #305
OK thanks, i assume this is not on the roadmap for the near future..  I will refactor the solution to use the JObject...  thanks for the quick response.

[2019-09-17 07:34] #305 closed

[2019-09-17 12:51] jbagley-iona commented on #304
Thanks.  That's what I ended up doing but hoped there would be a better workaround (similar to what MoreLinq does).  These are very large queries with multiple chained calls so having to break the query up to work around an ambiguous extension method issue is not ideal.

[2019-09-17 13:36] seregvan opened #306 "Problem with slashes using contains"
When I try to use Where like

[code]

I get an error System.Linq.Dynamic.Core.Exceptions.ParseException: 'Unterminated string literal'.
Sounds reasonable as the result filter is "\\". But when I try to use this

`string filter = "name.contains(\"\\\\\")";`

The result is empty. In this case filter doesn't work.  But if I use

`string filter = "name.contains('\\')";`

it works fine. How can I do se

[2019-09-17 16:40] StefH commented on #306
String parsing is / escaping logic is not 100% correct I think.

For now use:
[code]

[2019-09-17 16:40] #306 closed

[2019-09-18 08:48] seregvan commented on #306
I think I found the problem in your parsing. I can't see the reason to do this in string literal parsing

[code]

Because if I use query `"contains(\"\\\")"` it fails with unterminated literal, but if I change query to `"contains(\"\\a\")"` it works finding "\\a" string. And also if I use `"contains(\"\\\\\")"` it works with string "\\\\" (string with two real slashes).

[2019-09-18 09:22] seregvan opened #307 "Found problem with backslashes parsing"
You closed my previous issue as a question so I'm opening a new one.
I think I found the problem in your parsing. I can't see the reason to do this in string literal parsing except the case when I try to find " in the result.

[code]

Because if I use query `"contains(\"\\\")"` it fails with unterminated literal, but if I change query to `"contains(\"\\a\")"` it works finding "\\a" string. And als

[2019-09-19 15:13] omansak opened #308 "different aggerate functions doesnt work with same func name"
Does not work.
`i=>new[]{4,2}.Any(j => i.productId.Equals(j)) && new[]{\"as\"}.Any(j =>i.productName.Contains(j))`
Works fine.
`i=>new[]{4,2}.Any(j => i.productId.Equals(j)) && new[]{\"as\"}.Any(a =>i.productName.Contains(a))`

[2019-09-20 15:57] NetMage commented on #308
Did you mean same parameter name in lambda? What happens when it doesn't work?

[2019-09-20 17:37] NetMage commented on #302
I am attempting to add the feed to LINQPad and test. I see v1.0.18 in MyGet and 1.0.19 in Nuget. Either one seems to give me the same error.

[2019-09-20 18:06] StefH commented on #302
Did you try that exact version?

[2019-09-21 07:21] StefH commented on #302
It should work.

See https://github.com/StefH/System.Linq.Dynamic.Core/pull/309/files#diff-26864b997e03a24c9676bd97c489ac76R1308

[2019-09-21 10:00] StefH commented on #301
@NetMage did you have time to review?

[2019-09-24 05:32] StefH commented on #308
I think indeed using the `j` multiple times fails.
Maybe related to https://github.com/StefH/System.Linq.Dynamic.Core/issues/289

[2019-09-25 13:39] EynsherKiel opened #310 "Creating lambda without type knowledge"
Hello

At first - DynamicExpressionParser.ParseLambda is work very slow! Too much slow for usage in runtime. Because need compiling and create some binding map.

At second. DynamicExpressionParser.ParseLambda want know about type in advance. Yes, it's work in simple scenario with dynamic or object. But if I add [0] that validate expression and generate exception... Why... I want see exception in r

[2019-09-25 15:05] EynsherKiel commented on #310
I was reread full documentation and find out type(_expr_) and that was so helpfull ) But my consern not fullfilled ) I think that it's can be removed in commonly scenarios

[2019-10-10 08:42] yangzhongke opened #311 "Please support LongCount()"
In the DynamicQueryableExtensions.cs
There is only “int Count(this IQueryable source, string predicate, params object[] args);”
Could you please Support LongCount?
thanks

[2019-10-10 09:24] saber-wang opened #312 "After select new xxx{x=x.x} ,OrderBy fails"
EF core 3.0

var query = from x in db.x
                    join y in db.y
                              on x.id equals y.id into xy
                    from y in xy.DefaultIfEmpty()
                    select new xxx{x=x.x}

query.OrderBy("x").ToList();

System.InvalidOperationException: The LINQ expression 'OrderBy<TransparentIdentifier<XTYHB, XTZDB>, string>(
    source: Where<TransparentIdenti

[2019-10-10 09:46] #312 closed

[2019-10-10 09:52] saber-wang commented on #312
override attributes cause this problem

[2019-10-10 17:19] StefH commented on #302
@NetMage Did you have time to test?

[2019-10-10 19:19] YuriGal opened #313 "Examples of JOIN"
Could you please provide some code examples on how to use `DynamicQueryableExtensions.Join` ?

EDIT: I think I got it, but when I try something like this:

`var finalResult = finalResult1.AsQueryable().Join(finalResult2, "id", "id", "new(outer.DNS as DNS, inner.TITLE as TITLE)");`

where `finalResult1` and `finalResult2` are `List<dynamic>` and try to use the result - I am getting "Target object i

[2019-10-10 23:50] yangzhongke commented on #311
And OrderByDescending is missing also

[2019-10-13 09:57] yangzhongke opened #314 "Are operators 'in' and 'not in' supported?"
How to build a predicate like 'Id in @1' or 'Id not in @1'

[2019-10-13 10:05] yangzhongke commented on #314
I am sorry, It works.
rep.Where("Id in @0",new long[] { 3, 5 });

[2019-10-13 10:05] #314 closed

[2019-10-14 10:53] StefH commented on #311
@yangzhongke
Can you try preview versions on MyGet?

- EntityFramework.DynamicLinq.1.0.19-ci-12028
- Microsoft.EntityFrameworkCore.DynamicLinq.1.0.19-ci-12028
- System.Linq.Dynamic.Core.1.0.19-ci-12028

[2019-10-16 21:53] JPVenson opened #315 "Update Documentation"
The documentation should be extended to reflect the included methods of "IEnumerableSignatures" in the section of

https://github.com/StefH/System.Linq.Dynamic.Core/wiki/Dynamic-Expressions#sequence-operators

[2019-10-17 20:43] jnothstine opened #316 "Question: How to include related entities"
I can write a LINQ query like:

Organizations
    .Where(organization => organization.Name == "SomeName")
    .AsNoTracking()
    .Include("PhoneNumbers")
    .Include("Addresses")

and the result will include the collections of phone numbers and addresses.

I can't get this to work using the Dynamic LINQ.  How do I get the related entities to load with Dynamic LINQ?

[2019-10-17 20:55] jnothstine commented on #316
I figured it out.

[2019-10-17 20:55] #316 closed

[2019-10-17 20:55] jnothstine commented on #316
This can be closed.  I was being stupid.

[2019-10-26 10:55] MoRooz opened #317 "Exception after upgrade to .net core 3"
this is source of exception
q2.Select("new(Key.CallItemStatus as CallItemStatus, it.Count() as Count))")

the same code works fine in .net core 2.2

System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values. (Parameter 'index')
   at System.Linq.Expressions.InstanceMethodCallExpression1.GetArgument(Int32 index)
   at System.Dynamic.Utils.ListArgumentProvider.GetEl

[2019-10-26 11:09] StefH commented on #317
@MoRooz If possible, provide a full working sample project.

[2019-10-27 02:28] MoRooz commented on #317
[DynamicLinqNetCore3Test.zip](https://github.com/StefH/System.Linq.Dynamic.Core/files/3775459/DynamicLinqNetCore3Test.zip)

[2019-10-27 07:37] StefH commented on #317
When calling `ToArray()` on the **q1** like:
[code]

[2019-10-27 08:01] StefH commented on #317
See also
- https://github.com/aspnet/EntityFrameworkCore/issues/17623
- https://github.com/aspnet/EntityFrameworkCore/pull/18051
- https://go.microsoft.com/fwlink/?linkid=2103067

When upgrading to 3.1 preview, I get this better error:

[2019-10-27 08:33] MoRooz commented on #317
memory leak is probably because of InMemory Provider,
here is Sqlite one, with another error

`
var options = new DbContextOptionsBuilder<BloggingContext>().UseSqlite("Filename=MyDatabase.db").Options;

            using (var context = new BloggingContext(options))
            {
                context.Database.EnsureCreated();

                context.Blogs.Add(new Blog { CategoryId = 1, PageId =

[2019-10-27 09:45] MoRooz commented on #317
seems some sql aggregate is necessary in select

[https://github.com/aspnet/EntityFrameworkCore/issues/18102#issuecomment-536231179](url)

this is working,

[code]
now only if its possible to get flatten key.

current
[code]
need (used to work in net 2.2 with Key.Property in select)

[code]

[2019-10-28 07:48] StefH commented on #317
@MoRooz Thanks for researching. Would it be an idea to add this in a readable markdown format in a wiki? If so, can you please help.

[2019-10-29 12:47] StefH commented on #311
@yangzhongke Can you please test the LongCount functionality?

[2019-10-29 12:47] StefH commented on #302
@NetMage Can you please verify ?

[2019-10-30 09:54] fnomarkh opened #318 "Problem with nested projection with custom type"
When I have a "List<T>" navigation property in my target type (ICollection or IList) and tries to make nested projection from the source type to T type, it throws "Expression can't be null" exception.
For example:
[code]
Will throw the exception!

After investigating the issue, it seems that the problem is in `(TypeHelper.IsCompatibleWith())` method. It returns false if the source type is IEnumera

[2019-10-30 13:08] StefH commented on #318
Is this in .NET Framework or NetStandard ?

[2019-10-30 13:26] fnomarkh commented on #318
I have tried in .NET Framework 4.6.1

[2019-10-31 12:02] Arestis opened #319 "Where error"
my code is `list.AsQueryable().Where("Name==@0","f");`

[2019-10-31 12:50] fchiumeo commented on #319
correct is
` list.AsQueryable().Where("Name=@0","f"); `

[2019-10-31 15:09] Arestis commented on #319
it doesn`t work, error the same

[2019-11-13 17:54] mvalero opened #320 "TypeHelper#ParseNumber TryParse does not use InvariantCulture"
When parsing a dynamic expression that contains a real literal like `12.02` or `1.0`, the resulting LambdaExpression works differently depending on the machine's configured locale.

i.e:
Following literal expression should be parsed to a decimal:
[code]
But in my machine (with a german locale) the resulting expression gets the value `321` instead of `3.21` ->
![image](https://user-images.githubuse

[2019-11-13 18:49] StefH commented on #311
@yangzhongke can you please test?

[2019-11-13 18:50] StefH commented on #302
@NetMage can you please test if this version does fix your issue?

[2019-11-13 18:56] StefH commented on #320
Good point.
However I think that this behavior should be configurable. So better to add NumberStyles and/or CultureInfo to Parsing Config

[2019-11-13 19:11] yangzhongke commented on #311
thanks for your reminding, I will try it later.

[2019-11-13 19:57] mvalero commented on #320
Having it configurable would be a nice addition, the default should still be `InvariantCulture` in my opinion to avoid unexpected behaviour.

[2019-11-14 03:03] yangzhongke commented on #311
It works!
Thanks for your hand working!

[2019-11-14 08:30] StefH commented on #311
Thank you.

In a few days I will merge this to master and create a new NuGet.

[2019-11-15 18:44] alexweav commented on #307
Hello @StefH, I just ran into this issue as well. The filter `foo = "\"asdf\""` seems to match the literal including backslashes, and the filter `foo = """asdf"""`, which is the literal format documented on the wiki, causes a parse failure.

Are there any workaround for parsing a dynamic linq lambda which contains a quote, other than substitutions? If not, would you please be able to point me towa

[2019-11-18 05:55] MinhMit opened #322 "Query json in .net core 3.0"
Hello supporter,

First, sorry my Eng's not good.

Second, I have a project using entity framework core 3.0 and running SQL Server 2016 and json columns.

Example:

[code]

and DbContext:

[code]

When i query use linq dynamic, i get an error:

Query:

[code]

and error:

`The LINQ expression 'Where....' could not be translated. Either rewrite the query in a form that can be translated, or switch

[2019-11-18 06:20] #319 closed

[2019-11-18 06:33] StefH commented on #307
@alexweav The parsing code is located here:
- https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/Tokenizer/TextParser.cs#L274
- https://github.com/StefH/System.Linq.Dynamic.Core/blob/8d8ecf9c2340f4518dc377e9fe7a6767dd71e392/src/System.Linq.Dynamic.Core/Parser/ExpressionParser.cs#L781

And some unit tests are defined here:
- https://github.com/StefH/System.Li

[2019-11-18 06:36] StefH commented on #322
This is a common issue with EF 3
In this link https://docs.microsoft.com/en-us/ef/core/querying/client-eval#previous-versions it's explained in more detail.
Can you test with EF 2.x and adding that `warnings.Throw(RelationalEventId.QueryClientEvaluationWarning))` ? If you get the same error in EF 2.x, then you need to rewrite your query.

(BTW I did never use `HasConversion(...)` method to convert

[2019-11-18 07:04] MinhMit commented on #322
Thanks for your support.
And how can i use dynamic linq with json columns to filter data?
Have an example for me?
Again, thanks for your support!

[2019-11-18 13:07] MinhMit commented on #322
@StefH : Hi, i tried add Throw(RelationalEventId.QueryClientEvaluationWarning)) to dbcontext with EF 2.2. But my code working fine. This error only throw in EF 3.0.
How can i use dynamic linq with json columns and any example about that?
Thanks for your support.

[2019-11-18 14:17] StefH commented on #322
Can you provide two fully working example projects ?
- EF 2.2
- EF 3.0

[2019-11-18 16:40] MinhMit commented on #322
[WebApplication1.zip](https://github.com/StefH/System.Linq.Dynamic.Core/files/3859645/WebApplication1.zip)
@StefH : Here is my code for EF 2.2 and EF 3.0.
I added swagger to that projects, you can use to create and select data.
Please verify that for me.
Thanks for your support!

[2019-11-18 19:53] StefH commented on #322
You can use dynamic linq, however you need to call `ToList()` before you do the dynamic query.

Like
[code]

However, this means that the all data is queried and that the filtering is done at the client side. You can see this in the SQL which is generated by above c# code.
[code]

[2019-11-18 19:53] #322 closed

[2019-11-19 01:35] MinhMit commented on #322
Thanks for your support.

[2019-11-19 18:40] alexweav commented on #307
@StefH I was able to work around this by running an [ExpressionVisitor](https://docs.microsoft.com/en-us/dotnet/api/system.linq.expressions.expressionvisitor?view=netframework-4.8) on the parsed lambda which simply calls [Regex.Unescape()](https://docs.microsoft.com/en-us/dotnet/api/system.text.regularexpressions.regex.unescape?view=netframework-4.8) on all string constants. I wonder if something

[2019-11-19 18:44] StefH commented on #307
Please make a PullRequest with unit tests or a new sample project.

[2019-11-20 10:01] StefH commented on #320
@mvalero
I've created a PR, you can review this --> https://github.com/StefH/System.Linq.Dynamic.Core/pull/323

And if you want to test, you can use the `System.Linq.Dynamic.Core.1.0.20-ci-12197.nupkg` from MyGet.

[2019-11-20 10:07] StefH commented on #301
Closing...

[2019-11-20 10:07] #301 closed

[2019-11-20 10:08] StefH commented on #118
Closing...

[2019-11-20 10:08] #118 closed

[2019-11-20 10:09] StefH commented on #169
@striker8118 is this still an issue for you?

[2019-11-20 19:46] rinaldo-rfjr opened #324 "Combine grouping and data in one list"
Hi.
I need to generate a list with the group keys and the grouped data, but can't get it to work. My source is a list of dictionaries. Here is what I have in my code:

[code]

If I add the field **sign** to the select, I receive erros that **sign** does not exist. I need to show the sign entry along with the grouped data and the aggregates. Sign is not a field to be used in the grouping, but I nee

[2019-11-21 06:06] StefH commented on #324
Should you use this : `Key[\"sign\"] as sign` ?

Like:
[code]

[2019-11-21 13:56] rinaldo-rfjr commented on #324
Hi Stef.

I can try it. If I add more fields in my dictionaries, should all of them be added as keys in the Select?

[2019-11-22 02:08] rinaldo-rfjr commented on #324
Hi Stef

It didn't work. The list now has a **Sign** field but its value is empty:

![image](https://user-images.githubusercontent.com/48867975/69391893-f1e12e80-0cb2-11ea-811e-51804d878ee6.png)

I can access the **Sign** field and all the grouping data in a loop, but couldn't find a way to access them directly.

[2019-11-22 08:09] StefH commented on #324
Sorry, the query should be:
[code]

[2019-11-22 18:53] alexweav commented on #307
Test: #325

[2019-11-22 21:10] NetMage commented on #302
So I figured out how to get it in LINQPad and tried it. Instead of a null reference exception I now get a ParseException:

The 'np' (null-propagation) function requires the first argument to be a MemberExpression

Is that what should happen?

[2019-11-23 08:00] StefH commented on #302
Can you provide a full working example?

Because when I run these tests"https://github.com/StefH/System.Linq.Dynamic.Core/pull/309/files#diff-26864b997e03a24c9676bd97c489ac76R1308

It works as expected.

[2019-11-25 12:35] StefH commented on #307
@alexweav and @seregvan Can you please test if version `System.Linq.Dynamic.Core.1.0.20-ci-12219.nupkg` from MyGet solves your issue?

[2019-11-25 18:14] StefH commented on #307
@hypetsch and @SolidWhiteSven : you also where involved in string parsing issues, can you also verify if this fix also is in line with your usage?

[2019-11-25 20:29] NetMage commented on #302
When I execute the following in LINQPad, or in a VS2019 Console Program using ci-12228 installed, I get a Null Reference Exception on the `Select`:

`void Main() {
    var defaultRoleName = "x";
    var users = new[] { new User { Roles = new List<Role>() } }.AsQueryable();

    // Act
    var resultDynamic = users.Select("np(Roles.FirstOrDefault(false).Name, @0)", defaultRoleName).ToDynamicArray()

[2019-11-25 21:36] GoNextGroup opened #327 "Incorrect ToDynamicListAsync(this IEnumerable source, Type type) and ToDynamicArrayAsync(this IEnumerable source, Type type) behavior"
Hello.

I try to use `IEnumerable.ToDynamicListAsync(Type type)`. So, it's not cast to my custom type (for example, I have problem with casting to strings).

I checked your code and possible found the reason of this unbehavior definition:

you have

[code]

instead (possible) of

[code]

This possible error was also found in `ToDynamicArrayAsync([NotNull] this IEnumerable source, [NotNull] Type ty

[2019-11-26 06:22] StefH commented on #302
Please try version `System.Linq.Dynamic.Core.1.0.20-ci-12230`, that one works for me:

![image](https://user-images.githubusercontent.com/249938/69604367-7b7b5e00-101d-11ea-8611-5e9dbf55aff4.png)

[2019-11-26 07:37] SolidWhiteSven commented on #307
Hey, I've updated to 1.0.20-ci-12230 and all my tests were successful.
Thanks by the was for keeping this package nice and updated :-)

[2019-11-26 07:46] StefH commented on #307
@SolidWhiteSven The version you mention is a different one, you need `System.Linq.Dynamic.Core.1.0.20-ci-12219`.

[2019-11-26 08:02] SolidWhiteSven commented on #307
Ah, I see, thought the changes were also included there.
Retested with version 12219 and it all still works as expected.

[2019-11-26 16:06] kollerdroid opened #328 "Contains issue with Guid field type"
I would like to filter a list also by a Guid type.

It works on Sql server:
[code]

I tried it as it works in case of string fields

[code]
After that I tried to use .ToString() on Guid (which is exists on Guid type)

[code]

How could I solve this problem?

[2019-11-26 16:33] StefH commented on #328
You should be able to do:
`Entity3s.Where("@Guid.ToString().Contains(\"4b\")")`

1. Note that you need to escape the `Guid` property name with a `@`
2. The SQL generated is not 100% the same as you would expect (a conversion to string is done first):
[code]

[2019-11-26 16:49] StefH commented on #327
When the object is a string, only then you can cast it to string!

Example:
[code]

[2019-11-26 16:53] StefH commented on #327
see also https://github.com/StefH/System.Linq.Dynamic.Core/blob/5863256c11e32b100c917d133c54bda4afae4d8a/test/System.Linq.Dynamic.Core.Tests/DynamicEnumerableExtensionsTests.cs

[2019-11-26 17:26] StefH commented on #224
closing...

[2019-11-26 17:26] #224 closed

[2019-11-26 17:26] #311 closed

[2019-11-26 17:27] StefH commented on #162
Closing...

[2019-11-26 17:27] #162 closed

[2019-11-26 17:27] StefH commented on #324
@rinaldo-rfjr does this help?

[2019-11-26 17:49] kollerdroid commented on #328
It works. The generated query is a little bit others, but it does not matter in this case:
[code]
Thank You very much!

[2019-11-26 17:49] #328 closed

[2019-11-26 20:34] NetMage commented on #302
It is working with ci-12230. Note I am getting an error with the latest, ci-12237, Index out of range exception.

[2019-11-26 21:05] StefH commented on #302
Ok. Thanks for testing.

Note that I have several branches running in parallel, that's the reason a later version can be a different/older branch.

[2019-11-26 21:06] StefH commented on #302
https://github.com/StefH/System.Linq.Dynamic.Core/pull/309

[2019-11-26 21:06] #302 closed

[2019-11-27 11:59] StefH commented on #175
@mukeshrebari any update on this, or can this issue be closed?

[2019-11-29 00:44] GoNextGroup commented on #327
StefH, I know, I've just wanted to show that in your code you have problem only in async cast methods.

return Task.Run(() => **source.ToDynamicList());** <--- this code do not make any casts to the asked type.

[2019-11-29 08:16] StefH commented on #327
Ah I see. This needs to be fixed.

[2019-11-29 08:31] #327 closed

[2019-12-10 01:41] SamWhitby opened #330 "Ef.Like with int type"
Hi, is there any way you can express a cast as described [here](https://github.com/aspnet/EntityFrameworkCore/issues/11089#issuecomment-370059543)? It seems to be the only way to use the like function in .net core when dealing with types other than string.

I have tried
"DbFunctionsExtensions.Like(EF.Functions, string(object(IntProperty)), @0)" results in : 'Unable to cast object of type 'System.I

[2019-12-11 01:19] SamWhitby opened #331 "UseParameterizedNamesInDynamicQuery not working when parameter is converted"
Hi,

The setting UseParameterizedNamesInDynamicQuery is not being respected when the parser has to apply a convert.

For example, i have the class with a nullable double property
[code]
and i have the following expression that checks for equality against a specific number
[code]

The expression that is generated does not warp the value, instead it uses a constant

![image](https://user-images.gith

[2019-12-11 07:17] StefH commented on #331
@SamWhitby
Can you try version `System.Linq.Dynamic.Core.1.0.20-ci-12330.nupkg` from MyGet ?

[2019-12-11 20:43] SamWhitby commented on #331
Thanks for the quick response.
Unfortunately that does not fix my issue. I grabbed your branch and ran your test [here](https://github.com/StefH/System.Linq.Dynamic.Core/blob/7991751236b9f6c68373ff4f174ae76f8d5b9ce4/test/System.Linq.Dynamic.Core.Tests/DynamicExpressionParserTests.cs#L281) and its passing under that scenario, however if you add a double property to the person object and change the

[2019-12-13 15:40] StefH commented on #320
@mvalero Can you please test version `System.Linq.Dynamic.Core.1.0.20-ci-12197` from MyGet ?

[2019-12-16 10:12] Makrambg opened #333 "issue when comparing different types in a rule , Operator '' incompatible with operand types."
Hi,
I have the below example rule that selects all persons that have a profession in a certain list in addition to a different condition that has already been parsed and giving 1==1.
`var filteredMembers = MembersList.AsQueryable().Where("1 == 1 && PROFESSIONID in (19,1)")`
This condition is giving the below error:
Operator '&&' incompatible with operand types 'Boolean' and 'Int32'.
Is there a sol

[2019-12-16 10:44] StefH commented on #333
Sorry, you need always `()` in case you use ` in `.

A solution for your issue would be that you just always add `()`.

[2019-12-16 10:44] #333 closed

[2019-12-16 11:18] mvalero commented on #320
@StefH Sorry for the delayed response. Looks good, I just tested the version from MyGet and it solves the problem I described.

Thx a lot.

[2019-12-16 12:56] StefH commented on #320
@mvalero Thank you very much for verifying.

[2019-12-16 12:56] #320 closed

[2019-12-23 15:04] akghasemi opened #334 "Shadow properties"
It throws an Error when you try to use the shadow properties

[2019-12-27 14:04] rmosselveld opened #335 "Ordering on a anonymous type can not be translated to a LINQ query"
My application has always been working with dynamic ordering until i upgraded to EF Core 3.0. I now found out a part of my dynamic ordering LINQ query could not be created.

After some more debugging I found out that the query that is created by te dynamic linq library creates a new anonymous type and tries to sort on that type. This results in the following exception:

[code]

If I remove the ano

[2019-12-28 09:20] StefH commented on #335
This should just work fine.
See example here: https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src-console/ConsoleAppEF3.1/Program.cs#L31

[2019-12-30 21:09] rmosselveld commented on #335
I edited my post! I did some more debugging after you said this should be working. I found out that removing the creation of the anonymous object does fix this error.

However, I would like to use the object creation since in want to select only a subset of columns. Is this supported?

[2019-12-31 06:09] StefH commented on #335
Did you try setting `EvaluateGroupByAtDatabase` to **true** in the ParsingConfig ?

Else, can you provide a full example project?

[2019-12-31 09:59] rmosselveld commented on #335
Where should I apply that setting?

Code that is producing this LINQ expression is:

This is the base expression
[code]

Which is extended with Dynamic linq (generic include):

`source = source.Include("Device");`

Doing a select to select only the properties i need (sourceProperties is an array of columnnames i need):

[code]

And do a generic sort:

`source = source.OrderBy($"{sortPath} {sortDir

[2020-01-02 11:53] StefH commented on #335
In my example, this also works fine:
https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src-console/ConsoleAppEF3.1/Program.cs#L47

[2020-01-04 20:23] mukeshrebari commented on #175
Hi Stef Heyenrath, I know it took so long to reply but finally i have prepared demo project to showcase how we are using your wonderful  library.
here is the link of [DemoProject](https://github.com/OneSoniTech/DynamicRulesDemo)

[2020-01-05 08:07] StefH commented on #175
@mukeshrebari I've created a PullRequest on your example project which uses this project (System.Linq.Dynamic.Core) instead of the custom `DynamicLinq.cs` file.

I'm closing this issue now because your project is a custom extension which can be useful, but it's not really related to the common or core functionality from this project.

[2020-01-05 08:07] #175 closed

[2020-01-08 22:00] ahocquet opened #337 "np (NullPropagation) throws NullReferenceException with property on .NET Core 3.1"
After upgrading to .NET Core 3.1 from .NET Core 2.2, it seems that the `np()` operator now throws an `NullReferenceException`, even on properties. Here's a little piece of code that I run on LinqPad 6 that produces the bug :

[code]

![](https://i.imgur.com/U4YM7nd.png)

[2020-01-10 08:28] StefH commented on #334
@akghasemi Please provide example project

[2020-01-10 08:29] StefH commented on #307
Closing as solved in PR https://github.com/StefH/System.Linq.Dynamic.Core/pull/326

[2020-01-10 08:30] StefH commented on #337
@ahocquet Can you provide a full EF 3.1 example project please?

[2020-01-10 08:31] StefH commented on #318
Closing because behavior is as expected.

[2020-01-10 08:31] #318 closed

[2020-01-10 08:37] StefH commented on #307
@alexweav --> Can you please test if version System.Linq.Dynamic.Core.1.0.20-ci-12219.nupkg from MyGet solves your issue?

[2020-01-10 09:44] ahocquet commented on #337
I don't use Entity Framework, or maybe you mean .NET Core 3.1 ?

[2020-01-10 10:08] StefH commented on #337
I see.

The problem is that the code `np(c.LastName, string.Empty)` does not work correctly, the **string.empty** is not applied, so you get null-pointer exception.

Note that nested properties work fine:
[code]

I will investigate and try to fix.

[2020-01-10 10:42] ahocquet commented on #337
Sounds great, thank you!

[2020-01-10 13:19] StefH commented on #337
@ahocquet can you try MyGet version `System.Linq.Dynamic.Core.1.0.20-ci-12438.nupkg` ?

[2020-01-10 21:22] ahocquet commented on #337
Works great, thanks for fixing it so fast!

[2020-01-11 07:47] StefH commented on #337
PR will be merged to master https://github.com/StefH/System.Linq.Dynamic.Core/pull/338

And a new official NuGet will be released.

[2020-01-13 07:28] rockResolve opened #339 "Error creating Null string"
When using "select string(null)" I get the "Ambiguous invocation of 'String' constructor" error.
I was able to use this select in the old kahanu/System.Linq.Dynamic.

I need the String cast because I Concat this with a query with another and the Concat insists on matching types.

How can I get a Select to return a null string from a literal null?

[2020-01-13 07:32] StefH commented on #339
See also this one:
https://github.com/StefH/System.Linq.Dynamic.Core/issues/284
Doe this solve your issue?

[2020-01-13 08:28] rockResolve commented on #339
No. Constants.IsNull sees the value as "null" and returns false

[2020-01-14 07:40] rockResolve commented on #339
When I use select string(null) in the old kahanu/System.Linq.Dynamic it works.

Diagnosis: The difference is in MethodFinder.cs IsBetterThan.

The string constructor has 8 methods, FindBestMethod finds 3 methods (Char*, SByte* & Char[]) initially applicable.
kahanu IsBetterThan returns false when CompareConversion finds the parms are equal
So FindBestMethod returns final applicable.Length = 0 and

[2020-01-14 09:42] StefH commented on #339
@rockResolve
Can you try MyGet version `System.Linq.Dynamic.Core.1.0.20-ci-12452.nupkg` ?

[2020-01-14 11:50] StefH commented on #339
Actually using code like `string(null)` should not call the new operator, it's just a cast.
Also when casting to nullable int, you would use : `int?(5)`.

[2020-01-15 06:29] itdevtech opened #341 "ParseException: No applicable method 'Contains' exists in type 'String' System.Linq.Dynamic.Core.Parser.ExpressionParser.ParseMemberAccess(Type type, Expression instance) in ExpressionParser.cs, line 1647"
ParseException: No applicable method 'Contains' exists in type 'String'
System.Linq.Dynamic.Core.Parser.ExpressionParser.ParseMemberAccess(Type type, Expression instance) in ExpressionParser.cs
System.Linq.Dynamic.Core.Parser.ExpressionParser.ParsePrimary() in ExpressionParser.cs
System.Linq.Dynamic.Core.Parser.ExpressionParser.ParseUnary() in ExpressionParser.cs
System.Linq.Dynamic.Core.Parser.Ex

[2020-01-15 06:45] StefH commented on #341
Can you provide a full working console-app example?

[2020-01-15 07:14] itdevtech commented on #341
No, I am trying to incorporate in existing web application with EntityFrameWorkCore and IdentityFramework.

Public class Post
{
        public int Id { get; set; }

        [Required]
        public string Title { get; set; }
        .....
}

controller Code is
var posts = dbContext..Posts
                .Include(...)
                .AsQueryable<Post>();
Then calling where
posts = posts.Where(co

[2020-01-15 07:43] StefH commented on #341
Using netcore or net framework?

[2020-01-15 07:44] itdevtech commented on #341
.NetCore 2.1

[2020-01-15 08:35] clazarr commented on #337
@StefH, thank you for all of your hard work maintaining this library! It's a really useful library and it wouldn't be possible without your helpful development support.

I wanted to report that I did encounter a problem with this fix in that it does not seem to add a safeguard check for null for the last property in a nested member reference and the type of the last property is a reference type su

[2020-01-15 09:06] rockResolve commented on #339
Thanks for the quick reply. The package didn't quite work for me.
I am using the results with a concat, so need string(null), not just null. 

So I downloaded the branch to look closer. After I removed the "If only 1 argument, and the arg is ConstantExpression, just return the ConstantExpression" code, your pointer constructor removal worked well and built my string(null).
Now all my tests pass, w

[2020-01-15 12:53] StefH commented on #337
Can you try MyGet version `System.Linq.Dynamic.Core.1.0.20-ci-12472.nupkg` ?

[2020-01-15 17:45] clazarr commented on #337
@StefH thank you for the super fast response!

The pre-release version addressed the issue in both the example code and in my main project where I'm currently using System.Linq.Dynamic.Core. For the example code, the lambda expression that is produced correctly checks the last property, which is nullable, for null as well as all of the preceding members too:
[code]

So the new version works nicely

[2020-01-15 18:56] StefH commented on #337
@clazarr You're welcome.

The code supports (hopefully) all value-types and also objects and nullable types. See this test for more details: https://github.com/StefH/System.Linq.Dynamic.Core/blob/c9e98c9f050a21a24dbbae45e4031faca1416aa0/test/System.Linq.Dynamic.Core.Tests/ExpressionTests.cs#L1309

It should event support methods (like your ToUpper) and https://github.com/StefH/System.Linq.Dynamic.

[2020-01-15 18:56] #337 closed

[2020-01-15 19:13] StefH commented on #339
When you remove that line, the dynamic code behaves like this normal c# code:
`new string((char[]) null);` and will create an empty string, which differs from a null string!

If you need concat, can't you just use `string(\"\")` ?

[2020-01-16 08:10] rockResolve commented on #339
Oops your right my test was falsely passing with an empty string.

However I still do really need a string(null).
I am using linq.concat (like tsql union) to join several sets, but concat insists on matching types.
I am using string(null) to ensure it is sorted first/last

[2020-01-16 08:26] StefH commented on #339
Can you provide an simple console-app?

[2020-01-18 21:07] dthk-cogmatix opened #344 "[Help] Trying to use System.Linq.Dynamic.Core with MongoDB IQueryable"
I'm running into an issue when trying to use System.Linq.Dynamic.Core with MongoDB's client.

Example)

Works
`IQueryable query1 = collection.AsQueryable<BsonDocument>().AsQueryable().Where("Birthdate <= @0", DateTime.Now);`

Doesn't Work:
` IQueryable query1 = collection.AsQueryable<BsonDocument>().AsQueryable().Where("Birthdate <= DateTime.Now");`

(Throwing the exception): System.Linq.Dynamic.C

[2020-01-20 06:38] itdevtech commented on #341
@StefH Is there anything i am doing wrong ?
looking for solution so i can use this library.
Thanks in advance.

[2020-01-20 06:45] StefH commented on #341
This code just works?
[code]

[2020-01-20 07:16] itdevtech commented on #341
@StefH  Yes this code works.
Now what ?

[2020-01-20 08:09] itdevtech commented on #341
@StefH Thanks for your help. so nice of You.
Problem was i was pass arguments ArrayList but this give above error after that i convert ArrayList to Array using ToArray() and this works.
This is some kind of bug if you think so.
Thanks for Awesome work you have done.

[2020-01-20 08:21] StefH commented on #341
Thanks.

See also
- https://github.com/StefH/System.Linq.Dynamic.Core/issues/282
- https://github.com/StefH/System.Linq.Dynamic.Core/issues/61

I probably need to add a pinned issue or some help in the wiki.

[2020-01-20 11:12] StefH commented on #341
closing...

[2020-01-20 11:12] #341 closed

[2020-01-23 12:32] denmitchell opened #345 "Add optional rowCount parameter to PagedResult extension method to prevent calculating count when known"
For performance reasons, it would be helpful to provide an optional rowCount (int? rowCount = null) parameter to DynamicQueryableExtensions.PagedResult such that when rowCount is not null, the PagedResult method does not call Count() on the source and instead sets the RowCount property equal to the provided rowCount argument.  Theoretically, clients could get better performance by passing in rowCo

[2020-01-23 16:08] rppmartinsCollab commented on #307
Hi, testing this version, the problem persists.
When doing something like " query.Where("name.contains("\")") ", I´ve got System.Linq.Dynamic.Core.Exceptions.ParseException: 'Syntax error '\''.

Can you help me with this?

[2020-01-23 17:27] StefH commented on #345
@denmitchell You can also just call the Page method?
https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/DynamicQueryableExtensions.cs#L1348
And convert the result into a PagedResult?

[2020-01-24 06:14] denmitchell commented on #345
I was looking through your code for an example, but I didn't find a good one.  Could you show me an example where you return a PagedResult on the first call (first page) and a PagedResult on the second call (second page), but you don't recalculate the RowCount property each time?

[2020-01-24 07:36] StefH commented on #345
prototype c# code...
[code]

[2020-01-24 11:57] denmitchell commented on #345
@StefH, That's something similar to what I did to make it work.  I guess that I was hoping to have the optional rowCount parameter in your library code to make the client code a little cleaner/simpler.

[2020-01-25 08:23] StefH commented on #345
OK.

Can your try preview version from MyGet:
System.Linq.Dynamic.Core.1.0.20-ci-12519

[2020-01-29 19:46] JohnGalt1717 opened #346 "StartsWith/Contains/EndsWith/Like - .NET Core 3.1 Doesn't seem to work even following examples in other tickets"
I have an entity with a string Name property.

I'm trying to use dynamic linq to do a contains.

dbSet.Where(p => p.Name.Contains("somestring") works fine.

I've tried adding the static method for Like and doing this (with config having a customtypeprovider that includes the context as a type)

dbSet.Where(config, "dbContextName.Like(Name, "somestring"))

This fails saying that it can't interpret

[2020-01-30 10:33] rockResolve commented on #339
Finally got a simple console-app made.
I had to use z.entityframework to get my group by working correctly in core.
What is the best way to share - a PR in this repo?

[2020-01-30 11:58] StefH commented on #339
Just create a new project on github.

If needed I can copy it and debug in my solution.

[2020-01-30 20:54] kjkrum opened #347 "Client or server side evaluation?"
I encountered this library because I tried to upgrade a project to EF Core 3.x and discovered that one of the LINQ expressions was broken by the [removal of implicit client side evaluation](https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes#linq-queries-are-no-longer-evaluated-on-the-client). I can easily work around this by making the client side evaluation explicit

[2020-01-31 07:22] StefH commented on #347
This library should behave like normal Linq, except that it's dynamic, So it's server-side : IQueryable.

So making your older project (NET Core 2.x) client side evaluation explicit, you can catch all errors before upgrading to EF 3.

[2020-02-03 22:52] #347 closed

[2020-02-04 11:38] pseudo13 opened #348 "dynamic computed expression as string"
Hi guys,

i'm using the old fashioned Datatable in Ado.Net which provides us the Datatable.Compute method.
I can call give it an expression like dt.compute("column1 + column2 as ResultColumn").
How can i achieve this with dynamic linq.

Hope you can help and provide us with example. We tried it with list.Select("column1 + column2 as ResultColumn"), but it doesn't work.
Best regards,

[2020-02-04 16:08] StefH commented on #348
Maybe you can try
[code]
?

https://stackoverflow.com/questions/5652096/dynamic-linq-no-property-or-field-exists-in-type-datarow

[2020-02-04 16:10] StefH commented on #346
Why would you need a custom function?

In EF3, these statements are already translated correctly?

[2020-02-04 16:10] StefH commented on #334
@akghasemi Please provide example project

[2020-02-05 08:11] pseudo13 commented on #348
Hi StefH,
unfortunately it doesn't work. Can you check?
![image](https://user-images.githubusercontent.com/20776802/73822872-637f4200-47f7-11ea-8141-d67e25cae433.png)

[2020-02-05 08:26] StefH commented on #348
[code]

-->
![image](https://user-images.githubusercontent.com/249938/73823933-93c7e000-47f9-11ea-94b4-a8fdb8403d3b.png)

[2020-02-05 14:51] pseudo13 commented on #348
Ok. I got it. Many thanks to you.

[2020-02-05 14:51] #348 closed

[2020-02-06 08:21] akghasemi commented on #334
HI, Sorry for responding too late,
Adding a shadow properties are simple and you can add shadow properties to entity framework like this
`public class SampleContext : DbContext
{
    public DbSet<Contact> Contacts { get; set; }

    protected override void OnModelCreating(ModelBuilder modelBuilder)
    {
         modelBuilder.Entity<Contact>()
            .Property<DateTime>("LastUpdated");
    }

[2020-02-09 02:28] rockResolve commented on #339
Added console-app at https://github.com/rockResolve/dlinq-demo-string-null.
Currently using System.Linq.Dynamic.Core 1.0.20-ci-12519, so string(null) raises pointer constructor error.

[2020-02-09 02:31] rockResolve commented on #339
Also added possible System.Linq.Dynamic.Core fix with added/updated tests at:
https://github.com/rockResolve/System.Linq.Dynamic.Core/tree/Better_Error-null-string

[2020-02-11 10:04] MarineMarin commented on #313
Same problem here...
@YuriGal did you solved it ?

[2020-02-11 17:22] StefH commented on #313
You could use something like:
[code]

see also https://github.com/StefH/System.Linq.Dynamic.Core/blob/5863256c11e32b100c917d133c54bda4afae4d8a/test/System.Linq.Dynamic.Core.Tests/QueryableTests.Join.cs#L55

[2020-02-11 17:36] StefH commented on #345
@denmitchell

Can your try preview version from MyGet:
System.Linq.Dynamic.Core.1.0.20-ci-12519

[2020-02-12 07:29] denmitchell commented on #345
@StefH , Sorry about that.  I had tried to access the MyGet repo, but wasn't able to connect; so I just worked on other things.  I will try again now.

[2020-02-12 08:10] StefH commented on #345
details on MyGet can be found here : https://github.com/StefH/System.Linq.Dynamic.Core/wiki/MyGet-preview-versions

[2020-02-12 08:57] denmitchell commented on #345
That seems to work just fine.  Below is a quick Console test that I put together.  Again, sorry for the delay.

[code]

[2020-02-12 08:57] #345 closed

[2020-02-12 20:02] JohnGalt1717 commented on #346
Because I'm building up oData queries based on custom parsing since the odata package is completely borked and useless for .NET Core 3.1 STILL and we're out of support for .NET Core 2.2 so I don't have time to wait for them to get around to doing what they should have done 6 months ago.

[2020-02-13 06:51] StefH commented on #346
1] Did you see these examples (for EF 2.x)?
- https://github.com/StefH/System.Linq.Dynamic.Core/blob/6fc7fcc43b248940560a0728c4d181e191f9eec1/src-console/ConsoleAppEF2.0/Database/TestContext.cs#L24
- https://github.com/StefH/System.Linq.Dynamic.Core/blob/6fc7fcc43b248940560a0728c4d181e191f9eec1/src-console/ConsoleAppEF2.0/Program.cs#L104

2] Does Microsoft.AspNetCore.OData "7.3.0" not work for you

[2020-02-13 07:03] StefH commented on #346
4] I see your point. When using in EF 3, I get:
[code]

[2020-02-13 13:26] JohnGalt1717 commented on #346
@StefH   so, I'm using this [https://github.com/codecutout/StringToExpression](https://github.com/codecutout/StringToExpression) to parse the odata syntax. The one built in only works for odatav4, I have some bugs in there and am working on PRs to get OData4 working. So far I have essentially everything working for $filter.

The order by is the tricky part. It fails when I try and generate them us

[2020-02-16 22:49] Garwin4j opened #350 "EF Core Querying Collections"
Hello,
Firstly, wonderful library, thank you. Secondly,
I get this error below when trying to write a query that queries over collections
(eg. Car.Tires.Id). I assume this is not supported but I wanted to be sure or am I doing something wrong.

`"No property or field 'Id' exists in type 'List`1'"
Position [int]:24
Source [string]:"System.Linq.Dynamic.Core"
StackTrace [string]:"   at System.Linq.Dy

[2020-02-17 06:07] StefH commented on #350
This is also not valid Linq,
Just use:
[code]

[2020-02-17 13:55] Garwin4j commented on #350
Okay, thanks.

[2020-02-17 13:55] #350 closed

[2020-02-21 14:57] kKen94 opened #351 "Case insensitive GroupBy()"
Is it possible adding IEqualityComparer to GroupBy()?

[2020-02-22 10:27] StefH commented on #351
Technically this is possible, however, what problem will this solve? Can you provide an example / unit test?

[2020-02-24 06:30] StefH commented on #339
Can you create a PR, I'll have to check your changes.

[2020-02-24 06:33] StefH commented on #307
@rppmartinsCollab To be able to use Contains to check if a string contains a `\`, you need code like:

[code]

1. Escape the `"` with `\"`
2. Escape the `\` with `\\`

Does this work for you?

[2020-02-24 06:35] StefH commented on #307
@alexweav, @seregvan and @hypetsch : If you have time, please double check if the updated NuGet (`System.Linq.Dynamic.Core.1.0.20-ci-12219`) works ok for you.

[2020-02-24 07:53] kKen94 commented on #351
`var distinctedRaw = itemsToGroup
                .AsQueryable()
                .GroupBy($"new({string.Join(",", keys)})", "it")
                .Select("it.First()")
                .ToDynamicList<T>();`

I use GroupBy() to group same values by dynamic keys and get unique values to remove duplicates.
But if I don't apply UpperCase(), "STRing"and "strING" for GroupBy are not the same and when I g

[2020-02-24 10:15] rppmartinsCollab commented on #307
Hey, thanks for the response.

This way I get the error  "Syntax error ' \\ ' " once TextParser does not recognize the character.

[2020-02-24 10:35] StefH commented on #307
@rppmartinsCollab Sorry for the confusion, you actually need to escape the `\` twice. So `\\\\`.
For example see https://github.com/StefH/System.Linq.Dynamic.Core/pull/326/files#diff-d7a1783411cc2e7ca08b15984ed427c9R33

[2020-02-24 10:57] rppmartinsCollab commented on #307
The problem seems to be in scaping the quote character, I get error in \\\"

[2020-02-26 14:34] StefH commented on #351
If you execute this query on a database (sql), then this does work fine.

In LinqPad:
[code]
![image](https://user-images.githubusercontent.com/249938/75354467-4ba65580-58ad-11ea-93e8-c376470cfaca.png)

[2020-02-26 17:53] StefH commented on #164
Option removed.

[2020-02-26 17:53] #164 closed

[2020-02-28 13:12] kKen94 commented on #351
The problem is that i'm not querying db, i'm manipulating local array

[2020-03-02 07:27] StefH commented on #351
I see.
It's possible to fix this, however it requires a lot of code changes in the GroupBy methods.

[2020-03-02 11:24] kKen94 commented on #351
... and a lot of time I suppose. This issue is not urgent, at the moment I lowercasing all. It's a bad workaround, I know, but otherwise I wouldn't know how to do it

[2020-03-04 16:19] ikirkpat commented on #346
I think this is what was being asked here but I'm trying to do something like so:

[code]
Right now, it appears there is no support for this. I tried your example above using EF.Functions.Like, but it won't work. I see you use a custom parser config but I would prefer not do that since that seems like a lot of work for our app just to get a dynamic LIKE operation. It would be nice for this to be a

[2020-03-04 16:27] ikirkpat commented on #346
Never mind, Just tried:
[code]
That worked.

[2020-03-04 17:29] #346 closed

[2020-03-05 09:32] rockResolve commented on #339
PR #354
I based it on the latest master, to pick up your latest changes

[2020-03-05 18:46] konzen opened #355 "Parser issue - NullReferenceException"
When the type and property have the same name the parser takes the type instead of property.

Sample:
[code]

[2020-03-14 14:49] ibramn opened #356 "Select using the generic method Select<TResult> throws exception when selecting nested list."
this code works fine
`var countries = countriesQuery.Select("new (Id,Name,Cities.Select(new (Id,Name)) as Cities)").ToDynamicList();`

but when I use the generic method it throws an exception
`var countries = countriesQuery.Select<CountryDTO>("new (Id,Name,Cities.Select(new (Id,Name)) as Cities)");`

**The exception:**
System.ArgumentNullException: Value cannot be null. (Parameter 'expression')\r\

[2020-03-14 15:33] #356 closed

[2020-03-14 15:35] StefH commented on #355
What if you use
[code]

[2020-03-16 17:47] konzen commented on #355
It worked! But I have no way to force the use of this syntax. I solved it with a small change. Pull request #357

[2020-03-17 09:24] julienGrd opened #358 "[Blazor webassembly] library not working with linker disabled"
Hello and thanks for your work ! I use your library in one of my blazor webassembly project, but it seem not working when the linkler is disabled

You will find a reproduction project here : https://github.com/julienGrd/blazorWebassembly3.2Preview1
- run the app
- go to fetch data
- open the  chrome console, you will see this exception
[code]

It seem this issue is related to this one on mono, if

[2020-03-17 18:16] StefH commented on #358
Is this something which can be fixed by this library, or just as notification?

[2020-03-18 13:34] silarmani commented on #307
Hello guys,

I've just upgraded it to 1.0.21 via nuget and I can confirm that the issue still exists.

It only breaks if the filter is a check for a single backslash

e.g. #1 if I search for \t ["Studyname.Contains(\"\\t\")"], EF produces the correct condition

[code]

e.g. #2 if I search for \\ ["Studyname.Contains(\"\\\\\")"], EF produces the correct condition (i.e. text with single backslashes

[2020-03-18 13:53] StefH commented on #307
@silarmani Did you use latest from normal NuGet ?
This will not yet work.

Can you please try version System.Linq.Dynamic.Core.1.0.20-ci-12980.nupkg from MyGet ?

[2020-03-18 15:52] julienGrd commented on #358
I'm not really sure... at the end of the issue (this one https://github.com/mono/mono/issues/12917) they speak about a PreserveDependencyAttribute which can be add to solve the problem but we have a lack of information. So if you understand what they speak about in the issue maybe you can make something but otherwise i will wait for more information.

[2020-03-18 15:57] StefH commented on #358
If that property solves the issue, that means that property should be defined in the calling application, cannot be defined in this project.

I think...

[2020-03-18 15:57] silarmani commented on #307
@StefH, yes, it does, as long as I escape all backlashes, which makes sense.

For clarity for everyone I am going to repeat all the scenarios I ran before but with this special version and then show the new queries in EF

e.g. #1 if I search for `\t` `["Studyname.Contains(\"\\\\t\")"]`, EF produces the correct condition

[code]
e.g. #2 if I search for `\\` `["Studyname.Contains(\"\\\\\\\\\")"]`, E

[2020-03-18 16:02] silarmani commented on #307
I have also tested permutation using backslashes and double quotes and they all work flawlessly.

Is there a plan for making it available in the next release via NuGet?

[2020-03-18 16:05] silarmani commented on #307
e.g. #4 if I search for `\"` `["Studyname.Contains(\"\\\\\\\"\")"]`, EF produces the correct condition

[code]

[2020-03-18 16:23] StefH commented on #307
@silarmani Thanks for extended testing!

I want to release this to normal NuGet, however I think I need to change the version from this library to 1.1 because it can be a breaking change.

Also I'm doubting if I should add a new dependency (`<PackageReference Include="Sprache.Signed" Version="2.2.0" />`) or that I should copy these source files into my library ?

[2020-03-18 16:29] silarmani commented on #307
Yes, it is breaking change. I would changed it to 1.1.

e.g. the syntax for searching for `\t` changed from ["Studyname.Contains(\"\\t\")"] to ["Studyname.Contains(\"\\\\t\")"]

In regards to adding a new dependency, I don't see it as problem.

I'll stick with the pre-release for now since it doesn't break anything so far.

Thank you!!!

[2020-03-18 16:50] StefH commented on #355
@konzen can you take a look at my review comment please?

[2020-03-18 16:52] StefH commented on #339
PR is merged ; closing this issue.

[2020-03-18 16:52] #339 closed

[2020-03-18 16:53] StefH commented on #310
Closing...
If you still need help, create a new issue.

[2020-03-18 16:53] #310 closed

[2020-03-18 16:55] StefH commented on #235
Closing issue.

If it's still a problem, answer here or create a new issue.

[2020-03-18 16:55] #235 closed

[2020-03-18 16:55] StefH commented on #334
Interesting... I need to take a look here...

[2020-03-18 18:11] julienGrd commented on #358
apparently the guys of mono back to us in the month to explain, we will see at this moment.
Im not the only who use this library in blazor webassembly app so anyway it can be nice to put the solution here, even if it impact only the calling app and not the library itselve

[2020-03-18 18:15] jp0550 opened #359 "Support for multiple parent calls from child entities for more than 3 levels of selection"
[code]

I'm unable to reproduce the first linq statement using dynamic linq as parent.parent is not valid. Can this be enhanced to support multiple parent entities for linq queries with more than 3 levels?

[2020-03-19 07:12] StefH commented on #359
@jp0550 ; can you provide a full working example please?

[2020-03-19 14:39] jp0550 commented on #359
[code]

[2020-03-19 16:07] danroth27 commented on #358
Hi @julienGrd. You should be able to configure the linker for your library by embedding an XML linker config file into the library. I've put together a sample that shows how to do this here: https://github.com/danroth27/ComponentLibWithXmlLinkerConfig. Could you please try this out and see if it works for your scenario?

[2020-03-19 17:19] julienGrd commented on #358
Hi @danroth27 , thanks it seem work perfectly ! just an important thing to make it works, i have to add the file at the project but also edit the csproj to add this directive (like your project)
[code]

Is this file not impact other .NET standard type of project?  because its not a blazor specific library !

@StefH : OK to add this to your project ? otherwise it seem i can make it directly on my c

[2020-03-19 17:22] danroth27 commented on #358
All this is doing is embedded the XML linker config file into the assembly. This file will get picked up appropriately by the .NET IL linker wherever it gets used, including Xamarin apps and standalone .NET Core desktop apps. For apps that aren't using the linker this file is completely benign.

[2020-03-19 17:33] konzen commented on #355
Changed

[2020-03-19 17:56] StefH commented on #355
Code merged to master branch, closing this one.

[2020-03-19 17:56] #355 closed

[2020-03-23 07:41] julienGrd commented on #358
@danroth27 finally It seem not enough with this library. I fall into another problems when i try to use dynamic group by.
To reproduce :
- open your ComponentLibWithXmlLinkerConfigproject
- put this piece of code on the Initialized of your component
var test = people.AsQueryable().GroupBy("Name").ToDynamicList<IGrouping<dynamic, Person>>();

you will have this error :
[code]

What is strange, is i

[2020-03-23 16:04] danroth27 commented on #358
@julienGrd Makes sense - the type initializer for `DynamicEnumerableExtensions` uses reflection: https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/DynamicEnumerableExtensions.cs#L16-L20. You could address this by updating the xml linker config to preserve the `DynamicEnumerableExtensions` type.

[2020-03-23 16:50] julienGrd commented on #358
Yes i was thinking was something like that, i still don't really understand how to use the linker :-/. i try both these configuration without make it work
[code]
[code]

[2020-03-23 17:18] danroth27 commented on #358
@julienGrd `DynamicEnumerableExtensions` lives in the System.Linq.Dynamics.Core assembly, not System.Runtime.

[2020-03-23 18:03] julienGrd commented on #358
ok it works perfect ! i will be happy to have some documentations about the linker when it will be possible !
Thanks for your help i will close this issue.

@StefH if you still want include by default this configuration to make it works in mono projects without client configuration, i can suggest a PR. just reopen this issue and say me.

[2020-03-23 18:14] danroth27 commented on #358
@julienGrd Docs on how to configure the linker for libraries are in the works: https://github.com/dotnet/AspNetCore.Docs/issues/17369

[2020-03-23 18:14] julienGrd commented on #358
the final solution to make it works, on the library or on the client project
Linker.xml
[code]
csproj
[code]

[2020-03-23 18:14] StefH commented on #358
Please make a PR.

[2020-03-23 18:18] julienGrd commented on #358
perfect ! i will do this these next days !

[2020-03-23 18:18] StefH commented on #358
And when this is done; I need to update the Wiki.

Also: can you include a full working example blazor project? Place this in a new src-blazor folder.

[2020-03-23 18:28] julienGrd commented on #358
yes it's a good idea !Do you want some specific test in the blazor project ? or a simple dynamic order by on a table is OK for you ?

[2020-03-23 18:45] StefH commented on #358
Keep it simple.

[2020-03-24 18:10] rinaldo-rfjr opened #361 "Alias containing spaces"
Hi

How can I use spaces in aliases? For example:
new(Key.code as Main Code, Sum(it.Mark) as Main Total

Thanks
Rinaldo

[2020-03-24 21:02] StefH commented on #361
Sorry, this is not possible.

[2020-03-24 21:02] #361 closed

[2020-03-25 07:09] StefH commented on #358
closing issue because PR is merged to master

[2020-03-25 07:09] #358 closed

[2020-03-27 15:40] lkroliko opened #362 "Use library in repository pattern with generic methods"
Hello

Is it possible to use this library in repository pattern with generic methods?
For example:
[code]

Regards
Łukasz

[2020-03-27 16:00] StefH commented on #362
Does adding `.AsQueryable()` work?
Like:
[code]

[2020-03-31 12:48] perason opened #363 "OrderBy with non-english letters give different ordering result on string vs key selector"
The issue I have is that when using a _string_ (`"ProductId"`) for ordering it doesn't sort properly, e.g.
[code]
    Output:
    Ååå
    Ååå
    Aaa
    Aaa
    Bbb
    Bbb

but when using a _key selector_ (`s => s.ProductId`) it does, e.g.
[code]
    Output:
    Aaa
    Aaa
    Bbb
    Bbb
    Ååå
    Ååå

---

I am using `System.Linq.Dynamic.Core` ver. 1.0.23.

I also tried with `StringComparer

[2020-03-31 13:04] StefH commented on #363
@perason The code examples you provide are 'normal' linq queries. Can you also provide examples for dynamic linq?

[2020-03-31 13:13] perason commented on #363
I thought I just did. To enable a `string ordering` as a first `OrderBy` parameter I added this library, and when not, I am not able to use a `string`, only a `Func<Inventory, TKey>` expression.

If not this is a dynamic linq sample, what is?

[2020-03-31 13:22] StefH commented on #363
Ah I see, sorry for the confusion, your code is like:
[code]

However the method will be : https://github.com/StefH/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/DynamicQueryableExtensions.cs#L1316

Which means that the StringComparer will be supplied as a normal argument.
The arguments are used for code like this:
[code]

Note that for numbers, there is https://github.com/Stef

[2020-03-31 13:25] perason commented on #363
If you could add how to use StringComparer and CultureInfo I would be grateful, and thanks very much for quick response.

[2020-04-02 06:23] lkroliko commented on #362
Yes it works. Thank you StefH!

[2020-04-02 06:23] #362 closed

[2020-04-02 15:46] rinaldo-rfjr opened #364 "All and Sum in the same expression"
Hi.

I need to avoid the 0 that is returned by Sum when there are no values in the sequence. So I tried this expression:

queryExp = "(it.All(it[\"MonthData\"]) != null) ? Sum((Double?(it[\"MonthData\"]))) : null) as Total";

it is a dictionary and MonthData is the key of the element I need to Sum. In fact, not always this element will have values and so, Sum returns 0, but I need a null. When I t

[2020-04-02 18:19] rinaldo-rfjr commented on #364
Nevermind, I got it to work.

Thanks!

[2020-04-02 18:28] rinaldo-rfjr commented on #364
Sorry StefH, in fact it isn't solved :-(

The error has stopped, but the values are wrong

[2020-04-02 18:46] rinaldo-rfjr commented on #364
Hi Stef,

now it's solved!

[2020-04-02 21:33] #364 closed

[2020-04-05 09:24] brgrz opened #365 "Support JSON_VALUE in ORDER BY"
Trying to run anything that has JSON_VALUE function in query and it fails with

[2020-04-05 09:25] StefH commented on #365
Can you please provide a full working code example?

[2020-04-05 09:27] brgrz commented on #365
The code would be something like this

[code]

[2020-04-06 14:12] Franki1986 commented on #98
Hi,
is ther also a way to generate this for lists?

I hae an expression like this where e.g. myList is a srting lis and a member of dataSource;

[code]

does not work as expression, the LambdaExpression looks as following:

`{Param_0 => Convert(IIF((Param_0 != null), Param_0.myList, null).FirstOrDefault())}`

The C# way would look like this:

`myList?.FirstOrDefault()`

what would work..

[2020-04-06 14:30] StefH commented on #98
What happens if you use
[code]

[2020-04-06 14:34] Franki1986 commented on #98
np(myList.FirstOrDefault) throws an exception with:

`{"No property or field 'FirstOrDefault' exists in type 'List`1'"}`

[2020-04-06 14:35] StefH commented on #98
and
`var expressionText = "np(myList.FirstOrDefault())"`

[2020-04-06 14:36] Franki1986 commented on #98
Exception = {"The 'np' (null-propagation) function requires the first argument to be a MemberExpression"}

[2020-04-06 14:39] StefH commented on #98
This should work. Do you have the latest version?

See
https://github.com/StefH/System.Linq.Dynamic.Core/blob/ea887692d003139961c313a1b723a6799a5e8979/test/System.Linq.Dynamic.Core.Tests/ExpressionTests.cs#L1395

[2020-04-06 14:40] Franki1986 commented on #98
I have updated to the latest nuget version.. should I use a myget version?

[2020-04-06 14:48] Franki1986 commented on #98
Maybe it is because I am using the DynamicParser?

[2020-04-06 18:05] StefH commented on #98
DynamicParsers uses same code.

In my test, I use `.Name`
https://github.com/StefH/System.Linq.Dynamic.Core/blob/ea887692d003139961c313a1b723a6799a5e8979/test/System.Linq.Dynamic.Core.Tests/ExpressionTests.cs#L1401

Maybe this only works like this.

Else, can you open a new issue with an complete C# example?

[2020-04-06 18:12] Franki1986 commented on #98
What is striking, is that I am not using code inside a select or a where clause. I am only using an expression based on an object :
Here my test code. If you want I will create a new issue, maybe I am missing something and we will see it here:

[code]

[code]

[2020-04-06 18:42] Franki1986 opened #366 "Null propagation cannot be used for primitive type lists (string)"
I want to parse a null propagation expression for a list with a string:

Simple test scenario:
[code]

[code]

Here I get the exception : The 'np' (null-propagation) function requires the first argument to be a MemberExpression

Null propagation for a property works:

[code]

[2020-04-06 18:43] Franki1986 commented on #98
Opened a new issue based on the information, I think it is because of the primitive list type. #366

[2020-04-08 09:04] StefH commented on #366
Can you try MyGet version `System.Linq.Dynamic.Core.1.0.23-ci-13135` ?

[2020-04-08 09:44] Franki1986 commented on #366
Looks good:

[code]

`{Param_0 => Convert(IIF(((Param_0 != null) AndAlso (Param_0.MyList != null)), Param_0.MyList .FirstOrDefault(), null))}`

[2020-04-08 16:47] StefH commented on #366
https://github.com/StefH/System.Linq.Dynamic.Core/pull/368

[2020-04-08 16:48] StefH commented on #366
@Franki1986 Can you do some more tests please? To make sure it works also on real database calls?

[2020-04-08 18:42] Franki1986 commented on #366
Sure, I will do it tomorow. But I am using Linqtodb not ef core. But if the expression is right I think it will also work with ef..

[2020-04-09 07:00] Franki1986 commented on #366
I am not sure what kind of test scenario I could do against a database? If I understand, I have to generate a methodExpression that could return null.

[2020-04-09 07:08] StefH commented on #366
Instead of using DynamicExpressionParser manually, you can just use a Linq Select:

Example:
[code]

[2020-04-09 07:51] Franki1986 commented on #366
I hobe this is getting in the right direction, because it is the closest I can create with the database and LinqToDb, because a string list cannot be mapped directly to a database table and the expression then coould only be applied to the resulting data. So I created a parent and child class for 1 to n.

[code]

[code]

Resulting expression debug string:

`                  "{Table(PARENT).LoadWi

[2020-04-09 09:53] NickHough5 opened #369 "Dynamic Core String Compare"
Hello,

I've just run the following dynamic query to compare strings to see if the field string is greater then the term (search) string, this simply outputs the results to a table that customers can filter on.

The query is:
`$"!string.IsNullOrWhiteSpace({field}) && {field}.ToLowerInvariant().Compare(\"{term}\".ToLowerInvariant()) > 0"`

Am i missing something as i get the following exception:
`"

[2020-04-09 11:02] StefH commented on #369
Should it be `CompareTo(...)` ?

[2020-04-09 11:14] NickHough5 commented on #369
Obsolute Genius, thank you.
The original Dynamic Queries used .Compare.

I was orignally using the original, until i found that their .Contains doesn't work on lists. So switched to this and im greatful that you're actively developing this wonderful extension of LinQ.

[2020-04-09 11:14] #369 closed

[2020-04-09 14:07] StefH commented on #366
And if you get the Id and provide a default value, like:
[code]

[2020-04-11 20:17] rinaldo-rfjr opened #371 "GroupBy projection"
Hi.
I'm experimenting with dynamic linq and trying the different overloads of GroupBy. I have a list of dictionaries that I can group with success, but can't get the result data using an specific overload.

This the code I'm using for testing:

[code]

When I run the Select statement, I receive the following error:
**No applicable indexer exists in type 'IGrouping`2'**

How can I project the group

[2020-04-12 07:24] StefH commented on #371
You don't need to use `\"***\"`, you can just use:
[code]

Result is:
![image](https://user-images.githubusercontent.com/249938/79063028-6dae3880-7c9f-11ea-9319-0a2aa856e1f9.png)

(I'm not 100% sure if the result is what you want, but it gives an idea...)

[2020-04-12 12:58] leonliuxu opened #372 "regular expression not support"
why not support the regex in  lambda expression?

[2020-04-12 14:06] StefH commented on #372
Because Regular Expressions are not supported in EntityFramework (cannot be translated into SQL).

An option would be like:
https://stackoverflow.com/questions/5720987/how-to-simulate-regular-expressions-in-linq-to-sql

[2020-04-12 14:06] #372 closed

[2020-04-12 14:21] leonliuxu commented on #372
Thank you for your reply.
I wanna use RulesEngine (https://github.com/microsoft/RulesEngine) in my project,  It's depend on this project, Is there any suggestion for me?

Thanks a lot

[2020-04-12 15:08] StefH commented on #372
A cool, I did not know that project used this one.

I don't have any suggestions for you related to RegEx and using these in Lambda expressions. However, it can be used I think.

[2020-04-12 19:18] rinaldo-rfjr commented on #371
Thanks Stef, it worked!

[2020-04-12 21:11] #371 closed

[2020-04-14 16:19] jenscski commented on #312
@saber-wang, I have this problem, but I don't understand what you mean that override attributes cause this problem ...

[2020-04-15 01:16] saber-wang commented on #312
@jenscski About that
class a
{
public virtual string A { get; set; }
}

class b:a
{
public override string A { get; set; }
}

It's a little too long to remember. This problem should not be caused by system.linq.dynamic.core?

[2020-04-15 06:31] Franki1986 commented on #366
Sorry for the late response, I wasn't at the pc over the easter days.
So this

`var query2 = qu.Select("np(ChildList.FirstOrDefault().Id, 42)", null);`

produces the expression:

`{Table(PARENT).LoadWith(g => g.ChildList).Select(Param_0 => IIF((((Param_0 != null) AndAlso (Param_0.ChildList != null)) AndAlso (Param_0.ChildList.FirstOrDefault() != null)), Param_0.ChildList.FirstOrDefault().Id, 42))}

[2020-04-15 06:44] StefH commented on #366
@Franki1986 Thanks a lot for this test.
One last request : can you capture the real SQL which was produced?

[2020-04-15 08:02] Franki1986 commented on #366
[code]

LinqToDb didn't have eager loading till version 3 (pre release), so this is the SQL that is produced for a version under 3, where for each child a subselect is done:

[code]
and so on...

[2020-04-16 11:43] Franki1986 commented on #366
Is this sufficent for you?

[2020-04-16 13:20] StefH commented on #366
Yes. I will merge PR and release new version.

[2020-04-16 20:17] #366 closed

[2020-04-17 12:46] jenscski commented on #312
Thanks.

[2020-04-27 11:35] rochapablo commented on #364
Can you share?

[2020-04-27 11:49] rochapablo opened #373 "No property or field 'Sum' exists in type 'Decimal'"
How can I `Sum` a column?

[code]

[2020-04-27 14:06] rochapablo opened #374 "Why I'm not able to group by another table?"
[code]

[code]

If I try to add alias:

[code]

[code]

It should be working like this

[code]

https://stackoverflow.com/questions/61461191/why-im-not-able-to-group-by-another-table

[2020-04-27 15:12] StefH commented on #373
Something like this:
![image](https://user-images.githubusercontent.com/249938/80388544-5039bb00-88aa-11ea-81ef-1c33b19dcf50.png)

[2020-04-27 15:12] #373 closed

[2020-04-27 15:17] StefH commented on #374
Just use
[code]

![image](https://user-images.githubusercontent.com/249938/80389067-ec63c200-88aa-11ea-9681-5c403ac86cbc.png)

[2020-04-27 15:17] #374 closed

[2020-04-29 01:26] manideep418 opened #375 "dynamic queryable extensions "Where""
Does the where extension in dynamic queryable extensions support datetime type?.

[2020-04-29 18:35] JonathanMagnan commented on #375
Hello @manideep418 ,

It's possible to pass a DateTime type in parameter such as:

[code]

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) • [Bulk Operations](http://bulk-operations.net/) •  [Da

[2020-04-30 19:29] mhosman opened #376 "Cannot use with EF.Functions.ILike(anything, "%aaa%")"
I get error:

`No property or field 'EF' exists in type 'xxxxx'`

[2020-04-30 19:31] StefH commented on #376
You can only use EF functions when you use the EntityFramework.DynamicLinq or Microsoft.EntityFrameworkCore.DynamicLinq NuGet.

[2020-04-30 19:58] mhosman commented on #376
I'm using System.Linq.Dynamic.Core. There's no way to run this inside a string? Something like...

.Where("EF.Functions.ILike(anything, \""%aa%"\") and status eq true")

[2020-05-01 03:18] joshidp opened #377 "'No applicable aggregate method 'Aggregate' exists' error for enumerablequery`1 types"
Hi,

Thanks for your work.

I am using your lib and while parsing below snippet using DynamicExpressionParser.ParseLambda I am getting "'No applicable aggregate method 'Aggregate' exists' " error but in your unit tests it works fine.
`abc.Aggregate(\"Sum\",\"xyz\")`

XYZ is of TimeSpan type so I can't use Sum directly.

Please help

[2020-05-04 15:55] loob91 commented on #94
Are you sure this is closed ?

When I use this code :
`var _expression = DynamicExpressionParser.ParseLambda<T, bool>(ParsingConfig.Default, false, _filterString, eavcustomattributes.id, _value.ToString());`

Result is :
`Param_1.value == 12/01/2017 00:00:00`

And then I have the error :

[2020-05-04 18:11] mhosman commented on #376
Hey @StefH thanks for the response!
I'm using System.Linq.Dynamic.Core. There's no way to run this inside a string? Something like...

.Where("EF.Functions.ILike(anything, \""%aa%"\") and status = true")

[2020-05-04 18:14] StefH commented on #376
You could use `Contains`?
See https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/5863256c11e32b100c917d133c54bda4afae4d8a/test/System.Linq.Dynamic.Core.Tests/QueryableTests.Contains.cs#L12

[2020-05-04 18:18] mhosman commented on #376
Yes but the problem with contains is that is not generating an ILIKE to the database query. In Postgre, you have LIKE and ILIKE (the ILIKE is for case insensivity). The idea is not to compare with a toUpper or something like that.

[2020-05-04 18:21] StefH commented on #376
To get real SQL Like you need to use the EntityFramework.DynamicLinq or Microsoft.EntityFrameworkCore.DynamicLinq NuGet.

See this for an example:
https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/master/src-console/ConsoleAppEF2.1.1_InMemory/Program.cs#L212

[2020-05-05 14:58] tinchoel10 commented on #376
I have the same issue trying to migrate to Postgre
I can't use EF functions with DynamicLinq

[2020-05-05 23:40] JonathanMagnan commented on #377
Hello @joshidp ,

Do you think you could provide a project sample with this issue?

It will help my developer investigate the issue more efficiently.

_You can send it to: info@zzzprojects.com if you need to keep the source private_

Best Regards,

Jonathan

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entity

[2020-05-06 22:40] ricoisme commented on #334
I got same error.

[2020-05-07 01:12] mhosman commented on #376
@tinchoel10 I have the same issue. I need to use EF funcions dynamically (as string).

[2020-05-08 08:27] #377 closed

[2020-05-08 18:00] JonathanMagnan commented on #376
Hello all,

Unfortunately, this request go beyond of what this library can offer.

There is currently no plan adding it on a short time.

However, that is possible with another of our library: https://eval-expression.net/

[code]

The library is paid but Dynamic LINQ extension such as `WhereDynamic` as free.

You can find some documentation here: https://eval-expression.net/linq-dynamic

Let me kn

[2020-05-09 14:41] JonathanMagnan commented on #54
Hello all,

A website with some documentation has been released here: https://dynamic-linq.net/

Some sections, such as [Getting Started](https://dynamic-linq.net/overview), [Knowledge-Base](https://dynamic-linq.net/knowledge-base), and [Online Examples](https://dynamic-linq.net/online-examples) are already available.

@StefH is currently working to improve it so it will get better and better in t

[2020-05-09 14:41] #54 closed

[2020-05-09 14:43] JonathanMagnan commented on #64
Hello all,

A website with some documentation has been released here: https://dynamic-linq.net/

A lot of online examples is already available here: https://dynamic-linq.net/online-examples

@StefH is currently working to improve the documentation so it will get better and better in the coming month. So he might bring back some examples as well from the old documentations.

I will currently close

[2020-05-09 14:43] #64 closed

[2020-05-09 14:46] JonathanMagnan commented on #335
Hello @rmosselveld ,

I will close this issue as it seems that for @StefH, everything was working fine.

If you can reproduce it in a standalone project, we will be happy to re-open and investigate it.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity

[2020-05-09 14:46] #335 closed

[2020-05-09 14:47] JonathanMagnan commented on #324
Hello @rinaldo-rfjr

I will close this issue as it seems that for @StefH, everything was working fine.

If you can reproduce it in a standalone project, we will be happy to re-open and investigate it.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity

[2020-05-09 14:47] #324 closed

[2020-05-09 14:48] JonathanMagnan commented on #313
Hello @YuriGal

I will close this issue as it seems that @StefH provided the solution.

If you still have the issue and can reproduce it in a standalone project, we will be happy to re-open and investigate it.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) •

[2020-05-09 14:48] #313 closed

[2020-05-09 14:49] JonathanMagnan commented on #303
Hello @mohsenno1

I will close this issue as @Juliete provided an answer so we will assume everything is working.

If you still have an issue and can reproduce it in a standalone project, we will be happy to re-open and investigate it.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityfr

[2020-05-09 14:49] #303 closed

[2020-05-09 14:51] JonathanMagnan commented on #280
Hello,

I will close this issue, I'm not sure if a pull has been provided or not.

If no pull has been provided, we will be happy to merge it

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) • [

[2020-05-09 14:51] #280 closed

[2020-05-09 14:52] JonathanMagnan commented on #257
Hello,

I will close this issue as it seems @StefH answered it.

If you still have the issue and can reproduce it in a standalone project, we will be happy to re-open and investigate it.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Clas

[2020-05-09 14:52] #257 closed

[2020-05-09 14:53] JonathanMagnan commented on #271
Hello @ani2479 ,

This issue will be closed since I believe no project or fiddle has been provided.

If you can reproduce it in a standalone project, we will be happy to re-open and investigate it.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Fra

[2020-05-09 14:53] #271 closed

[2020-05-09 14:54] #375 closed

[2020-05-09 15:01] JonathanMagnan commented on #365
Hello @brgrz ,

Unfortunately, that's currently not supported in this library.

However, see the following answer: https://github.com/zzzprojects/System.Linq.Dynamic.Core/issues/376#issuecomment-625941545

It should already be possible via the [C# Eval Expression](https://eval-expression.net/linq-dynamic) library

[2020-05-09 15:06] #110 closed

[2020-05-09 15:08] JonathanMagnan commented on #242
Hello @SolidWhiteSven ,

I will close this issue. As you pointed out it looks the problem is with the PostgreSQL provider and not the library.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) •

[2020-05-09 15:08] #242 closed

[2020-05-10 18:57] mhosman commented on #376
Something like this can be done?

    var list2 = context.EntitySimples.WhereDynamic(x => "EF.Functions.Like(x.ColumnString, \"%bc%\") or id == 1").ToList();

[2020-05-11 11:47] JonathanMagnan commented on #376
@mhosman ,

Everything you can do in C#, you should be able to do it on @mhosman .

Be careful, C# Eval Library require a valid C# syntax. The `or` should be replaced by `||`.

So probably more something like this:

[code]

[2020-05-11 13:53] joshidp opened #378 "Versioning Issue in Latest NUGET packages"
Hi,

Thanks for the great work!

After 1.0.22 version all the packages which are published from your end have versioning issue. For example, latest 1.1.0 nuget has version of 1.0.24 in the dll after the install. This creates lots of dependency resolution issue. Please check the issue.

![image](https://user-images.githubusercontent.com/7415276/81569288-b3544300-93bc-11ea-8608-4b3fd46a0b5e.png)

ve

[2020-05-11 14:19] JonathanMagnan commented on #378
Hello @joshidp ,

Thank you for reporting. I made a very quick check and you are right.

We will try to deploy a new version this night.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) • [Bulk

[2020-05-11 23:53] JonathanMagnan commented on #334
Hello @akghasemi , @ricoisme ,

Unfortunately, this request still doesn't support it. However, we might try to eventually add it as this can be useful sometimes.

However, that is already possible with another of our library: https://eval-expression.net/

[code]

The library is paid but Dynamic LINQ extension such as WhereDynamic as free.

You can find some documentation here: https://eval-express

[2020-05-13 19:25] joshidp commented on #378
Any updates?

[2020-05-14 13:18] JonathanMagnan commented on #378
Hello @joshidp ,

Sorry for the additional delay,

The v1.1.1 has been released.

Let me know if the issue is solved correctly.

Have a great day,

Best Regards,

Jon

[2020-05-18 11:33] #376 closed

[2020-05-18 12:54] rochapablo commented on #376
I'm trying

[code]

where `x.FirstOrDefault().Key` is

[code]

But I'm getting

[code]

Also I tried

[code]

But didn't work.

[2020-05-18 13:27] joshidp commented on #378
Thanks, issue has been fixed.

[2020-05-18 13:27] #378 closed

[2020-05-18 13:51] JonathanMagnan commented on #376
Hello @rochapablo ,

Have you registered the type?

[code]

You are probably missing this.

Otherwise, just provide us an example with this issue and we will look at it.

You can send it in private here: info@zzzprojects.com

Best Regards,

Jon

[2020-05-19 10:16] Feroks commented on #330
If anyone comes here, you can do it like described here https://github.com/zzzprojects/System.Linq.Dynamic.Core/issues/328

[2020-05-19 12:46] #334 closed

[2020-05-20 14:44] rochapablo commented on #322
Following this, I get `Target object is not an ExpandoObject`

[2020-05-20 23:54] mhosman commented on #376
Hey @JonathanMagnan I get:

`Just using .WhereDynamic(x => "status == true")`

[2020-05-21 13:38] JonathanMagnan commented on #376
Hello @mhosman ,

Here is an online example with `WhereDynamic` using a simple where clause and one using `EF.Functions.Like`

Example: https://dotnetfiddle.net/xCaJr8

In your case, you missing the `x` in `x.status`,

It should have been `.WhereDynamic(x => "x.status == true")`.

It looks like we could improve this part to allow property without having to specify the `x` but for now, you must use

[2020-05-22 03:32] bgc-group opened #379 "Allow Custom Defined Type"
The PredefinedTypesHelper are not publicly accessible. Can we allow adding a custom types for?

For example:

`publick string Remark{get;set;}`

Query Text: `Remark.Contains("Help")`
Potential null exception when Remark is null.

Is it possible to add a extension class like following:

[code]
Then we can use` Remark.SafeContains("Help")` in the dynamic string?

[2020-05-22 12:18] StefH commented on #379
Note that SafeContains can only work when working with Linq to Object. I will probably fail when using Linq to Entities (real DB access)

So for now you should just use this code:
[code]

[2020-05-23 01:47] bgc-group commented on #379
I understand, this SafeContain can only work with Linq to Object. I am using this for another layer of filtering from user input.

In my scenarios, we need to compare multiple fields and checking null for each scenarios is tiresome. Is there any way to do this now?

[2020-05-23 06:35] StefH commented on #379
There are two options:
# NullPropagating
Use the `np()` method:
[code]

Or:
# Just using a _static_ helper class:

[code]

[code]

Or, if the static helper class does not work, you can also use a CustomTypeProvider:
[code]

[code]

[2020-05-26 02:45] bgc-group commented on #379
Thanks! This is good! I'm closing the ticket.

[2020-05-26 02:45] #379 closed

[2020-05-28 06:32] NikitaEgorov opened #382 "Call nullable method"
I 've got error when try parse this expression:

[code]

[code]

[2020-05-28 07:25] StefH commented on #382
Issue is confirmed, a PR is in progress.

Thanks for reporting.

[2020-05-29 16:03] mccollumni commented on #374
I tried to something similar, and it's not recognizing "Sum" as a function:
[code]

The error:
[code]

[2020-05-29 16:58] mccollumni commented on #356
@ibramn were you able to find a solution? I'm also unable to cast the Select to a DTO.

[2020-05-31 11:50] joshidp opened #384 "Request: Please implement ContainsKey for dictionary type"
Hi,

Thanks for the great work.

Please implement ContainsKey for the dictionary ,
Enumerable.Empty<string>() for the enumerable.

Thanks

[2020-05-31 22:21] JonathanMagnan commented on #384
Hello @joshidp ,

Thank you for reporting, we will look if that's possible.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) • [Bulk Operations](http://bulk-operations.net/) •  [Dapper Plus](htt

[2020-06-03 17:20] JonathanMagnan commented on #351
Hello @kKen94 ,

The v1.1.2 has been released.

The GroupBy now supports the `IEqualityComparer` overload.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) • [Bulk Operations](http://bulk-operat

[2020-06-03 17:20] #351 closed

[2020-06-03 17:20] JonathanMagnan commented on #363
Hello @perason ,

The v1.1.2 has been released.

The OrderBynow supports the `StringComparer` overload.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) • [Bulk Operations](http://bulk-operation

[2020-06-03 17:20] #363 closed

[2020-06-03 17:22] JonathanMagnan commented on #382
Hello @NikitaEgorov ,

The v1.1.2 has been released.

The pull request made by @StefH has been merged and released in this version.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) • [Bulk Opera

[2020-06-06 04:29] andresgbertola opened #385 "Select Issue in EFCore 3 Update"
After updating from EFCore 2.1 to EFCore 3.0 I started getting an error when using a select clause in System.Dynamic.Linq.

I have for example these three entity classes:

An `Order `has a `Customer`, and a `Customer `has a collection of `DeliveryPoints`.

[code]

Each class has more properties, but I will just keep it simple for the example.
Then. I have a code generator method to dinamically gen

[2020-06-06 07:34] joshidp opened #386 "Question: Generic and Param based Custom Type Methods Support"
Hello,

Thanks for the awesome work.

I'm using your lib to write json configurable rules. I want to used generic and param based custom type methods as Utility methods. Below is a sample json config snippet.

`{"expression": "Utilities.ConvertToArray(\"xyz\",\"abc\")"}`

and below is the method with param

[code]

When I try to call DynamicExpressionParser.ParseLambda method with above expression

[2020-06-07 23:02] JonathanMagnan commented on #385
Hello @andresgbertola ,

Thank you for reporting,

My developer will try it with the information you provided.

Could you confirm that you got this error with `InMemory` or also with provided such as `SQL Server`?

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net

[2020-06-07 23:09] JonathanMagnan commented on #386
Hello @joshidp ,

Depending on your requirement, I might recommend you our other library instead: https://eval-expression.net/

This library is not free (unless you use only the LINQ part), but allow you to do pretty much anything such as using static method that you have created (You will need to notify our library by Registering the type).

If the only method not supported you want is creating a

[2020-06-08 00:36] andresgbertola commented on #385
Hello @JonathanMagnan!
Thank you so much for your reply!

In the above example, I was using an InMemory DbContext.
But after reading your reply, I tried using the SqlServer DbContext. No exception was thrown. It worked properly.
So the exception is thrown only when using InMemory DbContext.
When I said before that it was working in EF Core 2.1. I was talking about the Sql Server DbContext.
I haven

[2020-06-10 20:09] StefH opened #388 "Version from the dll is 0.0.0.0 (microsoft.entityframeworkcore.dynamiclinq)"
I just noticed that the dll version is 0.0.0.0 for the latest nuget version `1.1.2`:
![image](https://user-images.githubusercontent.com/249938/84313161-6bb10a80-ab66-11ea-91d2-e60e827aa605.png)

&

![image](https://user-images.githubusercontent.com/249938/84313412-c5b1d000-ab66-11ea-9da7-6ba2c671e827.png)

The `System.Linq.Dynamic.Core` has a dll version (1.1.2). However this should also be `1.0.0

[2020-06-11 08:36] joshidp commented on #386
Thanks @StefH for the reply.

If I use your example of Class X the solution works but if I try to use y example I still get and error "System.Linq.Dynamic.Core.Exceptions.ParseException: 'No applicable method 'ConvertToArray' exists in type 'Utils''
"

In you example, Values prop is already a string array but what I am trying to do is pass string param and get the array back. Show below

**Utility

[2020-06-11 08:43] StefH commented on #386
I think the *params* is not supported, so you can only use `string[] values` or `string value`.
Maybe you could just use `object value` and determine if it's an string or string-array yourself?
But I think that passing `\"a\",\"b\"` will be detected as 2 separate parameters, and not a params-string-array.

[2020-06-11 10:56] joshidp commented on #386
ok, Thanks.

For now I'm thinking to write overloaded methods to return string[], it should suffice for limited set of values.

[code]

Thanks

[2020-06-11 12:45] JonathanMagnan commented on #388
That's weird,

I will release a new version during the weekend.

I will review all dll version from all library as well

[2020-06-12 07:31] joshidp opened #389 "ExpressionPromoter.Promote Limitations to Detect plausible method matches"
Hi,

I am highlighting one constraint/issue which is little annoying and could be improved upon.

When I use String.Join method below are the possible overloads which can be called.
[code]

Now in ExpressionPromoter.Promote class of your lib the type match is exact for IEnumerable types.

For example below are the two types, one for string enumerable and another one is int enumerable obj.
[code]

[2020-06-12 14:28] JonathanMagnan commented on #389
Hello @joshidp ,

Thank you for reporting,

We will look at it probably this weekend.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) • [Bulk Operations](http://bulk-operations.net/) •  [Dapper

[2020-06-12 19:15] StefH commented on #315
Thanks for notifying.
This will be fixed in new documentation.

[2020-06-12 19:15] #315 closed

[2020-06-15 19:03] JonathanMagnan commented on #389
Hello @joshidp ,

We looked at this issue and in the short term, I don't think we will improve the method overload resolution. Way too much code is involved to make it works or improve it. A major code revamps would be required which will come without a doubt a major version if we do it.

If we want to make it works correctly, we will have to bring back the method overload resolution we did in our

[2020-06-15 19:17] JonathanMagnan commented on #385
Hello @andresgbertola ,

We checked to fix it for `InMemory` but it looks more an issue inside the provider than an issue inside our library and as you noticed, it works fine with SQL Server.

I did some test with some version released 1-2 years ago, we get the same issue.

So we will close this issue as I don't think there is anything we can do on our side.

[2020-06-15 19:17] #385 closed

[2020-06-15 19:56] JonathanMagnan commented on #388
Hello @StefH ,

The v1.1.3 has been released. The FileVersion will now be the same as the product version.

[2020-06-15 19:56] #388 closed

[2020-06-15 19:59] JonathanMagnan commented on #386
Hello @joshidp ,

Thank @StefH  for pointing us out the `DynamicLinqType`, we were not aware of it and seem to be very useful for plenty of scenarios.

The v1.1.3 has been released. The library should now support `params` parameter (You can pass it like in your example but cannot yet create an array such as `new string[] { "a", "b" }`).

Let us know if everything works as expected.

[2020-06-15 20:04] JonathanMagnan commented on #384
Hello @joshidp ,

The v1.1.3 has been released.

The library should now support ContainsKey from a dictionary. Here are some example: https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/master/test/System.Linq.Dynamic.Core.Tests/MikArea/Dictionary.cs

However, I do not think we will do the `Enumerable.Empty<T>()` as this moment, as it's currently harder to support it.

Let me know if the

[2020-06-15 20:29] StefH commented on #386
@JonathanMagnan

I think that the original method from @joshidp is still not recognized?

[code]

With
[code]

Still throws:

[2020-06-15 20:50] StefH commented on #388
@JonathanMagnan
Because of the file-version fix: another fix is needed https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/390 else the DynamicFunctions class is not loaded anymore.

[2020-06-15 21:30] JonathanMagnan commented on #388
Yup, thank again for your insight.

Your pull has been merged and released in v1.1.5

[2020-06-15 21:31] JonathanMagnan commented on #386
You are right, we forget probably the most essential case!

The v1.1.5 has been released

[2020-06-17 09:37] wertzui opened #391 "SumAsync and CountAsync (maybe more) do not work with EF Core 3.1"
Using these methods triggers a MethodNotFoundException on EF Core 3.1.
From what I've seen, this library still references EF Core 2.2 so this might be the problem.

This should also be supported on netcore2.1 which will only require a minimal change, because `TypeInfo` is gone, so there is no `AsType()` method on it. Instead `GenericTypeParameterBuilder` directly inherits `Type`.

[2020-06-17 12:47] JonathanMagnan commented on #391
Hello @wertzui ,

Thank you for reporting.

In fact, the library reference EF Core 1.1

Before doing this request, we will need to discuss in a new thread about how people would like we manage this library (we cannot simply upgrade the reference, otherwise people using v2.x will no longer be able to use it).

I should create an issue about this in the coming weeks. So this issue will not be fixed

[2020-06-17 13:32] StefH commented on #391
@JonathanMagnan

I had the same issue for LinqKit, see this link for my solution:
https://github.com/scottksmith95/LINQKit/blob/master/README.md#projects

I think the same logic can be applied for `Microsoft.EntityFrameworkCore.DynamicLinq`.

[2020-06-17 16:39] JonathanMagnan commented on #391
Yup @StefH ,

Using the major version to be the same as the `EF Core` version is the solution that we will probably take as well (Also the solution we already implemented for EFE and EF Plus).

[2020-06-22 12:51] #384 closed

[2020-06-23 18:45] JonathanMagnan opened #392 "Dynamic LINQ - Repository Future"
## System.Linq.Dynamic vs System.Linq.Dynamic.Core
As you may already know, many GitHub repository of the [original code](https://weblogs.asp.net/scottgu/dynamic-linq-part-1-using-the-linq-dynamic-query-library) exists.

Since the last month, the 2 most popular repositories are owned by our company:

- https://github.com/zzzprojects/System.Linq.Dynamic (no longer supported since 2016)
- https://gi

[2020-06-27 20:34] BringerOD opened #393 "Generate SQL Server Select Statement from a dynamically created table."
I am pretty sure this is something I should be able to figure out on my own.  But reading through all the documentation I can't seem to figure it out.  So, sorry about this in advance.

I want to create a query using a dynamically created table.  We create our tables in SQL Server using specific SQL Server create commands, not Entity Framework.  I was able to use DynamicProperty and DynamicClassFa

[2020-06-29 12:36] JonathanMagnan commented on #393
Hello @BringerOD ,

This library allows you to make dynamically what you can do in type-safe mode.

It doesn't create or generate any SQL query. For this, you need an ORM such as Entity Framework.

So in short, this library doesn't do what you want (it doesn't generate any SQL at all). However, if you want an example that works with your scenario with Entity Framework, provide us a runnable exampl

[2020-06-29 17:16] JimmyLzy commented on #386
@StefH @JonathanMagnan
Hi team, this library is really powerful and I'm really appreciate your awesome work and support. Discussion within this issue has helped me to figure out how to define own custom static function and apply it in dynamic linq to object. However, I am wondering if there is a way we can apply C# extension function.

[2020-06-29 18:13] JonathanMagnan commented on #386
Hello @JimmyLzy ,

When you say `C# extension function`, you mean `C# extension method` right?

Unless I'm wrong, extension methods are not yet supported.

We will look if that's possible or not to support basic scenario at least.

[2020-06-30 18:38] JonathanMagnan commented on #386
What do you mean @JimmyLzy  by `works fine in local`.

Unless I'm wrong, the library doesn't support yet extension methods when I checked yesterday.

[2020-06-30 18:47] JimmyLzy commented on #386
@JonathanMagnan I meant running code in my windows laptop

[2020-07-01 12:08] JimmyLzy commented on #386
@JonathanMagnan  I managed to get more exception message Expression expected (at index 41).

[2020-07-01 16:42] JonathanMagnan commented on #386
Hello @JimmyLzy ,

Just to let you know that a first version to support the extension method has been made.

We are currently completing the testing phase and a new version should be available within a few days.

[2020-07-02 09:56] wtujvk opened #394 "OrderByDynamic: Value cannot be null. (Parameter 'type')"
Throw Exception: System.ArgumentNullException:“Value cannot be null. ”
// Type: System.Linq.EnumerableDynamic
// Assembly: Z.Expressions.Eval, Version=4.0.1.0, Culture=neutral, PublicKeyToken=59b66d028979105b
// MVID: 1B08F7D4-0A7D-4667-AB72-4B641D269972
// Assembly location: C:\Users\xx\.nuget\packages\z.expressions.eval\4.0.1\lib\netstandard2.1\Z.Expressions.Eval.dll
nuget: System.Linq.Dynamic.C

[2020-07-02 13:51] JonathanMagnan commented on #394
Hello @wtujvk ,

You are currently mixing `System.Linq.Dynamic.Core` syntax with the [C# Eval Expression](https://eval-expression.net/) library

## System.Linq.Dynamic.Core

You must use the `OrderBy` method, not `OrderByDynamic` which is belongs our other library.

Here are some example of use:
- https://dynamic-linq.net/basic-simple-query#ordering-results
- https://dotnetfiddle.net/GdxsMG

## C#

[2020-07-02 17:06] JimmyLzy opened #395 "SQL between and query"
Hi team,
Are there any support for between sql query?
eg.
select * from table where value between 20 and 30

Thank you,
Jimmy

[2020-07-02 17:39] JonathanMagnan commented on #395
Hello @JimmyLzy ,

The library doesn't create `SQL Statement`.

ORM such as `Entity Framework` does.

So if they have some special method that does it, then we can add it such as the `Like` operator for EF: https://dynamic-linq.net/advanced-entityframework#like-operator

Let me know if that answer correctly to your question

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(li

[2020-07-03 08:36] JamesRoche opened #396 "No property or field 'DynamicFunctions' exists in type 'Log'"
I keep getting this error thrown when trying to use DynamicFunctions.Like() in my queries. I can also see in the examples on the website that they are suffering from the same issues. Has this API been changed?

JS Fiddle from your site which also failed https://dotnetfiddle.net/dy4vkE

[2020-07-03 09:15] StefH commented on #396
Correct, I could not get this Fiddle working. (@JonathanMagnan : can you remove this one please)

@JamesRoche : See this example c# where it does work:
https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/master/src-console/ConsoleAppEF2.1.1/Program.cs#L130

[2020-07-03 09:27] JamesRoche commented on #396
You are a legend thank you :)

[2020-07-03 09:39] JamesRoche commented on #396
I have implemented as per the example you sent over, should this be translating into a LIKE SQL for entity core?

[2020-07-03 09:54] StefH commented on #396
I've the feeling that for EF Core,  it's still evaluated client-side. Not 100% sure....

[2020-07-03 12:27] JonathanMagnan commented on #396
See the section about "LINQ queries are no longer evaluated on the client"

https://docs.microsoft.com/en-us/ef/core/what-is-new/ef-core-3.0/breaking-changes

Starting with 3.0, EF Core only allows expressions in the top-level projection (the last Select() call in the query) to be evaluated on the client. When expressions in any other part of the query can't be converted to either SQL or a paramet

[2020-07-05 23:02] JonathanMagnan commented on #386
Hello @JimmyLzy ,

The v1.1.6 has been released which should now support extension methods.

See those unit tests example: https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/master/test/System.Linq.Dynamic.Core.Tests/Parser/DynamicLinqTypeTest.cs#L30

Let me know if everything works as expected.

[2020-07-06 02:54] joshidp commented on #392
Hi @JonathanMagnan

In the NuGET Source Repo link we are redirected to below link, Can it be changed to this repo?

https://github.com/StefH/System.Linq.Dynamic.Core

Thanks

[2020-07-06 04:45] Feroks commented on #386
@JonathanMagnan i think it does not work, if extension uses generics.

[2020-07-06 12:53] JonathanMagnan commented on #392
Thank @joshidp  for reporting,

We fixed it in the v1.1.7

I will look soon with him how we can handle this problem, as the redirection is currently broken with the fork that has been created.

[2020-07-06 12:59] JonathanMagnan commented on #386
You are right @Feroks ,

We did it very basic for the first version. We support some simple scenarios.

I'm currently not sure if we wish to go further and support more scenario or redirect people to our other library [C# Eval Expression](https://eval-expression.net/) which handle more complex overload resolution.

If you wish we try it, create a new issue with an example of a method and I will as

[2020-07-06 13:31] #393 closed

[2020-07-06 15:55] BringerOD commented on #393
Johnathan,  thanks for quick replay.  In our case, we are just going to write the necessary SQL.  Would be nice if there was a LINQ to SQL for dynamically created objects.

[2020-07-06 19:40] b0bi79 opened #397 "Dictionary parameter issue"
If pass Dictionary as a parameter for a lambda expression, then DynamicInvoke will return the first result each time. It looks like a cached result is returning.

[code]

[2020-07-06 20:21] JonathanMagnan commented on #397
Hello @b0bi79 ,

Thank you for reporting.

We will look at it.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) • [Bulk Operations](http://bulk-operations.net/) •  [Dapper Plus](http://dapper-pl

[2020-07-08 19:25] #394 closed

[2020-07-09 12:52] #395 closed

[2020-07-09 20:42] JonathanMagnan commented on #397
Hello @b0bi79 ,

Just to let you know we fixed the issue. We will complete our test tomorrow and probably release it during the weekend.

Best Regards,

Jon

[2020-07-09 23:35] #396 closed

[2020-07-10 17:29] ascott18 commented on #331
There does exist something of a workaround I've found - by explicitly instantiating the nullable constant with its corresponding nullable type constructor:

`.Where("NullableDoubleId = double?(42.2)")`

For me, this resulted in a correctly parameterized query.

I'll take a look at PR #332 and see what it still needs.

[2020-07-12 17:27] JonathanMagnan commented on #397
Hello @b0bi79 ,

The v1.1.8 has been released.

Let us know if everything is now working as expected.

Best Regards,

Jon

[2020-07-12 18:01] JonathanMagnan commented on #392
The part about specifying `System.Linq.Dynamic` is now legacy has been completed.

Next week, we should start and create projects for every EF Core version.

[2020-07-13 13:16] #386 closed

[2020-07-14 06:53] khallid-itdevtech opened #400 "[Question] OrderBy does not work with nullable navigation properties"
OrderBy  works fine on non nullable navigation properties but if navigation property is nullable it doesn't work

System.Linq.Dynamic.Core.Parser.ExpressionParser.ParseArgumentList() in ExpressionParser.cs, line 1851

 list = list.AsQueryable().OrderBy("site.title  asc" ).ToList();

site is nullable navigation property

[2020-07-14 12:33] JonathanMagnan commented on #400
Hello @khallid-itdevtech ,

Do you think you could provide a project sample with this issue?

It will help my developer investigate the issue more efficiently.

We already tried once but everything was working, so we might miss something.

_We now always ask for a project sample even if the issue is easy to reproduce. As a free product, we must find some way to save time to offer an overall better

[2020-07-14 12:37] StefH commented on #400
I think the **site** is a nullable navigation property in this question. So you cannot use `site.title asc` because site is null.

The solution is to use the NullPropagating (np) function, so I think this code should solve the issue
[code]

[2020-07-14 12:52] JonathanMagnan commented on #400
I was getting a different error when the `site` was null (Null reference exception which is was I'm expecting).

I guess we will see with his answer ;)

[2020-07-15 07:33] khallid-itdevtech commented on #400
@StefH Thanks
list = list.AsQueryable().OrderBy("np(site.title) asc" ).ToList();
this works like charm.  👍

[2020-07-16 02:14] #400 closed

[2020-07-17 21:37] kyleherzog opened #401 "ParseException with Expressions containing Convert method"
I'm trying to take expressions created on a client, convert them to string by calling `ToString`, pass the string values to a web endpoint, and then convert them back to expression objects using `DynamicExpressionParser.ParseLambda`.  In most cases this works.  However, if i have an expression that results in a `Convert` method being called, I get the following exception.
[code]
The following simp

[2020-07-20 12:28] #397 closed

[2020-07-20 12:44] JonathanMagnan commented on #401
Hello @kyleherzog ,

Thank you for reporting, we will look at it.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) • [Bulk Operations](http://bulk-operations.net/) •  [Dapper Plus](http://dapper

[2020-07-20 19:04] JonathanMagnan commented on #401
Hello @kyleherzog ,

We checked at your issue and I don't think we will support your scenario for now.

What you are currently providing is not an expression, but a string representation which is not exactly a lambda expression.

For example, the following lambda expression working:

[code]

But in your case, the expression string shows the following convert as `Convert(x, Int32)` which is not val

[2020-07-23 19:17] StefH commented on #401
@kyleherzog
Maybe this library https://github.com/esskar/Serialize.Linq can help you when you want to serialize / deserialize linq.

[2020-07-27 19:14] JonathanMagnan commented on #391
Hello @wertzui ,

Sorry for the long delay,

The v3.2.0 has been released: https://www.nuget.org/packages/Microsoft.EntityFrameworkCore.DynamicLinq/3.2.0

Starting from this version, the library should now be compatible with EF Core 3.1 or greater.

Best Regards,

Jon

[2020-08-03 14:27] #391 closed

[2020-08-05 08:29] Huangzc88 opened #403 "Expression is missing an 'as' clause"
[code]
When I execute the code above, it throw an exception with message: 'Expression is missing an 'as' clause'.
Also, if I switch to dynamic types, i have the same problem.

[code]
When I use a single field to group, the results sorted by dynamic types don't feel right, and the dictionary types come out as expected.

[2020-08-05 13:46] JonathanMagnan commented on #403
Hello @Huangzc88 ,

Thank you for reporting,

We will look if there is something we can do with your scenario.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) • [Bulk Operations](http://bulk-op

[2020-08-05 16:51] StefH commented on #403
@Huangzc88
Changing the c# code to
[code]
does not throw any exception.

Is the result what you expect?

[2020-08-06 00:22] DelvisR opened #404 "Add support to Max and Min functions"
How to implement Max and Min aggregate functions:

public static object Max(this IQueryable source, string selector, params object[] values)

public static object Min(this IQueryable source, string selector, params object[] values)

[2020-08-06 12:59] JonathanMagnan commented on #404
Hello @DelvisR ,

If we try to support it, it will be without the `params object[] values` parameter.

Will it still be good for you?

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) • [Bulk Ope

[2020-08-07 09:24] effapp opened #405 "Does it support var query = dbContext.Set("Customers"),please?"
Does it support var query = dbContext.Set("Customers"),please?

I hope that:

var query =  **dbContext.Set("Customers")**
    .Where("City == @0 and Orders.Count >= @1", "London", 10)
    .OrderBy("CompanyName")
    .Select("new(CompanyName as Name, Phone)");

[2020-08-07 14:19] JonathanMagnan commented on #405
Hello @effapp ,

We will look at it,

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) • [Bulk Operations](http://bulk-operations.net/) •  [Dapper Plus](http://dapper-plus.net/)

**Runtime Evalua

[2020-08-07 15:03] joshidp opened #406 "Expression parameter should be case sensitive"
Hi,

Thanks for the great work!

I'm seeing one issue where I'm calling DynamicInvoke method with multiple parameters and one parameter is bool and another is a list of someclass now if the class has a prop which has same name as the bool parameter then DynamicInvoke is considering bool parameter instead of the prop inside the class list parameter. The only diff between them is of case. Please see

[2020-08-07 23:23] JonathanMagnan commented on #404
Hello @DelvisR ,

As expected `Min` and `Max` are already supported: https://dotnetfiddle.net/mvH6yJ

One problem by adding your overload to `IQueryable`, is that some ORM such as `Entity Framework` will not be compatible with it. So it might be better to stick with the overload that `IQueryable` provide to avoid some future confusion.

[2020-08-07 23:25] DelvisR commented on #404
Even without parameters it would be very helpful.

Thank you,

[2020-08-07 23:31] DelvisR commented on #404
Thank you very much!

[2020-08-07 23:31] #404 closed

[2020-08-07 23:53] JonathanMagnan commented on #406
Hello @joshidp ,

By default, I believe case insensitive should be the default behavior as it's now. Keep in mind a lot of people are building their dynamic string through some external source so the casing might not always be good.

However, we should have an option as well to force at least parameters to be case sensitive to support your scenario.

We will look at it.

Best Regards,

Jon

---

*

[2020-08-08 02:14] joshidp commented on #406
Thanks for the reply.

JSON is case sensitive and LINQ is case sensitive so I feel default option for parameters in this lib  also should be case sensitive, it protect us from getting incorrect results which can go unchecked as shown in my example.

Anyways as long as we have an option to set the casing requirement it should be ok.

Eagerly waiting for your PR/release to provide case sensitivity o

[2020-08-08 12:26] JonathanMagnan commented on #403
Hello @Huangzc88 ,

Starting from the v1.2.1, the alias will automatically be added when a single property/string constant is used like in your scenario.

So writing `.GroupBy("new (ItemCode,Flag)");` is now valid

Best Regards,

Jon

[2020-08-09 05:45] Huangzc88 commented on #403
Thank you for your answer. It's okay to try, but it feels very strange.

[2020-08-09 05:48] Huangzc88 commented on #403
Thank you for your answer, thank you for solving this problem so quickly, I will retest.

[2020-08-09 07:36] Huangzc88 commented on #403
I've retested it and it's really working, and thank you very much for your quick resolution of the issue.

I found another problem that might be optimized.
[code]

MyDynamicClass is inherited from DynamicClass, throw excption :“No applicable aggregate method 'Sum(Object)' exists”,It seems that Qty is treated as an object type and does not automatically identify as an int type.
When I change to the

[2020-08-10 13:02] JonathanMagnan commented on #403
Hello @Huangzc88 ,

Thank you, we will try it and fix it if we can.

[2020-08-10 17:59] jcmontoya opened #408 "DynamicExpression Missing"
When I use the NuGet package version 1.2.0, I get the error "DynamicExpression Missing" in the following code:

[code]

[2020-08-10 18:10] StefH commented on #408
Hello @jcmontoya ,

You need to use `DynamicClassFactory`, see the documentation: https://dynamic-linq.net/advanced-create-dynamic-class

[2020-08-16 10:41] Chauhan225 opened #410 "Methods on type 'JsonElement' are not accessible'."
Following code through's error:

[code]

Stack Trace:
   at System.Linq.Dynamic.Core.Parser.ExpressionParser.ParseMemberAccess(Type type, Expression instance)
   at System.Linq.Dynamic.Core.Parser.ExpressionParser.ParsePrimary()
   at System.Linq.Dynamic.Core.Parser.ExpressionParser.ParseUnary()
   at System.Linq.Dynamic.Core.Parser.ExpressionParser.ParseMultiplicative()
   at System.Linq.Dynamic.

[2020-08-16 20:40] JonathanMagnan commented on #410
Hello @Chauhan225 ,

Thank you for reporting, we will look at it.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) • [Bulk Operations](http://bulk-operations.net/) •  [Dapper Plus](http://dapper

[2020-08-19 13:14] JonathanMagnan commented on #406
Hello @joshidp ,

The v1.2.2 has been released.

We added the option `config.IsCaseSensitive = true`. When enabled, the library will check for casing as well.

Due to the high popularity of this library and how important this behavior could impact existing code, making it `true` by default would have been way too big breaking changes.

Let me know if everything now works as expected with this opti

[2020-08-19 13:17] KhoiNguyenICT opened #411 "Can't apply the library while using reflection emit with dynamic linq"
Hi!
Today, i use reflection emit for generate dynamic entity for entityframework.
But library cannot support type IQueryable for dynamic query
Can you give me a solution for this problem!
Thank you so much!

[2020-08-19 13:54] JonathanMagnan commented on #411
Hello @KhoiNguyenICT ,

Could you provide a full example of what you would want to do.

It will help my developer to get started with your request as I'm not fully sure to understand it.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Clas

[2020-08-19 14:05] KhoiNguyenICT commented on #411
![image](https://user-images.githubusercontent.com/25011643/90644560-10cf1a00-e25f-11ea-9dec-838dd05e9609.png)
Hi @JonathanMagnan
This is example for my issue
In the line 132 to line 134 i try build dynamic entity from my setting
But in the line 135 i use dynamic linq for find item, but library not support query with IQueryable
This is class for job build dynamic type use reflection emit: [Link](h

[2020-08-19 14:23] JonathanMagnan commented on #411
Hello @KhoiNguyenICT ,

If you wish we try to find a solution, we will need a **full runnable project** that contains the minimum code to reproduce it.

[2020-08-19 14:34] KhoiNguyenICT commented on #411
Hi @JonathanMagnan
This is example for use refection emit: Link [https://github.com/giangcoi48k/test-assembly-emit](https://github.com/giangcoi48k/test-assembly-emit)
Thanks @JonathanMagnan

[2020-08-19 16:19] joshidp commented on #406
It's working as expected, thanks for the fix 👍

[2020-08-19 16:22] JonathanMagnan commented on #406
Awesome @joshidp

don't hesitate to contact us for any questions, issues or feedback!

Best regards,

Jon

[2020-08-19 23:15] JonathanMagnan commented on #411
Hello @KhoiNguyenICT ,

I tried a few examples with `System.Linq.Dynamic.Core` and `Z.Expressions.Eval` library and both are working as expected.

[code]

Both libraries support IQueryable, so I'm not really sure how to reproduce this issue.

[2020-08-20 10:47] Franki1986 opened #412 "DynamicClass Merging base class properties with additional classes"
Hi,

I have this example classes:

[code]

Now I would like to create a dynamic object that has all properties of Customer and add additional properties, in my case different items of the Paid-list property.

[code]

Now I would like to do this in dynamic way using the DynamicClass:

[code]

[code]

I get the exception when setting the 'Item' property with SetDynamicPropertyValue. If I call the Ge

[2020-08-20 14:44] JonathanMagnan commented on #412
Hello @Jon,

Do you think you could provide a project that compiles which we can run?

It will help my developer investigate the issue more efficiently.

Even if you believe you have provided enough information, we cannot count anymore the number of times someone believes it also, and a third-party package or piece of code was missing, and we were losing hours to reproduce it instead of spending t

[2020-08-21 11:38] leowns opened #413 "Requested value not found error on List<Enums>"
Hi

I think there is an issue with the `ParseLambda` method when using a list of enums:

[code]

Result:
[code]

Example:
https://dotnetfiddle.net/kFXY2L

Thank you for your help.

[2020-08-21 14:38] ste1nstone opened #414 "Contains search in an Enum"
Hi

I try to do an dynamic request which returns me all entries where an enum column contains a special value.
Unfortunately I could not find a solution the archieve this with a dynamic expression.

It seems like EF core has also a problem with this why I used the workaround from the following issue [https://github.com/dotnet/efcore/issues/20604](https://github.com/dotnet/efcore/issues/20604)
But

[2020-08-23 21:12] JonathanMagnan commented on #413
Hello @leowns ,

Here is the code my developer suggest you:

[code]

If you wish to keep a pure LINQ syntax, we suggest you instead to try: [C# Eval Expression](https://eval-expression.net/linq-dynamic)

[2020-08-23 21:15] JonathanMagnan commented on #410
Hello @Chauhan225 ,

Sorry for the delay,

Here is what my developer suggest you, to create a method on your side to support it:

[code]

We might support it eventually directly built-in in the library but at this moment, we have no plan for it.

[2020-08-23 21:18] JonathanMagnan commented on #403
Hello @Huangzc88 ,

Sorry for the delay,

My developer tried it but didn't succeed to reproduce it.

Do you think you could provide him a full runnable example with the case? That will help him to get started and try to fix it.

[2020-08-24 12:55] luizfbicalho opened #415 "Problem with Query over JObject, Filter with SubProperty not returning the correct value"
I created this console application to reproduce my problem

[code]

If you look at the results , the count should be the same, but for some reason, retorno2 is filtering for the Root Id of the object, and not the Tipo property and Id SubProperty

[2020-08-24 13:44] JonathanMagnan commented on #411
Hello @KhoiNguyenICT

Since our last conversation, we haven't heard from you.

As mentioned in my previous message, both libraries support IQueryable.

Don't hesitate to provide further information, so that we can help you better.

Best regards,

Jon

[2020-08-24 17:37] KhoiNguyenICT commented on #411
@JonathanMagnan
Thank you so much
I tryed for this. Expression had good for template
[code]

[2020-08-24 18:03] KhoiNguyenICT commented on #411
@JonathanMagnan
But I have not figured out how to re-initialize **Type** of **ModuleBuilder** when **DefineType** was successful before. Do you have any ideas for this problem?.
Thanks!

[2020-08-24 18:12] JonathanMagnan commented on #411
Sorry @KhoiNguyenICT , I do not understand what you want.

[2020-08-25 00:54] KhoiNguyenICT commented on #411
@JonathanMagnan
My problem has been solved.
Thank you so much!

[2020-08-25 00:54] #411 closed

[2020-08-25 20:01] FernandoGPinto opened #416 ""Target object is not an ExpandoObject" exception being thrown when using GroupBy"
Hi

I am using dynamic `GroupBy` on a union of records and getting a `Target object is not an ExpandoObject` exception thrown by `DynamicIndex` when trying to run the query and obtain a list of records using the following code:

[code]
`DynamicIndex` only seems to be called by the `GroupBy` operator. Is there a limitation to this operator that I am anware of or am I missing a conversion?

Exceptio

[2020-08-26 13:00] JonathanMagnan commented on #416
Hello @FernandoGPinto ,

Do you think you could provide a **runnable project sample** for this issue? It will help my developer to get started to investigate it faster and make sure nothing is missing.

_Providing a project sample is now **REQUIRED**. It happened *too many times* that something **was missing** to investigate and/or answer an issue._

_Try to create a new project with only the mini

[2020-08-26 15:23] FernandoGPinto commented on #416
Hi @JonathanMagnan,

Thanks for reponding so quickly. Below you can find a simplified runnable version of my code. The exception thrown is the same.

[code]

[2020-08-26 15:35] JonathanMagnan commented on #416
Thank you :) My developer will look at it

[2020-08-28 04:26] JonathanMagnan commented on #415
Hello @luizfbicalho ,

It's possible that `new (  string(Id) as Id)  as Tipo` should be instead `new (  string(Tipo.Id) as Id)  as Tipo` ?

[code]

Once we change it, it now filters the Tipo.Id as you initially wanted.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extension

[2020-08-28 12:07] luizfbicalho commented on #415
Thanks @JonathanMagnan , I'll try that.

[2020-08-28 14:01] luizfbicalho commented on #415
One thing before closing this
If I remove the line

`   .Select("new (  string(Id) as Id, string(Descricao) as Descricao,new (  string(Id) as Id)  as Tipo, string(TipoId) as TipoId, string(Custo) as Custo)");`

Shoudn't it work inspecting the JObject?
I changed it to dynamic and received this

"Target object is not an ExpandoObject"

[2020-08-28 15:08] JonathanMagnan commented on #415
Unfortunately, the library is not 100% compatible with `JObject`.

So the answer is no for the moment.

We might want to improve the code later to try to support more but there is no plan for now.

[2020-08-29 10:13] Huangzc88 commented on #403
Hello @JonathanMagnan

Thank you for your reply.

Below is all the code that can be executed directly to the console program.：
[code]

[2020-08-29 15:42] luizfbicalho commented on #415
I didn't look deeply inside of the code, but is there some kind of translator that I could implement, for example
There is a object to where that translates the objects properties to the where string, and I could implement one translator of JObject to where,
and even one from dynamic to Where

I'm not sure if I was clear about it

[2020-08-31 13:20] #413 closed

[2020-08-31 13:21] JonathanMagnan commented on #415
I'm not exactly sure but this answer might help you: https://github.com/zzzprojects/System.Linq.Dynamic.Core/issues/410#issuecomment-678825890

This is possible for you to add some method that will be recognized by the library

[2020-08-31 13:26] #410 closed

[2020-08-31 13:43] luizfbicalho commented on #415
I was thinking about something more transparent, I mean something like this

IReader<T>{GetProperties(T obj).......}

and in Where("t=>t.Property==@0",X) would use the DI or some array of readers kind of the way newtonsoft.json has the converters.

I imagine that this is a huge change in the way that this works today, if so, I'm just pointing some ideas to help in the future

[2020-09-01 05:03] chriswarr opened #417 "Expression is missing an 'as' clause"
For the below code I get "Expression is missing an 'as' clause" on the call to ParseLambda.  This is my first time using this library so not sure if what i'm doing is ok or not?

[code]

[2020-09-01 15:04] JonathanMagnan commented on #417
Hello @chriswarr ,

This library is more for LINQ Dynamic.

I might be wrong but in your case, you look more like you want a runtime compiler.

In this case, I would suggest you try our [C# Eval Expression](https://eval-expression.net/) library (however, the library is not free)

Here is a working online example of what you want to try to achieve: https://dotnetfiddle.net/Ze57pA

[code]

Best Rega

[2020-09-01 23:20] chriswarr commented on #417
Ah, thanks you so much.  I understand.  I will check out the library.  Looks perfect, I was using Roslyn for this but found it uses too much memory.

[2020-09-01 23:20] #417 closed

[2020-09-02 17:08] hdusten opened #418 "Dynamic is not playing nice with EF+"
Good day,

I happened upon an obscure error today. I currently cannot use Dynamic and EF+ side by side using EF Core 3.1.

EDIT: Currently utilizing the latest versions of both libraries from nuget.

I get the following error:

"Oops! Select projection are not supported in EF+ Query IncludeFilter For more information, contact us: info@zzzprojects.com"

The interesting element here is that I'm not

[2020-09-02 17:22] hdusten commented on #418
We may be able to close this issue out. I've uncovered that reordering the execution of the API calls seems to alleviate the collision between libraries.

You must utilize the Dynamic library prior to Utilizing the EF+ library of EF+ gets confused about what's going on.

This whole issue may be able to be copied over to the EF+ library.

[2020-09-02 18:38] JonathanMagnan commented on #418
Hello @hdusten ,

Thank you for reporting,

In this case, we will probably close it as we are not sure how we can really fix it (as you noticed, both libraries don't always work well together).

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framewo

[2020-09-02 18:38] #418 closed

[2020-09-02 20:43] JonathanMagnan commented on #403
Hello @Huangzc88 ,

Unfortunately, we looked at it and I don't think we will support it at this moment.

The `Qty` is of type object, and a `Sum` doesn't exist on this type. Since we compile, we cannot know which is the type at compile time.

So for now, the `Convert` will still be required to make this example work.

[2020-09-04 12:49] Zeinabam commented on #417
Hello @chriswarr,

Don't hesitate to contact us for further assistance once you try it!

Best regards,

Jon

[2020-09-04 12:51] JonathanMagnan commented on #417
Hello @chriswarr ,

Don't hesitate to contact us for further assistance once you try it!

Best regards,

Jon

[2020-09-08 16:06] JonathanMagnan commented on #416
Hello @FernandoGPinto ,

Unfortunately, I don't think it will be possible to support your case, I believe you reached the limitation of the library.

Anonymous type is created on the fly, even if they have similar different, they are different type so trying to make a `union` on both lists make it currently impossible to do such request.

I don't think anything will be done here due to the amount

[2020-09-08 16:41] StefH commented on #416
Actually, the union/concat (`var unionAll = fireExits.Concat(fireExtinguishers).AsQueryable();`) does work, because there is a check in the code to reuse a dynamic generated type.
(https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/DynamicClassFactory.cs#L117)

So because both anonymous classes have a property FireAndEmergency which is a bool, they are

[2020-09-08 19:09] #403 closed

[2020-09-09 17:44] JonathanMagnan commented on #405
Hello @effapp ,

Sorry for the long waiting,

The `SetDynamic` feature has been added in our EF Plus library: https://github.com/zzzprojects/EntityFramework-Plus/releases/tag/v3.0.61

We currently believe that feature related to Entity Framework should be part of our free library EF Plus instead which try to make it easier for developers to use EF.

Let me know if that solution can work for you.

[2020-09-11 20:37] leaditnet commented on #176
Hi, did you find a solution for having left outer join with dynamic linq?

[2020-09-12 10:27] leaditnet opened #419 "How to implement Left outer join with Linq.Dynamic?"
I am trying to get left outer join working with linq dynamic,
The ideas I got is that I need to use group join with select many,
So, I think I need to translate the following example to linq dynamic but I cannot get the syntax right:
please help translating this linq code to Dynamic Linq

`db.Categories
  .GroupJoin(db.Products,
      Category => Category.CategoryId,
      Product => Product.Categ

[2020-09-13 02:31] JonathanMagnan commented on #419
Hello @leaditnet ,

For this kind of question, I recommend you to use instead Stack Overflow: https://stackoverflow.com/search?q=%5Bdynamic-linq%5Dleft+join&mixed=0

From one of these questions, I discovered this library: https://github.com/SikeyMael/LinqHelper which may help you to achieve what you want.

[2020-09-14 09:27] FernandoGPinto commented on #416
Hi @StefH @JonathanMagnan

Thank you for taking time to look into this and for proposing a solution. It works great and has solved the issue I was grappling with 👍

[2020-09-14 09:28] #416 closed

[2020-09-15 11:40] Angus221 opened #420 "How to set global date format conversion？not used utc"
Model

![image](https://user-images.githubusercontent.com/21039420/93205575-9d9bc380-f78a-11ea-834f-2bca0a02f9f6.png)

Code like :
`.Where("RequestDate>=\"2020/08/07 00:00:00\"")`

or
`.Where("RequestDate>=@1",Datetime.Now)`

I've tried two ways to use it, but still format as utc，
Exception
![image](https://user-images.githubusercontent.com/21039420/93205151-ef901980-f789-11ea-8b08-bdb28d168e93.pn

[2020-09-15 12:58] JonathanMagnan commented on #420
Hello @Angus221 ,

In which format do you wish your date time? How you usually do it without `LINQ Dynamic` (so with purely LINQ)?

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) • [Bulk Operat

[2020-09-16 01:17] Angus221 commented on #420
I wish date time format like "yyyy/MM/dd H:mm:ss"
Puerly Linq was not thorw exception with date time in the "where" method,
 the output sql query contains(Linq dynamic):
`[RequesteDate] > '2019-05-10T13:03:17.0000000+02:00'`
It doesn't work in the sql server.

[2020-09-16 01:23] Angus221 commented on #420
[code]
I try use config ,but it doesn't work

[2020-09-16 03:08] Angus221 commented on #420
My  EF version   EntityframeworkCore  5.0-Preview8

[2020-09-16 05:41] StefH commented on #420
@Angus221 What happens if you just use normal LINQ (so not dynamic), does that work for you?

[2020-09-17 01:34] Angus221 commented on #420
Normal LINQ has no exception,but my query columns should be configured dynamically，so I need dynamic.

Could you help me test the "datetime" type with EF Core 5-preview8 ?

[2020-09-17 10:14] wakuflair commented on #234
@jnothstine

Thanks for your explanation. I learned a lot.
However I have a problem with the column name.
I constructed my query string like this: `MyTable.Where($"DbFunctions.JsonValue(\"column1\", \"$.name\"))`, but DynamicLINQ generated the SQL `JSON_VALUE('column1', '$.name')`, where the column1 is generated as a string, rather than a column name, so my query failed.

Could you give me a sampl

[2020-09-17 11:24] StefH commented on #420
@Angus221
As a workaround, you could try to set the `Thread.CurrentThread.CurrentCulture` to the culture which will generate the correct DateTime format.

See: https://docs.microsoft.com/en-us/dotnet/api/system.globalization.cultureinfo.defaultthreadcurrentculture?redirectedfrom=MSDN&view=netcore-3.1#System_Globalization_CultureInfo_DefaultThreadCurrentCulture

[2020-09-17 22:19] arivera12 opened #421 "What should be the statement to support the IN operator in where clause?"
I have a list of ids.

On regular entity framework would something like this

`DbContext.Categories.Where(w => ids.Contains(w.CategoryId)).ToList()`

how can I achieve the same using dynamic linq?

CategoryId is known at runtime and I extract it from the DbContext.Model so I need this to be dynamic.

So it should be something closer to this but I could not get it to work

`DbContext.Set<T>().Where

[2020-09-17 22:22] arivera12 commented on #421
Also the 4 big red buttons that says `Read More` are broken in the main page https://dynamic-linq.net/

[2020-09-17 22:24] arivera12 commented on #421
I tried this fiddle https://dotnetfiddle.net/CXfG4d regarding on contains operators and works properly but how to do it for collection instead?

[2020-09-18 00:14] arivera12 commented on #421
I found this in a closed issue https://github.com/zzzprojects/System.Linq.Dynamic.Core/issues/314

Why this is not on the main docs?

[2020-09-18 03:25] wakuflair opened #422 "How to use `Convert` in expression?"
I see `Convert` is available  from the [doc](https://github.com/zzzprojects/System.Linq.Dynamic.Core/wiki/Dynamic-Expressions#types), however my expression `Convert.ToInt32("123") > @0` raises "could not be translated" exception.

Am I using it wrong?

[2020-09-18 03:58] Angus221 commented on #420
Thanks for your reply ，I try it，but it doesn't work，still the same format.
![image](https://user-images.githubusercontent.com/21039420/93553676-2e9ab680-f9a6-11ea-82a3-97a4f29d330b.png)

[2020-09-22 19:48] JonathanMagnan commented on #414
Hello @ste1nstone ,

Unfortunately, we didn't find a working solution with Dynamic LINQ.

However, it is already possible to do such dynamic query with our other library: [C# Eval Expression](https://eval-expression.net/linq-dynamic) (LINQ extension method part are free)

Here is an online example: https://dotnetfiddle.net/qcbJ5I

Best Regards,

Jon

[2020-09-23 16:02] #414 closed

[2020-09-24 18:22] zspitz opened #423 "Produce Dynamic LINQ strings from expression trees"
I've written a [library](https://github.com/zspitz/ExpressionTreeToString/) producing various string representations of expression trees. I am now considering a Dynamic LINQ representation. In other words, from an expression tree like this:
[code]
produce a string like the following:
[code]
Does System.Linq.Dynamic.Core have such functionality?

Also, for this purpose, where can I find the most up

[2020-09-24 18:53] zspitz commented on #423
Something similar has been discussed in #230 .

[2020-09-24 19:05] zspitz commented on #230
@david-garcia-garcia What is the status of this? As I noted in #423, I've written a [library](https://github.com/zspitz/ExpressionTreeToString) that produces various string representations of expression trees, and I would like to include something similar to what you've done.

[2020-09-24 19:10] JonathanMagnan commented on #423
Hello @zspitz ,

No, Dynamic LINQ doesn't offer this kind of feature.

Perhaps david-garcia-garcia in the mentioned issue could maybe help you more.

The most up to date documentation which has been added during the summer can be found here: https://dynamic-linq.net/overview

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Enti

[2020-09-25 03:34] #230 closed

[2020-09-30 14:55] #420 closed

[2020-09-30 15:29] brainded opened #424 "How to GroupBy Nullable DateTime Year?"
I have tried the following to get the group by to work for this but I am having trouble getting past the nullable issues.

.GroupBy("new (NullableDate.Year)") throws an exception because the Year property doesn't exist. Makes sense because the property is actually on Value.
.GroupBy("new (NullableDate?.Year)") throws an exception that you can't use an NP with the library. I found the exception in

[2020-09-30 15:35] StefH commented on #424
@brainded
You could take a look at null propagation : https://dynamic-linq.net/advanced-null-propagation

[2020-09-30 15:52] brainded commented on #424
@StefH Thank you!

I tried:
.GroupBy("new (np(NullableDate.Year, 0))") and got "No property or field 'Year' exists in type 'DateTime?" again.
I also tried:
.GroupBy("new (np(NullableDate.Value.Year))")
and
.GroupBy("new (np(NullableDate.Value.Year, 0))")
 and got "The binary operator NotEqual is not defined for the types 'System.DateTime' and 'System.Object'."

Is NP supported in the GroupBy metho

[2020-10-01 16:55] #423 closed

[2020-10-05 15:45] glopesdev opened #425 "Add support for parsing Action lambdas"
This was possible in the old `System.Linq.Dynamic` package simply by allowing the specification of the delegate type passed to `Expression.Lambda` from one of the overloads in `ParseLambda` ([see archived source]( https://github.com/zzzprojects/System.Linq.Dynamic/blob/b465322c05d1adada7825fb2eb012ac2f240c7c1/Src/System.Linq.Dynamic/DynamicLinq.cs#L332)).

This would greatly increase the flexibili

[2020-10-05 17:12] glopesdev opened #426 "Add support for parsing ValueTuple"
This would allow writing simple compound expressions (e.g. `(Math.Sin(it), Math.Cos(it))`) without having to generate a new type.

[2020-10-05 20:59] JonathanMagnan commented on #425
Hello @glopesdev ,

Thank you for reporting, we will look at it if something already similar already exists.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) • [Bulk Operations](http://bulk-oper

[2020-10-05 21:06] JonathanMagnan commented on #426
Hello @glopesdev ,

Could you give us a runnable example just to make sure we check exactly what you need

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) • [Bulk Operations](http://bulk-operati

[2020-10-05 21:18] glopesdev commented on #426
Thanks @JonathanMagnan . The example in the question is runnable, but it might not be immediately obvious given the simplicity. Here is a complete example using LINQ-To-Objects:

[code]

[2020-10-05 21:22] glopesdev commented on #426
This would probably require extending the parser to handle the evaluation of parenthesized expressions. If the expression inside the parentheses is a comma-separated list, then it would be translated to a call to `ValueTuple.Create`.

There might be other complications, specifically handling tuple deconstruction syntax and structured equality so I think it's fine marking this as a long-term issue.

[2020-10-06 09:30] zspitz commented on #179
Source Link appears to be broken ATM.

The [current instructions to enable Source Link](https://github.com/dotnet/sourcelink#using-source-link-in-net-projects) require a `PackageReference` for the appropriate source code provider (for Dynamic LINQ this would be GitHub):

[code]

But none of the Dynamic LINQ projects have this reference.

I've found [Nuget Package Explorer](https://github.com/NuGet

[2020-10-06 16:00] JonathanMagnan commented on #426
We will look at it.

Perharp in the first version, we will try if we can support something like this:

[code]

So the keyword `Tuple` will help to let us know how to manage value without Field

[2020-10-06 21:44] YushanCao opened #427 "Trying to parse this string "a == typeof(string)" but it throws ParseException"
Code to repro this issue.  Looks like the "typeof" operator is causing issue here.  How do I include the "typeof" operator in the expression string to parse?
[code]

[code]

[2020-10-07 14:13] JonathanMagnan commented on #427
Hello @YushanCao ,

We will look at it.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) • [Bulk Operations](http://bulk-operations.net/) •  [Dapper Plus](http://dapper-plus.net/)

**Runtime Eva

[2020-10-08 16:14] JonathanMagnan commented on #426
Hello @glopesdev ,

We looked at this feature but unfortunately, it will be currently too hard to add it.

The way `ValueTuple` work and alias name are under the hood modified to `Item1`, `Item2` by the compiler, and even more, the way it works when the `ValueTuple` have more than 7 parameters make everything a little bit too much complex for the time we have.

Our other library ([C# Eval Expressi

[2020-10-08 16:26] JonathanMagnan commented on #427
Hello @YushanCao ,

After investigation, we choose that's currently out of the scope of this library to add a feature like this one even if it could be useful. This library is more to evaluate LINQ expression than a single expression

If your goal is to evaluate a single expression, a recommend you a more powerful library: [C# Eval Expression](https://eval-expression.net/)

[code]

Best Regards,

[2020-10-14 17:23] #427 closed

[2020-10-14 17:25] #426 closed

[2020-10-18 09:44] zspitz opened #430 "Documentation: internal links are broken"
For example, in the [Operators](https://dynamic-linq.net/expression-language#operators) section on the [Expression language]((https://dynamic-linq.net/expression-language) page, there is a link to https://dynamic-linq.net/expression-language#Constructor_and_Method labelled "Method invocation".

![image](https://user-images.githubusercontent.com/312166/96363876-86f8db80-113f-11eb-8d67-399ee57762ff.

[2020-10-18 09:58] zspitz opened #431 "Documentation: limitations of type usage to accessible types is incorrectly stated"
| Category | Expression | Description |
| --- | --- | --- |
| Primary | `x.m` | Instance field or instance field or property access. Any public field or property can be accessed. |
| Primary | `x.m(...)` | Instance method invocation. The method must be public and must be declared in an accessible type. |
| ... | ... | ... |
| Primary | `T.m` | Static field or static property access. Any public fie

[2020-10-19 14:19] JonathanMagnan commented on #430
Helllo @zspitz ,

Thank you for reporting,

We will review all this broken link during the next weekend.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list, options => options.BatchSize = 1000);  `
[Entity Framework Extensions](http://entityframework-extensions.net/) • [Entity Framework Classic](http://entityframework-classic.net/) • [Bulk Operations](http://bulk-operatio

[2020-10-19 20:17] JonathanMagnan commented on #425
Hello @glopesdev ,

The v1.2.4 has been finally released.

It's now possible to pass the delegate type for most method such as:

[code]

Let me know if that's exactly what you were looking for.

Best Regards,

Jon

[2020-10-20 00:04] glopesdev commented on #425
@JonathanMagnan that is exactly what I was hoping for, thanks a lot for the support, now I can finally jump over from the old `System.Linq.Dynamic` 😉

[2020-10-20 05:52] zspitz opened #432 "Clarify error message when using np with instance methods"
Given the following class:
[code]
Dynamic LINQ expands the `np(...)` function:
[code]
to include a null-checking test on every property/field access in the chain:
[code]
However, `np` doesn't work with an instance method call:
[code]
and fails with **System.InvalidOperationException**: 'Sequence contains no elements'.

<details>
 <summary>Stack trace</summary>
[code]
</details>

This is understand

[2020-10-20 12:46] JonathanMagnan commented on #425
Awesome @glopesdev

We are glad we sorted things out ;)

Don't hesitate to contact us for any questions, issues or feedback!

Best regards,

Jon

[2020-10-20 21:44] shbha1 opened #433 "System.Linq.Dynamic.Core - error message: “target object is not an ExpandoObject”"
The solution is using System.Linq.Dynamic.Core v1.2.3. When I try to call ToDynamicList() on the result of a GroupBy() call (as shown below), I get the 'target object is not an ExpandoObject' error message at runtime. A sample snippet is provided below as well as the exception message. Please let me know what I can do to resolve the issue.

[code]

**Exception Message**
'data.AsQueryable<T>().Grou

[2020-10-21 16:49] zspitz opened #434 "Documentation: improve enum string literal example"
The following example:
[code]
is supposed to demonstrate how Dynamic LINQ parses an enum inside a string literal. But the example only shows how it's possible to pass in an actual enum value to Dynamic LINQ, via the `@0` parameter. A better example would be:
[code]
where the enum value is itself embedded inside the Dynamic LINQ string.

[2020-10-21 17:00] zspitz opened #435 "Documentation: better description of enum parsing"
When describing how Dynamic LINQ handles enum values embedded inside the Dynamic LINQ string, the [documentation](https://dynamic-linq.net/expression-language#enum-type) states:

* The use of the term "string literal" makes it sound as though `DayOfWeek.Monday` might have to be embedded in quotes within the Dynamic LINQ string: `"OrderDate.DayOfWeek = \"DayOfWeek.Monday\""`; or that the only way t

[2020-10-22 15:00] artnova-david commented on #396
Hi,
I'm also having the same issue this simple query gives the error "No property or field 'DynamicFunctions' exists in type 'Customer'". I installed the necessary dll's but still not working. Am I missing something?
`var config = ParsingConfig.DefaultEFCore21;`
`config.ResolveTypesBySimpleName = true;`
`return await _db.Customers.Where(config, "DynamicFunctions.Like(Name, \"%a%\")").ToListAsync()