[2020-10-22 21:19] zspitz opened #436 "Nested parameters"
Given the following hierarchy:
[code]
how can I write the equivalent of the following query:
[code]
I've seen the use of `outerIt` to refer to the outer parameter, but the following code:
[code]
fails with:

An additional question: what happens if an additional level of parameter is required?

[2020-10-23 05:58] zspitz opened #437 "Question: ContainsKey is not a standard LINQ operator"
The list of [LINQ standard operators supported by Dynamic LINQ](https://dynamic-linq.net/expression-language#sequence-operators) includes `.ContainsKey`.

[This list of LINQ operators](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/concepts/linq/classification-of-standard-query-operators-by-manner-of-execution) doesn't include `ContainsKey`.

Since `ContainsKey` is (for all the c

[2020-10-23 19:50] JonathanMagnan commented on #430
Hello @zspitz ,

A new version of the documentation has been released. We fixed a few pages including this one but we will need to take time and review every page next week as it appears many link has not been modified when some page has been renamed/moved.

Best Regards,

Jon

[2020-10-23 19:50] #430 closed

[2020-10-24 17:15] JonathanMagnan commented on #433
Hello @shbha1 ,

What's exactly the type of your `T`?

The following expression look to be fine:

[code]

Unless I miss something, you cannot perform the last `Cast<T>` since the selector expression creates an anonymous type.

Best Regards,

Jon

[2020-10-24 17:24] JonathanMagnan commented on #437
Hello @zspitz ,

I'm currently failing to see what you really want or what you want us to change.

The `ContainsKey` can contain an expression such as `"Orders.ContainsKey(it.City + \"TEST\")"`.

If you wish, feel free to make a pull request in the documentation here: https://github.com/zzzprojects/docs/tree/master/dynamic-linq.net

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkI

[2020-10-24 18:19] zspitz commented on #437
All instance methods are resolved, so the reason why `ContainsKey` works is not because it is a LINQ operator, but rather because it is an instance method. As such, `ContainsKey` doesn't belong in this list.

I will write a PR shortly.

[2020-10-24 18:23] JonathanMagnan commented on #432
Hello @zspitz ,

The v1.2.5 has been released.

The expression was only working when the method has some parameters such as: `public string? Baz(int i) => "";`

In the newest version, null propagation should also work with a method without parameter like you in case.

Let me know if everything is now working as expected.

Best Regards,

Jon

---

**Performance Libraries**
`context.BulkInsert(list,

[2020-10-24 20:54] zspitz commented on #437
@JonathanMagnan Let me clarify.

All instance methods are handled by Dynamic LINQ, as are their arguments. You can put an arbitrary expression as an argument to any instance method and it will be translated to the corresponding expression and query. Like so:

[code]

The LINQ methods (e.g. Select, Where, Any etc.) are different, because they are extension methods, and thus static and not instance

[2020-10-24 21:39] zspitz commented on #432
@JonathanMagnan Thank you for the quick turnaround on this.

But the issue is not quite resolved. When I use `np` on a member chain which has a method call in the middle:
[code]
what expression is supposed to be generated? I would expect to see the equivalent of the following C#:
[code]
checking for all the parts of the member/method chain. Instead, I see the following:
[code]
Anything up the chai

[2020-10-25 09:01] StefH commented on #432
Hello @zspitz, I see your point. That code `np(Foo1.Baz().Length)"` is currently translated into:
[code]

Which is indeed invalid (I did not test this scenario when implementing the `np(...)` functionality).

It should be like:
[code]

@JonathanMagnan Shall I take a look at the code and see if this can be changed?

[2020-10-25 09:22] zspitz commented on #432
@StefH It's more than just the methods which are up the member chain. Once `np` is supposed to process method calls, I think it's also expected that it should process member chains within arguments passed to the method calls. (And of course, method calls within chains passed as arguments to method calls.)

(I noted this in my previous comment, but your comment didn't respond to this point. Just ma

[2020-10-25 17:06] JonathanMagnan commented on #432
@StefH , sure you can go ahead and propose a pull

[2020-10-26 05:01] niuzheng168 commented on #425
@JonathanMagnan

I am  trying something like this:
`var expression = (Action<NestedInput>)DynamicExpressionParser.ParseLambda(typeof(Action<NestedInput>), new[] { Expression.Parameter(typeof(NestedInput), "x") }, typeof(bool), "x.NestedProp.ListProp[1].Value = \"123\"").Compile();`

`expression.Invoke(nestedInput);`

however, the value is not changed to "123"... do you have any ideas?

[2020-10-26 14:18] JonathanMagnan commented on #425
Hello @niuzheng168 ,

Do you think you could provide a **runnable project sample** for this issue? It will help my developer to get started to investigate it faster and make sure nothing is missing.

_Providing a project sample is now **REQUIRED**. It happened **too many times** that something **was missing** to investigate and/or answer an issue._

_Try to create a new project with only the minim

[2020-10-26 21:55] glopesdev opened #438 "Typo in IDynamicLinkCustomTypeProvider name"
This might well be an annoying breaking change now, but just for future reference there might be a typo in the name of `IDynamicLinkCustomTypeProvider`. All the other concrete types use the correct spelling `Linq` while this one uses `Link`.

No complaints here, but just wanted to flag the inconsistency between type names.

[2020-10-26 22:47] glopesdev commented on #425
@niuzheng168 @JonathanMagnan I don't know if this is the same issue, but I'm also testing this new feature and I found a parse limitation with the following code sample:

[code]

This seems to boil down to L1656 on `ExpressionParser.cs` and the following check:
[code]

The check makes sense if we expect only `Func` delegate types, but if the return type is `typeof(void)` as in the case of `Action`

[2020-10-27 06:42] StefH commented on #438
@glopesdev Good catch ;-)

Best would be to add the correct class `IDynamicLinqCustomTypeProvider` and let the older interface extend this one in order to maintain backward compatibility.

[2020-10-28 16:37] zspitz opened #439 "Question: DateTime constructor using ticks"
The following:
[code]
fails with:

Presumably, because Dynamic LINQ interprets `DateTime(...)` as a conversion from the `long` literal value, which isn't found; before searching for the appropriate constructor.

Is this the intended behavior?

I can work around this by passing in `DateTimeKind` as the second argument to the constructor:
[code]
Is there any other way to force Dynamic LINQ to recogn

[2020-10-28 17:47] zspitz commented on #431
@JonathanMagnan

Apparently, things are not so simple. Instance methods are allowed only if either the instance type is an accessible type, or the return type is an accessible type. So this code:
[code]
outputs this:
[code]
because `Notify`'s return type is `void`, while `Notify2`'s return type is `Person`. Only `Notify1`'s return type is an accessible type -- `bool`.

Is this behavior by design?

[2020-10-28 20:26] zspitz opened #440 "`it` isn't interperted as the inner parameter when using `All`"
The following code:
[code]
fails with:

while changing `selector` to this:
[code]
fails similarly with:

It seems as though the `it` when used in the inner lambda is still interpreted as the outer `it` (in this case, `Person` and not `char`).

[2020-10-28 20:56] zspitz commented on #431
Also, I would add that unlike instance methods, indexers can return an inaccessible type.

[2020-10-28 21:26] zspitz opened #441 "Question: Lambda invocation"
The following:
[code]
fails with:

Changing the selector to:
[code]
doesn't work either.

How do I define a lambda expression within the selector, and invoke it?

[2020-10-28 21:46] zspitz opened #442 "UriKind is not recognized in Uri constructor"
[**System.Uri**](https://docs.microsoft.com/en-us/dotnet/api/system.uri?view=netcore-3.1) is a [predefined type](https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/Parser/PredefinedTypesHelper.cs#L47).

The following:
[code]
fails with:

`UriKind` appears to be understood as a member of `Person`, and not as an enum value.

This is especially puzzling,

[2020-10-28 21:47] StefH commented on #432
@zspitz I cannot use ExpressionTreeToString in .NET 4.5.2 test project.

However I think I solved the issue, can you take a look at the unit tests here?
- https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/stef_np_432/test/System.Linq.Dynamic.Core.Tests/ExpressionTests.cs#L1410
- https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/stef_np_432/test/System.Linq.Dynamic.Core.Tests/

[2020-10-28 21:55] StefH commented on #442
Hello @zspitz.

A small remark: you always use the `ExpressionParser` in your examples.

However this class does not exists in this repository, it should be `DynamicExpressionParser`.
https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/DynamicExpressionParser.cs

I think you are mistaken by another source code repository?

[2020-10-28 22:03] zspitz commented on #442
@StefH I don't think so; it's right here: https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/Parser/ExpressionParser.cs .

[2020-10-28 22:04] zspitz commented on #432
@StefH  The unit tests look excellent, thanks. But what happens if the arguments themselves consist of member/method chains?

I realize handling this possibility means increased complexity -- we're no longer talking about a simple chain of members/methods, but rather each method could branch out into its own chain via the arguments.

But if you decide not to process method arguments, I think it im

[2020-10-28 23:14] zspitz commented on #423
@JonathanMagnan I am very pleased to let you know that as of version 3.2, the [ExpressionTreeToString](https://github.com/zspitz/ExpressionTreeToString) library can produce corresponding Dynamic LINQ for many expressions. For example:
[code]
Please feel free to refer to the library in help and documentation.

[2020-10-28 23:16] zspitz commented on #432
@StefH

Beginning with version 3.2, the library now targets .NET 4.5.2 as well. Also, you can now produce Dynamic LINQ equivalents for expressions, as noted [here](https://github.com/zzzprojects/System.Linq.Dynamic.Core/issues/423#issuecomment-718261256).

[2020-10-29 05:56] StefH commented on #442
You are correct.

However I think the DynamicExpressionParser is a more public class, and the ExpressionParser is more internal. That's why I was confused.

[2020-10-29 06:01] StefH commented on #432
Hello @zspitz,
I see your point on the arguments like `np(Foo1.Baz(Foo1.Foo1.Bar, Foo1.Foo1.Bar).Length)`.

Would it be an option to mark this issue as resolved? And that you create a new issue regarding the arguments issue?

[2020-10-29 06:35] zspitz opened #444 "Process member/method chains within method arguments when using `np`"
(Creating a new issure, at @StefH 's [request](https://github.com/zzzprojects/System.Linq.Dynamic.Core/issues/432#issuecomment-718379933).)

With #443, the result of method calls within a member chain when using `np`:
[code]
are also null-checked, and the resultant expression looks like this:
[code]
or the C# equivalent:
[code]
whether the method has [zero](https://github.com/zzzprojects/System.Li

[2020-10-29 06:35] zspitz commented on #432
@StefH

Done (#444).

[2020-10-29 06:35] #432 closed

[2020-10-30 03:36] JonathanMagnan commented on #440
Hello @zspitz ,

I think you are currently trying to use the library in a way that it was not built for.

As said in the name, the library is made to execute LINQ query such as:

[code]

It's not initially intended to be a full C# evaluator. For those, there is our other library [C# Eval Expression](https://eval-expression.net/) or perhaps even better for your case [Roslyn Scripting](https://www.n

[2020-10-30 05:41] zspitz commented on #440
@JonathanMagnan

The [documentation](https://dynamic-linq.net/expression-language#sequence-operators) suggests that it does allow certain specific LINQ method calls, even in an expression. It has this to say within the expression language:

Note that this is distinct from the [extension methods provided by Dynamic LINQ](https://dynamic-linq.net/basic-query-operators).

[Here](https://github.com/zz

[2020-10-30 07:09] StefH commented on #444
@JonathanMagnan I can take a look here.

[2020-10-30 09:30] StefH commented on #444
Hello @zspitz.

Actually, I think we already support this, you just have to use `np()` again.

Like:
[code]

This should just work.

And this also makes more sense, because you can also provide a default value. Like:
[code]

[2020-10-30 09:56] zspitz commented on #444
(I apologize; I can't reply at length ATM.)

I think having this limitation on `np` would feel rather arbitrary.

But in any case, it needs to be documented.

[2020-10-31 19:16] zspitz commented on #444
@StefH

Could you elaborate on this:

What undesired functionality do you anticipate?

[2020-11-01 10:20] StefH commented on #442
Hello @zspitz,

As a workaround you can use the integer value from the enum:
`Uri(\"https://www.example.com/\", 0)`

or

Use parameter:
[code]

I'll investigate further on the details on this issue.

[2020-11-02 04:08] hazzik opened #448 "Dynamic.DynamicIndex is exposed in the expression"
After upgrading from 1.1.8 to 1.2.0 I'm getting MethodNotSupported exception because my expression parser finds `Dynamic.DynamicIndex(object, string)` method in the expression. Strangely this method was introduced in 1.1.8, but the error started happening only in 1.2.0

Here are the failing tests: https://ci.appveyor.com/project/hazzik/nhibernate-core/builds/35962348/job/uvi4bg3jew1giw41/tests

[2020-11-02 13:26] #433 closed

[2020-11-02 13:42] #392 closed

[2020-11-03 08:17] niuzheng168 commented on #425
@JonathanMagnan try below codes:

[code]
I suppose the it will nestedInput.NestedProp[0].Id will set to 10, but it still 1 after expression executed.

[2020-11-04 12:21] StefH commented on #284
Hello @rockResolve, can please check with the latest version from System.Linq.Dynamic.Core ?

I think this is fixed, see example: https://dotnetfiddle.net/3cA1gr

[2020-11-07 15:24] StefH commented on #439
Solved by https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/449

[2020-11-07 15:24] #439 closed

[2020-11-07 17:06] StefH commented on #422
Hello @wakuflair,

This should just work fine. See this https://dotnetfiddle.net/W5kF4k.

(See new doc : https://dynamic-linq.net/expression-language#accessible-types)

[2020-11-07 17:06] #422 closed

[2020-11-09 23:21] dbfilevine commented on #441
Would love to know this too. Trying to figure out how to get this to work.

[2020-11-12 03:14] justinushermawan opened #451 "Cannot compare 'Object' type"
Hi, does it support for 'object' data type?

[code]

It always throw an exception:
`System.InvalidOperationException: The binary operator Equal is not defined for the types 'System.Object' and 'System.Int32'.`

[2020-11-12 10:16] zspitz commented on #451
@justinushermawan As a workaround, you could do the following:
[code]
---
Would it be possible to extend the `=` operator to use the `.Equals` method? Or to call the `Object.Equals` static method?

[2020-11-12 11:18] justinushermawan commented on #451
Thank you. Yes, I think it would be possible to call the `Object.Equals()` instead .

[2020-11-12 13:03] StefanKoenigMUC opened #452 "Filter properties of a derived class on a list of base class objects"
Hi all,

the situation is as follows:

[code]

unfortunately and somehow expected, this is not working - as A does obviously not contain "MyProperty" and during expression generation, an exception is thrown

`System.Linq.Dynamic.Core.Exceptions.ParseException: 'No property or field 'MyProperty' exists in type 'A''
`
Is there any way available to build this expression in a way, that subclasses of A

[2020-11-12 13:21] neman opened #453 "How to validate query string value for order by"
How can I validate if value in query string is ok?

For example, the following value of **Id descblabla**, will cause 500.

`api/v1/test-api?orderBy=Id descblabla`

Is there some way to validate string values before parsing expression?
Some helper function?

Example

`var items = _context.Items.OrderBy(request.OrderBy).ToList();`

How can I validate `request.OrderBy` query string parameter?

#245

[2020-11-12 14:36] zspitz commented on #452
You could cast to `B`:
[code]
which corresponds to the compiled lambda syntax:
[code]

[2020-11-12 14:43] StefanKoenigMUC commented on #452
unfortunately, this won't out for me, as the provided expression is from an extern (user-generated) source, they should not bother about any casting issues.

Aside from that, there is not only a B (there are approx 10 classes, which may be addressed) and only a few of them may have the property.

My "workaround" solution could be some kind of a view class, containing a union of properties from tho

[2020-11-12 14:51] zspitz commented on #452
Do you mean the string is generated somewhere else? How does this external location know that there is a `MyProperty`? Right before `MyProperty` is appended to the string, wrap the instance in the appropriate conversion.

If you are producing the string from other input, then why can't you do the same?

[2020-11-12 16:04] StefanKoenigMUC commented on #452
the source of this string is (kind of) a data-grid, containing the union of properties as columns (each row is an object, not available columns are just empty/nulled). The 3rd party knows about those properties by convention (it's basically manual user input - but they should not care about casting & stuff).

Data structure is kind of

BaseClass > A > B > C
A > D > E
D > F
(> shows inheritance)

f

[2020-11-13 00:17] zspitz commented on #452
According to the [documentation](https://dynamic-linq.net/basic-query-operators#isascastoftype), this should work:
[code]
However, I was unable to get this to work.

[2020-11-15 08:32] jogibear9988 opened #456 "Queryable Extensions missing Where<T> with LambdaExpression"
would it be possible to add a signature like this
[code]

[2020-11-15 15:22] StefH commented on #442
Solved by https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/450

[2020-11-15 15:22] #442 closed

[2020-11-15 16:37] zspitz commented on #128
@rajeshmuraleedharan With #450, `StringComparison` is now supported, so the following should work:
[code]
---
@wilari932 How would you write a case-insensitive search using standard expression trees? If this would work:
[code]
then the following should also work:
[code]

[2020-11-15 16:39] zspitz commented on #452
Ping @StefanKoenigMUC @StefH @JonathanMagnan -- see previous [comment](https://github.com/zzzprojects/System.Linq.Dynamic.Core/issues/452#issuecomment-726421944).

[2020-11-15 17:18] zspitz commented on #451
@StefH @JonathanMagnan

Could this issue be fixed by checking if there is an operator overload for `=` between the two sides, and if not then replacing with a call to the `.Equals` instance method? There's already a [similar check](https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/Parser/ExpressionParser.cs#L577) for implicit conversions between two t

[2020-11-15 17:37] zspitz commented on #456
Why do you want to add such a signature? You could cast the `LambdaExpression` to the appropriate type:
[code]

[2020-11-15 18:08] jogibear9988 commented on #456
I've a IQueryableT, but for Perfromance I have a preparsed Expression, so I will not use Where<TSource>(String), instead I will use Where(Lambda), and so I have to cast the IQueryable before I could call ToList

[2020-11-15 18:53] rockResolve commented on #284
All fixed now. Thanks

[2020-11-15 18:53] #284 closed

[2020-11-16 05:54] zspitz commented on #456
I'm still not following. You have an `IQueryable<T>`? What happens when you cast the `LambdaExpression` to `Expression<Func<T, bool>>`?

[2020-11-16 06:11] Angus221 commented on #420
My code still have the exception with  System.Linq.Dynamic.Core 1.2.5 , why closed the issues?

![image](https://user-images.githubusercontent.com/21039420/99218479-8bcfae80-2815-11eb-9905-6824e27a836a.png)

[2020-11-16 07:32] StefanKoenigMUC commented on #452
sorry, didnt get an email / didnt see your last comment.

Thanks a lot, I'll play around a bit further today!

[2020-11-16 15:11] zspitz opened #457 "Allow use of `as` and `is` on arbitrary expressions, not just the parameter"
Currently, `as` is defined as taking only one argument: the type name; it can only be applied to the parameter. This:
[code]
is defined as the equivalent of:
[code]
But there is no way to express the equivalent of the following:
[code]
Either of the following:
[code]
fails with:

---

The same thing applies to `is`. Either of the following:
[code]
fails with the above error.

[2020-11-16 15:28] zspitz opened #458 "Documentation: `Is` and `As` should be documented with the rest of the expression language"
The [Standard Query Operators](https://dynamic-linq.net/basic-query-operators) page documents the `OfType` and `Cast` LINQ operators, which begin with a sequence, and filter all the elements to a specific type (`OfType`) or convert all the elements to the given type (`Cast`).

The `As` and `Is` functions aren't used on the sequence as a whole, but rather within the Dynamic LINQ selector. Therefore

[2020-11-16 16:22] zspitz opened #459 "Allow `as` and `is` to use instances of `System.Type`"
The following:
[code]
fails with:

The same happens with `is`:
[code]

It might be helpful to clarify the error by explaining that the one argument must be the `FullName` of the type.

But I suggest it be possible to accept a `System.Type`, and `FullName` should be read from the type.

[2020-11-17 06:56] tnlthanzeel opened #460 "setting time offset to a DateTimeOffset"
hi, i have the following query where i need to set offset to db column "NextRenewalDate" of typ DateTimeOffset.

CurrentMemberLevel.NextRenewalDate.Value.ToOffset(new TimeSpan(5, 30, 0).Date<="2020-11-07"

I get this error message "Expression is missing an 'as' clause".

please help

[2020-11-17 06:59] zspitz commented on #460
Dynamic LINQ constructors are called without the `new`:
[code]
`new` is only used to create dynamic type instances, like anonymous types in C#/VB.

[2020-11-17 07:07] zspitz commented on #434
To sum up, given:

[code]

a constant enum value can be specified using it's name in one of three ways:

* As an embedded string literal of the name without the type name:
  `MyEnum1 = "First"`
  `"First" = MyEnum1`
* Passing in the enum value as a Dynamic LINQ argument:
  `MyEnum1 = @0`
  `@0 = MyEnum1`
  while passing in `MyEnum.MyEnum1`
* If the enum is one of the predefined enums (as of #450,

[2020-11-17 07:13] zspitz commented on #453
What happens when you pass `request.OrderBy` into `DynamicExpressionParser.ParseLambda`?
[code]

[2020-11-17 07:26] tnlthanzeel commented on #460
@zspitz , thanks, it work!!

[2020-11-17 07:26] #460 closed

[2020-11-17 11:16] neman commented on #453
I tried both

`var result = DynamicExpressionParser.ParseLambda(null, request.OrderBy);`

and

`var result = DynamicExpressionParser.ParseLambda<Person>(new ParsingConfig(), false, request.OrderBy);`

And got ParseException `Unknown identifier 'Id'`

[2020-11-17 11:30] zspitz commented on #453
What about:
[code]

[2020-11-21 18:56] Saeidasadi32 opened #461 "Blazor WebAssembly : "where" error in release mode"
I use where with string parameter and run correctly in debug mode.
 but when i use release  mode system has generate error

[2020-11-21 18:59] zspitz commented on #461
1. What does your code look like?
2. What is your predicate? In other words, what string are you passing in to `Where`?
3. What exception are you getting? Include the stack trace.
4. What is the shape of the objects you are querying?
5. Is it possible you are querying different objects in release mode?

[2020-11-21 19:13] Saeidasadi32 commented on #461
Thank you for your response1) I write this code : Freports = Freports.AsQueryable().Where(formula).OrderBy(x => x.PE).ToList();2) String (formula ) is : "(PE > 0.0) && (PE < 15.0 ) &&  (LST > 300.0)"3) exception in release mode: ﻿Operator 'and' incompatible with operand types 'Boolean' and 'Boolean'5) when run  'where' with just one statement like "(PE>0.0)" in release or debug mode system run cor

[2020-11-21 19:29] zspitz commented on #461
1. What is the compile-time type of `Freports`? `IEnumerable`? `IEnumerable<Freport>`?
2. What is at the `ElementType` property of `Freports` after the query, and before the `ToList`?
2. What is the shape of that type? `public class ...`

[2020-11-21 19:33] Saeidasadi32 commented on #461
1)private List<SReport> Preports = new List<SReport>();
public class SReport    {        public int ACID { get; set; }        public string Group { get; set; }        public string Namad { get; set; }        public string NameFa { get; set; }        public int EPS { get; set; }        public double PE { get; set; }....2) ToList3 public class
    On Saturday, November 21, 2020, 10:59:27 PM GMT+3:30

[2020-11-21 19:44] zspitz commented on #461
From what I can see, the syntax looks fine, and it should work in both Debug and Release mode.

1. I don't see the `LST` property/field in the definition you posted.
2. Again, **is it possible the query is being run against different objects in release mode?**
3. Are we talking about `Preports`? Or `Freports`?

Please try to use Markdown formatting for code and lists; it makes things much easier t

[2020-11-21 19:54] Saeidasadi32 commented on #461
1) public class SReport    {        public int ACID { get; set; }        public string Group { get; set; }        public string Namad { get; set; }        public string NameFa { get; set; }        public int EPS { get; set; }        public double PE { get; set; }        public double LST { get; set; }....2) No!3)private List<SReport> Freports = new List<SReport>();

    On Saturday, November 21, 2

[2020-11-21 20:14] zspitz commented on #461
1. What framework are you targeting?
2. What version of Dynamic LINQ?
3. Which version of Visual Studio are you using, if any? Or, if you're using another editor, please specify.

[2020-11-21 20:17] zspitz commented on #461
This is the code I am using to try and reproduce your exception; it works in both Debug and Release mode:

[code]

Using:

* Visual Studio 2019 (16.8.1)
* Targeting .NET 5
* Dynamic LINQ 1.2.5

I can't think of what else to try.

[2020-11-21 20:20] Saeidasadi32 commented on #461
My project create with webassambelyDotnetcore 3.1 Lasted version of dynamic LINQ2019 lasted version

Sent from Yahoo Mail on Android

  On Sat, Nov 21, 2020 at 11:44 PM, Zev Spitz<notifications@github.com> wrote:

   - What framework are you targeting?
   - What version of Dynamic LINQ?
   - Which version of Visual Studio are you using, if any? Or, if you're using another editor, please specify.

[2020-11-21 21:09] zspitz commented on #461
I've never used C# to generate WebAssembly. Can you post a sample project with code that reproduces this issue?

[2020-11-22 06:32] Saeidasadi32 commented on #461
Hi againI upload in Attachment very simple project.This sample work correctly in debug mode and generated error in release mode!Thanks
https://drive.google.com/file/d/1TDheadz092FgMvxOj7MYY5Rd8dq_2txP/view?usp=drivesdk

    On Sunday, November 22, 2020, 12:39:26 AM GMT+3:30, Zev Spitz <notifications@github.com> wrote:

I've never used C# to generate WebAssembly. Can you post a sample project with

[2020-11-22 19:04] Saeidasadi32 commented on #461
HiI myself try to Solving the Problem in System.Linq.Dynamic.Core in release mode.I replace all '&&' with '&' and run My project in release mode.In this Time no Error reported and ran correctly!Why!!
    On Sunday, November 22, 2020, 10:02:49 AM GMT+3:30, Saeid Asadi <asadi_s@yahoo.com> wrote:

  Hi againI upload in Attachment very simple project.This sample work correctly in debug mode and genera

[2020-11-22 19:30] zspitz commented on #461
That may be a different operation; it's interpreted as a bitwise AND, and may produce different results.

[2020-11-22 19:34] Saeidasadi32 commented on #461
Hi againI upload in Attachment very simple project.This sample work correctly in debug mode and generated error in release mode!Thanks
https://drive.google.com/file/d/1TDheadz092FgMvxOj7MYY5Rd8dq_2txP/view?usp=drivesdk
    On Sunday, November 22, 2020, 11:00:15 PM GMT+3:30, Zev Spitz <notifications@github.com> wrote:

I replace all '&&' with '&'

That may be a different operation; it's interpreted

[2020-11-22 19:52] zspitz commented on #461
OK. I can confirm the following:

* the `&&` operator between two `bool`s causes an exception when run in Release mode, but not in Debug mode.
* `&` works in both Debug and Release; the expression tree is still built correctly as a logical AND between two `bool`s.
* Neither operand seems to be a `bool?`.
* The types of the two operands are equivalent -- `expr.Left.Type == expr.Right.Type` returns

[2020-11-22 20:01] zspitz commented on #461
Try the following:

1. Close Visual Studio
2. Delete the `.vs` folder in the root solution folder
3. Delete all the `bin` and `obj` folders
4. Reopen the solution

I did this and now it works in both Debug and Release mode.

[2020-11-22 20:58] Saeidasadi32 commented on #461
I try but not work

Sent from Yahoo Mail on Android

  On Sun, Nov 22, 2020 at 11:31 PM, Zev Spitz<notifications@github.com> wrote:

Try the following:

   - Close Visual Studio
   - Delete the .vs folder in the root solution folder
   - Delete all the bin and obj folders
   - Reopen the solution

I did this and now && works in both Debug and Release mode.

—
You are receiving this because you aut

[2020-11-24 20:24] neman commented on #453
I ended up creating my custom parser validator utility.

[2020-11-26 15:26] #453 closed

[2020-11-26 15:49] StefH commented on #461
Hello @Saeidasadi32,

Your issue can be solved by adding this line to your Client WebAssembly project:
[code]

Or you can specify exactly what you want, see this link : https://docs.microsoft.com/en-us/aspnet/core/blazor/host-and-deploy/configure-linker?view=aspnetcore-3.1#control-linking-with-a-configuration-file

I applied this also to my example project here: [BlazorAppHandlebarsExample](https:

[2020-11-26 16:42] Saeidasadi32 commented on #461
Hi AgainThanks
It worked .
    On Thursday, November 26, 2020, 07:19:21 PM GMT+3:30, Stef Heyenrath <notifications@github.com> wrote:

Hello @Saeidasadi32,

Your issue can be solved by adding this line to your Client WebAssembly project:
<BlazorWebAssemblyEnableLinking>false</BlazorWebAssemblyEnableLinking>
Or you can specify exactly what you want, see this link : https://docs.microsoft.com/en-us/

[2020-11-26 16:58] #461 closed

[2020-11-28 08:05] StefH commented on #456
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/463

[2020-11-29 08:07] StefH commented on #456
Method added

[2020-11-29 08:07] #456 closed

[2020-11-29 08:09] StefH commented on #424
Hello @brainded, I'll investigate.

[2020-11-29 09:56] zspitz commented on #424
@StefH Might I suggest the following? Ordinarily, `np` rewrites a member chain:
[code]
into a ternary conditional:
[code]
But if any of the property checks (`PropA` or `PropB`) return a nullable struct, the rewrite should be as follows:
[code]
This assumes it would be legal syntax to write:
[code]
even if `PropA` and `PropB` return nullable structs, and should be translated to :
[code]

[2020-11-30 14:53] tranb3r opened #465 "Crash on Android (regression in 1.2.6)"
On Android, my app crashes when using new version 1.2.6.
No issue with previous versions.

Here is the stacktrace:
[code]

Any idea ?

[2020-11-30 15:26] StefH commented on #465
Hello @tranb3r, this issue is indeed related to 1.2.6 (can you maybe create a very small android example project which has this error?)

As a workaround you can use ParsingConfig and set SupportEnumerationsFromSystemNamespace to false.

[2020-11-30 15:42] tranb3r commented on #465
Here is a repro
[TestSLDC.zip](https://github.com/zzzprojects/System.Linq.Dynamic.Core/files/5616920/TestSLDC.zip)

[2020-11-30 16:01] tranb3r commented on #465
I confirm the workaround does work.

[2020-12-01 08:05] StefH commented on #465
Hello @tranb3r.

I cannot test android on my system, can you try NuGet `1.2.7-preview-01` from https://www.myget.org/F/system-linq-dynamic-core/api/v3/index.json ?

[2020-12-01 09:30] tranb3r commented on #465
Hi @StefH,
I confirm the `1.2.7-preview-01` does work on android.
Thanks for the quick fix !

[2020-12-01 09:52] StefH commented on #465
@tranb3r Thanks for verifying. I'll close this issue now and when the next official NuGet is released, this fix will included.

[2020-12-01 09:52] #465 closed

[2020-12-01 10:02] StefH commented on #424
Hello @brainded

Can you please test NuGet 1.2.7-preview-02 from https://www.myget.org/F/system-linq-dynamic-core/api/v3/index.json ?

[2020-12-01 18:09] StefH commented on #441
@zspitz Can you explain what you are trying to do here?
(Maybe provide a normal LINQ example as a reference?)

[2020-12-01 18:12] StefH commented on #401
Closing...

[2020-12-01 18:12] #401 closed

[2020-12-01 20:53] zspitz commented on #441
@StefH Something like this:
[code]
I can't recall the precise use case I had for defining a lambda within the Dynamic LINQ selector (@dbfilevine any thoughts here?) but trying to just invoke a delegate using only `(` and `)`, whether passed in from outside using `@n` parameters:

[code]

fails with:

However, it is perfectly possible to use the delegate's `Invoke` instance member:

[code]

which w

[2020-12-02 20:30] StefH commented on #459
I've updated the code to support also Type for As, Is, OfType and Cast.

However, it needs to be a constant value (note that your example works fine with the code fix)

[2020-12-02 20:35] zspitz commented on #459
In other words, if I have a property or method which returns a Type, it's not going to work?

[2020-12-02 20:46] StefH commented on #459
Correct, that will not yet work.

[2020-12-05 16:38] StefH commented on #424
Dear @brainded, did you have time to test this?

[2020-12-06 10:59] khmurach commented on #128
Still does not work for me in 1.2.6

[2020-12-06 11:03] zspitz commented on #128
@khmurach How are you escaping the quotation marks?

[2020-12-06 11:07] khmurach commented on #128
Yes

[2020-12-06 11:10] zspitz commented on #128
@khmurach So the case-sensitivity may very well be determined by the database/provider.

What happens if you write a compiler-generated expression tree:
[code]

[2020-12-06 11:20] zspitz commented on #128
@khmurach It works for me:
![image](https://user-images.githubusercontent.com/312166/101278669-b46c1800-37c5-11eb-8bb3-7bae51eac13b.png)
Which framework are you targeting?

[2020-12-06 11:20] khmurach commented on #128
@zspitz I have generic method so there is no properties to use in standard Where(x=>x.Name.Contains("value")).

`IQueryable<T> ApplyFilter(IQueryable<T> dataAll, object filter)`

This line works fine:
`dataQueryable = dataQueryable.Where("{0}.ToLower().Contains(@0)".FormatWith(item.Key), item.Value.ToString().ToLower());`
But I would like to get rid of ToLower()

[2020-12-06 11:22] khmurach commented on #128
targetFramework="net451"

[2020-12-06 11:29] zspitz commented on #128
@khmurach It seems that .NET Framework 4.5.1 doesn't support this overload of `Contains`:
![image](https://user-images.githubusercontent.com/312166/101278798-8affbc00-37c6-11eb-870d-eaf8565a16b3.png)
How would you do this with a strongly-typed query?

N.B. The `filter` you are passing into `ApplyFilter` could also be generic:
[code]
and then you would have strong-typing on the filter itself. Altho

[2020-12-06 11:41] khmurach commented on #128
Even in this simplified example, first two queries works fine but the last one throws error:
[code]

[2020-12-06 11:55] khmurach commented on #128
I'm using
`object filter`
in
`IQueryable<T> ApplyFilter(IQueryable<T> dataAll, object filter)`
to be able to use any object (projection) as a filter and to use reflection to scan props and values and apply them as a filter to List<T>:

[code]

[2020-12-07 20:15] #459 closed

[2020-12-09 10:06] totpero opened #468 "net5.0 OrderBy problem"
Hi,
I'm using aspboilerplate that use [this nuget](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/c0604b9b1347a3b9581bf97b4cae22db5b6bab1b/src/Abp/Application/Services/CrudAppServiceBase.cs#L52).
After update entityframework to version 5 and net5.0 [this not longer work](https://zzzprojects.github.io/System.Linq.Dynamic.Core/api/System.Linq.Dynamic.Core.DynamicQueryableExtensions.html

[2020-12-09 10:25] StefH commented on #468
Hello @totpero, I'll take a look.

(Note that I'm also building a EF5 specific NuGet which could maybe solve your issue)

I keep you informed.

[2020-12-09 10:29] StefH commented on #468
Should a normal OrderBy not be like:
`Select top 10 * from [pay].[table] order by id DESC` instead of `3 desc` ?

[2020-12-09 11:07] njsent commented on #468
Hi,
We're having the same issue with dynamic sql order by in .NET Core 5.  What's strange is that everything works fine until I added 2 new columns to a sql server view, BillingIndLastName and BillingIndFirstName.  I'm able to filter using these two columns with ef core linq to sql, but the dynamic OrderBy throws an error ("No property or field 'BillingIndLastName' exists in type 'MyView'")  when

[2020-12-09 11:08] StefH commented on #468
I've uploaded a preview for EF5 (Microsoft.EntityFrameworkCore.DynamicLinq 5.2.7-preview-03)
See https://www.myget.org/feed/Packages/system-linq-dynamic-core

[2020-12-09 12:03] totpero commented on #468
The boilerplate use datatables.net and the order is made by the number of the column. If the translated into  order by 3 DESC instade of that will solve the problem order by (SELECT 3) DESC

[2020-12-09 14:13] StefH commented on #468
As far I can see, this code
[code]

Does compile, however no order by is executed because the generated SQL does not have an order by generated:
[code]

[2020-12-09 14:55] totpero commented on #468
Yes, you have right,  the` .OrderBy("3 DESC")`  do nothing , but after that I have [PageBy() ](https://github.com/aspnetboilerplate/aspnetboilerplate/blob/e0ded5d8702f389aa1f5947d3446f16aec845287/src/Abp/Linq/Extensions/QueryableExtensions.cs#L31) and there is set the `ORDER BY (SELECT 1)` clause.
But in the previous verison of ef core this works fine `OrderBy("3 DESC")`

[2020-12-09 19:25] StefH commented on #468
OK. Closing this issue.

@njsent If you still have questions, raise a new issue regarding this.

[2020-12-09 19:25] #468 closed

[2020-12-09 19:28] StefH commented on #424
Dear @brainded, did you have time to test this?

[2020-12-10 05:07] njsent commented on #468
Unfortunately the new version did not fix the problem but I was able to solve the problem by SELECTing the last & first columns.  These two columns were only used for dynamic OrderBy previously so I'm not sure if it's even related to .net core 5.0 or if I just have to always SELECT the columns that are used for dynamic OrderBy.  I really appreciate you putting the 5.0 lib up so quickly anyway.

[2020-12-10 13:28] Genotypek opened #469 "Add Regex support into ParseLambda with ParsingConfig.Default"
Hello.
Could you please add a way to parse Regex.IsMatch into lambda expression? I need to use it outside the database, so LINQ to Entities won't be a problem there? Anyway I'm using PostgreSQL database, which fully supports regexes with EFCore3.1 BTW.

[2020-12-10 21:18] Genotypek commented on #469
Nevermind. I've downloaded a repo and debugged it.
Got familiar with IDynamicLinkCustomTypeProvider. Love this DLL!

[2020-12-10 21:18] #469 closed

[2020-12-10 21:33] StefH commented on #468
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/470

[2020-12-12 07:47] StefH commented on #424
Dear @brainded,

I'll close this issue and merge to fix to master. A new version will be released within a week.

In case you still have questions or issues with the new release, just open a new Issue here.

[2020-12-12 07:47] #424 closed

[2020-12-14 18:04] YeskaNova opened #471 "Project data to a dictionary property"
Hi,

In EF core, we can have Indexed properties, which are properties mapped from a dictionary to the SQL table, one column per property. I need to batch update an entity by changing one of its indexed properties but I can't make the expression parser to parse my expression. You can check it here : https://dotnetfiddle.net/9iO3hF . What I need is to have an expression that will construct a new Cus

[2020-12-15 11:30] zspitz opened #472 "Question: DynamicClass with INotifyPropertyChanged"
If the result of my selector is an anonymous type:
[code]
is there any way to specify that the result type should implement `INotifyPropertyChanged`?

Properly implementing this interface requires two parts:

1. Declaring a `PropertyChanged` event handler, and
2. Raising the event within each property setter.

[2020-12-17 11:54] Genotypek commented on #258
Hey.
I found another problem:

`DynamicExpressionParser.ParseLambda<TestEnum, bool>(ParsingConfig.DefaultEFCore21, true, "x => x==@0", TestEnum.Enum2);`

It doesn't work. It can convert it into Expression, when enum is inside any class as property. But it doesn't work for Enum type itself.

[2020-12-22 10:39] yisman commented on #472
Hi! Was this ever implemented?
It is of great importance to me
Thanks so much!

[2020-12-23 11:36] ratamahatta88 opened #473 "Exception in System.Linq.Dynamic.Core.Parser.EnumerationsFromMscorlib after update to 1.2.6"
Hello friends. We have xamarin forms application, and after updating to 1.2.6 we see the exception
`The type initializer for 'System.Linq.Dynamic.Core.Parser.EnumerationsFromMscorlib' threw an exception.`
Stack trace:
[code]

The strings causing the exception and the value  looks like this:
[code]

[2020-12-23 12:01] StefH commented on #473
Hello @ratamahatta88 , this issue could be related to:
https://github.com/zzzprojects/System.Linq.Dynamic.Core/issues/465

Can you take a look and try the preview version mentioned there?

[2020-12-25 08:20] #473 closed

[2020-12-28 08:02] ratamahatta88 commented on #473
Thank you, I see a new version is released.

[2021-01-05 10:18] YeskaNova opened #474 "How to project a Count from a Select ?"
Hi,

I need to project the count of the underlying collection, I can't use Count(expr) or .Count() . In this example, I'm using an array but in my case, it's an EF Core IQueryable ( it's not working for arrays also, I don't know if it's a bug or if it's by design) . Is it possible to do something like this?

system.linq.dynamic.core: 1.2.7
.net core: 5
Exception : No applicable method 'Count' exis

[2021-01-05 11:50] zspitz commented on #474
You wouldn't expect to be able to do this:
[code]
For this reason the same doesn't work in Dynamic LINQ:
[code]
---
You could either get the count using `.Count` outside of the query:
[code]
and you could pass the count into successive queries using `@` parameter syntax. Note that this would involve two database calls.

Alternatively, it might be possible to pass the query using `@` parameter synt

[2021-01-05 14:07] YeskaNova commented on #474
Thanks a lot, much clearer.

[2021-01-05 14:07] #474 closed

[2021-01-07 17:58] StefH commented on #471
Hello @YeskaNova,

This should work when just selecting:
[code]
https://dotnetfiddle.net/pHw3BN

Does this help you?

[2021-01-07 18:08] YeskaNova commented on #471
@StefH What I need is to assign data to the dictionary because I want to use it with an .UpdateFromQuery()

[2021-01-13 00:24] brainded commented on #424
@StefH finally getting some time to return back to this after the holidays. updating now and will report back! Thank you for looking into it!

[2021-01-19 11:00] StefH commented on #471
And will this help you?
[code]

[2021-01-19 13:37] rochapablo opened #475 "No property or field exists in type IGrouping"
When using group, I'm not able to order by the summed field giving the following error

`No property or field 'income' exists in type 'IGrouping`2'`

group: `new (it.user.domain)`

order: `it.income desc`

select `new (it.Sum(income) as income, it.Key.domain)`

What could I be missing?

[2021-01-19 14:22] zspitz commented on #475
The result of a grouping, which implements the `IGrouping<TKey, TElement>` interface, implements `IEnumerable<TElement>` and has a `Key` property. This means the properties of the individual elements aren't available on the grouping, and thus you can't order the groupings by some property of the elements inside them.

If you want to order by the sum of the group, you could `OrderBy("Sum(invome)")`

[2021-01-20 13:33] YeskaNova commented on #471
I have this exception when I try to run it:
[code]

Code:
[code]

[2021-01-20 16:16] StefH commented on #471
I noticed that you use `UpdateFromQuery` with the expression.

Do you also get an exception when just doing a Where clause?

[2021-01-20 16:27] YeskaNova commented on #471
I think that the exception happens when parsing the expression, it doesn't matter if it's in UpdateFromQuery because I had it also with the code you provided, Probably it's another issue.

[2021-01-20 17:59] StefH commented on #458
In progress...

[2021-01-20 18:09] StefH commented on #438
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/476

[2021-01-20 18:29] StefH commented on #471
Some observations:
1. I noticed that you use `UpdateFromQuery`, this is from `Z.EntityFramework.Extensions.EFCore`. And I'm not sure if this can work in combination with this project. @JonathanMagnan do you know this?

2. When using ""public Dictionary<string, object> Data { get; set; }". I get exceptions like:
[code]

3. When running this code:
[code]

I get this exception:
[code]

[2021-01-20 18:32] StefH commented on #448
Hello @hazzik, thanks for reporting.

I'll take a look.

[2021-01-20 18:35] StefH commented on #457
Hello @zspitz ,

For this moment it needs to be a constant value (Type or string).

This question is also related #459.

Closing this issue.

[2021-01-20 18:35] #457 closed

[2021-01-20 18:39] #425 closed

[2021-01-20 18:42] StefH commented on #405
@effapp

Is the code `dbContext.Set("Customers")` from EntityFramework ? Or from EntityFramework Core?

[2021-01-20 19:08] YeskaNova commented on #471
I updated my code, I have renamed the dbcontext class but this won't change the code flow.

It says that you have sqlite as the provider, could you share the dbcontext configuration ?

On my side, it still fails at the parsing:

![image](https://user-images.githubusercontent.com/4983925/105222778-3daf9200-5b5b-11eb-8ba3-04e5c70e4514.png)

[2021-01-20 19:45] StefH commented on #471
[code]

[2021-01-21 04:16] JonathanMagnan commented on #471
@StefH , I don't think that's compatible since the `anonymous type` created is not really an anonymous type.

We will check if there is something we can do about it.

[2021-01-21 10:37] StefH commented on #448
@hazzik
Can you provide a full source code example which displays this error?

[2021-01-21 10:57] hazzik commented on #448
This is the simplest reproduction: https://dotnetfiddle.net/8Az1F6

It outputs
[code]
And DynamicIndex method call is a problem here.

[2021-01-22 06:43] StefH commented on #448
Hello @hazzik,
I think I found a possible fix for this issue, however I want to test this using NHibernate.
Can you please provide me with a minimal console-app which can reproduce this issue?

[2021-01-26 11:22] myshon opened #477 "How to use Dynamic LINQ with custom types (i.e NodaTime) ?"
Hi,
Let's use an entity with external types (in my case `NodaTime`). I use Postgres with Nodatime converters from `Npgsql.NodaTime package` (which provides not only mapping between Postgres types and Noda types but also allows query by these)

Here is an entity:

[code]

I would like to query `Date` and `Time` using dynamic Linq expression.

[code]

By default, it's not possible, the code above th

[2021-01-27 09:19] StefH commented on #448
Dear @hazzik , can you please provide a minimal console-app to reproduce this issue?

[2021-01-27 11:08] hazzik commented on #448
I'll do it on or by this weekend.

[2021-01-28 04:14] JonathanMagnan commented on #471
Hello @StefH ,

Look like I was wrong, my developer did the test and it seems we already support anonymous type created by LINQ Dynamic.

[code]

[2021-01-28 15:20] David-Moreira opened #478 "Exception while parsing expression ')' or ',' expected"
--Exception while parsing expression `(RuleContextInputTag.ProductOrder.ProductOrderItem.Any(ProductOrderItem=>ProductOrderItem.ProductOffering.Name=="Testing Value"&&ProductOrderItem._ProductOrderItem.Any(_ProductOrderItem=>_ProductOrderItem.ProductOffering.Name=="Testing Value")))` - ')' or ',' expected

Hello guys.
This error is driving me insane, I can't seem to figure out what is wrong about

[2021-01-28 16:17] StefH commented on #478
Hello @David-Moreira,
Your code example is difficult to read, can you please provide a full C# exaple?

[2021-01-31 14:38] #458 closed

[2021-02-01 11:12] ManuLin opened #479 "Xamarin.Forms - DynamicExpressionParser.ParseLambda fails when comparing enum properties by their int value"
I am facing the following issue.

Consider the following setup:

[code]

When I invoke the following snippet
[code]

 I obtain the correct lambda expression, however, when I'm using the associated integer values for comparison, e.g.

[code]

I run into an "**System.ArgumentNullException: Value cannot be null. Parameter name: value**" in a .NET Standard project.
`
System.Enum.ToObject (Type enumTyp

[2021-02-01 17:15] David-Moreira commented on #478
Sorry for not replying... Been quite busy.
I ended up figuring out the problem.

Apparently when accessing using LINQ on a List within a List, if we use the same name for the LINQ accessor(**_ProductOrderItem**.Any(**_ProductOrderItem**=>) as the List Property this happens.

It is of note, that both ProductOrderItem and _ProductOrderItem are Lists of the same TYPE.
I'm not sure if that is to be ex

[2021-02-01 19:49] StefH commented on #479
Dear @ManuLin,

Can you please provide a full (console)  example project to show this error?

[2021-02-02 10:29] ManuLin commented on #479
Dear @StefH,

Apparently the issue seems to be not when invoking this method within a .NET Standard class library or a .NET Core console application, but when invoking it from a Xamarin.Forms application. I setup a simple sample app to illustrate this issue, hope this helps. Please note: The problem is observed on all platforms supported by Xamarin.Forms.

[ExpressionSample.zip](https://github.com

[2021-02-02 10:48] StefH commented on #479
Thanks. I'll take a look.

Did you try to name the property in the Foo-class differently?
[code]

[2021-02-02 10:52] ManuLin commented on #479
When I rename the property I run into a different kind of exception. Considering your sample code above I face a

System.Linq.Dynamic.Core.Exceptions.ParseException: No property or field 'MyEnum' exists in type 'Foo'.

[2021-02-02 11:03] StefH commented on #479
You also need `"Abc= 1"`

[2021-02-02 11:08] oneillci commented on #178
I'm having this exact same issue using both approaches:
[code]

or
[code]

Can you see anything I'm doing wrong?

Message: "No generic method 'Contains' on type 'System.Linq.Enumerable' is compatible with the supplied type arguments and arguments. No type arguments should be provided if the method is non-generic. "
    Source: "System.Core"
    StackTrace: "   at System.Linq.Expressions.Expression

[2021-02-02 11:16] oneillci commented on #178
Looked at this for a few hours and solved it minutes after posting the above - typical 😆

My issue is that my underlying type is a nullable int, so changing my list to this fixed it :)
[code]

[2021-02-02 11:17] ManuLin commented on #479
In this case I run into the same ArgumentNullException as described in my initial comment. This is also reproducible with the example I provided.

Value cannot be null. Parameter name: value

[2021-02-02 19:50] StefH commented on #479
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/481

[2021-02-02 22:43] hazzik commented on #448
@StefH here is the console app with reproduction: https://github.com/hazzik/nhibernate-linq-dynamic

[2021-02-03 10:30] StefH commented on #448
@hazzik Thank you very much, I'll copy this example to verify/reproduce the bug.

[2021-02-03 17:01] StefH commented on #448
I'm working on a fix, but `dynamic` cannot be supported.

This is also not supported in normal code:
![image](https://user-images.githubusercontent.com/249938/106781725-a7469a80-6649-11eb-8f14-7d7739117b07.png)

The code is reworked that this scenario can work:
[code]

with:
[code]

And this works:
[code]

[2021-02-03 19:41] hazzik commented on #448
This code was working fine in 1.1.8. I know that dynamic expressions are supported in the linq-tree, but not supported on a language level. To properly support them it would probably be required to depend on Microsoft.CSharp package.

[2021-02-04 12:07] StefH commented on #448
@hazzik
I did test previous versions.

However it seems that 1.1.7 does work, and higher versions fail with:
`Unhandled exception. System.NotSupportedException: System.Object DynamicIndex(System.Object, System.String)`

Correct ?

[2021-02-04 12:19] hazzik commented on #448
Yes, that is correct. I might misremembered the working version due it is being long time since I've tested it myself.

[2021-02-04 16:43] StefH commented on #448
Can you try

https://www.myget.org/feed/system-linq-dynamic-core/package/nuget/System.Linq.Dynamic.Core/1.2.8-preview-01

[2021-02-04 20:09] David-Moreira commented on #478
Hello,
If you'd be so kind to take a look, here's the full c# example:
https://github.com/David-Moreira/ListWithinList

[2021-02-06 11:03] StefH commented on #479
Fix will be included in next version,.

[2021-02-06 11:03] #479 closed

[2021-02-09 07:24] StefH commented on #448
Hello @hazzik , did you have time to test this preview package?

[2021-02-09 23:30] hazzik commented on #448
Seems to be working:

- https://ci.appveyor.com/project/nhibernate/nhibernate-core/builds/37695599
- https://travis-ci.org/github/nhibernate/nhibernate-core/builds/758298116?utm_source=github_status&utm_medium=notification

Thanks

[2021-02-10 06:20] oleksii-mykhniak opened #482 "DynamicExpressionParser.ParseLambda can’t parse extension method"
I have the next class:
[code]
and extension to it:
[code]
usage:
[code]
exception:
[code]

[2021-02-10 07:16] StefH commented on #448
Hello @hazzik,

Thanks a lot for your analysis and help.

In some day(s) , I'll merge this PR and create a new official 1.2.8 NuGet package

[2021-02-10 08:36] Euynac opened #483 "No property or field 'DynamicFunctions' exists in type"
I want to use Like function in Where clause in dynamic way, and I have included the NuGet Microsoft.EntityFrameworkCore.DynamicLinq, System.Linq.Dynamic.Core, and EFCore 3.1
I simply test it like:
[code]
But I only got the exception Unhandled exception. No property or field 'DynamicFunctions' exists in type 'UserBlacklist' (at index 0)
I have tried to replace DynamicFunctions with DbFunctionsExten

[2021-02-10 08:52] Euynac commented on #483
Sorry I didn't see the issue #396 , but I'm still confused that how to implement 'Like' function in dynamic linq way on EFCore 3.0 or newer? I don't want to use Contains or StartWith..

[2021-02-10 10:09] StefH commented on #482
Dear @oleksii-mykhniak, does it work when you annotate the Utils with `[DynamicLinqType]` ?

Example:
[code]

[2021-02-10 10:46] oleksii-mykhniak commented on #482
it works, thanks @StefH!

[2021-02-10 12:23] #482 closed

[2021-02-10 15:28] KrzysztofBranicki commented on #477
Hi @StefH, since we are using NodaTime ubiquitously it means we can't use Dynamic LINQ without addressing this issue. If there is no built in mechanism that would help to solve this problem maybe you would be willing to accept contribution for one and maybe you have some suggestions on approach that would be prefered.

[2021-02-10 16:16] StefH commented on #477
Maybe a possibility could be to add support for a new DynamicLinq attribute for each property?
Like:
[code]

However once this is added, I don't know yet how this can be used/accessed within the logic...

[2021-02-10 19:39] StefH commented on #477
@myshon Can you provide a full working example console app?

[2021-02-11 12:00] KrzysztofBranicki commented on #477
@StefH annotating every property in a class which uses type from NodaTime with `DynamicLinqTypeConverter` is rather not an option for us. We are developing library that is later used to implement bunch of microservices in the system. We don't control classes on which this will be used nor we can't require them annotate them in a special way. Expectation is that it will be used on POCOs without any

[2021-02-11 23:12] randellhodges commented on #330
That method doesn't work if the value is nullable

[2021-02-13 08:20] #448 closed

[2021-02-13 08:26] StefH commented on #408
Dear @jcmontoya, closing this issue now. In case you have more questions, just reply here or open a new issue.

[2021-02-13 08:26] #408 closed

[2021-02-13 08:28] StefH commented on #471
@YeskaNova : can you confirm if the information provided in post above is sufficient for you?

[2021-02-13 08:31] StefH commented on #477
@KrzysztofBranicki  I see your point.

Can you please provide an example project which uses postgress database and uses Npgsql.NodaTime ?
I need this in order to start investigating the error.

[2021-02-13 08:33] StefH commented on #330
Dear @SamWhitby,

I'll close this issue for now, in case you have questions, just reply or create a new issue.

[2021-02-13 08:33] #330 closed

[2021-02-13 09:55] YeskaNova commented on #471
@StefH The exception in the code that I have shared is raised when parsing the expression, before even running it against an IQueyrable, @JonathanMagnan confirmed that this wouldn't be a problem but we aren't there yet we need to parse it first then run it.

[2021-02-13 11:27] myshon commented on #477
@StefH Please look at this project in my repository: https://github.com/myshon/sandbox/blob/master/DynamicLinqSample/DynamicLinqSample/DynamicLinqTests.cs

It didn't use Postgres nor Npgsql.NodaTime, but I believe it's not needed to point the case. Key line is here:
[code]

without `LocalDateConverter` registered it fails throwing`NotSupportedException` because "1987-10-12" cannot be converted to

[2021-02-14 09:30] StefH commented on #477
BTW : I noticed that when you add this attribute to a property, it also seems to work fine:
[code]

[2021-02-15 09:07] StefH commented on #477
Hello @myshon,

I did add your test to the test project:
https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/TypeConverter/test/System.Linq.Dynamic.Core.Tests/TypeConvertors/NodaTimeConverterTests.cs

However the test does not fail?

[2021-02-15 09:49] #483 closed

[2021-02-15 10:58] myshon commented on #477
I suppose you've installed NodaTime 3.0.* where they added default converters for noda types 😄
See details: https://nodatime.org/versions
If you install the previous version 2.4.7 I installed in my repo you will have failed tests.

Will NodaTime 3 solves this issue? Partially...

First of all, we would like to have a solution which works not only for node types.
Secondly, some converters in Noda3

[2021-02-15 16:36] StefH commented on #477
@myshon
Can you try version `*** 9-preview-01` from MyGet : https://www.myget.org/F/system-linq-dynamic-core/api/v3/index.json ?

[2021-02-15 17:45] StefH commented on #472
Hello @yisman, this is not implemented. And I don't think this will be implemented soon.

[2021-02-17 11:26] myshon commented on #477
Thanks @StefH
I've checked `preview-01` and it works correctly 👍

However, while testing, I found another intersting issue. I suppose it's not related with converters but null comparison.

Having entity
[code]
we can create the following expression successfully ✔️

[code]
However, when I change `DateTime?` to `LocalDate?` then it fails with the exception
[code]

Both types `DateTime` and `LocalDat

[2021-02-17 15:27] StefH commented on #477
@myshon and @KrzysztofBranicki
The `!= null` should be fixed in `*** 9-preview-02`, can you please try?

[2021-02-17 21:04] myshon commented on #477
`preview-02` tests passed ✔️ 👍

[2021-02-18 07:18] StefH commented on #477
Hello @myshon, did you also try to run this with a real Postgres database?

[2021-02-18 09:40] myshon commented on #477
Hi @StefH
✔️ Tested both in-memory collections and with real Postgres database
✔️ Tested both `config.TypeConverters` and with default `NodaTime 3` converters
Thanks for help!

[2021-02-19 02:39] wtujvk commented on #394
use nuget  `System.Linq.Dynamic.Core 1.2.8`, it work ok like this:

`using System.Linq;`
`using System.Linq.Dynamic.Core;`

`var result = list.AsQueryable().OrderBy(orderExpression);`

[2021-02-22 13:57] Evgentus0 opened #487 "DynamicExpressionParser.ParseLambda can not parse 'TrimEnd' string method"
Here is what to include in your request to make sure we implement a solution as quickly as possible.

## 1. Description
Trying parse expression which using 'TrimEnd' string method I get an error "No applicable method 'TrimEnd' exists in type 'String''"

## 2. Exception
- Message : "No applicable method 'TrimEnd' exists in type 'String'"
- StackTrace: <br />
   at System.Linq.Dynamic.Core.Parser.Ex

[2021-02-22 15:44] Evgentus0 commented on #487
It seems that the reason is in MethodFinder.cs, method FindMethod (line 28). The line `MemberInfo[] members = t.FindMembers(MemberTypes.Method, flags, Type.FilterNameIgnoreCase, methodName);` with method name 'TrimEnd' return only 1 found method, TrimEnd(char[]), so if use TrimEnd() without parameters it will parse in incorrect way. <br />Try to run something like `DynamicExpressionParser.ParseLam

[2021-02-22 17:49] AndriiZ commented on #487
Solution:
add
            if (args.Length == 0)
            {
                better = (first.Parameters.Length == 0) && (second.Parameters.Length != 0);
            }
to the beginning of bool IsBetterThan(Expression[] args, MethodData first, MethodData second)

Looks like it is lib cant make a dicision if TrimEnd() is better than TrimEnd(char)

[2021-02-22 19:57] ssteiner opened #489 "OrderBy nullable navigation property - Linq Expression could not be translated"
I used version 1.2.8 today to do dynamic sorting in my project. Some of my sortable properties are actually foreign keys- and since I don't want to sort by keys, but by a property on the linked object, I dynamically adapt the query - include the subtable in the IQueryable, and rewrite the property I sort by (instead of NavigationPropertyFK, I'm using NavigationProperty.Name so in the end I'm sorti

[2021-02-22 20:49] StefH commented on #487
Thanks for the fix.

It's merged and I'll add some unit tests.

[2021-02-22 20:49] #487 closed

[2021-02-23 11:27] belfortmaycon commented on #421
@arivera12 did it works for you?

I'm with same issue, but the filter is only executing the first parameter:

[code]

This only do `status = 'DRAFT'` and not `status in ("DRAFT", "ACTIVE")`. How to do like `in` SQL statement?

Thanks.

[2021-02-23 19:40] arivera12 commented on #421
I ended using another approach

[2021-02-23 19:41] arivera12 commented on #421
Try removing the parentheses

[2021-02-23 20:24] belfortmaycon commented on #421
Thanks @arivera12. I just figure out that this approach of #314 only takes the first value of array.
So I had to put more params to get each value from my array.

`query.Where(config, "status in (@0, @1, @...)", new string[] {"DRAFT", "ACTIVE", "..."}).ToListAsync(ct.Token);`

[2021-02-23 21:44] arivera12 commented on #421
@belfortmaycon makes sense that should work and behave like that.

[2021-02-24 07:34] StefH commented on #489
Dear @ssteiner,

Can you please provide a full working (console-app) example which demonstrates your issue ? Else it's very difficult for us to analyze the problem.

[2021-02-25 11:45] Feroks opened #490 "Selecting int property into enum throws an exception"
## Description
I have table with property `A` of type `int`. I need to dynamically select data and map to class that has property `A`, but is enum instead of `int`.

## Exception
[code]

## Reproduction
[Here is .NET fiddle ](https://dotnetfiddle.net/p8HYc4) that reproduces the issue. It seems that problem occurs, because enum is considered to be a `TypeCode.Object` here:

https://github.com/zzzpr

[2021-02-25 20:31] StefH commented on #477
Official version will be released within some time, until then, you can use the preview version.

[2021-02-25 20:31] #477 closed

[2021-03-03 21:29] jacobSpitzer commented on #483
I have the same problem.
using EF6, ASP.NET CORE 3.1
trying to figure out a long time how to use LIKE with DynamicFunctions, but not found any solution so far.

[StefH](https://github.com/StefH) Please help me using your great open source functionality

[Euynac](https://github.com/Euynac) Please let me know what was your solution at the end.

[2021-03-04 19:37] #421 closed

[2021-03-05 11:32] Euynac commented on #483
@jacobSpitzer Actually I didn't find a solution using in server evaluation, so I finally switched to [Explicit client evaluation](https://docs.microsoft.com/en-us/ef/core/querying/client-eval).
If you can accept this, you can use  DynamicLinqTypeAttribute in a custom static class, and put Like method in it like this:
[code]
And the dynamic string you can write like this:
[code]

[2021-03-05 11:39] Euynac commented on #483
maybe you can't use dynamic linq in list...? Sorry I forgot... I first change the dynamic expression into predicate, and then the list use the generated predicate.
[code]

[2021-03-07 12:04] David-Moreira commented on #478
@StefH Had any time to take a look at this yet?

[2021-03-08 19:53] StefH commented on #478
@David-Moreira  not yet in detail. Sorry.

[2021-03-08 22:55] David-Moreira commented on #478
Alright, thanks!

[2021-03-21 06:48] justinushermawan opened #491 "Cannot cast 'object' type to 'Tuple<T1, T2, T3>'"
I'm trying to run a dynamic query with a model as below:

    public class Index
    {
        public long Position { get; set; }

        public object[] Values { get; set; }
    }

And with a sample of data like this:

    var indexes = new Dictionary<long, Index>();
    indexes.Add(1, new Index { Position = 1000, Values = new object[3] { "Welly", "Chandra", Tuple.Create<int, int>(1, 2) } });

[2021-03-24 19:14] vologar opened #492 "Using Trim() on string field throws ParseException: 'No applicable method 'Trim' exists in type 'String''"
Using the latest nuget package  1.2.8 of System.Linq.Dynamic.Core.

Exception is thrown when using Trim() on  a string field.

## Exception
[code]

## 3.  Code to reproduce
[code]

## 4. Any further technical details
The code works with ToUpper() and ToLower() extensions methods.
e.g string query = "Name.ToUpper()=\"John\"";  // does not throw an exception

Trim()  works when referencing the githu

[2021-03-24 19:39] vologar commented on #492
Looks like the changes made to IsBetterThan(Expression[] args, MethodData first, MethodData second) in MethodFinder class to handle 0 args are not in the latest package yet.
The following works in the meantime :  "Name.Trim(new char[] {' '})=\"John\"" ; //  use Trim with parameters because parametless  version is not handled correctly for now.

[2021-03-25 07:15] StefH commented on #492
Hello @vologar, I'll try to release a new package this weekend.

[2021-03-25 07:15] #492 closed

[2021-03-26 18:37] vologar commented on #492
Got the latest package. The issue is no longer there. The code is working with Trim(). Thank you.

[2021-03-29 11:06] eiriktsarpalis opened #493 "System.Linq.Queryable breaking changes in .NET 6"
Hi, I'm the area owner for System.Linq in the .NET libraries team. As part of our efforts to [improve LINQ in .NET 6](https://github.com/dotnet/runtime/issues/47231) we have added a small number of method overloads to the queryable APIs. This is known to [break query providers](https://github.com/dotnet/efcore/issues/24002) whose reflection code does not account for method overloading. I have file

[2021-03-29 11:13] StefH commented on #493
Hello @eiriktsarpalis, thanks for notifying these changes.

Can you give an ETA when these changes will be published to .NET 6 ?

BTW: I need to read all the information you provided to assess the changes required in this project.

[2021-03-29 11:14] eiriktsarpalis commented on #493
Hi @StefH, some of these changes can already be found in .NET 6 preview 2.

[2021-03-31 13:58] daniilzaonegin opened #494 "No applicable aggregate method 'ContainsKey(String)' exists"
In our project we use System.Linq.Dynamic.Core to parse rule expressions from the database.
From DB we get rule with Criteria, that is actually a string expression.
We have a problem, string expression with method ContainsKey is not working.

This is how we parse it
[code]
[code]
rule.Criteria is a string, that contains string expression
[code]
Could you help us and explain why this error happens?

[2021-03-31 16:46] StefH commented on #494
@daniilzaonegin
I did a quick test, and with a normal `IDictionary<string, string>` it works fine.

I'll take a look if this can be fixed.

[2021-04-01 07:03] daniilzaonegin commented on #494
Thank you! I used another workaround, Properties.Keys.Contains("CFM_ORIGINAL_TYPE") works :)

[2021-04-01 07:08] StefH commented on #494
OK.

Note that this fix for IReadOnlyDictionary.ContainsKey will be included in next version.

[2021-04-01 07:08] #494 closed

[2021-04-02 14:12] StefH commented on #490
A fix for this will be included in next version.

[2021-04-02 14:12] #490 closed

[2021-04-02 19:11] StefH commented on #491
This issue contains two problems :
- Tuple is not recognized
- A generic cast is not suported?

[2021-04-04 17:21] StefH commented on #438
Changed interface name will be included in next version.

[2021-04-04 17:21] #438 closed

[2021-04-06 08:55] WalkeR321 opened #497 "Extending with extensions methods (DynamicLinqType attribute)"
Hello.

When working with extensions methods, we encountered the following defects (in our opinion):
1. If several extensions methods are created with the same number and types of arguments, then we get the error "Ambiguous invocation of method ...".
2. If the base class has an extensions method, then it is not found, the error is "No applicable method ..."
3. If there is a generic extensions meth

[2021-04-09 12:10] kriszek commented on #497
Hi,

I have also run into above issue in my current project. I agree that MethodFinder only uses parameters to match a method and skips it's name.

You can test it by adding:

{
    return values + 1;
}

next to `IncrementMe` method in `Utlis` class of `System.Linq.Dynamic.Core.Tests.Parser.DynamicLinqTypeTest`.
`ExtensionMethod_NoParameter` test will fail.

[2021-04-13 11:09] souek88 opened #498 "Architecture is keyword and acannot be used in query"
Here is what to include in your request to make sure we implement a solution as quickly as possible.

## 1. Description
When I use "architecture" as a parameter name ParseLambda throws exception. See this example:
[code]
## 2. Exception

Exception message:  '.' or '(' or string literal expected
Stack trace:

[code]
## 3. Any further technical details
When I change "architecture" parameter name to

[2021-04-13 13:41] StefH commented on #498
Dear @souek88,

Can you try escaping with a `@` ?
Like:
[code]

[2021-04-13 14:15] jbhelm opened #499 "Feature: Support for Concat and optionally Union, Except, Intersect"
It does not appear there is support for the concatenation functions `Concat`, `Union`, `Except`, or `Intersect`. Would it be possible to add support for these? The most important one for my use case is `Concat`, while the others would just be nice-to-have to round out the functionality.

My use case would be to use the function inside a Select() string, for example:
`Select("CollectionA.Concat(Col

[2021-04-13 15:43] souek88 commented on #498
When I escaped it still gives me same error. So I changed my query to be also escaped and it worked ("@architecture = \"arch2\"") however '@architecture' is a new name of parameter different from 'architecture' so it actually not resolves the issue.

[2021-04-13 18:28] StefH commented on #498
It's indeed reserved: https://docs.microsoft.com/en-us/dotnet/api/system.runtime.interopservices.architecture?view=net-5.0

You could also try to set this to false:
https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/ParsingConfig.cs#L173

[2021-04-13 18:54] David-Moreira commented on #478
Hello @StefH
I know you're probably busy with other stuff, and this issue isn't really that critical, but just a friendly reminder, if you can squeeze a tiny bit of time to take a look at this!!
Appreciated, Thanks!

[2021-04-13 19:05] StefH commented on #478
@David-Moreira I promise I'll take a look at your example code and debug the error.

However, I think that solving this issue needs some refactoring internally on the way the identifiers are saved.

[2021-04-13 20:32] David-Moreira commented on #478
I see. Thanks once again @StefH

[2021-04-14 10:39] David-Moreira opened #500 "Can't parse Select Linq with index parameter => Func<TSource, int, TResult>"
Hello @StefH ,

I can't seem to get this one to parse. Could you help?
[code]

Basically trying to use this Select Signature:
`public static IEnumerable<TResult> Select<TSource, TResult>(this IEnumerable<TSource> source, Func<TSource, int, TResult> selector);`

![image](https://user-images.githubusercontent.com/22283161/114697317-aef38100-9d15-11eb-968b-c4530cedd2b8.png)

[2021-04-14 19:26] StefH commented on #500
Only the 'normal' Select is supported -> https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/Parser/SupportedMethods/IQueryableSignatures.cs#L43

I'll take a look if in some way, your request can be implemented easily.

[2021-04-14 19:34] zspitz commented on #500
@StefH Is this because in general Dynamic LINQ only supports lambda expressions with a single parameter? Or because this particular signature extends only on `IEnumerable` and not on `IQueryable`?

[2021-04-14 20:03] David-Moreira commented on #500
I see thanks!

[2021-04-14 20:12] David-Moreira commented on #500
@stefH meanwhile do you know a way I could get the indexes of the elements in the collection that satisfies
a certain condition using dynamic linq?
Thanks again!

[2021-04-16 19:40] StefH commented on #500
@zspitz : correct, only single lambda are supported. I'm looking at the code to see if this can be extended, however it seems diffucult.

@David-Moreira : not that I know, sorry

[2021-04-17 13:02] David-Moreira commented on #500
@StefH I understand, if it's possible, that'd be awesome. Both Where and Select have that second parameter just as the both those extensions in System.Linq

Thank you for your time! 👍

[2021-04-19 14:28] mrlife commented on #436
@StefH Just wondering, is referring to an outer predicate possible?

[code]

Perhaps related to the original question, what is the `it` in [this line](https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/d2530cfd9e940f3f827428b9e72d95973abc231f/test/System.Linq.Dynamic.Core.Tests/ComplexTests.cs#L28)?

[2021-04-20 07:16] igitur commented on #451
I bumped into this as well. Here is my use-case:

[code]

[2021-04-27 08:02] rdeharo opened #501 "How can I include unaccent pgsql function in Dynamic Linq queries?"
I need to make a query like this:

habitantes = _context.HABITANTES.Where(h => _context.Unaccent(h.Apellido1) == _context.Unaccent("GARCÍA"));

But I don't know how to put the Unaccent postgress function in mi where string;

whereStr = $"{nameField} {searchOpeStr} \"{searchString}\"";.

[2021-04-27 09:09] zspitz commented on #501
Not familiar with PostgreSQL, but how would you call the `Unaccent` function from a strongly-typed query in C#?

You'd probably use [this](https://www.npgsql.org/efcore/api/Microsoft.EntityFrameworkCore.NpgsqlFullTextSearchDbFunctionsExtensions.html?q=unaccent#Microsoft_EntityFrameworkCore_NpgsqlFullTextSearchDbFunctionsExtensions_Unaccent_DbFunctions_System_String_) or another overload.

I would

[2021-04-27 10:00] rdeharo commented on #501
Hi,

A strongly-typed EF 6 query may be something like this:

habitantes = _context.HABITANTES.Where(h => _context.Unaccent(h.Apellido1) == _context.Unaccent("GARCÍA"));

And it works fine.

I forgot to say before that I'm working with Entity Framework 6 NOT with Entity Framework Core.

So, I think the solutions you give me are only suitable for EF Core, right?

[2021-04-29 08:52] zspitz commented on #501
On which type is the `Unaccent` method defined for the EF6 provider? I can see that for the EF Core provider it's defined on the `static` class `Microsoft.EntityFrameworkCore.NpgsqlFullTextSearchDbFunctions`, but I can't seem to find the same for EF6.

If that type (presumably inheriting from `DbContext`) is an instance method, you could pass in the context as a parameter, and call `Unaccent` on i

[2021-04-29 10:21] mkalinski93 opened #502 "Convert IQueryable to dynamic linq String"
## 1. Description
I just wanted to get to if there´s a chance to convert a IQueryable<T> to a Dynamic Linq string value.
The reason for that is that I want to select data at frontend level, but sending the server the translated query as a string.
Of course I can write a query string, but when my dto model change, I need to reassure that every query string I´ve written is modified to the dto proper

[2021-04-29 10:43] StefH commented on #502
Hello @mkalinski93.

This is not supported by this project, but you can try:
- https://github.com/esskar/Serialize.Linq

[2021-04-29 10:43] #502 closed

[2021-05-02 10:32] mata007 opened #503 "The MethodFinder.FindMethod method ignores the name of the searched method when searching in methods returned by GetExtenssionMethods."
In the example below, the method has no problem using the Test method even if I want to call DateDiffYear in the expression.

[code]

In my example, if I use the SqlServerDbFunctionsExtensions method in the GetCustomTypes method instead of TestDbFunctionsExtensions, an exception is returned that the searched method cannot be uniquely identified. Since it evaluates all methods from the DateDiff gro

[2021-05-05 14:05] nanov commented on #497
+1 on this one, practically it turns extension methods into unusable at best, unpredictable at worst.

[2021-05-06 19:32] jameswoodley opened #504 "Blazor WASM NullReferenceException"
## 1. Description
When attempting to run a simple query on a collection in Blazor, getting a NullReferenceException. The exact same query, on the exact same dataset, works perfectly in the Unit Tests, however when running in the browser you get the error
![image](https://user-images.githubusercontent.com/52610563/117354894-cbfd1900-aea9-11eb-9eb6-146f248f62ce.png)

## 2. Exception
[code]

See atta

[2021-05-06 20:08] StefH commented on #504
@jameswoodley

Can you please fork this project, and add your failing to"src-blazor/BlazorWASMExample" application I just created? And then make a PR so that I can analyse your code.

[2021-05-06 21:10] jameswoodley commented on #504
Think have resolved with some data analysis and null being returned from another query so lets close this for now. I don't want to waste your time.

Thanks for replying however!

[2021-05-09 09:06] StefH commented on #499
@jbhelm
See 1.2.10-preview-01 version at https://www.myget.org/feed/Packages/system-linq-dynamic-core

[2021-05-09 09:07] StefH opened #507 "Documentation: Update documentation"
-  Concat, Except, Intersect and Union https://github.com/zzzprojects/System.Linq.Dynamic.Core/issues/499

[2021-05-10 05:05] zspitz commented on #437
It's also telling that the documentation describes the parameter for `ContainsKey` as `selector`; this is incorrect. While it's true that `ContainsKey` can contain an arbitrary expression, as in your example above:
[code]
this is a concatenation of `City` on the outer parameter with the string literal `"TEST"`. This is different from:
[code]
where the parameter passed to `Any` is not a single valu

[2021-05-10 05:14] zspitz commented on #436
@mrlife What do you think of numbered `it`s, starting from the outermost parameter? In other words, the equivalent of this:
[code]
might be written as this:
[code]

[2021-05-11 06:01] StefH commented on #489
Hello @ssteiner, did you have time to create a full working console-example-app which demonstrates this issue?

Because when I just add this code:

[code]

Here:
https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/master/src-console/ConsoleAppEF5/Program.cs#L39

It works fine:
[code]

[2021-05-11 06:40] StefH commented on #452
@StefanKoenigMUC and @zspitz
The bug with `IndexOutOfRangeException` has been fixed and will be included in next release.

[2021-05-11 06:40] #452 closed

[2021-05-11 07:00] StefH commented on #498
Hello @souek88, did you manage to solve your problem?

[2021-05-11 07:38] souek88 commented on #498
@StefH, thanks for help. I walkaround this issue by changing 'architecture' to something else. I couldnt manage it with 'architecture' keyword.

[2021-05-13 10:04] toarnold opened #511 "Strange SelectMany behaviour using JSON"
## 1. Description
Combining multiple arrays with a sSelectMany and an unconditioned sub-select throws an IndexOutOfRange exception. Appending a condition will do the trick.

## 2. Exception
Exception message: IndexOutOfRangeException: Index was outside the bounds of the array.
Stack trace:
[code]

## 3. Fiddle or Project
[code]

## 4. Any further technical details
This exception will occurs, if th

[2021-05-16 08:11] StefH commented on #499
Hello @jbhelm, did you have time to test this preview version?

[2021-05-16 22:57] jbhelm commented on #499
Hi @StefH  --  I've never MyGet. Following the link provided takes me to a login prompt , I do not have a MyGet account. I also tried adding the URL as a NuGet package source in Visual Studio, but that does not work either. I'm not sure what I'm supposed to do with that URL.

[2021-05-17 06:07] StefH commented on #499
Hello @jbhelm, see this link which describes how to use MyGet for NuGet packages:
https://github.com/zzzprojects/System.Linq.Dynamic.Core/wiki/MyGet-preview-versions

[2021-05-18 17:02] mkalinski93 opened #512 "Custom query operators"
Hey,

I would like to know if it´s possible to create custom filter operators such as "Starts with", "Ends with", "Is null" and "Is not null" ?
In my current project, the client (Blazor WebAssembly) sends a querystring to the server to retrieve just the desired data it needs. It works perfect so far, but in my case, the given operators are mandatory and I wasn´t able to figure out how to implement

[2021-05-19 17:41] sanderobdeijn opened #513 "Where throws exception when property name doesn't match enum name"
## 1. Description
Where throws an exception when property name doesn't match enum name.

## 2. Exception
  Message:
[code]

## 3. Fiddle or Project
https://dotnetfiddle.net/nChrvb

## 4. Any further technical details
When adding a second property to the class with the same name as the enum the where succeeds.
[code]
At first, I thought in this case it would maybe filter on the TestEnum instead of

[2021-05-19 18:33] StefH commented on #513
This seems line a bug. I'll check it.

As a workaround, you can try:
`var result = unfilteredList.Where("Test == @0", TestEnum.A).ToList();`

[2021-05-26 11:35] igitur opened #515 "Consider making TextParser public"
## 1. Description
I'm not using this library on a database. My underlying data is access via an API with fairly expensive operations. I have to retrieve each property of my class separately (poor design, but it is what it is). I'm trying to improve our performance by retrieving only properties that are used by the user.

We don't use SQL, but in pseudo-code, if the user "executes"
`select p.Name f

[2021-05-29 08:37] #513 closed

[2021-05-31 06:40] StefH commented on #499
A new NuGet version which includes this functionality will be released.

[2021-05-31 06:40] #499 closed

[2021-06-01 07:33] StefH commented on #493
Preview versions for EF 6 are available on NuGet.

[2021-06-07 01:54] Matthewsre opened #516 "Unable to use DynamicClassFactory.CreateType from Blazor WebAssembly"
## 1. Description
Unable to use DynamicClassFactory.CreateType from Blazor WebAssembly.

## 2. Exception

[code]

## 3. Fiddle or Project

Simple example Blazor page to repro:

[code]

Exception screenshot:

![image](https://user-images.githubusercontent.com/2955659/120948767-d18f8e00-c6f7-11eb-8c4c-57af573d788e.png)

## 4. Any further technical details

Using .Net 5 Blazor WebAssembly, can provid

[2021-06-07 07:24] #507 closed

[2021-06-09 18:34] StefH commented on #516
#518

[2021-06-09 18:35] StefH commented on #516
@Matthewsre

Can you please try 11-preview-01 from https://www.myget.org/feed/system-linq-dynamic-core/package/nuget/System.Linq.Dynamic.Core ?

[2021-06-09 21:43] Matthewsre commented on #516
@StefH,

Just walked through the code with the preview package from your feed and it worked as expected.

Thank you so much for providing a fix so quickly on this! :)

How long until I might expect an updated package on NuGet.org so I don't have to change the build pipelines?

[2021-06-10 05:32] StefH commented on #516
I still need to verify another PR and review some other issues.

Would it help you if I would publish this version to the normal NuGet ?

[2021-06-14 07:10] chait-01 opened #519 "Filtering based on derived property Types in dynamic Linq"
Here is what to include in your request to make sure we implement a solution as quickly as possible.

## 1. Description
I am using dynamic lambda expression, and trying to filter records based on a derived type.

[code]

Here Appilicability is a property within Settings type, and WinApplicability is a derived type of Applicability. SKUs is a property within WinApplicability.

The above line of cod

[2021-06-14 07:20] chait-01 commented on #452
I have a similar requirement, and I am using dynamic lambda expression, and trying to filter records based on a derived type.

var expr1 = DynamicExpressionParser.ParseLambda<Settings, bool>(new ParsingConfig(), true, "c => (c.Applicability As WinApplicability).SKUs.Contains(@0)", result);

Here Appilicability is a property within Settings type, and WinApplicability is a derived type of Applicabil

[2021-06-17 18:40] zspitz opened #520 "np operator ignores single member access when no default value passed in"
## 1. Description
When using `np` with only one member access, the `np` operator seems to be ignored:

[code]

Using `np` with multiple levels of member access seems to work, e.g. `np(it.LastName.ToString())`:
[code]

## 3. Fiddle or Project
https://dotnetfiddle.net/Ig09hL

[2021-06-17 21:31] zspitz opened #521 "Question: documented order of operations"
Is there any documentation about the order of operations within a selector? For example, given the following class:

[code]

the following selector would be invalid:

[code]

and fails with the following:

The solution is to put in parentheses; the following selector works:

[code]

Is the associativity in operands documented anywhere? In other words, that the `!` has a higher associativity with `

[2021-06-17 21:38] zspitz commented on #521
The [documentation](https://dynamic-linq.net/expression-language#operators) states:

[2021-06-17 21:38] #521 closed

[2021-06-18 05:58] StefH commented on #520
Your observation is true.

However, the only scenario in which this specific np() functionality is required to use if the Person can be null, correct?

[2021-06-18 06:48] zspitz commented on #520
Yes.

[2021-06-19 07:25] StefH commented on #520
@zspitz
I cannot reproduce this with the unit tests, see PR #520

[2021-06-20 10:29] #516 closed

[2021-06-21 12:04] ClementeGao opened #523 "list<dynamic> convert to IQueryable and use groupby(propertyname) Error occurred"
the code is
[code]

[code]
i need your help

[2021-06-23 21:37] zspitz opened #525 "Recommended tool for producing Dynamic LINQ code"
As of v. 3.4.61, the [ExpressionTreeToString](https://github.com/zspitz/ExpressionTreeToString) library can now generate C# (or VB) code leveraging Dynamic LINQ library method calls and selector syntax, from virtually any expression:

[code]

I think this would be extremely valuable in porting over code from standard LINQ to using the Dynamic LINQ library, particularly when some additional customi

[2021-06-23 21:58] zspitz commented on #441
The [documentation](https://dynamic-linq.net/expression-language#operators) suggests this should be possible:

[2021-06-24 13:15] StefH commented on #520
@zspitz Can you take a look at that PR to verify the unit tests?

[2021-06-24 18:29] zspitz commented on #520
@StefH I cannot compile the solution:

under the `System.Linq.Dynamic.Core` project.

[2021-06-24 18:39] zspitz commented on #520
@StefH The unit test at `ExpressionTests_NullPropagatingNested1_WithDefaultValue` is passing, because when a default value is passed into `np`, the single-member access is evaluated correctly.

However, when no default value is passed, `np` doesn't transform the single-member access, as can be seen from the `InlineData` at [line 1481](https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/fd

[2021-06-24 19:48] StefH commented on #520
To compile it, you need
![image](https://user-images.githubusercontent.com/249938/123323437-c92bb580-d535-11eb-817c-065017ab72c2.png)

or just change `  <TargetFrameworks>net35;net40;net45;net46;netstandard1.3;netstandard2.0;uap10.0;netcoreapp2.1</TargetFrameworks>` to `  <TargetFrameworks>net35;net40;net45;net46;netstandard1.3;netstandard2.0;netcoreapp2.1</TargetFrameworks>`

And please review PR

[2021-06-24 20:50] zspitz commented on #520
@StefH Have you seen my [previous comment](https://github.com/zzzprojects/System.Linq.Dynamic.Core/issues/520#issuecomment-867868055)? I would expect a selector like `"np(str)"` to return a conditional expression.

[2021-06-25 08:42] zspitz commented on #520
The logic [here](https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/Parser/ExpressionHelper.cs#L270) seems incorrect. Shouldn't it be `if (expressions.Count == 0 ...`?

[2021-06-26 07:45] StefH commented on #520
@zspitz
I did write an incorrect unit-test, which I did fix.
And I fixed the logic to generate the expression.

However for non-nullable types, the logic is not 100% correct yet, I think.

[code]

With
[code]

Generates currently with my fix: `"Select(Param_0 => Param_0.Number)"`, however this should be one of these options:

**1**
`"Select(Param_0 => IIF(((Param_0 != null) AndAlso (Param_0.Number

[2021-06-26 22:14] zspitz commented on #520
I would suggest in your `Number` example, it should return: `"Select(Param_0 => IIF(Param_0 != null, Param_0.Number, null))"`. Even though the final result of the conditional is nullable, that's OK; because the result type of the corresponding C# code: `x => x != null ? x.Number : null` would also be nullable.

[2021-06-29 15:44] StefH commented on #520
Code is fixed and returns `"Select(Param_0 => IIF(Param_0 != null, Param_0.Number, null))"` as normal backwards compatible behavior.
However, using a config setting, this can be changed so that the default(int) is returned.

[2021-06-29 15:44] #520 closed

[2021-06-29 15:45] StefH opened #526 "Update documentation"
- https://github.com/zzzprojects/System.Linq.Dynamic.Core/issues/520

[2021-06-29 22:50] yangzhongke opened #527 "Do you have any plan to support interpolated String?"
Like:
[code]
I'd like to contribute code to support it, can I pull a request?

[2021-06-30 08:04] StefH commented on #527
You can create a PR, make sure that you also add unit-tests.

[2021-06-30 09:35] bxjg1987 opened #528 "Sort support Tuple"
efcore 5.x support Tuple， the Sort can be support it too

[2021-06-30 09:53] aline-almeida opened #529 "Parse lambda Expression<Func<TObject1, TObject2, bool>> Error"
Hi!
I'm trying to parse an `Expression<Func<TObject1, TObject2, bool>>` from the following string `"(c1, c2) => c1.Id == c2.Id"` in my generic class `CompareRule<TObject1, TObject2>`.

I've tried this:
[code]

and I'm getting the following error:  {"')' or operator expected"}
[code]
Am I missing something?
Thanks
Aline

[2021-06-30 10:59] aline-almeida commented on #529
Update: Nevermind this. I've it to work by sending only the part after the arrow: "c1.Id == c2.Id"

[2021-06-30 10:59] #529 closed

[2021-07-01 03:34] yangzhongke commented on #527
I have created a PR. Thanks.

[2021-07-05 16:51] hisuwh commented on #105
Anyone have any luck getting this to parameterise properly?

[2021-07-09 16:43] alexweav opened #531 "Number parsing rejecting doubles in scientific notation"
## 1. Description
Hello, I ran into an issue with parsing doubles using scientific notation. I believe I have tracked the issue down, and I am hoping to provide a fix.

Given a class defining a `double` field:
[code]

The following Dynamic Linq expression results in a `ParseException` when passed to `DynamicExpressionParser.ParseLambda`:
[code]

where [this documentation](http://ak-dynamic-linq.az

[2021-07-10 09:42] StefH commented on #526
### Identifiers

An Identifier consists of a letter or underscore followed by any number of letters, digits, or underscores. In order to reference an identifier with the same spelling as a keyword, the identifier must be prefixed with a single `@` character.
Some examples of identifiers: `x`, `Hello`, `m_1`, `@true` and `@String`

Identifiers of the from `@x`, where x is an integral number greater

[2021-07-10 14:41] StefH commented on #531
@alexweav Thank you for your analysis.

I'm wondering, what if I change the code for doubles and floats to use `NumberStyles.Any` instead of `NumberStyles.Number` ?
Would that solve your issue? And/Or would that break current functionality?

[2021-07-11 10:44] StefH commented on #531
@alexweav
I've made a PR which should fix this.
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/532

Can you please review and check if all the required unit-tests cover your scenario?

[2021-07-12 17:27] alexweav commented on #531
@StefH This is fantastic! I really appreciate this change. I reviewed the PR.

[2021-07-12 17:55] #531 closed

[2021-07-17 16:22] #527 closed

[2021-07-18 20:43] Matthewsre commented on #516
@StefH , Sorry for the late follow up, it would be very helpful if you were able to push the preview version to the normal NuGet. :)

[2021-07-19 07:33] StefH commented on #516
@Matthewsre
Official version 11 has been updated to NuGet.

[2021-07-19 10:09] RevathiNeminathan opened #533 "SetDynamicPropertyValue causing issue when the value is parsed from jsondocument"
Here is what to include in your request to make sure we implement a solution as quickly as possible.

## 1. Description
I am planning to implement dynamic class in my project. I am facing the issue when executing Where condition against the input list.
 I have an input dictionary where I store all my data by parsing jsondocument and  use those values to set dynamic properties.
Problem is, the cond

[2021-07-22 16:16] RevathiNeminathan commented on #533
Hi StefH, Is there any update on this issue? I am struck in this issue .

[2021-07-22 16:33] StefH commented on #533
var EmployeeData = JsonDocument.Parse(EmployeeList).RootElement.GetProperty("gender");
[code]

[2021-07-22 16:42] RevathiNeminathan commented on #533
I already tried above line, it doesn't work. If I don't use .ToString() method then ValueKind = string is added

[2021-07-22 17:05] RevathiNeminathan commented on #533
Were you able to reproduce the issue ? I always get false even if the gender is male

[2021-07-22 18:06] StefH commented on #533
Do you use Newtonsoft json or system.text.json?

And this code works fine?
[code]

Can you please update my working example code (above) to code what you are trying to do and that fails?

[2021-07-22 18:11] RevathiNeminathan commented on #533
In my post I mentioned below lines
inputList.Add("gender","Male"); // --> Working
inputList.Add("gender",EmployeeData); // --> not working
The problem arises when I parse the data from jsondocument and jsondocument by default uses system.text.json

[2021-07-22 18:12] StefH commented on #533
Please post a full working example, including how you define `EmployeeData`.

[2021-07-22 18:38] RevathiNeminathan commented on #533
class Program
    {
        static void Main(string[] args)
        {
            Dictionary<string, object> inputList = new Dictionary<string, object>();
            List<DynamicProperty> props = new List<DynamicProperty>();
            string EmployeeData = "{\"transactions\":[],\"profile\":{\"employeeCode\":\"EMP336\",\"clientEmployeeCode\":\"CLIENT_EMP_1\",\"salutation\":\"Mr\",\"firstName\":\

[2021-07-24 10:44] RevathiNeminathan commented on #533
@StefH were you able to reproduce the issue?

[2021-07-25 08:29] StefH commented on #533
I can reproduce it.

However this is not really related to this library, but the way how comparison on**Value** differs from **Reference**.

![image](https://user-images.githubusercontent.com/249938/126892824-a85d5d5a-8241-4943-ae89-244c4bf72f01.png)

As you can see have "gender" (1) and "objectWithAStringValue" (2) the value "Male", but the equal check (3) resolves to false.

[2021-07-25 08:29] #533 closed

[2021-07-27 10:48] msciborski opened #534 "OrderBy - potential sql injection?"
## 1. Description
Is the OrderBy method safe from sql injection? I've discovered that I can execute .OrderBy("IIF(2=1,1,1/0)"), and it throws DiviedByZeroException. On the other hand, if I execute .OrderBy("SELECT *"), then it throws ParseException("No property or field 'SELECT' exisit in type T".

[2021-07-27 11:03] wihrl commented on #493
How extensive are the changes necessary to fix this? Can I expect a fix anytime soon?

I ended up having to downgrade a project back to .NET 5 because of this.

[2021-07-27 11:21] StefH commented on #493
@wihrl and @enchev

What version from System.Linq.Dynamic.Core did you use?
(Note that there is a `6.2.11-preview.4.21253.1`)

[2021-07-27 14:39] wihrl commented on #493
I used 1.2.11.
I cannot install the Microsoft.EntityFrameworkCore.DynamicLinq package as it requires EF Core 6, but I'm using 3.1.17 and cannot upgrade because of other packages.

Here is the error I'm getting:
![image](https://user-images.githubusercontent.com/57505542/127173646-cddfa857-9198-4c72-9997-b1e2fdccc58b.png)

I believe that a dynamic .Where call on an IQueryable is causing it. It work

[2021-07-27 16:42] StefH commented on #493
@wihrl
Now I understand.

This is about **.NET 6**, and not about **EF 6**.

I'll look into this.

[2021-07-27 21:32] tirth-uhn commented on #493
Hi - we've also run into this issue using Radzen.Blazor with .NET 6 preview, it's described [on the Radzen forums](https://forum.radzen.com/t/linq-error-with-net-6-0-preview-3-and-dropdown-control/7483) which actually references this issue.

[2021-07-28 15:32] StefH commented on #493
@wihrl
@tirth-uhn

Please try version `1.2.12-preview-01` from MyGet:
https://www.myget.org/feed/system-linq-dynamic-core/package/nuget/System.Linq.Dynamic.Core

[2021-07-28 20:00] sofiageo commented on #493
@StefH It works fine for me on a Radzen RadzenDataGrid. It used to throw an exception before upgrading to `1.2.12-preview-01`

p.s I've only tested filtering on a text column.

[2021-07-28 23:31] tirth-uhn commented on #493
@StefH it works! Thanks so much for the quick fix.

[2021-07-29 08:01] wihrl commented on #493
It works for me too.

[2021-07-29 11:01] StefH commented on #493
@sofiageo
@wihrl
@tirth-uhn
@enchev

I'll try to release an official `1.2.12` on NuGet this weekend.

Note that I'll also create a new issue to also support the new Queryable methods which are introduced in .NET 6

[2021-07-29 14:36] TheGreeNSparT opened #536 "OrderBy not working with dynamic parameters"
## 1. Description
I'm trying to use the OrderBy method with argument. For a reason unknown to me, I don't have any exception but my result is not ordered.

Here is my code :
[code]

where sortDir is equal to either "desc" or "asc" and sortBy is the name of the property I want to order by.I checked the value of sortBy while debugging and it was the correct property name. Query is just an IQueryable

[2021-07-29 15:45] StefH commented on #536
What happens if you use:
[code]

[2021-07-29 15:56] TheGreeNSparT commented on #536
Thank you for your quick reply.
I don't get any errors, but unfortunately the results are still not ordered :(

[2021-07-31 17:30] StefH opened #537 "Support new System.Linq.Queryable methods which are introduced in .NET 6"

[2021-07-31 17:30] StefH commented on #493
https://github.com/zzzprojects/System.Linq.Dynamic.Core/issues/537

[2021-07-31 17:30] #493 closed

[2021-08-02 10:38] StefH commented on #537
@eiriktsarpalis
Do you have a changelog / list from all the changes done for .NET for https://docs.microsoft.com/en-us/dotnet/api/system.linq.iqueryable-1?view=net-6.0 ?

[2021-08-02 13:42] eiriktsarpalis commented on #537
A high-level overview of the LINQ additions can be found in the [.NET 6 Preview 4 announcement](https://devblogs.microsoft.com/dotnet/announcing-net-6-preview-4/#system-linq-enhancements). We also maintain an [API diff](https://github.com/dotnet/core/tree/main/release-notes/6.0/preview/api-diff) in our release notes, however they are being posted incrementally on a preview-by-preview basis. Taggin

[2021-08-03 14:53] ButtiBBQ commented on #128
Any updates on how to do an case invariant search?

[2021-08-03 18:31] Anipik commented on #537
We will wait for the 6.0 release

[2021-08-03 19:10] StefH commented on #489
@ssteiner Can you please taker a look at my comment and provide / update your failing example code?

[2021-08-08 16:03] Jupakabra opened #538 "Could not load file or assembly 'System.Linq.Dynamic.Core' in newer releases"
## 1. Description
I'm a library creator who uses `System.Linq.Dynamic.Core` as a reference. I recently updated dynamic linq reference from `1.0.0` to `1.2.X` and my library consumers started getting assembly load exceptions. I bisected it back to `1.0.21` version as a first failing one. Did something change from that release onwards in nuget packaging or compiling?

## 2. Exception
[code]

## 3. F

[2021-08-08 16:34] StefH commented on #538
@Jupakabra
Version 1.0.0 is very old (from 2016), a lot has been changed since then.

And I cannot remember / see anymore in the changelog what exactly had been changed between 1.0.20 and 1.0.21

So in order to help you further, I really need an example project to reproduce your issue.

[2021-08-08 17:25] StefH commented on #475
Closing...

[2021-08-08 17:25] #475 closed

[2021-08-08 17:35] #538 closed

[2021-08-08 18:18] StefH commented on #536
Hello @TheGreeNSparT,

I did some debugging and checked the documentation, but this is not possible.
Using `@0` is only for **values**.

https://dynamic-linq.net/expression-language#identifiers
![image](https://user-images.githubusercontent.com/249938/128641707-d6766f1c-b9fc-44d6-9e50-7b80e9d4a346.png)

[2021-08-08 18:18] #536 closed

[2021-08-09 16:11] StefH commented on #512
@mkalinski93
This is already supported, you can use StartsWith:
![image](https://user-images.githubusercontent.com/249938/128738367-1ddded90-86d2-477c-911c-d417b60289ae.png)

[2021-08-09 16:11] #512 closed

[2021-08-12 18:50] StefH commented on #528
@bxjg1987
Can you please provide a full working example / demo code how this works in 'normal linq' and how it should work in dynamic linq?

[2021-08-14 10:51] igitur commented on #515
@StefH Your thoughts on this? I will submit the PR if you agree that this is allowed.

[2021-08-18 22:22] Mike-E-angelo commented on #493
Woohoo bless you all.  +1 to being brought here due to Radzen.  Installed the latest preview and ERRORS BE GONE.  Well, until the next one. 😅

Appreciate all the work you are doing out there!

[2021-08-19 05:48] StefH commented on #493
@Mike-E-angelo
You can also install the official `1.2.12` version.

[2021-08-19 10:51] Mike-E-angelo commented on #493
Gosh @StefH you're right I got so excited once I saw the preview I stopped reading the rest of the thread and just upvoted. 😆  Updated and installed. 👍

[2021-08-22 10:16] StefH commented on #289
@david-garcia-garcia
Did you have time to implement this PR?

[2021-09-02 17:25] yisman commented on #472
Make your new year an innovative one!

View this email in your browser (https://mailchi.mp/machshevet/drfklqb6ix-4666046?e=d5059cf304)
https://machshevet.us3.list-manage.com/track/click?u=752c5e4f79a9fa7c8f2e896ea&id=e1f771c482&e=d5059cf304
בס"ד

לכל לקוחותיי וידידיי היקרים

[ אין לכם זמן לקרוא את ההודעה?
פנו אלינו לקבל מערכת חדשה לניהול נתונים, שתחסוך לכם שעות כל יום!! ]

בפרוס השנה החדשה הבאה על

[2021-09-03 20:18] akeresztesgh opened #539 "Ordering by Guid results in error"
## 1. Description
We are using dynamic linq and it works great.  However, when ordering by a Guid (which is named Guid), it fails with the following error:

## 2. Exception
Exception message: '.' or '(' or string literal expected
Stack trace:
  at System.Linq.Dynamic.Core.Tokenizer.TextParser.ValidateToken(TokenId t, String errorMessage)
   at System.Linq.Dynamic.Core.Parser.ExpressionParser.Parse

[2021-09-03 20:41] akeresztesgh commented on #539
nevermind, I found it in the closed issues:

        if (orderBy.ToLower() == "guid")
        {
            orderBy = $"@{orderBy}";
        }

Thanks!

[2021-09-04 08:04] StefH commented on #539
@akeresztesgh
Correct, you need to escape reserved keywords / identifiers with an `@`.
See also this link: https://dynamic-linq.net/expression-language#identifiers

[2021-09-04 08:04] #539 closed

[2021-09-04 12:31] pierrebelin opened #540 "Where(List.Any(Field in @0), params) causes ParseException: '')' or ',' expected'"
Here is what to include in your request to make sure we implement a solution as quickly as possible.

## 1. Description
Expression "Where" seems to not working with params in this kind of case : Where(List.Any(Field in @0), params)

## 2. Exception
Exception message: System.Linq.Dynamic.Core.Exceptions.ParseException: '')' or ',' expected'

Stack trace:    at System.Linq.Dynamic.Core.Tokenizer.Tex

[2021-09-07 23:40] Mike-E-angelo opened #541 "Trouble with `EF.CompileAsyncQuery` and `OrderBy`"
## 1. Description

First off, thank you for all your efforts here.  This library is super cool and adds so much value.

Secondly, I am trying to ring out as much value as possible... maybe a little _too_ much. 😆

I am currently working with `EF.CompileAsyncQuery` and have got a few things working.  However, I am running into trouble with the `OrderBy` selection when using a passed-in parameter.

T

[2021-09-08 13:07] Mike-E-angelo commented on #541
So after spending more time on this, I am not sure that this is a supported scenario.  The `OrderBy` method dynamically creates `LambdaExpression`s at runtime, and for a compiled query I am not sure that is possible/valid as it's already compiled and therefore cannot be modified.

I am not sure exactly how you could work around it, but my experience with expression trees are limited.  Maybe there'

[2021-09-14 08:30] emaborsa opened #542 "Expression of type 'Microsoft.EntityFrameworkCore.Query.Internal.SingleQueryingEnumerable1[System.Boolean]' cannot be used for return type 'System.Collections.Generic.IEnumerable1[System.Object]'"
As previously issued [here](https://github.com/dotnet/efcore/issues/25958):

EF Core version: 5.0.9
Database provider: Npgsql.EntityFrameworkCore.PostgreSQL 5.0.7
Target framework: .NET 5.0
Operating system: Windows 10
IDE:  Visual Studio 2019

I am working with Dynamic Linq, when working with strings I have no problems, when dealing with bool's, i got the following error:

##### Expression of typ

[2021-09-15 21:42] slang25 commented on #304
This is quite a big usability issue. With `System.Linq` being included as a default global namespace in C# 10 I can only seeing this getting more difficult.

It could be worth considering redesigning this API to co-exist with `System.Linq`.

[2021-09-24 16:08] penumbra23 opened #543 "Single nested object unwraps into parent"
Hi everyone! 👋

First of excellent library helped me very much in my projects!

I have an issue that should be easy to solve, but I can't find any solution...
I'm using the latest version so far and the in-memory SQL package.

## Description
When having a class with a property of another class type, the child object unwraps instead of leaving as it is. For example,
[code]

throws
`Unhandled except

[2021-09-29 12:23] tranb3r opened #544 "'System.Linq.Dynamic.Core.pdb' is using a deprecated debug information level"
## 1. Description
'System.Linq.Dynamic.Core.pdb' is using a deprecated debug information level.
The 'DebugType' MSBuild property should be set to 'portable' (newer and cross-platform) instead of 'full'.

## 2. Warning
Here is the warning I get when compiling a xamarin.android application:
[code]

[2021-10-06 13:36] MitchellVermaning opened #545 "Unable to escape backslashes correctly"
## 1. Description
Hello! Thank you for sharing this powerful library.

When I try to use the `DynamicExpressionParser.ParseLambda`-function with a string value that includes escaped backslashes, it will not parse correctly, which yields unescaped output

## 2. Exception
There is no exception thrown. Using input
[code]
The output is:

[code]

Adding more slashes does not seem to help, for instance

[2021-10-06 16:09] StefH commented on #544
Good afternoon @tranb3r,

Thank you for this remark. This will be fixed in next version.
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/547

[2021-10-07 08:06] MitchellVermaning commented on #545
But you are also escaping the string in your assertions. So this:
[code]
actually means:
[code]

and that seems incorrect to me. I mean there are definitely 2 leading slashes but only one remains. Also, it would be strange that `\\\\` would yield the same result (`\\`) as `\\` (see image). Don't you agree?

![image](https://user-images.githubusercontent.com/9675747/136344822-1dd31697-3f72-4a4b-905

[2021-10-12 00:14] NetMage opened #548 "IComparer<T> not supported for OrderBy?"
How can the `OrderBy` overloads that take an `IComparer` actually be used, since the calls generated expect the types passed to the comparer match the types of the dynamic fields created by the string expression?

Is there any way to have an `IComparer<object>` be used?

[2021-11-04 19:28] ascott18 opened #549 "DefaultQueryAnalyzer.SupportsLinqToObjects is infinitely recursive."
Here is what to include in your request to make sure we implement a solution as quickly as possible.

## 1. Description
When mixing EF Core, LinqKit's Expandable, and Linq Dynamic, Linq dynamic will infinitely recurse in `DefaultQueryAnalyzer.SupportsLinqToObjects`.

## 2. Exception
If you are seeing an exception, include the full exception details (message and stack trace).

[code]

## 3. Fiddle

[2021-11-05 09:11] gertcloete opened #550 "Extension Method"
Hi,

I have written an implementation of IDynamicLinkCustomTypeProvider that load all my custom lynq functions:

When I use my DynamicLinqCustomTypeProvider I can use my `Funcs.Left('asdfgh',3)` fine as a expression, but unable to use
`Funcs.Left('asdfgh',3).Last()`

Ie I am trying to make string **extension** methods that can be chained together. (Example below is just a simple one to show what I

[2021-11-09 19:01] StefH commented on #537
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/551

[2021-11-10 23:45] RafaelEnriquez opened #552 "Missing parse from binary literal to integer"
ExpressionParser parses from hexadecimal literal to integer, but is missing a parse from binary literal to integer.

https://dotnetfiddle.net/cTfqh7

Exception

[2021-11-12 09:07] MariaCobretti opened #553 "Accessible types in ParseLambda?"
Hi,

I would like to do some mapping with the linq.dynamic package.
[code]
in the parseLambda call I am getting this exception
[code]

any way to make this accessible or is there a better way to achieve this?

[2021-11-16 06:02] alexeyshockov commented on #553
You could try something like

[code]

And try to use this config instead of the default one.

[2021-11-18 01:15] JPVenson opened #555 "Net6 incompatibility"
## 1. Description
It seems like System.Linq.Dynamic.Core is currently not able to discover the correct extension methods as Net6 does add some new LINQ extensions.

## 2. Exception
[code]

[2021-11-18 20:08] StefH commented on #552
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/554

[2021-11-18 20:15] StefH commented on #555
@JPVenson
Can you please provide the full c# code you are using ?

[2021-11-18 20:39] JPVenson commented on #555
@StefH I will close the issue because the problem cannot be reproduced after a manual clean of bin & obj folder. Possibly an old cached dll in the output directory that caused the issue after the upgrade to Net6.

[2021-11-18 20:39] #555 closed

[2021-11-18 21:17] StefH commented on #553
Adding `typeof(System.Collections.Generic.Dictionary<,>` will probably not work, because the parser cannot understand the `<>` in the `expression`.

I'm taking a look if this can be added easily.

[2021-11-19 08:42] MariaCobretti commented on #553
yes thats right, it translates to smth like Dictionary`2 as a string which will then cause a syntax error when you call new on it

[2021-11-23 18:36] RafaelEnriquez commented on #552
Hi @StefH , thanks for your work on this.

I was expecting the fix to be something like the existing code for hexadecimal in "ExpressionParser.ParseIntegerLiteral".

Does this PR makes the provided fiddle test pass???

Regards

[2021-11-24 07:30] StefH commented on #552
Hello @RafaelEnriquez,

I did move some code from `ExpressionParser.ParseIntegerLiteral` to a new file and also added some more tests for that new code.

See
https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/stef-binary/test/System.Linq.Dynamic.Core.Tests/Parser/NumberParserTests.cs#L137

(I think this covers your scenario, but if you have questions or want to add more test, please let

[2021-12-01 10:43] StefH commented on #552
Hello @RafaelEnriquez, did you have time to check if the unit-test is enough for your scenario?

[2021-12-01 23:03] RafaelEnriquez commented on #552
Hi @StefH . Yes, the tests you added are enough.

Thank you very much.

[2021-12-02 09:50] #552 closed

[2021-12-14 13:40] ariannepeiso commented on #489
Hello,

I'm having a similar problem with the OrderBy when using the Null Propagating expression.
I'm using version 1.2.14.

When I have this:

`var query = context.Brands.Select(b => new BrandModelWithStats
  {
      Id = b.Id,
      Name = b.Name,
      BrandStat = new BrandStat
      {
          ProductCount = context.Products.Count(p => p.BrandId == b.Id),
          PublishedProductCount = con

[2021-12-15 16:36] idan-h opened #559 "EF Core .Include() support"
Hey, first of all thank you for this repo.
I tried to find a solution for including a specific foreign key object in EF Core by using the .Include() method on the DbSet, but I couldn't find one.. Is it possible to implement? Am I missing something?
I am willing to do a PR  which adds the feature if doesn't exist, but I don't undestand enough about this repo to implement it yet. Some guidence will

[2021-12-18 00:38] stefanoyoyo opened #560 "group by on joined structure does not work"
I wrote some code making a join (using the library) between two tables from data context exporting the result columns as object fields.
EXAMPLE:
tableA = { field1 = "", field2 = ""}
tableB = { field1 = "", field2 = ""}
var join = { tableAfield1 = "", tableAfield2 = "", tableBfield1 = "", tableBfield2 = ""}

When I try to group the obtained IQueryable collection by a selector (for example "tableBfi

[2021-12-18 09:25] StefH commented on #534
Hello @msciborski,

All dynamic methods are safe for SQL injection because they are translated via LINQ / Database Query provider to valid SQL commands.

[2021-12-18 09:25] #534 closed

[2021-12-18 09:25] StefH commented on #515
Hello @igitur,

Do you still need this functionality ?

[2021-12-18 09:28] StefH commented on #560
Hello @stefanoyoyo,

Can you please provide a full working example which describes this issue?

[2021-12-18 10:02] igitur commented on #515
Hi, yes, definitely. At the moment I'm using reflection to access these private APIs.

[2021-12-18 10:08] StefH commented on #548
Hello @NetMage,

The `IComparer` is supported, a unit test can be found here:
https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/master/test/System.Linq.Dynamic.Core.Tests/QueryableTests.OrderBy.cs#L10

(`IComparer<object>` is compatible with `IComparer`)

[2021-12-18 23:05] NetMage commented on #548
Except that test only works if the string for the field is actually the name of a string field. Try again with an integer field and your passed in IComparer object will be the wrong type.

[2021-12-19 09:12] StefH commented on #515
#562

[2021-12-19 09:12] #515 closed

[2021-12-19 13:18] StefH commented on #548
Hello @NetMage,

Can you check this test:
https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/stef-add-more-OrderByIComparer-unittests/test/System.Linq.Dynamic.Core.Tests/QueryableTests.OrderBy.cs#L40

And provide some insights from your side?

[2022-01-20 07:00] volodin-danila opened #564 "Date format is not working properly"
Hi! I noticed that in the new version of the library datetime format works differently than the standard one. Older versions worked correctly. Here is a demo of my problem with different culture formats. I wonder if you could help me with this test?

[code]

[2022-01-28 08:53] maliming opened #565 "Methods such as `OrderBy` may not be calling the correct method of the Provider."
There is also a generic implementation of the `CreateQuery` method, should we consider which one to call here?

https://docs.microsoft.com/en-us/dotnet/api/system.linq.iqueryprovider?view=net-6.0#methods

https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/master/src/System.Linq.Dynamic.Core/DynamicQueryableExtensions.cs#L1545
https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/m

[2022-02-05 13:12] StefH commented on #564
@volodin-danila
Thank you for investigating this issue.
You are correct, since version 1.2.13 this functionality did change. I'll take a look.

[2022-02-05 13:26] StefH commented on #564
@volodin-danila
I found the issue.

In the 1.2.13 version the StringParsing was fixed, and actually included a breaking change with the previous incorrect implementation.

So in order to get it working again for the latest version you need to use this:

[code]

or

[code]

[2022-02-05 13:26] #564 closed

[2022-02-09 22:09] dsidedp opened #566 "Support Cast/As for non enumerable properties"
Consider the following

[code]
As far as I understand, currently, it is not possible to filter ``List<SomeClass>`` based on ``SomeClass.Item`` derived class property value since there is no way to cast non-enumerable property ``SomeClass.Item`` to ``DerivedClass1`` or ``DerivedClass2``:

Please consider supporting Cast/As/Is for non-enumerable properties.

[code]
``result1`` and corresponding ``li

[2022-02-15 07:59] StefH commented on #566
Hello @dsidedp , did you also investigate if the `OfType` functionality could help in this scenario?

See below links on how to use it:
- https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/9ca9b3428961ebb757e8e4129195486b9be5dddf/test/System.Linq.Dynamic.Core.Tests/QueryableTests.Is%2COfType%2CAs%2CCast.cs
- https://dynamic-linq.net/basic-query-operators#cast-and-oftype

[2022-02-15 10:35] dsidedp commented on #566
``OfType`` is applicable to enumerables only.  ``As'`` as applied to ``It`` but not to ``It.Property``.

Maybe I miss something, but I was not able to cast property of ``it`` when property is not Enumerable.

[2022-02-16 18:17] dsidedp commented on #566
This is the not the case.

In example you referred to, cast is applied to `it` to get access to ``it.DerivedProperty``. And I'm talking about casting ``it.Property`` to get access to ``it.Property.DerivedProperty``.

If ``it.Property`` is Enumerable, then ``OfType`` can be used. But there are no options if ``it.Property`` is an object.
Take a look at pseudo-code example is provided in the first co

[2022-02-19 12:58] StefH commented on #566
@dsidedp
I understand.

This is not yet supported, but this can be added.

Would this syntax be ok?
[code]

[2022-02-19 13:13] dsidedp commented on #566
Sure.

IMHO, that's the simplest and most obvious syntax.

[2022-02-19 13:59] StefH commented on #566
simple type resolution will be supported with:
[code]

[2022-02-19 15:10] StefH commented on #566
A new version will be released soon.

#567

[2022-02-19 15:10] #566 closed

[2022-02-19 16:38] dsidedp commented on #566
Thank you for the fast update.

[2022-02-19 17:27] zspitz commented on #457
This has now been fixed with #567, see #566.

[2022-02-19 17:34] zspitz commented on #457
@StefH Note that this issue is unrelated to passing the type/string as a parameter object to the Dynamic Linq expression; this issue is about applying `as`/`is` to an arbitrary expression.

[2022-02-21 06:58] sandunangelo opened #568 ".Net 6 not support for calculated field"
This nuget package version 1.2.14 was working great with .Net Core 2.0, and my project is now upgraded to .Net 6.

My data collection has a custom DTO including a `string MemberTypeText` field which returns the text version of the same class enum field of `MemberType`. Previously `OrderBy()` method works for `MemberTypeText` but now the expression crashes with the error `...could not be translated

[2022-02-21 09:23] zspitz commented on #568
What does `source.ElementType` return? `source.GetType()`?

Are you calling any other LINQ methods to create `source`?

Just to confirm, `MemberTypeText` is a field, not a property?

[2022-02-21 21:05] StefH commented on #365
Closing...

[2022-02-22 07:01] zspitz commented on #568
The following:

[code]

works just fine and prints out:

[code]

Do you have any thoughts on why your code might be acting differently?

[2022-02-23 08:24] huhuzz00 opened #570 "ExpressionParser failed to parse Func type"
I was trying to parse a expression string like this:
[code]
And the `Customer` class looks like this:
[code]

`FuncTypeProvider` is implemented like this:
[code]
Exception occurs when creating `e3`:
```System.Linq.Dynamic.Core.Exceptions.ParseException: 'Expression of type 'Func`2' expected'```

Stack trace:
[code]

Is it because I missed something that should be configured before parsing? Or is i

[2022-02-23 21:01] StefH opened #571 "ParseException: 'Type 'System.IO.DirectoryInfo' not found'"
https://stackoverflow.com/questions/71200818/system-linq-dynamic-core-exceptions-parseexception-type-system-io-directoryin

[2022-02-25 13:10] aysegulgurmeric opened #572 "create-dynamic-expression-one-to-many-relations-with-child-class-property"
Is it possible to create a dynamic where condition with a collection property?

I'm trying to filter Parents which Childs.ChildProp1 == "test". What's the correct syntax ?

[https://dotnetfiddle.net/Zh7Jy5](url)

[code]

[2022-02-26 17:42] zspitz commented on #572
Do you want the `Parent`s who have a `Child` in `Childs` whose `ChildProp1` matches `"test"`?

[code]

Or do you want all the `Childs` whose `ChildProp1` matches `"test"`?

[code]

[2022-02-27 18:45] StefH commented on #571
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/573

[2022-02-27 18:45] #571 closed

[2022-02-28 03:04] pengweiqhca opened #575 "Is not support dynamic type?"
Here is what to include in your request to make sure we implement a solution as quickly as possible.

## 1. Description
Is not support dynamic type?

## 2. Exception
[code]

## 3. Fiddle or Project
[code]

[2022-02-28 16:54] StefH commented on #575
Why would you extend DynamicObject?

[2022-03-01 01:26] pengweiqhca commented on #575
Converts json strings to dynamic objects and then filters based on dynamic objects.

[2022-03-11 14:50] jbhelm opened #577 "Converting string to another type in both LINQ to Entities and Objects (question)"
First, great library, very useful!

We have a scenario where we need the same dynamic LINQ string to execute both against a database using LINQ to Entities, and in-memory objects using LINQ to Objects. Normally this works fine, however, we also occasionally need to convert string values to some other type (integer for example). The problem is the way you do this when using LINQ to Entities is by u

[2022-03-15 15:50] dolunay opened #578 "DynamicLinqTypeAttribute does not support custom structs"
Here is what to include in your request to make sure we implement a solution as quickly as possible.

## 1. Description
I create a custom struct for combine decimal with unit types. named as Measurable. The struct can convert numbers with many unit types.

## 2. Exception
Does not generate any exception. Because, I cant set the [DynamicLinqType] declaration.

Please change the code like this:

Pat

[2022-03-15 18:08] StefH commented on #578
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/579

[2022-03-15 22:37] dolunay commented on #578
Thank you for your response. With this development, it will be possible to use 'attribute' for 'struct'.

[2022-03-17 07:32] #578 closed

[2022-03-21 16:12] jogibear9988 opened #580 "C# Expressions use Base Class Virtual Methodinfo"
If you write a Expression where you call a Virtual Method, the C# Expression Parser uses the MethodInfo from the BaseClass where System.Dynamic.Linq uses the MethodInfo from the Derived Class.

see issue: https://github.com/linq2db/linq2db/issues/3475

[2022-03-22 08:42] #575 closed

[2022-03-22 16:24] jogibear9988 commented on #580
This will be fixed in linq2db, but ,aybe will also fail in other Linq Frameworks

[2022-03-22 16:26] StefH commented on #580
@jogibear9988

- Do you have any lead where this should be fixed in the code ?
- Or maybe create a PR with unit tests?

[2022-03-22 22:33] zspitz commented on #580
If I understand correctly, the following code:
[code]
prints out:
[code]

where both should have been the same.

[2022-03-22 23:57] zspitz commented on #577
This is not an issue specific to Dynamic LINQ. I believe the following query would fall on in-memory objects:
[code]
even though the corresponding query would succeed against EF:
[code]
As I understand it, EF handles this using a [set of built-in conversions](https://docs.microsoft.com/en-us/ef/core/modeling/value-conversions?tabs=data-annotations#built-in-converters).

But in similar scenarios, I

[2022-03-23 18:28] jogibear9988 commented on #580
yes

[2022-03-25 20:14] volkhardv opened #581 "ConsoleApp_netcore2.1_EF2.1.1 fails to run with exception"
Hello,

## 1. Description
from the provided solution i started the project ConsoleApp_netcore2.1_EF2.1.1.

## 2. Exception
Following exception arises:

[code]

can anyone help?

best regards

Volkhartd

[2022-04-06 11:18] maxime-ducoroy commented on #548
I have the same problem,
I have some code similar to the link you sent [(QueryableTests.OrderBy.cs#L10)](https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/master/test/System.Linq.Dynamic.Core.Tests/QueryableTests.OrderBy.cs#L10)
For information I use .NET 6, EF Core 6.0.3, and a PostgresSQL database.
Here is my code:
[code]

The error in visual studio when I run the code
[code]

 Can yo

[2022-04-09 01:29] abbasc52 commented on #410
@Chauhan225 and anyone else who is looking for an alternate solution. It seems adding the type 'JsonElement' to `CustomTypeProvider` in `parserConfig` fixed this issue for me.

[code]

[2022-04-16 10:55] Josrph opened #582 "Convert string lambda expression with anonymous type"
am new to this library so I don't know if what am trying to do is possible or not

I have a string lambda expression with anonymous type which am trying to convert to an actual object lambda expression :

`"x => new { x.ID,  x.Name }" ====> Expression<Func<Product, object>> exp = x => new { x.ID,  x.Name };
`
so my question is can this be done in this library? and How?

Note: Product class has ID

[2022-04-17 09:40] StefH commented on #581
Hello @volkhardv,

Thanks for finding this issue.

It should be fixed now. Please retry.

[2022-04-17 09:40] #581 closed

[2022-04-17 19:31] StefH commented on #580
@jogibear9988 and @zspitz

I did try to find the specific changes in source code in (https://github.com/zzzprojects/System.Linq.Dynamic/blob/archived/Src/System.Linq.Dynamic/DynamicLinq.cs) and this library.

But finding a method and getting the base-type is done the same way.

And the reason **System.Nullable`1[System.Int32]** is returned in that example code, is because this code line:
![image](

[2022-04-17 19:33] StefH commented on #568
@sandunangelo
Did you try the proposed code change from Zev Spitz?

[2022-04-17 19:41] StefH commented on #548
@NetMage Did you have time to look at my new / updated UnitTests ?

@maxime-ducoroy Maybe it's related to Postgress database? Did you try SQL ? Or can you provide a full working example project?

[2022-04-18 04:12] sandunangelo commented on #568
Sorry guys, could not attend to this issue to check the given solution either, had to switch the work context. Will update here when I switched back.

[2022-04-26 15:24] StefH commented on #582
@Josrph

Please provide a full working (console-app) example which describes your problem.

[2022-05-02 03:24] #565 closed

[2022-05-02 08:23] StefH commented on #523
@ClementeGao
Can you please provide a full working example console - app which describes your isssue?

[2022-05-02 15:17] StefH commented on #511
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/585

[2022-05-02 15:17] #511 closed

[2022-05-04 13:04] cambirch opened #586 "Parenthesis around an "In" expression raise an exception"
Parenthesis around an "In" expression raise an exception `')' or operator expected (at index 16)` instead of working.

[code]

Example Fiddle: https://dotnetfiddle.net/TVmKsM

The code as exampled is super dumb, but it shows the issue about as simple as I was able to get it to.  Same issue happens in a more intelligent situation where I am actually wrapping in parenthesis in order to ensure and/or

[2022-05-05 19:44] PostAlmostAnything opened #588 "Can't Translate Empty Parameters"
I have a scenario in which I need to use OrderBy and ThenBy for some sorting operation, but just OrderBy for most operations. For instance, if I want to order posts by like count I only use OrderBy, but if I need to sort by ratings I must also use ThenBy for rating count because otherwise you get a bunch of stuff with 1 or 2 five star reviews even thought there are those with more. Unfortunately,

[2022-05-12 15:11] DanielStout5 opened #589 "Possible to restrict selectable properties?"
I'd like to use this library in a way where the frontend can decide which properties to include in the response, so I'm passing up a string e.g. `new { Id, Name, Age }` for the select in e.g. `var people = db.People.Select(select).ToDynamicList()` - but there are some properties that should not be possible to select.

I was imagining an attribute that could be placed on properties to block them fr

[2022-05-12 18:55] #586 closed

[2022-05-12 18:57] StefH commented on #589
@DanielStout5
This functionality is not present, and probably will not added soon.

[2022-05-12 18:57] #589 closed

[2022-05-26 12:12] i-am-jyotirmaya commented on #548
OrderBy accepts a IComparer but it have to impement both IComparer and IComparer<object>. It would look something like,
[code]

[2022-05-31 08:29] wzxinchen opened #591 "The Select method clears the sorting information"
## 1. Description
Similar to the code below

[code]

After the Select is executed, the sorting information is lost, and the result of the query will be unsorted.

## 2. Exception
No

## 3. Fiddle or Project
No

## 4. Any further technical details
EFCore 6
Net Core 6
VS 2022
Dynamic Linq Latest

[2022-05-31 08:46] #591 closed

[2022-06-01 16:51] StefH commented on #568
@sandunangelo Did you already have time to investigate?

[2022-06-07 17:03] StefH commented on #548
@i-am-jyotirmaya
I understand your issue.

I've changed the code so that you can also provide an `IComparer<T>` to the order extension method:
[code]

[2022-06-07 17:03] StefH commented on #548
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/584

[2022-06-07 17:04] #548 closed

[2022-06-18 20:02] anc-dev-lk opened #593 "Dynamic linq not correctly apply on DynamicClass list"
I have following code. From external source I'm getting `field.Name = "firstName"` and `field.Value = "firstValue"`.

[code]

But I'm getting `isValid` as `false`.

I did following tests to understand the issue:

added following code line at the beginning, to overwrite the value and then I'm getting `isValid` as `true`.

       field.Value = "firstValue";

but if I change that as follows then I'm

[2022-06-18 20:46] elgonzo commented on #593
It's a bug, as far as i can tell, but it is not related to encodings.

The bug rather seems to be related to strings being interned (i.e., strings not being allocated on the heap, like string literals defined in the source code of the program) vs. strings living on the heap.

For reasons i don't know, the expression parser/language of dynamic linq does not like strings that live on the heap (i.e.,

[2022-06-19 16:35] elgonzo commented on #593
Some further insights about what's going on here...

The System.Linq.Dynamic.Core library is building an _System.Expressions.Expression_ tree from the string expression in `query.Any("firstName eq \"firstValue\"")`. The left-hand expression is the identifier _firstName_. So far so good.

The System.Linq.Dynamic.Core library tries to figure out the type of the left-hand expression (which is being j

[2022-06-19 17:02] elgonzo commented on #593
Knowing this, a workaround is possible:

[code]

Since basically any type derives from System.Object (except interfaces and some such, perhaps, i don't know really...), the _ToString_ method (declared by System.Object) can be used to make the type of the left-hand expression here to be _string_ (which is practical in this scenario here, since _firstName_ contains a string value anyways), thus avoi

[2022-06-20 04:32] anc-dev-lk commented on #593
Thank you very much for your clear explanation. but this workaround not work for me because query expression ("firstName eq \"firstValue\"") capturing from external source and that can be more complex than the example. I have to use some tokenizer for identify properties and then I can use simple linq query without using dynamic linq.

[2022-06-20 05:05] anc-dev-lk commented on #593
Thanks for the explanation. but @elgonzo when I overwrite `field.Value = "firstValue"; ` at the beginning, this is work correctly. how you can explain that?

[2022-06-20 05:06] anc-dev-lk commented on #593
Thanks for the explanation. but @elgonzo when I overwrite field.Value = "firstValue"; at the beginning, this is work correctly. how you can explain that?

[2022-06-20 08:33] elgonzo commented on #593
Because you are using a string literal here. String literals are by default interned.

[2022-06-26 08:09] StefH commented on #582
@Josrph
Did you have time to build a full working example?

[2022-06-27 19:23] StefH commented on #588
Hello @PostAlmostAnything,

I understand your question and proposal, however adding this could break some usage by other projects. So for now I would suggest that you build your own extension method like:
```OrderByAndThenBy(sortBy, thenBy)```

[2022-06-27 19:23] #588 closed

[2022-06-27 19:54] StefH commented on #542
@emaborsa
I used your solution, and this data:
![image](https://user-images.githubusercontent.com/249938/176024453-5bf180ed-9d48-4fe5-b0e3-5cafaaab5e4b.png)

And this code works fine:
[code]

-->

![image](https://user-images.githubusercontent.com/249938/176024340-90845b06-4838-4665-81bb-9bb43be489cd.png)

[2022-06-27 19:54] #542 closed

[2022-06-29 23:14] guifuega opened #613 "Problematic implementation of "async" methods"
Hello there:

I came into a problem with the implementation of some of this library's so called "async" methods, declared on [DynamicEnumerableAsyncExtensions.cs](https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/09657b9c097f03c9e426a1554719402e80ba9221/src/System.Linq.Dynamic.Core/DynamicEnumerableAsyncExtensions.cs) , like "ToDynamicListAsync", so I decided to create an account just t

[2022-07-14 14:21] olaisen81 commented on #477
Hi guys, i'm using .NET 6 with Dynamic Linq and Microsoft.EntityFrameworkCore.DynamicLinq 6.2.19 but i can't configure and override custom TypeConverters.
My config is:

`var typeConverters = new Dictionary<Type, TypeConverter>();
                typeConverters.Add(typeof(int), new EnumTypeConverter());

                var config = new ParsingConfig
                {
                    TypeConve

[2022-07-22 14:38] Ibehem opened #614 "Join problem with inherited entities"
1. Description
When I try to join on a descendant of a class I got an error:
**x and y are incompatible**

While the same in Strongly typed Line works.

2. Fiddle or Project

Based on the pets and person project:
https://dotnetfiddle.net/eEYaoU

Here is a sample:
I have a simple hierarchy:
[code]

[2022-07-28 01:06] ademchenko opened #615 "Some considerations regarding security"
We are going to provide the dynamic query language to our end-users. That causes us to double-check potential pitfalls in security.
Since the string presenting the query translated into the code which can be executed inside the context of our system we have to be sure the user is very restricted in their usage of types, operators, etc., etc.

After the research, we have found some issues I would l

[2022-08-01 19:10] Mathieu333 opened #616 "Example in Documentation is not working in Blazor Server: Expression with DateTime"
## 1. Description
I have a blazor server project and I am using Linq.Dynamic.Core 1.2.19 and Microsoft.EntityFrameworkCore 6.0.7. So far so good a lot of the code is working great, many thanks !

![image](https://user-images.githubusercontent.com/4849229/182221818-7ecaf68e-855b-438f-a408-65c406e9a350.png)

The below code throws the exception.
[code]
It is apparently the same line of code as the do

[2022-08-02 10:24] michaeldye79 opened #617 ""Failed to compare two elements in the array." System.InvalidOperationException (V1.2.19 compared to V1.2.18)"
Hello all,

We've come across a [new] exception being thrown having upgraded V1.2.18 >> V1.2.19:

Exception: System.InvalidOperationException: Failed to compare two elements in the array.
 ---> System.EntryPointNotFoundException: Entry point was not found.
   at System.Collections.IComparer.Compare(Object x, Object y)
   at System.Collections.Generic.IComparer`1\[\[System.DateTime\, System.Private

[2022-08-02 10:56] StefH commented on #617
Can you try to extend `AlphanumComparator` from `IComparer`?

Like is done here:
https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/master/test/System.Linq.Dynamic.Core.Tests/QueryableTests.OrderBy.cs#L43

[2022-08-02 10:58] StefH commented on #617
Note that in the version `v1.2.18`, the OrderBy did not use the comparer correctly, this was fixed in:
- https://github.com/zzzprojects/System.Linq.Dynamic.Core/issues/548
- https://github.com/zzzprojects/System.Linq.Dynamic.Core/issues/565

[2022-08-02 11:56] StefH commented on #616
@Mathieu333
Can you provide the full exception?

Because I did import your project (slightly modified some code) and tested it, it works fine.

You can see the PR:
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/618

[2022-08-02 12:29] StefH commented on #617
@michaeldye79
Can you provide a full working console-app project ?

[2022-08-02 13:07] michaeldye79 commented on #617
Hi - is this any good?

[DynamicSortTest.zip](https://github.com/zzzprojects/System.Linq.Dynamic.Core/files/9242417/DynamicSortTest.zip)

[2022-08-02 14:02] StefH commented on #617
Yes. I think I did find the bug, now I need to solve it...

[2022-08-02 14:08] Mathieu333 commented on #616
@StefH First of all thank you very much for taking the time to test it !

Here is the full exception.

[fullException.zip](https://github.com/zzzprojects/System.Linq.Dynamic.Core/files/9242860/fullException.zip)

I am really surprised it works on your side. Will take a look at that PR thanks.

[2022-08-02 14:33] Mathieu333 commented on #616
@StefH I tried your PR with `<PackageReference Include="System.Linq.Dynamic.Core" Version="1.2.19" />`
instead of the ProjectReference and it still throws the exception :

[Internal Server Error.zip](https://github.com/zzzprojects/System.Linq.Dynamic.Core/files/9243111/Internal.Server.Error.zip)

Maybe it is related to some sort of globalization culture issue if it is working on your side but not

[2022-08-02 15:06] StefH commented on #616
Yes. Probably Globalization or Culture.

What do you use for your system?

[2022-08-02 16:43] Mathieu333 commented on #616
My InstalledUICulture is fr-FR. I have tried to set up CurrentCulture and CurrentUICulture to en-US before the expression but still no luck.

[2022-08-02 19:02] StefH commented on #616
Mine is this:
![image](https://user-images.githubusercontent.com/249938/182453088-e565f3ad-0277-488c-bf05-168191f72276.png)

I'll try if I can change it

[2022-08-02 19:04] StefH commented on #616
After changing the culture as defined here:
https://docs.microsoft.com/en-us/aspnet/core/blazor/globalization-localization?view=aspnetcore-6.0&pivots=server#statically-set-the-culture

It still works:
![image](https://user-images.githubusercontent.com/249938/182453455-15791213-d229-453c-99f6-a30777d545e5.png)

[2022-08-02 19:15] StefH commented on #617
@michaeldye79

I think I solved it, see this PR: https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/619

Can you download this branch and test it? Or do you need a MyGet preview version to test?

[2022-08-02 19:17] StefH commented on #541
@Mike-E-angelo
Can you provide a complete working example console-app project ?

[2022-08-02 19:19] StefH commented on #582
@Josrph
I think this can be solve using : https://eval-expression.net/

[2022-08-02 19:19] #582 closed

[2022-08-02 19:19] StefH commented on #568
@sandunangelo Did you already have time to investigate?

[2022-08-02 19:20] StefH commented on #593
@anc-dev-lk
Is your question answered?

[2022-08-02 19:51] michaeldye79 commented on #617
Wow thanks... Not done branch download before but will try first thing in the morning (GMT+1) and let you know. Ta.

[2022-08-02 20:23] Mathieu333 commented on #616
Thank you for your help.

I guess I am back to square one, I'll probably try a full reinstall of a clean windows on one of my comp tomorrow..

[2022-08-02 20:50] Mathieu333 commented on #616
I did some searching and actually this help me :

https://github.com/dotnet/efcore/issues/14095#issuecomment-464365442

` modelBuilder.Entity<TestEntity>().Property(x => x.LastModified).HasColumnType("datetime");`

With this the code works indeed, it has nothing to do with Linq.Dynamic.Core and probably comes from datetime2 being the standard in EF Core.

Many thanks @StefH your a life saver !  🥇

[2022-08-02 20:50] #616 closed

[2022-08-03 06:41] StefH commented on #617
A preview can be downloaded from MyGet:
https://www.myget.org/F/system-linq-dynamic-core/api/v3/index.json

See this link on how to use MyGet:
https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2022-08-03 08:15] michaeldye79 commented on #617
Morning! Yes - definitely fixed - the sort works fine.  Brill; thanks.

As we're still developing I'll use this patch if that's ok until the next "proper" release happens?

Ta, Michael.

[2022-08-03 19:56] StefH commented on #613
Hello @guifuega, thank you for your observation. I'll take a look at the implementation and report back here.

[2022-08-04 10:11] StefH commented on #613
@guifuega

I did update the code, please check the PR:
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/620

[2022-08-04 11:21] Mike-E-angelo commented on #541
WOOF!  Pardon the bag of 💩 I threw over to your side @StefH 😅  I've been spending the morning trying to decipher what the actual heck I was talking about when I created this.

Anyways, I was able to create a repro for you here:
https://github.com/Mike-E-angelo/Stash/blob/e725f2e19e5695f5c72427ede077b0ca420c47f7/EfCore.CompiledQueries.zzzProjects/EfCore.CompiledQueries.BasicExpression/Worker.cs#L32

[2022-08-04 12:12] #541 closed

[2022-08-05 11:30] StefH commented on #614
Hello @Ibehem,

Thanks for creating this issue.

I did find the issue and I've corrected it. Do you want to test a preview version?

Note that your join is not correct, it should be something like this:
[code]

[2022-08-05 11:35] EfrSyn commented on #614
Hello Stef, Yes I would love to test a preview version ! And thank you very much for solving this so quickly!

[2022-08-05 11:43] StefH commented on #614
A preview (`preview-02`) can be downloaded from MyGet:
https://www.myget.org/F/system-linq-dynamic-core/api/v3/index.json

See this link on how to use MyGet:
https://github.com/WireMock-Net/WireMock.Net/wiki/MyGet-preview-versions

[2022-08-05 18:37] StefH commented on #570
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/622

[2022-08-05 18:38] StefH commented on #519
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/622

[2022-08-05 18:45] StefH commented on #519
Hello @chait-01, in your example you use the `as` as the naming operator (giving a property a different name).

In your example here, you need this code:
[code]

See also unit-test:
https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/master/test/System.Linq.Dynamic.Core.Tests/QueryableTests.Is%2COfType%2CAs%2CCast.cs#L181

Note that I'll also update the documentation on https://dynamic-li

[2022-08-05 18:45] #519 closed

[2022-08-05 18:46] StefH commented on #256
Hello @matt-psaltis, is this still relevant for you? Or can I close this issue?

[2022-08-05 18:49] #472 closed

[2022-08-06 00:01] #256 closed

[2022-08-06 06:37] StefH commented on #519
@chait-01
Explanation for

![image](https://user-images.githubusercontent.com/249938/183237596-15f5de59-2c78-4b6a-9ea4-c48264668c1c.png)

[2022-08-09 10:50] anc-dev-lk commented on #593
@StefH
It is a bug. do you have any plan to fix that?

[2022-08-09 14:21] GrandStrateguerre opened #623 "Bug on where clause with composite string"
Here is what to include in your request to make sure we implement a solution as quickly as possible.

## 1. Description
Try to execute a query  with a where as :

[code]
The second parameter is empty string.

## 2. Exception
No excexption raise

## 3. technical details

Get the log of what  entity  generates :
[code]

The error  is in Field2 " IS NOT NULL=> shoud  be IS NULL without NOT because we

[2022-08-09 16:34] GrandStrateguerre commented on #623
Finally à replace by :

![image](https://user-images.githubusercontent.com/86523070/183706578-229a25f1-65f1-4b03-b2dc-c3d401b2ba87.png)

and it works.

It sems that a empty string is not interpreted like a null .
Is is interpreded like a char.

And we see EF always add  IS NOT NULL....

it is still a bit confusing :)

I let you close or do something ?

[2022-08-12 12:32] MV-GH opened #624 "Backslashes aren't properly handled: they seem to be escaped twice"
## 1. Description
Backslashes aren't properly handled, It seems to escape them twice: `\\\\` => `\\` =>`\`

## 2. Exception
If you are seeing an exception, include the full exception details (message and stack trace).

[code]

## 3. Fiddle or Project

FIDDLE:
https://dotnetfiddle.net/CVPBh3

REPRO
[code]

[2022-08-12 14:18] StefH commented on #624
@MV-GH
Because the backslash is used within an already escaped string : `"it == \"XXX\"`, you need to double escape the backslash.
So `t1` and `t3` are valid scenarios.

---

Note that this behavior was not entirely correct in previous versions been fixed in version **v1.2.13** ; issue #545.

---

See also
https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/e71b3560820d466237247334ffa4220

[2022-08-12 14:18] #624 closed

[2022-08-12 14:34] MV-GH commented on #624
Thanks for the quick response! Could this behavior be added to the documentation?

[2022-08-14 12:25] StefH commented on #613
Hello @guifuega, did you have to time to verify the PR?

[2022-08-14 12:43] StefH commented on #623
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/625

[2022-08-14 12:43] StefH commented on #623
@GrandStrateguerre
I'll close this.

[2022-08-14 12:43] #623 closed

[2022-08-17 17:49] StefH commented on #624
Docs are updated.

[2022-08-17 17:50] StefH commented on #613
PR is merged

[2022-08-17 17:50] #613 closed

[2022-08-17 18:07] ademchenko commented on #570
1. The issue is that you are supposed to pass the return type of the lambda but not the lambda itself into the "resultType" parameter.
2. Consider deriving from DefaultDynamicLinqCustomTypeProvider rather than implementing the interface.

[code]

[2022-08-27 09:53] huhuzz00 commented on #570
Hello, @ademchenko
Thank you so much for helping.
I literally confused the "returnType" of `p1.Method` with `p1.Method.Invoke`.

[2022-09-01 18:17] n-shay opened #626 "'&&' and '||' operators incompatible between operand type 'bool' and type with implicit conversation to 'bool'"
Here is what to include in your request to make sure we implement a solution as quickly as possible.

## 1. Description
In order to explain the use case, I will track back to how we got there.
I needed a way to evaluate this type of expression `SomeBool == 1` or `SomeBool != 0`. To solve that, we create in runtime a new type that swaps bool properties with `BooleanVariable` type. That `BooleanVari

[2022-09-03 20:24] LuigiMaestrelli opened #628 "Dynamic select results "No property or field 'MyProperty' exists in type 'List`1'""
## 1. Description
I'm selecting fields dynamic on a class that has as list property mapped as One to Many.
The client sends to the server an array on fields and the server convert the list to the lib's format.

This is a simple class to show my use-case.
[code]
Every thing works fine except when I select an field from the Child object.

This is the select string that result and throws an error:
`n

[2022-09-03 20:41] StefH commented on #628
Can you show the non dynamic linq select version?

[2022-09-04 14:53] LuigiMaestrelli commented on #628
Sure. It will be something like this.

[code]

[2022-09-04 20:50] StefH commented on #628
@LuigiMaestrelli
This will be something like:
[code]

[2022-09-04 20:50] #628 closed

[2022-09-09 05:30] StefH commented on #580
Hello @jogibear9988,

Can you please check my last comment?

[2022-09-09 05:31] StefH commented on #614
Hello @EfrSyn / @Ibehem,

Did you have time to verify if this was solved using that preview version?

[2022-09-10 00:15] glittle opened #629 "Error accessing values in DynamicClass - fails on second attempt"
This is broken in version 1.2.20.   Version 1.2.19 is working.

## 1. Description
With this statement:
[code]
The `result` variable has two properties: Name and Email.

On first access to a property, it works.
On second access to any property it fails with the exception shown.

For example:
[code]

## 2. Exception
[code]

[2022-09-10 08:08] jogibear9988 commented on #580
I think FindMethod should not return the Method it found, but the result of ".GetBaseDefinition()" of the Method it found.
So you always return the MethodInfo TopMost in the Type hierarchy wich has it's own implementation.

[2022-09-12 08:32] jogibear9988 commented on #580
see pull #630

[2022-09-16 11:03] ggeorgo opened #632 "Dynamic LINQ OrderBy returns error when using space in column name"
I an trying to build a dynamic query, where OrderBy is given by the UI, and it fails when the column name contains a space.
I know it is a bad practice to have SQL columns with spaces, but this is how the DB is designed and there is no way to change it.

When trying to execute

myEntity.OrderBy("Column Name").ToList();
I am getting error:
`No property or field 'Column' exists in type 'myEntity'`

[2022-09-16 13:56] ggeorgo commented on #632
Ok, solved it myself. Solution below for reference:

[code]

If it is passed as a parameter, it works, with or without brackets.

[2022-09-16 13:56] #632 closed

[2022-10-15 03:59] Cricle opened #633 "Fail to `GroupBy->Select->Where->Average`"
## 1. Description
Describe the issue or propose a feature.

## 2. Exception

[code]

[code]

## 3. Fiddle or Project

## 4. Any further technical details

[2022-10-15 05:43] Cricle commented on #633
[code]
I must use that replace origin.

[2022-10-20 07:08] werner-fleck opened #634 "After Upgrade NuGet-Package to 1.2.20 accessing dynamic properties by index fails"
## 1. Description

After upgrading the NuGet package System.Linq.Dynamic.Core to version 1.2.20, accessing properties of dynamic results by index, i.e. using `variable["index"]` fails with NullReferenceException. Direct access by property name works, i.e. `variable.index`.

## 2. Exception

[code]

## 3. Fiddle or Project

Our code looks like

[code]

The exception occurs on the last line.

Using

[2022-10-20 13:40] StefH commented on #629
Maybe also related to #634 ?

[2022-10-20 15:49] spanglerco opened #635 "Compile errors due to missing nullable reference annotations on APIs that accept null"
## 1. Description
With the upgrade to 1.2.20, the library has enabled nullable reference types (in #620 I believe), but `IDynamicLinqCustomTypeProvider` wasn't updated to specify that `ResolveType` and `ResolveTypeBySimpleName` may return null (as stated in the documentation for the methods). This leads to compile error CS8766 if my implementation of the interface specifies a nullable return type

[2022-10-20 16:08] StefH commented on #635
@spanglerco
Thank you for this issue, I'll fix the mentioned classes and do a quick check on other API calls.

If you find any other issues, please add these to this issue.

[2022-10-20 16:08] #580 closed

[2022-10-20 16:10] StefH commented on #614
Hello @EfrSyn / @Ibehem,

Did you have time to verify if this was solved using that preview version?

[2022-10-21 10:49] StefH commented on #635
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/636

[2022-10-23 08:51] #635 closed

[2022-10-23 08:52] #629 closed

[2022-10-23 09:03] StefH commented on #634
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/637

[2022-10-23 09:03] #634 closed

[2022-10-24 03:39] rubeesh opened #638 "Orderby slow after upgrade from version 18"
Orderby slow after upgrade from version 18 to version 20.
Working fine when downgraded to 18.
Project:. Net 6

[2022-10-26 06:23] StefH commented on #638
@rubeesh
Can you please provide a console app + database to reproduce this issue?

[2022-10-27 14:29] KarstenHeimer opened #639 "PageResult using with MS-SQL-Server fails"
Hello,

i have the following code:

`public PagedResult<T> FindByQueryPaged<T>(IQueryable<T> query, int page, int pagesize) where T : BaseClassEF
        {
            try
            {
                return query.PageResult(page, pagesize);
            }
            catch (Exception)
            {
                throw;
            }
        }`

This code works with PostGre-SQL, but with MS-SQL

[2022-10-28 07:50] BlueBasher opened #640 "NullReferenceException during json serialize of DynamicClass"
Here is what to include in your request to make sure we implement a solution as quickly as possible.

## 1. Description
DynamicClass throws exception when serializing to Json.

## 2. Exception
NullReferenceException

## 3. Fiddle or Project
[code]
## 4. Any further technical details
It seems the issue has been fixed in [this commit](https://github.com/zzzprojects/System.Linq.Dynamic.Core/commit/c1

[2022-10-28 08:59] KarstenHeimer commented on #639
It seems that this problem happens, because of my SQL-Serverversion is outdated. I made my test with Version "SQL Server 2008", but "OFFSET", "FETCH" will only available with "SQL Server 2012".

Greetings, Karsten.

[2022-10-28 09:44] StefH commented on #640
The fix is indeed not yet present in the new version.
https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/master/CHANGELOG.md

I'll also add this example to the unit-test to be sure that it works correct.

[2022-10-28 11:14] BlueBasher commented on #640
Cool, thanks for the info! Do you have any indication when you expect version 1.2.21 to be released?

[2022-10-28 12:22] StefH commented on #640
I'll try to release a new version this weekend.

[2022-10-28 12:23] StefH commented on #640
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/641

[2022-10-28 15:29] StefH commented on #614
Hello @EfrSyn / @Ibehem,

Did you have time to verify if this was solved using that preview version?

[2022-10-28 15:53] #640 closed

[2022-11-04 01:53] pgaske commented on #304
+1 - even though this is an old issue, still affecting me today when upgrading old codebases to ef6.

[2022-11-05 11:43] StefH commented on #638
@rubeesh
Can you please provide a console app + database to reproduce this issue?

Else I cannot investigate this properly.

[2022-11-05 12:07] StefH commented on #304
@pgaske & @slang25 & @jbagley-iona

I'll rename the extension method to `AsDynamicEnumerable` which should solve conflicts.

A new version will be released within a few days.

[2022-11-05 12:11] StefH commented on #614
Hello @EfrSyn / @Ibehem,

Did you have time to verify if this was solved using that preview version?

[2022-11-05 12:17] #304 closed

[2022-11-05 13:25] rubeesh commented on #638
Sorry for the delayed response,

Below is the controller action:
`

        public async Task<IActionResult> GetDeletedItems(string filter, string orderBy,  int pageNo = 0, int pageSize = 12)
        {
            var query = context.AppDeletedItems.AsQueryable();

            if (!string.IsNullOrEmpty(filter))
                query = query.Where(filter);

            var count = await query.Count

[2022-11-05 14:06] StefH commented on #638
Can you provide the generated SQL which executed on the SQL-server for the old and the new version?

[2022-11-05 14:27] rubeesh commented on #638
There is no difference between the generated sql:

Version="1.2.18" :
exec sp_executesql N'SELECT [a].[Id], [a].[EntityName], [a].[ItemId], [a].[DeletedBy], [a].[DeletedOn], [a].[Item]
FROM [AppDeletedItems] AS [a]
ORDER BY [a].[DeletedOn] DESC
OFFSET @__p_0 ROWS FETCH NEXT @__p_1 ROWS ONLY',N'@__p_0 int,@__p_1 int',@__p_0=0,@__p_1=12

Version="1.2.19"  & "1.2.20":
exec sp_executesql N'SELECT [a].

[2022-11-07 21:13] jbhelm opened #643 "Question: How to return a nullable version of a fully qualified type"
I am attempting to return a nullable version of a non-system value type (in this case an enum). According to the [docs](https://dynamic-linq.net/expression-language#explicit-conversion) `{type}?(expr)` can be used to convert "Between the nullable and non-nullable forms of any value type". While this seems to work for system primitive types (Int32, etc), it does not work for fully qualified nullabl

[2022-11-09 02:43] w0pr commented on #638
Have you compared execution plans (like this https://dba.stackexchange.com/a/250978/16642) and cleared data caches (https://stackoverflow.com/a/55307666/539056) before measuring execution time?

[2022-11-09 08:40] rubeesh commented on #638
Thanks for the response.
The issue is resolved after I upgraded the version to 1.2.22

[2022-11-09 10:11] #638 closed

[2022-11-09 15:47] jbhelm commented on #643
Yes of course, thanks! I've updated the example.

[2022-11-14 17:55] neilbgr opened #645 "With UseParameterizedNamesInDynamicQuery, can't compare DateTimeOffset with String"
## 1. Description
When `UseParameterizedNamesInDynamicQuery = true` in config (for best perfs), can not compare `DateTimeOffset?` with `String` anymore (even `DateTimeOffset`).

## 2. Exception
[code]

## 3. Fiddle or Project
https://dotnetfiddle.net/UGmC2g

An idea?
Thanks.

[2022-11-16 10:53] danijerez commented on #543
Something similar happens to me, did you manage to find a solution?

[2022-11-16 21:19] penumbra23 commented on #543
@danijerez Nope, still ongoing I guess

[2022-11-17 07:46] StefH commented on #543
@penumbra23
In your example the `AddressId` is a property from `Address`, not from `Person`.
So your code should look like:
[code]

--> I've added the `np` (Null Propagation) because for some Persons, the Address is null.

See https://dotnetfiddle.net/Cc0ZOY

[2022-11-17 08:13] StefH commented on #643
:one:
This does work indeed : `"int?(Value)"`. But `"ExampleEnum?(Value)"` does not.
I'll take a look if this can be fixed for enums.

:two:
It would be nice if this `"As(Value, \"ExampleEnum\")"` could work.
However, this throws exception:
 _System.ArgumentException: The type used in TypeAs Expression must be of reference or nullable type, ExampleEnum is neither (Parameter 'type')_
I'll take a lo

[2022-11-17 08:38] danijerez commented on #543
What if I want to select a field that is not a number? I was trying it like this

[code]

[code]

T is Stay

`result.Select<T>($"new (np(Room.Code,-1) as Room)");`

 but I get the following error

"Neither of the types 'String' and 'Int32' converts to the other"

[2022-11-17 08:43] StefH commented on #543
Did you try this code:

[code]

[2022-11-17 08:47] danijerez commented on #543
the following happens to me
`"Unable to promote expression 'IIF((((Param_0 != null) AndAlso (Param_0.Room != null)) AndAlso (Param_0.Room.Code != null)), Param_0.Room.Code, \"\")'."`

[2022-11-17 08:54] StefH commented on #543
@danijerez Can you provide a dotnet fiddle for this ?

[2022-11-17 09:07] danijerez commented on #543
Let me know if the example works for you, I did it a little fast
https://dotnetfiddle.net/ij3o3e

[2022-11-17 09:25] StefH commented on #543
This : `Select<Stay>` cannot work because the result from the dynamic expression is not a `Stay` object.

See fixed fiddle:
https://dotnetfiddle.net/K7Fxto

[2022-11-17 09:39] danijerez commented on #543
I understand, and could the result of the Room select be integrated so that the output was <Stay> ? to be able to combine levels of depth

example

[code]

[2022-11-17 15:58] StefH commented on #643
https://github.com/zzzprojects/System.Linq.Dynamic.Core/pull/647

[2022-11-17 16:00] StefH commented on #643
@jbhelm
I implemented option :two:, see unit test https://github.com/zzzprojects/System.Linq.Dynamic.Core/blob/stef-643-nullable/test/System.Linq.Dynamic.Core.Tests/QueryableTests.Is,OfType,As,Cast.cs#L214

This should solve your question.

[2022-11-17 18:02] girlpunk opened #648 "Valid lambda expressions produce a generic parse exception when used with a nullable parameter"
Here is what to include in your request to make sure we implement a solution as quickly as possible.

## 1. Description
A seemingly valid lambda expression (for example, `value => value == 1`) will parse correctly if given a not nullable parameter, but fail when used with a nullable one.

## 2. Exception
If you are seeing an exception, include the full exception details (message and stack trace).

[2022-11-17 18:49] StefH commented on #648
@girlpunk

I think there are some issues with your code. See my modified working below.

Can you check if this solution is applicable to you?

[code]

[2022-11-18 10:16] girlpunk commented on #648
Thanks for your help, the only difference I can see between the two is the lambdas I have (originally generated by [EamonNerbonne/ExpressionToCode](https://github.com/EamonNerbonne/ExpressionToCode)) are in the "full" `value => value != null && value == 1` format. Is the prior format not supported by `ParseLambda()`?

This format was being used as not all of the lambdas use `value` as the name of

[2022-11-19 09:15] StefH commented on #643
@jbhelm
Should I create a preview version for you to test this `As` cast solution?

[2022-11-19 14:36] jbhelm commented on #643
@StefH Thanks for the fast turn around on this! Yes, if you create a preview I can try it out for our particular use case next week.

[2022-11-19 14:47] StefH commented on #643
@jbhelm
Preview version (1.2.24-preview-01) can be found here:

https://www.myget.org/F/system-linq-dynamic-core/api/v3/index.json

[2022-11-20 12:04] StefH commented on #648
@girlpunk The format `value => value != null && value == 1` should work, but it has a bug. I've fixed this so that that expression is also supported.
Do you want to test a preview version to see it it works for your use-case?

[2022-11-20 12:08] StefH commented on #648
Preview version `1.2.23-issue-648`

Can be found here:
https://www.myget.org/F/system-linq-dynamic-core/api/v3/index.json

[2022-11-21 08:27] jomalbert1594 opened #650 "DynamicExpressionParser.ParseLambda throws NullReferenceException in Blazor"
1. Description
ParseLambda does not work in blazor even if I use the example from the documentation

                ParameterExpression x = Expression.Parameter(typeof(int), "x");
                ParameterExpression y = Expression.Parameter(typeof(int), "y");
                LambdaExpression e = dyn.DynamicExpressionParser.ParseLambda(new ParameterExpression[] { x, y }, null, "(x + y) * 2");

2.

[2022-11-21 08:37] jomalbert1594 commented on #504
@jameswoodley i'm experiencing this problem, how did you fix this?

[2022-11-21 15:29] jbhelm commented on #643
@StefH -- I gave this a try, thanks for publishing the preview.

While it works well for LINQ to Objects, it does not work for LINQ to Entities, which is my use case. My queries can return nullable versions of value types that are not nullable in the model due to outer joins occurring on the database. Attempting to use the `As(value, "Example.MyEnum?")` syntax with LINQ to Entities results in an e

[2022-11-22 06:50] jomalbert1594 commented on #650
It was the mediator that's messing up DynamicExpressionParser.

[2022-11-22 06:50] #650 closed

[2022-11-24 08:17] StefH commented on #614
Hello @EfrSyn / @Ibehem,

Did you have time to verify if this was solved using that preview version?

[2022-11-25 11:08] Gebov opened #651 "Selecting shadow properties"
How do I do a dynamic select based on a shadow property. I have the bellow code, but it us currently throwing an error that the property does not exist on my object:

await query.Select("new { Title, Content = EF.Property<string>(\"Content\") }").ToDynamicListAsync();

[2022-11-26 09:09] StefH commented on #643
@jbhelm
Conclusions:

1. Casting to **Simple Enum** will only work if you provide a custom CustomTypeProvider OR when you annotate with `DynamicLinqType`
2. Casting a **Simple Enum** to nullable will work just like casting a int to nullable if you follow rule 1
3. Casting to **Full Type Enum** will not work yet, I need to think on that, parsing code needs to be updated. Maybe to a solution could b

[2022-11-26 09:09] #643 closed

[2022-11-26 09:09] StefH opened #652 "Implement casting to fully qualified type"
[code]

Related: https://github.com/zzzprojects/System.Linq.Dynamic.Core/issues/643

[2022-11-26 09:17] StefH commented on #614
PR merged

[2022-11-26 09:17] #614 closed

[2022-11-26 09:19] StefH commented on #648
@girlpunk
Did you have time to validate?

[2022-11-26 09:26] StefH commented on #633
@Cricle
Is this still an issue, or did you solve it yourself?

[2022-11-26 14:12] jbhelm commented on #643
@StefH
Apologies for my delay in responding. I did get this to work in my scenario by using the `DynamicLinqType` attribute and the simple enum name. I did try the `DynamicLinqType` attribute previously, but I must have been attempting to still use the fully qualified name.

Thank you for your time on this!

[2022-11-27 14:19] StefH commented on #652
@jbhelm

I've update the code to support casting to a FullName type using `"` -->

`"\"System.DateTime\"(Value)"`
or
`"\"My.NameSpace.EnumX\"(Value)"`

Nullable does also work:

`"\"System.DateTime\"?(Value)"`
or
`"\"My.NameSpace.EnumX\"?(Value)"`

Can you please test preview:
**1.2.24-preview-02**

[2022-11-27 16:49] jbhelm commented on #652
@StefH
I've tried the preview in my scenario. I can confirm this works for me using fully qualified names, _without_ the `DynamicLinqType` attribute on the types. Thank you!

[2022-11-28 09:44] StefH commented on #652
Thanks for testing.

[2022-11-29 10:49] StefH commented on #652
Done

[2022-11-29 10:49] #652 closed

[2022-11-30 14:49] Cricle commented on #633
It still an issue.

[2022-11-30 16:06] girlpunk commented on #648
Sorry, been a bit of a hectic week. Beyond variables names it all looks fairly similar. The only difference I can see is that `nullableType` would be known at compile-time in your example, whereas it's loaded from the result of a previous expression in mine.

I do now have a workaround, involving finding the parameter name by splitting on `=>` then removing it from the lambda string.

[2022-11-30 20:18] StefH commented on #648
@girlpunk
The real difference is that in your fiddle, you have:
[code]

And in my unit test  I have:
[code]

If I remove the `, "value"` from my unit test code, I get an exception like "System.Linq.Dynamic.Core.Exceptions.ParseException : Expression of type 'Boolean' expected" when parsing `value => value != null && value == 1`.

So can you try that preview version with the correct valueParameter?